{{#hoverBox this}}
    <div class="details">
        <div class="closeIcon"></div>

        <div class="title">Left</div>
        <select class="autoSeries">
            <option>None</option>
            {{#each metricTypes}}
                <option value="{{ id }}">{{ label }}</option>
            {{/each}}
        </select>

        <div class="title">Right</div>
        <select class="autoSeries">
            <option>None</option>
            {{#each metricTypes}}
                <option value="{{ id }}">{{ label }}</option>
            {{/each}}
        </select>

        <label>
            <input type="checkbox" class="auto" name="showMarkers">
            Show Markers
        </label>

        <hr>

        <div class="dateOptionsRegion"></div>

    </div>
{{/hoverBox}}


