{{#hoverBox this}}
    <div class="details">
        <div class="closeIcon"></div>
        <span class="defaultTitle"></span>
        <label>
            Custom Title:
            <input type="text" class="auto" name="title">
        </label>
        <div class="workoutTypesRegion"></div>
        <div class="dateOptionsRegion"></div>
        <label>
            <input type="checkbox" class="auto" name="useComparison">
            Comparison
        </label>
        <div class="comparisonDateOptionsRegion"></div>
    </div>
{{/hoverBox}}

