<!--
<span class="setIndex">Step {{ index }}</span> <span class="setType">({{#if active}}{{$ "Active"}}{{else}}{{$ "Rest"}}{{/if}})</span><br/>
<div class="setProperties">
{{#each instructions}}
    <div data-property="{{name}}">
        <span class="propertyName">{{name}}</span>:
        <span class="propertyPlannedValue">{{planValue}}{{#if planMaxSpecified}} - {{planMax}}{{/if}}</span>
        {{#if actualValueSpecified}}/ <span class="propertyCompletedValue">{{actualValue}}{{#if actualMaxSpecified}} - {{actualMax}}{{/if}}</span>{{/if}}
        {{#if units}}, in <span class="propertyUnit">{{ units }}</span>{{/if}}
    </div>
{{/each}}
</div>
-->
<div class="setProperties">
  <div class="header">
    <span class="setIndex">Step {{ index }}</span> <span class="setType">({{#if active}}{{$ "Active"}}{{else}}{{$ "Rest"}}{{/if}})</span>
  </div>

  <div class="columnLabelsInstructedCompleted">
    <div class="headerInstructed">Instructed</div>
    <div class="headerCompleted">Completed</div>
  </div>

  <div class="columnLabelsTargetsMinMax">
    <div class="instructedTarget">&#8853;</div>
    <div class="instructedMin">Min</div>
    <div class="instructedMax">Max</div>
    <div class="completedMin">Min</div>
    <div class="completedMax">Max</div>
    <div class="completedTarget">&#10003;</div>
  </div>

  {{#each instructions}}
    <div class="workoutStatsRow" data-property="{{name}}">
      <div class="propertyName">{{name}}{{#if units}} (<span class="propertyUnit">{{ units }}</span>){{/if}}</div>
      <div class="propertyPlannedValue">{{#if planValueSpecified}}{{formatExerciseValue planValue units}}{{else}}-{{/if}}</div>
      <div class="propertyPlannedMinValue">{{#if planMinSpecified}}{{formatExerciseValue planMin units}}{{else}}-{{/if}}</div>
      <div class="propertyPlannedMaxValue">{{#if planMaxSpecified}}{{formatExerciseValue planMax units}}{{else}}-{{/if}}</div>
      <div class="propertyCompletedMinValue">{{#if actualMinSpecified}}{{formatExerciseValue actualMin units}}{{else}}-{{/if}}</div>
      <div class="propertyCompletedMaxValue">{{#if actualMaxSpecified}}{{formatExerciseValue actualMax units}}{{else}}-{{/if}}</div>
      <div class="propertyCompletedValue">{{#if actualValueSpecified}}{{formatExerciseValue actualValue units}}{{else}}-{{/if}}</div>
    </div>
  {{/each}}

  <!-- Notes -->
  <div class="workoutStatsRow notes" data-property="{{name}}">
    <div class="propertyName">Notes</div>
    <div class="propertyPlannedValue">Planned Notes. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
    <div class="propertyCompletedValue">Completed Notes. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. </div>
  </div>
  <!-- Notes -->

</div>