<!--
<span class="setIndex">Step {{ index }}</span> <span class="setType">({{#if active}}{{$ "Active"}}{{else}}{{$ "Rest"}}{{/if}})</span><br/>
<div class="setProperties">
{{#each instructions}}
    <div data-property="{{name}}">
        <span class="propertyName">{{name}}</span>:
        <span class="propertyPlannedValue">{{planValue}}{{#if planMaxSpecified}} - {{planMax}}{{/if}}</span>
        {{#if actualValueSpecified}}/ <span class="propertyCompletedValue">{{actualValue}}{{#if actualMaxSpecified}} - {{actualMax}}{{/if}}</span>{{/if}}
        {{#if units}}, in <span class="propertyUnit">{{ units }}</span>{{/if}}
    </div>
{{/each}}
</div>
-->
<div class="setProperties">
    <table>
       <caption><span class="setIndex">Step {{ index }}</span> <span class="setType">({{#if active}}{{$ "Active"}}{{else}}{{$ "Rest"}}{{/if}})</span></caption>
       <thead>
          <tr>
             <th colspan="4" style="text-align:center;width:50%">Instructed</th>
             <th colspan="4" style="text-align:center;width:50%">Completed</th>
          </tr>
          <tr>
             <th>&nbsp;</th>
             <th><span class="targets">&#8853;</span></th>
             <th>Min</th>
             <th>Max</th>
             <th>Max</th>
             <th>Min</th>
             <th><span class="targets">&#8855;</span></th>
             <th>&nbsp;</th>
          </tr>
       </thead>
       <tbody>
    {{#each instructions}}
          <tr data-property="{{name}}">
             <td class="propertyName" style="text-align:left;">{{name}}{{#if units}} (<span class="propertyUnit">{{ units }}</span>){{/if}}</td>
             <td class="propertyPlannedValue">{{formatExerciseValue planValue units}}</td>
             <td class="propertyPlannedMinValue">{{formatExerciseValue planValue units}}</td>
             <td class="propertyPlannedMaxValue">{{#if planMaxSpecified}}{{formatExerciseValue planMax units}}{{else}}-{{/if}}</td>
             <td class="propertyCompletedMaxValue">{{#if actualMaxSpecified}}{{formatExerciseValue actualMax units}}{{else}}-{{/if}}</td>
             <td class="propertyCompletedMinValue">{{#if actualValueSpecified}}{{formatExerciseValue actualValue units}}{{else}}-{{/if}}</td>
             <td class="propertyCompletedValue">{{#if actualValueSpecified}}{{formatExerciseValue actualValue units}}{{else}}-{{/if}}</td>
             <td style="text-align:right;">{{name}}{{#if units}} (<span class="propertyUnit">{{ units }}</span>){{/if}}</td>
          </tr>
    {{/each}}
       </tbody>
    </table>
</div>
