<tr>
	<th>{{{$ "Start" }}}</th>
	<th>{{{$ "Finish" }}}</th>
	<th>{{{$ "Duration" }}}</th>
	<th>{{{$ "Moving Time" }}}</th>
	<th>{{{$ "Distance" }}}</th>
	<th>{{{$ "Average Power"}}}</th>
	<th>{{{$ "Maximum Power"}}}</th>
	<th>{{{$ "AveragePace" }}}</th>
	<th>{{{$ "Maximum Pace"}}}</th>
	<th>{{{$ "Average Speed"}}}</th>
	<th>{{{$ "Maximum Speed"}}}</th>
	<th>{{{$ "Calories"}}}</th>
	<th>{{{$ "Maximum Cadence"}}}</th>
	<th>{{{$ "Average Cadence"}}}</th>
</tr>
{{#each laps}}
	<tr>
		<td>{{begin}}</td>
		<td>{{end}}</td>
		<td>{{elapsedTime}}</td>
		<td>{{movingTime}}</td>
		<td>{{distance}}</td>
		<td>{{averagePower}}</td>
		<td>{{maximumPower}}</td>
		<td>{{averagePace}}</td>
		<td>{{maximumPace}}</td>
		<td>{{averageSpeed}}</td>
		<td>{{maximumSpeed}}</td>
		<td>{{calories}}</td>
		<td>{{maximumCadence}}</td>
		<td>{{averageCadence}}</td>
	</tr>
{{/each}}