    <div class="workoutIconLarge"></div>
    <div class="workoutHeaderStats">
        <div class="headerIcons">
            <div id="breakThrough" class="icon inactive" title="{{$ "BreakthroughTooltip" }}"></div>
            <div class="icon addAttachment" title="{{$ "UploadAttachmentTooltip" }}"></div>
            <div class="mapIcon"/>
        </div>
        <div class="headerWorkoutValue middleValues duration">
            <label id="qv-header-totaltimePlanned" class="planned">{{ formatUnitsValue "duration" totalTimePlanned this "0:00:00" }}</label>
            <label id="qv-header-totaltime" class="actual">{{ formatUnitsValue "duration" totalTime this "0:00:00" }}</label>
        </div>
        <div class="headerWorkoutValue distance">
            <label id="qv-header-distancePlanned" class="planned">{{ formatUnitsValue "distance" distancePlanned this "0" }}</label>
            <label id="qv-header-distance" class="actual">{{ formatUnitsValue "distance" distance this "0" }}</label>
        </div>
        <div class="headerWorkoutValueLabel distance">
            <label>{{getUnitsLabel "distance" workoutTypeValueId}}</label>
        </div>
        <div class="headerWorkoutValue middleValues tss">
            <label id="qv-header-tssPlanned" class="planned">{{ formatUnitsValue "tss" tssPlanned this "0" }}</label>
            <label id="qv-header-tssactual" class="actual">{{ formatUnitsValue "tss" tssActual this "0" }}</label>
        </div>
        <div class="headerWorkoutValueLabel tss">
            <label id="qv-header-tssSource"><!-- stickit tss label --></label>
        </div> 
        <div class="title">
            <span class="workoutTitleText">{{ title }}</span>
            <input type="text" tabindex="1" name="workoutTitle" class="workoutTitle" placeholder="{{$ "UntitledWorkout" }}" id="workoutTitleField" title="{{$ "SetTitleTooltip" }}" value="{{ title }}" maxlength=500 />
        </div>
    </div>
