<div class="grayHeader workout">
    <div class="workoutIconLarge">

    </div>
    <div class="workoutHeaderStats">
        <div class="headerIcons">
            <div id="breakThrough" class="icon" title="{{$ "BreakthroughTooltip" }}">
                <img src="assets/images/QVImages/breakthrough.png"/>
            </div>
            <div class="icon addAttachment" title="{{$ "UploadAttachmentTooltip" }}"></div>
        </div>
        <div class="headerWorkoutValue middleValues duration">
            <label id="qv-header-totaltimePlanned" class="planned"/>
            <label id="qv-header-totaltime" class="actual"/>
        </div>
        <div class="headerWorkoutValue distance">
            <label id="qv-header-distancePlanned" class="planned"/>
            <label id="qv-header-distance" class="actual"/>
        </div>
        <div class="headerWorkoutValueLabel distance">
            <label>{{getUnitsLabel "distance" workoutTypeValueId}}</label>
        </div>
        <div class="headerWorkoutValue middleValues tss">
            <label id="qv-header-tssPlanned" class="planned"/>
            <label id="qv-header-tssactual" class="actual"/>
        </div>
        <div class="headerWorkoutValueLabel tss">
            <label>TSS</label>
        </div> 
        <div class="title">
            <input type="text" name="workoutTitle" class="workoutTitle" placeholder="{{$ "UntitledWorkout" }}" id="workoutTitleField" title="{{$ "SetTitleTooltip" }}" />
        </div>
    </div>
                
</div>