<div id="calendarMonthLabel" class="calendarMonthLabel frameworkTitle">
    <label class="headerMonth">{{formatDate date "MMMM"}}</label>
    <label class="headerYear">{{formatDate date "YYYY"}}</label>
    <input type="text" class="datepicker"/>
</div>
<div class="navigation">
    <div class="calendarNavigation frameworkNavigation">
        <button id="goToLastWeekButton" tabindex="-1"></button>
        <button id="goToNextWeekButton" tabindex="-1"></button>
    </div>
    <div class="today">
        <button id="goToTodayButton" tabindex="-1">{{$ "Today"}}</button>
    </div>
    <div class="printRefreshButtons">
        <button class="refreshButton" title="Refresh" tabindex="-1"></button>
        <button class="settingsButton" title="Calendar Settings" tabindex="-1"></button>
    </div>

    <select name="athleteCalendarSelect" id="athleteCalendarSelect">
        {{#each athletes}}
	        <option value="{{ athleteId }}"{{#if selected}} selected{{/if}}>{{ firstName }} {{ lastName}}</option>
	    {{/each}}
    </select>
</div>

<div id="affiliateBanner"></div>
