<div id="calendarMonthLabel" class="calendarMonthLabel">
    <label class="headerMonth">{{printDate date "MMMM"}}</label>
    <label class="headerYear">{{printDate date "YYYY"}}</label>
</div>
<div class="navigation">
    <div class="calendarNavigation">
        <button id="goToLastWeekButton"><img src="assets/images/calendarImages/leftArrow.png"/></button>
        <button id="goToNextWeekButton"><img src="assets/images/calendarImages/rightArrow.png"/></button>
    </div>
    <div class="today">
        <button id="goToTodayButton">{{$ "Today"}}</button>
    </div>
    <div class="printRefreshButtons">
        <button class="printButton" title="Print"></button>
        <button class="refreshButton" title="Refresh"></button>
        <button class="settingsButton" title="Calendar Settings"></button>
    </div>
</div>
<div id="affiliateBanner"></div>