<div id="calendarMonthLabel" class="calendarMonthLabel frameworkTitle">
    <label class="headerMonth">{{formatDate date "MMMM"}}</label>
    <label class="headerYear">{{formatDate date "YYYY"}}</label>
    <input type="text" class="datepicker" tabindex="-1"/>
</div>
<div class="navigation">
    <div class="calendarNavigation frameworkNavigation">
        <button class="goToLastWeekButton" tabindex="-1"></button>
        <button class="goToNextWeekButton" tabindex="-1"></button>
    </div>
    <div class="today">
        <button class="goToTodayButton" tabindex="-1">{{$ "Today"}}</button>
    </div>
    <div class="printRefreshButtons">
        <button class="refreshButton" title="Refresh" tabindex="-1"></button>
        <button class="fullScreen" tabindex="-1"></button>
    </div>

    <div class="athletePickerContainer"></div>

</div>

<div id="affiliateBanner"></div>
