<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <title>Apply Training Plan</title>

        <link rel="stylesheet" href="css/applyTrainingPlan.css" />
        <script src="js/applyTrainingPlan.js"></script>
        <script>

        var trainingPlanParam = window.location.search.match(/(\?|&)id=([^&]*)/);
        var trainingPlanId = trainingPlanParam ? trainingPlanParam[2] :  30819; // welcome to training peaks
        $(document).ready(function()
        {
            LoadApplyTrainingPlan({
                target: "#applyTrainingPlan",
                trainingPlanId: trainingPlanId,
                onSuccess: function(){alert('plan has been applied');}
            });
        });
        </script>
    </head>
    <body style="min-height: 1000px;">
        <div style="margin: 50px;">
            <h1>Apply training plan</h1>
            <form method="GET" action="http://www.google.com"/>
                <div id="applyTrainingPlan" style="width: 400px"></div>        
            </form>
        </div>
    </body>
</html>

