<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <title>Public File Viewer V3</title>

        <link rel="stylesheet" href="css/publicFileViewer.css" />
        <script src="js/publicFileViewer.js"></script>
        </script>
        <script>

        // workout token here is just an example - this should be the actual workout token provided in public workout url query string
        var workoutToken = "H6WHJO736OM54TYLHHYMI7V2OE";
        
        $(document).ready(function()
        {
            $("#main").height($(window).innerHeight());
            LoadPublicFileViewer("#main", workoutToken);
        });
        </script>
    </head>
    <body>
        <div id="main" style="width: 100%"></div>        
    </body>
</html>


