<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <title>Public File Viewer V3</title>

        <link rel="stylesheet" href="css/publicFileViewer.css" />
        <script src="js/publicFileViewer.js"></script>
        </script>
        <script>

        // workout token here is just an example - this should be the actual workout token provided in public workout url query string
        var tokenParam = window.location.search.match(/token=([0-9A-Za-z]*)/);
        var userTypeParam = window.location.search.match(/userType=([0-9]*)/i);
        var workoutToken = tokenParam ? tokenParam[1] : "K3IU6BSSU3GQOOGDAK53ZK3C4Q";
        var userType = userTypeParam ? Number(userTypeParam[1]) : 0;

        $(document).ready(function()
        {
            LoadPublicFileViewer("#publicFileViewer", workoutToken, userType);
        });
        </script>
    </head>
    <body>
        <div id="publicFileViewer" style="width: 70%; height: 800px; margin-left: auto; margin-right: auto;"></div>        
    </body>
</html>
