<div id="calendarHeader" class="row ">
        <div class="calendarMonthLabel">
            <label>January 2013</label>
        </div>
        <div class="navigation">
            <div class="calendarNavigation">
                <button><</button>
                <button>></button>
            </div>
            <div class="today">
                <button>{{$ "Today"}}</button>
            </div>
            <div class="calendarViewSelectionBox">
                <select>
                    <option value="Month" selected>{{$ "Month"}}</option>
                    <option value="Week">{{$ "Week"}}</option>
                    <option value="Day">{{$ "Day"}}</option>
                </select>
            </div>
            <div class="printRefreshButtons">
                <button><img src="assets/images/calendarImages/printIcon.png"/></button>
                <button><img src="assets/images/calendarImages/refreshIcon.png"/></button>
            </div>
        </div>
</div>

<div id="calendarWrapper">
    <div id="libraryContainer" class="open"></div>
    <div id="calendarContainer"></div>
</div>
