<div class="row">
    <div id="calendarHeader">
        <span class="calendarImage one columns">
            <img src="app/images/foundation/orbit/calendar.png" />
        </span>

        <span class="calendarMonthLabel">
            <label>January</label>
        </span>

        <div class="dayOfWeek eleven columns">
            <span class="two columns">
                <label >{{$ "Monday"}}</label>
            </span>
            <span class="two columns">
                <label>{{$ "Tuesday"}}</label>
            </span>
            <span class="two columns">
                <label>{{$ "Wednesday"}}</label>
            </span>
            <span class="two columns">
                <label>{{$ "Thursday"}}</label>
            </span>
            <span class="two columns">
                <label>{{$ "Friday"}}</label>
            </span>
            <span  class="two columns">
                <label>{{$ "Saturday"}}</label>
            </span>
            <span  class="two columns">
                <label>{{$ "Sunday"}}</label>
            </span>

        </div>
       
    </div>

</div>

<div id="calendarContainer"></div>
