<div class="daysOfWeek hide-for-small">
{{#if startOfWeekDayIndex}}    
    <div>{{$ "Monday"}}</div>
    <div>{{$ "Tuesday"}}</div>
    <div>{{$ "Wednesday"}}</div>
    <div>{{$ "Thursday"}}</div>
    <div>{{$ "Friday"}}</div>
    <div>{{$ "Saturday"}}</div>
    <div>{{$ "Sunday"}}</div>
{{else}}
    <div>{{$ "Sunday"}}</div>
    <div>{{$ "Monday"}}</div>
    <div>{{$ "Tuesday"}}</div>
    <div>{{$ "Wednesday"}}</div>
    <div>{{$ "Thursday"}}</div>
    <div>{{$ "Friday"}}</div>
    <div>{{$ "Saturday"}}</div>
{{/if}}
</div>

<div id="weeksContainer" class="scrollable colorByComplianceAndWorkoutType">
</div>