<div id="calendarMonthLabel" class="calendarMonthLabel">
    <label class="headerMonth">{{printDate date "MMMM"}}</label>
    <label class="headerYear">{{printDate date "YYYY"}}</label>
</div>
<div class="navigation">
    <div class="calendarNavigation">
        <button id="goToLastWeekButton" class="buttonLeft"><img src="assets/images/calendarImages/leftArrow.png"/></button>
        <button id="goToNextWeekButton"><img src="assets/images/calendarImages/rightArrow.png"/></button>
    </div>
    <div class="today">
        <button id="goToTodayButton">{{$ "Today"}}</button>
    </div>
    <div class="printRefreshButtons">
        <button class="printButton" title="Print"><img src="assets/images/calendarImages/printIcon.png"/></button>
        <button class="refreshButton" title="Refresh"><img src="assets/images/calendarImages/refreshIcon.png"/></button>
        <button class="settingsButton" title="Calendar Settings"><img src="assets/images/calendarImages/settingsIcon.png"/></button>
    </div>
</div>
<div id="affiliateBanner"></div>