<div class="workoutDiv">
    <div class="workoutHeader">
        <div class="workoutIcon">
            <!-- <img src="assets/images/workoutTypeImages/{{ workoutTypeImageName workoutTypeValueId }}.png"/>  -->
        </div>
        <div class="workoutSettings">
            <button><img src="assets/images/calendarImages/settingsButton.png"/></button>
        </div>
        <div class="workoutDistanceTime">
            <label>{{printKeyStat this}}</label>
        </div>
    </div>
    <div class="workoutBody">
        <label>{{title}}</label>
        <p>{{description}}</p>

    </div>
   <!-- <p>  {{ workoutTypeName workoutTypeValueId }}</p> -->
</div>