<div class="border">
    <div class="details">
        <div>
            <label>{{$ "Duration" }}</label>
            <div>
                <span class="planned">{{ printTimeFromDecimalHours totalTimePlanned }}</span>
                <span class="completed">/ {{ printTimeFromDecimalHours totalTime }}</span>
            </div>
        </div>
        <div>
            <label>{{$ "Distance" }}</label>
            <div>
                <span class="planned">{{ convertToViewUnits distancePlanned "distance" workoutTypeValueId "0" }}</span>
                <span class="completed">/ {{ convertToViewUnits distance "distance" workoutTypeValueId "0" }}</span>
            </div>
        </div>
        <div>
            <label>{{$ "TSS" }}</label>
            <div>
                <span class="planned">{{ defaultValue tssPlanned 0 }}</span>
                <span class="completed">/ {{ defaultValue tssActual 0 }}</span>
            </div>
        </div>
    </div>
</div>
<div class="shadowbar"></div>
<div class="arrow"></div>