{{#hoverBox this}}
    <div class="details">
        <label id="calendarDaySettingsAddLabel">{{$ "Add" }}</label>
        <label id="calendarDaySettingsDeleteLabel">{{$ "Delete" }}</label>
        <label id="calendarDaySettingsCopyLabel">{{$ "Copy" }}</label>
        <label id="calendarDaySettingsCutLabel">{{$ "Cut" }}</label>
        <label id="calendarDaySettingsPasteLabel" class="paste">{{$ "Paste" }}</label>
        <label id="calendarDaySettingsShiftLabel">{{$ "Shift" }}</label>
        <label id="calendarDaySettingsPrintLabel">{{$ "Print" }}</label>
    </div>
{{/hoverBox}}