<div class="border">
    <div class="shadow"></div>
    <div class="details">
        <div>
            <label>{{$ "Distance" }}</label>
            <div>
                <span id="distancePlanned" class="planned">{{ convertToViewUnits distancePlanned "distance" workoutTypeValueId "0" }}</span>
                <span id="distance" class="completed">/ {{ convertToViewUnits distance "distance" workoutTypeValueId "0" }}</span>
            </div>
        </div>
        <div>
            <label>{{$ "Duration" }}</label>
            <div>
                <span id="totalTimePlanned" class="planned">{{ printTimeFromDecimalHours totalTimePlanned }}</span>
                <span id="totalTime" class="completed">/ {{ printTimeFromDecimalHours totalTime }}</span>
            </div>
        </div>
        <div>
            <label>{{$ "TSS" }}</label>
            <div>
                <span id="tssPlanned" class="planned">{{ defaultValue tssPlanned 0 }}</span>
                <span id="tssActual" class="completed">/ {{ defaultValue tssActual 0 }}</span>
            </div>
        </div>
    </div>
</div>
<div class="shadowbar"></div>
<div class="arrow"></div>