<div id="calendarMonthLabel" class="calendarMonthLabel">
    <label class="headerMonth">{{printDate date "MMMM"}}</label>
    <label class="headerYear">{{printDate date "YYYY"}}</label>
</div>
<div class="navigation">
    <div class="calendarNavigation">
        <button id="goToLastWeekButton"><</button>
        <button id="goToNextWeekButton">></button>
    </div>
    <div class="today">
        <button id="goToTodayButton">{{$ "Today"}}</button>
    </div>
    <div class="printRefreshButtons">
        <button class="printButton"><img src="assets/images/calendarImages/printIcon.png"/></button>
        <button class="refreshButton"><img src="assets/images/calendarImages/refreshIcon.png"/></button>
        <button class="settingsButton"><img src="assets/images/calendarImages/settingsIcon.png"/></button>
    </div>
</div>