<style type="text/css">
.day
{
    height: 150px;
    border: 1px solid #000000;
    padding: 5px;
}  
</style>

<div class="row">
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day end"></div>
</div>
<div class="row">
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day end"></div>
</div>
<div class="row">
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day end"></div>
</div>
<div class="row">
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day end"></div>
</div>
<div class="row">
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day"></div>
    <div class="two columns day end"></div>
</div>
