<div class="appNavigation eleven columns">
    <a>
        <span class="mainNavigationButtons one column">
            <label>{{$ "Home"}}</label>
        </span>
    </a>
    <a>
        <span class="mainNavigationButtons one column">
            <label>{{$ "Calendar"}}</label>
        </span>
    </a>
    <a>
        <span class="mainNavigationButtons one column">
            <label>{{$ "Dashboard"}}</label>
        </span>
    </a>
    <a>
        <span class="mainNavigationButtons one column">
            <label>{{$ "Routes"}}</label>
        </span>
    </a>
    <a>
        <span class="mainNavigationButtons one column">
            <label>{{$ "Plans"}}</label>
        </span>
    </a>
    <a>
        <span class="mainNavigationButtons one column">
            <label>{{$ "Friends"}}</label>
        </span>
    </a>
    <a>
        <span class="mainNavigationButtons two column">
            <label>{{$ "AnnualTrainingPlan"}}</label>
        </span>
    </a>
    <a>
        <span class="mainNavigationButtons two column" >
            <label>{{$ "VirtualCoach"}}</label>
        </span>
    </a>
</div>