<div class="appNavigation row">
    <div class="headerShadow">
            <img src="assets/images/calendarImages/shadow-divider.png" />
        </div>
    <div class="ten columns offset-by-six">
        <a>
            <span class="mainNavigationButtons">
                <label>{{$ "Home"}}</label>
            </span>
        </a>
        <a>
            <span class="mainNavigationButtons">
                <label>{{$ "Calendar"}}</label>
            </span>
        </a>
        <a>
            <span class="mainNavigationButtons">
                <label>{{$ "Dashboard"}}</label>
            </span>
        </a>
        <a>
            <span class="mainNavigationButtons">
                <label>{{$ "Planning"}}</label>
            </span>
        </a>
    </div>
</div>