<div class="appNavigation row {{route}}">
    <div class="centered">
        <a>
            <span class="mainNavigationButtons">
                <label id="home">{{$ "Home"}}</label>
            </span>
        </a>
        <a>
            <span class="mainNavigationButtons">
                <label id="calendar">{{$ "Calendar"}}</label>
            </span>
        </a>
        <a>
            <span class="mainNavigationButtons">
                <label id="dashboard">{{$ "Dashboard"}}</label>
            </span>
        </a>
        <a>
            <span class="mainNavigationButtons">
                <label id="tools">{{$ "Tools"}}</label>
            </span>
        </a>
    </div>
</div>