<div id="newItemViewContainer">
    <div class="addItemHeader">Tuesday, March 05: Add to Calendar</div>
    <div class="addItemButtonsContainer">
        <span>{{$ "NewWorkout"}}</span>
        <div>{{$ "Run"}}</div>
        <div>{{$ "Bike"}}</div>
        <div>{{$ "Swim"}}</div>
        <div>{{$ "Brick"}}</div>
        <div>{{$ "Crosstrain"}}</div>
        <div>{{$ "Race"}}</div>
        <div>{{$ "Day off"}}</div>
        <div>{{$ "Mtn Bike"}}</div>
        <div>{{$ "Strength"}}</div>
        <div>{{$ "Custom"}}</div>
        <div>{{$ "XC-Ski"}}</div>
        <div>{{$ "Rowing"}}</div>
        <div>{{$ "Other"}}</div>
        <div>{{$ "Walk"}}</div>
    </div>
</div>