<div class="dialog">
    <div class="titleBar">{{$ "AddToLibraryConfirmationTitle" }}</div>
    <div class="dialogContent">
        <label id="selectLibraryLabel" for="selectLibrary">{{$ "SelectLibrary" }}:</label>
        <select name="selectLibrary" id="selectLibrary">
            <option>{{$ "SelectLibrary" }}</option>
        </select>
        <br />
        <div class="dialogButtons">
            <button id="confirmationOk">{{$ "Ok" }}</button>
            <button id="confirmationCancel">{{$ "Cancel" }}</button>
        </div>
    </div>
</div>
