<div id="shiftItems" class="dialog">
    <div class="titleBar">{{$ "ShiftItems"}}</div>
    <div class="shiftItemsBody dialogContent">
        {{! hide checkboxes for now ... }}
        {{#if false}}
        <div class="dialogHeader">{{$ "SelectShiftItemsString"}}</div>
        <form name="selectShiftItems">
           <label><input type="checkbox" id="workouts" value="workouts"/>{{$ "Workouts"}}</label>
           <label><input type="checkbox" id="meals" value="meals"/>{{$ "Meals"}}</label>
        </form>
        {{/if}}
        <div class="dialogHeader">{{$ "SelectShiftItemsString"}}</div>
        <form>
            <label><input type="radio" value="itemsOnAllSelectedDays" name="selectItems" id="selectItemsOnSelectedDays"/>{{$ "ItemsOnAllSelectedDays"}}</label>
            <label><input type="radio" value="ItemsWithinSpecifiedDateRange" name="selectItems" id="selectItemsWithinDateRange"/>{{$ "ItemsWithinSpecifiedDateRange"}}</label>
            <label><input type="radio" value="ItemsOnAfterSpecifiedStartDate" name="selectItems" id="selectItemsAfterStartDate"/>{{$ "ItemsOnAfterSpecifiedStartDate"}}</label>
        </form>
        <div class="dialogHeader">{{$ "SelectDateRange"}}</div>
        <form class="toAndFromDateRange">
            <label><span>{{$ "From"}}</span><input type="text" id="fromDate" class="datepicker"/></label>
            <label><span>{{$ "To"}}</span><input type="text" id="toDate" class="datepicker" /></label>
        </form>
        <div class="dialogHeader">{{$ "HowDoYouWantToShiftItems"}}</div>
        <form>
            <label><input type="radio" value="MoveToNewStartDate" name="shiftBy"/>{{$ "MoveNewStartDate"}}</label>
            <label><input type="radio" value="MoveBySpecifiedNumberOfDays" name="shiftBy"/>{{$ "MoveBySpecifiedNumberOfDays"}}</label>
            <label><input type="radio" value="MoveBySpecifiedNumberOfWeeks" name="shiftBy"/>{{$ "MoveBySpecifiedNumberOfWeeks"}}</label>

            <div id="MoveToNewStartDate" class="selectNewStartDateInput">
                <label for="moveToStartDate">{{$ "SelectNewStartDate"}}</label>
                <input type="text" id="moveToStartDate" class="datepicker"/>
            </div>

            <div id="MoveBySpecifiedNumberOfDays">
                <label for="moveByNumberOfDays">{{$ "SelectNumberOfDays"}}</label>
                <input type="number" id="moveByNumberOfDays" class="numberpicker"/>
            </div>

            <div id="MoveBySpecifiedNumberOfWeeks">
                <label for="moveByNumberOfWeeks">{{$ "SelectNumberOfWeeks"}}</label>
                <input type="number" id="moveByNumberOfWeeks" class="numberpicker"/>
            </div>
        </form>

        <div class="cancelOkButtons">
            <button id="cancel">{{$ "Cancel"}}</button>
            <button id="ok">{{$ "OK"}}</button>
        </div>
    </div>

</div>