<div id="shiftItems">
    <div class="header">
        <label class="bold">{{$ "ShiftItems"}}</label>
    </div>
    <div class="shiftItemsBody">
        <label class="bold">{{$ "SelectShiftItemsString"}}</label>
        <form name="selectShiftItems">
           <label><input type="checkbox" id="workouts" />{{$ "Workouts"}}</label>
           <label><input type="checkbox" id="meals" />{{$ "Meals"}}</label>
        </form>
        <label class="bold">{{$ "SelectShiftItemsString"}}</label>
        <form>
            <label><input type="radio" value="itemsOnAllSelectedDays" name="selectItems" id="selectItemsOnSelectedDays"/>{{$ "ItemsOnAllSelectedDays"}}</label>
            <label><input type="radio" value="ItemsWithinSpecifiedDateRange" name="selectItems" id="selectItemsWithinDateRange"/>{{$ "ItemsWithinSpecifiedDateRange"}}</label>
            <label><input type="radio" value="ItemsOnAfterSpecifiedStartDate" name="selectItems" id="selectItemsAfterStartDate"/>{{$ "ItemsOnAfterSpecifiedStartDate"}}</label>
        </form>
        <label class="bold">{{$ "SelectDateRange"}}</label>
        <form class="toAndFromDateRange">
            <label><span>{{$ "From"}}</span><input type="text" id="fromDate" class="textInput"/></label>
            <label><span>{{$ "To"}}</span><input type="text" id="toDate" /></label>
        </form>
        <label class="bold">{{$ "HowDoYouWantToShiftItems"}}</label>
        <form>
            <label><input type="radio" value="MoveNewStartDate" name="shiftBy"/>{{$ "MoveNewStartDate"}}</label>
            <label><input type="radio" value="MoveBySpecifiedNumberOfDays" name="shiftBy"/>{{$ "MoveBySpecifiedNumberOfDays"}}</label>
            <label><input type="radio" value="MoveBySpecifiedNumberOfWeeks" name="shiftBy"/>{{$ "MoveBySpecifiedNumberOfWeeks"}}</label>

            <div class="selectNewStartDateInput">
                <label>{{$ "SelectNewStartDate"}}</label>
                <input type="text" id="moveToStartDate" class="datepicker"/>
            </div>

            <div id="MoveBySpecifiedNumberOfDays">
                <label for="moveByNumberOfDays">{{$ "SelectNumberOfDays"}}</label>
                <input type="number" id="moveByNumberOfDays" class="numberpicker"/>
            </div>

            <div id="MoveBySpecifiedNumberOfWeeks">
                <label for="moveByNumberOfWeeks">{{$ "SelectNumberOfWeeks"}}</label>
                <input type="number" id="moveByNumberOfWeeks" class="numberpicker"/>
            </div>
        </form>
    </div>
    <div class="cancelOkButtons">
            <button id="cancel">{{$ "Cancel"}}</button>
            <button id="ok">{{$ "OK"}}</button>
        </div>
</div>