<div class="titleBar"><h2>{{$ "PremiumFeature" }}</h2><i class="closeIcon"></i></div>
<div class="dialogContent">

    <div class="upgradeLeft">
        <div class="upgradeSlidePosition"></div>
        <h3 class="upgradeSlideTitle"></h3>
        <p class="upgradeSlideText"></p>

        <a class="upgradeButton" href="{{ upgradeUrl }}" target="_blank">Upgrade</a>
    </div>

    <div class="upgradeRight">
        <img class="upgradeSlideImage">
        <div class="upgradeSlideNav">
            <button class="upgradeSlidePrev"></button>
            <button class="upgradeSlideNext"></button>
        </div>
    </div>

</div>
