<div class="row">    
    <div class="personHeaderLogo">
        <img src="app/images/calendarImages/tpLogo.png" />
    </div>
    <div class="rightNavigation">
        <a>
            <span class="personHeaderMailIcon">
                <img src="app/images/calendarImages/messagesIcon.png" />
            </span>
        </a>
        <a>
            <span class="personHeaderButtons">
                <label>{{username}}</label>
            </span>
        </a>
        <label class="headerPipe">|</label>
        <a>
            <span class="personHeaderButtons">
                <label>{{$ "BasicEdition"}}</label>
            </span>
        </a>
        <label class="headerPipe">|</label>
        <a>
            <span class="personHeaderButtons">
                <label>{{$ "Upgrade"}}</label>
            </span>
        </a>
    </div>
</div>