<fieldset>
    <legend>{{$ "PersonalInfo"}}</legend>

    <label for='firstNameSettingField' >{{$ "FirstName"}}*:</label>
    <input type='text' name='firstNameSettingField' id='firstNameSettingField' />

    <label for='lastNameSettingField' >{{$ "LastName"}}*:</label>
    <input type='text' name='lastNameSettingField' id='lastNameSettingField' />

    <label for='userNameSettingField' >{{$ "Username"}}*:</label>
    <input type='text' name='userNameSettingField' id='userNameSettingField' />

    <label for='athleteTypeSettingField' >{{$ "AthleteType"}}*:</label>
    <select name='athleteTypeSettingField' id='athleteTypeSettingField'></select> 

    <label for='birthdaySettingField' >{{$ "Birthday"}}*:</label>
    <input type='text' name='birthdaySettingField' id='birthdaySettingField' />

    <label for='genderSettingField' >{{$ "Gender"}}*:</label>
    <input type='text' name='genderSettingField' id='genderSettingField' />
    
    <label for='emailSettingField' >{{$ "Email"}}*:</label>
    <input type='text' name='emailSettingField' id='emailSettingField' />

    <label for='addressSettingField' >{{$ "Address"}}*:</label>
    <input type='text' name='addressSettingField' id='addressSettingField' />

    <label for='address2SettingField' >{{$ "Address"}}*:</label>
    <input type='text' name='address2SettingField' id='address2SettingField' />

    <label for='citySettingField' >{{$ "City"}}*:</label>
    <input type='text' name='citySettingField' id='citySettingField' />

    <label for='stateSettingField' >{{$ "State"}}*:</label>
    <select name='stateSettingField' id='stateSettingField'></select>

    <label for='zipCodeSettingField' >{{$ "ZipCode"}}*:</label>
    <input type='text' name='zipCodeSettingField' id='zipCodeSettingField' />

    <label for='countrySettingField' >{{$ "Country"}}*:</label>
    <select name='countrySettingField' id='countrySettingField'></select>

    <label for='phoneSettingField' >{{$ "Phone"}}*:</label>
    <input type='text' name='phoneSettingField' id='phoneSettingField' />
    
    <label for='cellPhoneSettingField' >{{$ "CellPhone"}}*:</label>
    <input type='text' name='cellPhoneSettingField' id='cellPhoneSettingField' />
</fieldset>

<fieldset>
    <legend>{{$ "AccountSettings"}}</legend>

    <label for="unitsSettingField">{{$ "Units"}}:</label>
    <input type="radio" name="unitsSettingField" value="1" />{{$ "MetricUnits"}}
    <input type="radio" name="unitsSettingField" value="0" />{{$ "EnglishUnits"}}
    
    <label for="dateFormatSettingField">{{$ "DateFormat"}}:</label>
    <input type="radio" name="dateFormatSettingField" value="mdy" />{{$ "DayFormat1"}}
    <input type="radio" name="dateFormatSettingField" value="dmy" />{{$ "DayFormat2"}}
</fieldset>

<fieldset>
    <legend>{{$ "EmailOptions"}}</legend>
    
    <input type="checkbox" name="emailPMNotificationSettingField" />{{$ "emailPMNotificationSetting"}}<br/>
    <input type="checkbox" name="postActivityNotificationSettingField" />{{$ "postActivityNotificationSetting"}}<br/>
    <input type="checkbox" name="newsletterNotificationSettingField" />{{$ "newsletterNotificationSetting"}}<br/>
</fieldset>

<fieldset>
    <legend>{{$ "Payments"}}</legend>
    
    <label>{{$ "AccountExpires"}}</label><label id="accountExpiresSettingField"></label>
</fieldset>

<img id="profileImageSettingField" src=""/>

<div class="saveCloseButtons">
    <button class="userSettingsReset">{{$ "Reset"}}</button>
    <button class="userSettingsSaveClose">{{$ "SaveClose"}}</button>
</div>