<div class="personHeaderLogo three columns">
    <img src="app/images/foundation/orbit/logo-trainingpeaks-rev-horz.png" />
</div>
<div class="six columns offset-by-four">
    <a>
        <span class="personHeaderButtons three column">
            <label>{{$ "Messages"}}</label>
        </span>
    </a>
    <a>
        <span class="personHeaderButtons three column">
            <label>{{username}}</label>
        </span>
    </a>
    <label class="headerPipe">|</label>
    <a>
        <span class="personHeaderButtons three column">
            <label>{{$ "BasicEdition"}}</label>
        </span>
    </a>
    <label class="headerPipe">|</label>
    <a>
        <span class="personHeaderButtons three column">
            <label>{{$ "Upgrade"}}</label>
        </span>
    </a>
    <!--<label class="headerPipe">|</label>
    <a>
        <span class="personHeaderButtons two column">
            <label>{{$ "LogOut"}}</label>
        </span>
    </a>-->
</div>