<div class="row{{#if settings.account.headerImageUrl }} coachBanner{{/if}}" id="userControlsBackground">    
    <div class="personHeaderLogo">
        <img id="topLogo" src="{{ defaultValue settings.account.headerImageUrl "assets/images/calendarImages/tpLogo.png" }}" />
    </div>
    <div class="rightNavigation">
        <a>
            <span class="personHeaderMailIcon">
                <img src="assets/images/calendarImages/messagesIcon.png" />
            </span>
        </a>
        <a>
            <span id="userName" class="personHeaderButtons headerRollOver">
                <label id="usernameLabel">{{firstName}} {{lastName}}</label>
            </span>
        </a>
        <label class="headerPipe">|</label>
        <a>
            <span class="personHeaderButtons">
                <label>{{$ "BasicEdition"}}</label>
            </span>
        </a>
        <a>
            <span class="personHeaderButtons upgradeButton">
                <label>{{$ "Upgrade"}}</label>
            </span>
        </a>
    </div>
</div>
<div class="row headerShadow sixteen columns offset-by-four">
    <img src="assets/images/calendarImages/shadow-divider.png" />
</div>