<div class="dayHeader">
    <p id="calendarDate"> 
        <span class="show-for-small">
        </span> 
    </p>

    <div class="summarySettings">
        <button><img src="assets/images/calendarImages/settingsButton.png"/></button>
    </div>
</div>

<div class="weekSummaryTableContainer">
    <table class="weekSummaryTable">
    <thead>
        <th></th>
        <th>Planned</th>
        <th>Completed</th>
    </thead>
    <tbody>
        <tr>
            <td class="weekSummaryRowLabel">Total Time</td>
            <td class="weekSummaryValue planned">{{printTimeFromDecimalHours totalTimePlanned}}</td>
            <td class="weekSummaryValue completed">{{printTimeFromDecimalHours totalTimeCompleted}}<span class="weekSummaryUnitLabelWhiteSpace"> </span>{{$ "hr"}}</td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Bike Dis</td>
            <td class="weekSummaryValue planned">{{convertToViewUnits bikeDistancePlanned "distance"}}</td>
            <td class="weekSummaryValue completed">{{convertToViewUnits bikeDistanceCompleted "distance"}}<span class="weekSummaryUnitLabelWhiteSpace"> </span>{{printUnitLabel "distance"}}</td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Run Dis</td>
            <td class="weekSummaryValue planned">{{convertToViewUnits runDistancePlanned "distance"}}</td>
            <td class="weekSummaryValue completed">{{convertToViewUnits runDistanceCompleted "distance"}}<span class="weekSummaryUnitLabelWhiteSpace"> </span>{{printUnitLabel "distance"}}</td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Swim Dis</td>
            <td class="weekSummaryValue planned">{{convertToViewUnits swimDistancePlanned "distance"}}</td>
            <td class="weekSummaryValue completed">{{convertToViewUnits swimDistanceCompleted "distance"}}<span class="weekSummaryUnitLabelWhiteSpace"> </span>{{printUnitLabel "distance"}}</td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Bike Dur</td>
            <td class="weekSummaryValue planned">{{printTimeFromDecimalHours bikeDurationPlanned}}</td>
            <td class="weekSummaryValue completed">{{printTimeFromDecimalHours bikeDurationCompleted}}<span class="weekSummaryUnitLabelWhiteSpace"> </span>{{$ "hr"}}</td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Run Dur</td>
            <td class="weekSummaryValue planned">{{printTimeFromDecimalHours runDurationPlanned}}</td>
            <td class="weekSummaryValue completed">{{printTimeFromDecimalHours runDurationCompleted}}<span class="weekSummaryUnitLabelWhiteSpace"> </span>{{$ "hr"}}</td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Swim Dur</td>
            <td class="weekSummaryValue planned">{{printTimeFromDecimalHours swimDurationPlanned}}</td>
            <td class="weekSummaryValue completed">{{printTimeFromDecimalHours swimDurationCompleted}}<span class="weekSummaryUnitLabelWhiteSpace"> </span>{{$ "hr"}}</td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Strength Dur</td>
            <td class="weekSummaryValue planned">{{printTimeFromDecimalHours strengthDurationPlanned}}</td>
            <td class="weekSummaryValue completed">{{printTimeFromDecimalHours strengthDurationCompleted}}<span class="weekSummaryUnitLabelWhiteSpace"> </span>{{$ "hr"}}</td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">TSS</td>
            <td class="weekSummaryValue planned">{{tssPlanned}}</td>
            <td class="weekSummaryValue completed">{{tssCompleted}}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
</div>
