<div class="dayHeader summaryHeader">
    <p id="calendarDate"> {{$ "Summary"}}
        <span class="show-for-small">
        </span> 
    </p>
    <div class="summarySettings">
        <button><img src="assets/images/calendarImages/settingsButton.png"/></button>
    </div>
</div>

<div class="weekSummaryTableContainer">
    <table class="weekSummaryTable">
    <thead>
        <th></th>
        <th>Planned</th>
        <th>Completed</th>
    </thead>
    <tbody>
        <tr>
            <td class="weekSummaryRowLabel">Total Time</td>
            <td class="weekSummaryValue"><span class="planned">{{printTimeFromDecimalHours totalTimePlanned}}</span></td>
            <td class="weekSummaryValue"><span class="completed">{{printTimeFromDecimalHours totalTimeCompleted}}</span><span class="units">{{$ "hr"}}</span></td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Bike Dis</td>
            <td class="weekSummaryValue"><span class="planned">{{convertToViewUnits bikeDistancePlanned "distance"}}</span></td>
            <td class="weekSummaryValue"><span class="completed">{{convertToViewUnits bikeDistanceCompleted "distance"}}</span><span class="units">{{printUnitLabel "distance"}}</span></td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Run Dis</td>
            <td class="weekSummaryValue"><span class="planned">{{convertToViewUnits runDistancePlanned "distance"}}</span></td>
            <td class="weekSummaryValue"><span class="completed">{{convertToViewUnits runDistanceCompleted "distance"}}</span><span class="units">{{printUnitLabel "distance"}}</span></td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Swim Dis</td>
            <td class="weekSummaryValue"><span class="planned">{{convertToViewUnits swimDistancePlanned "distance"}}</span></td>
            <td class="weekSummaryValue"><span class="completed">{{convertToViewUnits swimDistanceCompleted "distance"}}</span><span class="units">{{printUnitLabel "distance"}}</span></td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Bike Dur</td>
            <td class="weekSummaryValue"><span class="planned">{{printTimeFromDecimalHours bikeDurationPlanned}}</span></td>
            <td class="weekSummaryValue"><span class="completed">{{printTimeFromDecimalHours bikeDurationCompleted}}</span><span class="units">{{$ "hr"}}</span></td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Run Dur</td>
            <td class="weekSummaryValue"><span class="planned">{{printTimeFromDecimalHours runDurationPlanned}}</span></td>
            <td class="weekSummaryValue"><span class="completed">{{printTimeFromDecimalHours runDurationCompleted}}</span><span class="units">{{$ "hr"}}</span></td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Swim Dur</td>
            <td class="weekSummaryValue"><span class="planned">{{printTimeFromDecimalHours swimDurationPlanned}}</span></td>
            <td class="weekSummaryValue"><span class="completed">{{printTimeFromDecimalHours swimDurationCompleted}}</span><span class="units">{{$ "hr"}}</span></td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">Strength Dur</td>
            <td class="weekSummaryValue"><span class="planned">{{printTimeFromDecimalHours strengthDurationPlanned}}</span></td>
            <td class="weekSummaryValue"><span class="completed">{{printTimeFromDecimalHours strengthDurationCompleted}}</span><span class="units">{{$ "hr"}}</span></td>
        </tr>
        <tr>
            <td class="weekSummaryRowLabel">TSS</td>
            <td class="weekSummaryValue"><span class="planned">{{tssPlanned}}</span></td>
            <td class="weekSummaryValue"><span class="completed">{{tssCompleted}}</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
</div>
