<div class="dayHeader summaryHeader">
    <p id="calendarDate"> {{$ "Summary"}}
        <span class="show-for-small">
        </span> 
    </p>
    <div class="summarySettings">
        <button><img src="assets/images/calendarImages/settingsButton.png"/></button>
    </div>
</div>

<div id="weekSummaryContainer" class="cf">
	<div class="weekSummaryBarGraphContain cf">

		<div class="weekSummaryBarGraphItem total cf">
			<div class="weekSummaryBarGraphLabel total">
				Total
			</div>		
			<div class="weekSummaryTimeContain">
				<span class="weekSummaryTimeCompleted">{{printTimeFromDecimalHours totalTimeCompleted}}</span> <span class="weekSummaryTimePlanned">{{printTimeFromDecimalHours totalTimePlanned}}</span>
			</div>
			<div class="weekSummaryBarGraph total">
			 	<div class="weekSummaryBarGraphProgress total"></div>
			</div>
		</div>
	
		<div class="weekSummaryBarGraphItem cf">
			<div class="weekSummaryBarGraphLabel">
				Bike
			</div>		
			<div class="weekSummaryTimeContain">
				<span class="weekSummaryTimeCompleted bike">{{printTimeFromDecimalHours totalTimeCompleted}}</span> <span class="weekSummaryTimePlanned">{{printTimeFromDecimalHours totalTimePlanned}}</span>
			</div>
			<div class="weekSummaryBarGraph">
			 	<div class="weekSummaryBarGraphProgress bike"></div>
			</div>
		</div>
		
		<div class="weekSummaryBarGraphItem cf right">
			<div class="weekSummaryBarGraphLabel">
				Strength
			</div>		
			<div class="weekSummaryTimeContain">
				<span class="weekSummaryTimeCompleted strength">{{printTimeFromDecimalHours strengthDurationCompleted}}</span> <span class="weekSummaryTimePlanned">{{printTimeFromDecimalHours strengthDurationPlanned}}</span>
			</div>
			<div class="weekSummaryBarGraph">
			 	<div class="weekSummaryBarGraphProgress strength"></div>
			</div>
		</div>
		
		<div class="weekSummaryBarGraphItem cf">
			<div class="weekSummaryBarGraphLabel">
				TSS
			</div>		
			<div class="weekSummaryTimeContain">
				<span class="weekSummaryTimeCompleted tss">{{tssCompleted}}</span> <span class="weekSummaryTimePlanned">{{tssPlanned}}</span>
			</div>
			<div class="weekSummaryBarGraph">
			 	<div class="weekSummaryBarGraphProgress tss"></div>
			</div>
		</div>
	
	</div>
	
	<div id="weekSummaryMetricContain">
		
		<div class="weekSummaryMetricItem cf">
			<div class="weekSummaryMetricValue">
				{{convertToViewUnits bikeDistanceCompleted "distance"}}
			</div>
			<div class="weekSummaryMetricTitle">
				{{printUnitLabel "distance"}} Bike
			</div>
		</div>
		
		<div class="weekSummaryMetricItem cf">
			<div class="weekSummaryMetricValue">
				{{convertToViewUnits runDistanceCompleted "distance"}}
			</div>
			<div class="weekSummaryMetricTitle">
				{{printUnitLabel "distance"}} Run
			</div>		
		</div>
		
		<div class="weekSummaryMetricItem cf">
			<div class="weekSummaryMetricValue">
				{{tssCompleted}}
			</div>
			<div class="weekSummaryMetricTitle">
				TSS
			</div>		
		</div>
	</div>
	
	<div id="weekSummaryATPContain">
		<div class="weekSummaryATPItem cf">
			<div class="weekSummaryATPValue">
				12:30
			</div>
			<div class="weekSummaryATPTitle">
				Annual Training Plan
			</div>	
		</div>
		
		<div class="weekSummaryATPItem cf">
			<div class="weekSummaryATPValue">
				Base 2, Week 2
			</div>
			<div class="weekSummaryATPTitle">
				Period
			</div>	
		</div>
		
		<div class="weekSummaryATPItem cf last">
			<div class="weekSummaryATPValue">
				Bike E, S, T
			</div>
			<div class="weekSummaryATPTitle">
				Limiters
			</div>	
		</div>
		
	</div>

</div>