<div id="workOutQuickView">
    <div class="QVHeader">
        <div id="thumbNailImage">
            <img src="assets/images/QVImages/workoutPlaceHolder.png" />
        </div>
        <div class="workoutTitleDiv">
            <input type="text" name="workoutTitle" class="workoutTitle" placeholder="Workout Title" id="workoutTitleField" />
            <label>{{WorkoutDay}}</label>
        </div>

        <div class="quickviewNavigation">
            <img src="assets/images/QVImages/rightHandJunk.png" />
            <div class="forwardBackbuttons">
                <button><</button>
                <button>></button>
            </div>
            <div class="forwardBackbuttons">
                <button>></button>
            </div>
        </div>
        
        <div id="workoutHeaderStats">
            <div class="headerWorkoutValue">
                <label>{{Distance}}</label>
            </div>
            <div class="headerWorkoutValueLabel">
                <label>DST</label>
            </div>
            <div class="headerWorkoutValue middleValues">
                <label>{{TotalTime}}</label>
            </div>
            <div class="headerWorkoutValueLabel">
                <label>DUR</label>
            </div>
            <div class="headerWorkoutValue middleValues">
                <label>{{TSSActual}}</label>
            </div>
            <div class="headerWorkoutValueLabel">
                <label>TSS</label>
            </div> 
        </div> 
    </div>

    <div class="stats">
        <div class="columnLabelsPlannedCompleted">
            <label>{{$ "Planned"}}</label>
            <label>{{$ "Completed"}}</label>
        </div>
        <!-- planned and completed fields load dynamically here-->
        <div id="workoutPlannedCompletedStats"/>

        <div class="columnLabelsMinMaxAvg">
            <label>{{$ "Min"}}</label>
            <label>{{$ "Avg"}}</label>
            <label>{{$ "Max"}}</label>
        </div>
        <!-- min/max/avg fields load dynamically here-->
        <div id="workoutMinMaxAvgStats"/>
    </div>   


</div>