<div id="workOutQuickView">
    <div class="QVHeader">
        <div id="thumbNailImage">
            <img src="../../../assets/images/QVImages/workoutPlaceHolder.png" />
        </div>
        <div>
            <input type="text" name="workoutTitle" class="workoutTitle"/>
            <label class="workoutDate">Thursday Jan 14, 2013 @2pm</label>
        </div>
        <div id="workoutStats" class="row">
            <label class="headerWorkoutValue">112</label>
            <label class="headerWorkoutValueLabel">DST</label>
            <label class="headerWorkoutValue">3:22:14</label>
            <label class="headerWorkoutValueLabel">DUR</label>
            <label class="headerWorkoutValue">155</label>
            <label class="headerWorkoutValueLabel">TSS</label>
        </div>

        <div>
            <img src="../../../assets/images/QVImages/fullScreenIcon.png" />
            <img src="../../../assets/images/QVImages/rightHandJunk.png" />
            <div class="calendarNavigation">
                <button><</button>
                <button>></button>
            </div>
        </div>


    </div>



</div>