.userSettings
{
    background: white;
    width: calc(800px + 200px + 52px);

    button
    {
        @include buttons(0, "auto", "1em");
        padding: 4px 5px;
        margin-right: 5px;
    }
}

.userSettingsAccountContent
{
    width: 816px;
    padding-right:12px;

    .userSettingsPersonalSection {
        margin-bottom:20px;
        padding-bottom:20px;
        border-bottom:1px solid $TPGrey2;

        h3 {
            margin-top:0;
        }
    }

    @include clearfix;

    label
    {
        float: left;   
        padding: 4px 5px 0 0; 
        width: 110px;
        max-width: 110px;
        text-align: right;
    }

    input
    {
        width: 200px;
        float: left;
        margin: 0 15px 0 0;
        height: 20px;
        color: $TPGrey3;
    }

    input[type="radio"]
    {
        width: 20px;
        margin: -4px 0 0 0;
    }

    input[type="checkbox"]
    {
        width: 20px;
        margin: -4px 0 0 0;
    }

    p
    {
        margin: 0 15px;
    }

    select
    {
        width: 300px;
    }

    .recurringPayments, .paymentHistory
    {

        margin-top: 15px;

        h3
        {
            margin-top: 15px;
        }

        &:not(.empty)
        {
            .nopayments
            {
                display: none;
            }
        }

        &.empty
        {
            .withpayments
            {
                display: none;
            }
        }

        .recurringPaymentItem, .paymentHistoryItem
        {
            margin: 15px 20px;

            .row
            {
                overflow-y: visible;
                margin-bottom: 5px;

                div
                {
                    min-width: 150px;
                    display: inline-block;
                }
            }
        }

        .recurringPaymentItem
        {
            .row
            {
                div
                {
                    min-width: 180px;
                }
            }
        }
    }

    .row
    {
        height: 20px;
        margin-bottom: 10px;
        clear: both;
    }

    .radioButtonRow
    {
        text-align: left;
        padding-left: 5px;
    }

    .genderRadioButtonRow
    {
        width: 75px;
    }

    .profilePicture
    {

        &.row
        {
            height: auto;
        }

        .photoContainer
        {

            float: left;

            .placeholder
            {
                display: none;
            }

            img
            {
                display: block;
                clear: both;
                max-height: 200px;
                max-width: 200px;
            }

        }

        .buttons
        {
            clear: both;
            margin-left: 110px;
            padding-top: 5px;
        }

        &.nophoto
        {
            .photoContainer
            {
                .placeholder
                {
                    display: block;
                    height: 200px;
                    width: 200px;
                    padding: 50px 30px;
                    border: 1px solid $TPGrey11;
                    background-color: $TPGrey1;
                }

                img
                {
                    display: none;
                }
            }

            .removePhoto
            {
                display: none;
            }
        }

    }

    .accountSettings
    {
        // margin: 10px 0 5px 0;
    }

    .textCopy
    {
        text-align: left;
    }

    .checkBoxRow
    {
        max-width: 350px;
        width: 350px;
        text-align: left;
        margin-left: 50px;
    }

    .deliveryTimeHelpText
    {
        margin-bottom: 10px;
    }

    .nopaymentText
    {
        margin-left: 5px;
    }

    .ical
    {
        width: 270px;
    }

    .selectboxit-container .selectboxit 
    {
        width: 200px !important;
    }

    .selectBox
    {
        position: relative;
        float: left;
        width: 200px;
    }

    .country, .timeZone, .state
    {
        .selectboxit-container .selectboxit 
        {
            width: 295px !important;
        }
    }

    .selectboxit-list
    {
        max-height: 350px;
        @include nice-scrollbar;
    }

    .userSettingsButtons
    {
        margin-top: 10px;
    }

}

.closeIcon
{
    margin: 5px 0 0 0 !important;
}
