
.userSettingContainer
{
    padding: 12px;
    max-width: 800px;
    max-height: 600px;

    label
    {
        float: left;   
        padding: 4px 5px 0 0; 
        width: 100px;
        max-width: 100px;
        text-align: right;
    }
            
    input
    {
        width: 200px;
        float: left;
        margin: 0 15px 0 0;
        height: 20px;
        color: $TPGrey3;
    }

    select
    {
        width: 300px;
    }

    .recurringPayments, .paymentHistory
    {
        &:not(.empty)
        {
            .nopayments
            {
                display: none;
            }
        }

        &.empty
        {
            .withpayments
            {
                display: none;
            }
        }
    }

    .row
    {
        height: 20px;
        margin-bottom: 10px;
    }

    .gender
    {
        text-align: left;
        padding-left: 5px;
        width: 75px;

        input[type="radio"]
        {
            width: 20px;
            margin: -4px 0 0 0;
        }
    }

    .profilePicture
    {
        max-height: 200px;
        max-width: 200px;
        margin-left: 100px;
    }

    .accountSettings
    {
        margin: 10px 0 5px 0;
    }

    .textCopy
    {
        padding-top: 4px; 
    }

}

