.userSettings
{
    background: white;
    width: calc(800px + 200px + 52px);

    //to hide overlapping portions of titleBar
    overflow: hidden;

    .tabbedLayoutNav {
        width: 142px; 
        margin:0;
        padding:0;
        height:100%;
        background-color:$TPGrey2;


            li {
                padding:5px 10px 5px 25px;
                
                &:first-of-type {
                    padding-top:25px;
                }    

                .tabbedLayoutSubNav {
                    li {
                        padding:0;
                    }
                    .active {
                        font-family: $fontFamilyRegular;
                        color:#3c7fc4;
                    }
                }
            }
   

        .active {
            background-color:#e0dede;
        }

    }

    .tabbedLayoutBody {
        width: calc(100% - 142px);
        padding:0 12px 12px 30px;
    }

    label
    {
        cursor: auto;
        
        &.clickable
        {
            cursor: pointer;
        }
    }

    .overlayBoxHeader {
        background-color:$TPGrey1;
        // overflow-x: hidden;

        .titleBar {
            text-align: left;
            min-height: 30px;
            // padding: 10px 0px 0px 16px;
            background-color: $TPGrey1;
            @include box-shadow(2px 0px 7px 0px $TPGrey4);
            position: relative; 
            z-index: 1;
            color: $TPGrey3;
            width:101%;
            
            h2 {
                font-size: $fontSizeSmall; 
                font-family: $fontFamilyRegular;
                font-weight:normal;
                color: $TPGrey3;
                float:left;
                line-height:1;
                margin: 9px 0 0 15px;
            }
        } 

    }

    .closeIcon {
        margin: 9px 10px 0 0 !important;
    }

    @include buttons(0, "auto", $fontSizeSmall);
    button
    {
        padding: 0 5px;
        margin-right: 8px;
        min-width: 77px;
    }

    .userSettingsContent {

        .scrollTarget {
            padding-top:30px;
        }

        .addWorkoutType, 
        .removeZone,
        .removeWorkoutType {
            font-size:$fontSizeSmall;
        }

        .addZone {
            margin-top:10px;
        }

        .removeZone {
            margin-left:4px;
        }

        .removeWorkoutType {
            display:inline-block;
            margin-left:4px;
        }

        .addZoneContain {
            margin-bottom:10px;

            .selectboxit-container {
                float:left;
            }

            .addWorkoutType {
                float:left;
                margin:5px 0 0 10px;
            }

        }

        .zonesConfigGroup {
            margin-top:25px;

            .zoneEntry {
                padding:3px 0 3px 25px;

                &:hover {
                    background-color:$TPGrey1;
                    cursor: all-scroll;
                }

                .zoneEntryTo {
                    font-size:$fontSizeSmall;
                    display:inline-block;
                    text-align:center;
                    width:15px;
                }
            }

            .zoneSetContain {
                border:1px solid $TPGrey1;
                padding:10px;
                margin-bottom:10px;
                margin-top:12px;

                label {

                    input[type="radio"] {
                        margin:0;
                    }
                }

                form {
                    margin:0;
                }

                .zoneSetTitle {
                    display:inline-block;
                    width:136px;
                    font-family:$fontFamilyHeavy;
                }

                &.power, 
                &.pace {
                    .zoneSetTitle {
                        width:71px;
                    }
                }
            }
        }

        h2 {
            font-family:$fontFamilyLight;
            font-weight:normal;
            font-size:$fontSizeXXLarge;
            color:$TPBlue;
            margin-top:0;
            margin-bottom:11px;
            line-height:normal;
        }

        h3 {
            font-family:$fontFamilyHeavy;
            font-weight:normal;
            font-size:$fontSizeMedium;
            color:$TPGrey8;
            line-height:normal;
            margin:0;
            margin-bottom:12px;
        }


        h4 {
            font-family:$fontFamilyHeavy;
            font-weight:normal;
            font-size:$fontSizeSmall;
            color:$TPGrey8;
            line-height:normal;
            margin:0;
            margin-bottom:12px;
        }

        .heartRateZones, 
        .powerZones, 
        .speedPaceZones,
        .userSettingsPayments {
            border-bottom: 1px solid $TPGrey2;
            margin-bottom:20px;
            padding-bottom:20px;
        }

        .heartRateZones,
        .powerZones,
        .speedPaceZones {
            .zones {
                .zoneEntry {
                    .zoneName {
                        width:400px;
                    }
                    .min,
                    .max {
                        width:50px;
                    }

                    .min {
                        margin-left:25px;
                    }
                }
            }
        }

        .speedPaceZones {
            form {
                width:100%;                
    
                label:nth-of-type(2),
                label:nth-of-type(3) {
                    float:left;
                    margin-top:10px;
                }

                label:nth-of-type(3){
                    margin-left:15px;
                }
            }
        }

        .userSettingsButtons {
            text-align:center;
            .save {
                margin:10px 0 20px 0;
            }
        }

        .userSettingsPayments {
            p {
                margin:1em 0 1em 5px;
                font-family:$fontFamilyRegular;
                color:$TPGrey3;
                font-size:$fontSizeSmall;
            }
        }
    }

    .overlayBoxBody {
        height: calc(100% - 75px);
        @include radialGradient(#e6e4e4, #dedcdc);
    }
}

.userSettingsAccountContent {
    width: 816px;
    padding-top:30px;

    .userSettingsPersonalSection {
        margin-bottom:20px;
        padding-bottom:20px;
        border-bottom:1px solid $TPGrey2;
        @include clearfix;

        input {
            width:295px;
        }

        .personalLeftCol {
            float:left;
            width:500px;
            border:1px solid red;

            .fieldContain {
                width:100%;
                height:25px;
                @include clearfix;
                float:left;
            }

            input {
                width:285px;
                float: left;
                &[type=radio] {
                    width:25px;
                }
            }

            .selectboxit-container .selectboxit {
                width: 285px !important;
            }

            .selectBox {
                position: relative;
                float: left;
            }

            label.username {
                text-align:left;
                margin-left:5px;
                font-family:$fontFamilyHeavy;
            }
        }

        .personalRightCol{
            float:right;
            width:250px;
            border:1px solid blue;

            label {
                width:104px;
            }

            selectboxit-container .selectboxit {
                width: 285px !important;
            }

            .selectBox {
                position: relative;
                float: left;
                width:295px;
            }
        }

        &.calendarSync {
            input {
                width:694px;
            }

        }
    }

    @include clearfix;

    label
    {
        float: left;   
        padding: 4px 5px 0 0; 
        width: 110px;
        max-width: 110px;
        text-align: right;
    }

    input
    {
        width: 200px;
        float: left;
        // margin: 0 15px 0 0;
        margin:0;
        height: 20px;
        color: $TPGrey3;
    }

    input[type="radio"]
    {
        width: 20px;
        margin: -4px 0 0 0;
    }

    input[type="checkbox"]
    {
        width: 20px;
        margin: -4px 0 0 0;
    }

    p
    {
        margin: 0 15px 0 110px;
    }

    select
    {
        width: 300px;
    }

    .recurringPayments, 
    .paymentHistory {

        &:not(.empty)
        {
            .nopayments
            {
                display: none;
            }
        }

        &.empty
        {
            .withpayments
            {
                display: none;
            }
        }

        .recurringPaymentItem, 
        .paymentHistoryItem
        {
            margin: 0;
            padding:10px 0;
            font-family:$fontFamilyRegular;
            color:$TPGrey3;

            border:1px solid $TPGrey1;
            padding:10px;
            margin-bottom:10px;
            margin-top:12px;

            .row
            {
                overflow-y: visible;
                margin-bottom: 5px;

                div
                {
                    min-width: 240px;
                    display: inline-block;
                    font-size:$fontSizeSmall;
                }

                .date,.description {
                    font-family:$fontFamilyHeavy;
                }
            }
        }

        .recurringPaymentItem
        {
            .row
            {
                div
                {
                    min-width: 180px;
                }
            }
        }
    }

    .row
    {
        margin-bottom: 10px;
    }

    .radioButtonRow
    {
        text-align: left;
        padding-left: 5px;
    }

    .genderRadioButtonRow
    {
        width: 75px;
        margin-bottom:10px;
    }

    .profilePicture
    {

        &.row
        {
            height: auto;
        }

        .photoContainer
        {

            float: left;

            .placeholder
            {
                display: none;
            }

            img
            {
                display: block;
                clear: both;
                max-height: 200px;
                max-width: 200px;
            }

        }

        .buttons
        {
            clear: both;
            margin-left: 110px;
            padding-top: 10px;
        }

        &.nophoto
        {
            .photoContainer
            {
                .placeholder
                {
                    display: block;
                    height: 200px;
                    width: 200px;
                    padding: 90px 0 0 0;
                    border: 1px solid $TPGrey11;
                    background-color: $TPGrey1;
                    text-align:center;
                    font-family:$fontFamilyRegular;
                    font-size:$fontSizeSmall;
                }

                img
                {
                    display: none;
                }
            }

            .removePhoto
            {
                display: none;
            }
        }

    }

    .accountSettings
    {
        // margin: 10px 0 5px 0;
    }

    .textCopy
    {
        text-align: left;
    }

    .checkBoxRow
    {
        max-width: 350px;
        width: 350px;
        text-align: left;
        margin-left: 108px;
    }

    .deliveryTimeHelpText
    {
        margin-bottom: 10px;
    }

    .nopaymentText
    {
        margin-left: 5px;
    }

    .ical
    {
        width: 270px;
    }

    .selectboxit-container .selectboxit 
    {
        width: 295px !important;
    }

    .selectBox
    {
        position: relative;
        float: left;
        width: 200px;
    }

    .country, .timeZone, .state
    {
        .selectboxit-container .selectboxit 
        {
            width: 295px !important;
        }
    }

    .selectboxit-list
    {
        max-height: 350px;
        @include nice-scrollbar;
    }

}

.tabbedLayoutFooter {
    height: 50px;
    background-color: $TPGrey1;
    border-top:1px solid $TPGrey2;

    .userSettingsButtons
    {
        margin: 14px 20px;
        float: right;
    }
}

.zonesCalculator
{
 
    @include buttons(0, "auto", $fontSizeSmall);
    button
    {
        padding: 0 5px;
        margin-right: 8px;
        min-width: 77px;
    }   

    li
    {
        list-style-type: none;
        padding-left: 5px;

        &.selected
        {
            background-color: $TPGrey1; 
        }        
    }

    .input
    {
        &.disabled
        {
            display: none;
        } 
    }

    h3
    {
        font-family:$fontFamilyHeavy;
        font-weight:normal;
        font-size:$fontSizeMedium;
        color:$TPGrey8;
        line-height:normal;
        margin:0;
        margin-bottom:12px;
    }

    .buttons
    {
        margin-top: 12px;
    }

    .zoneSetContain {
        border:1px solid $TPGrey1;
        padding:10px;
        margin-bottom:10px;
        margin-top:12px;

        label {
            margin-bottom: 10px;
            clear: left;
          
            input[type="radio"] {
                margin: 0px;
                margin-right: 5px;
            }

            &.float {
                clear: none;
                float:left;
                margin-right: 10px;
            }

        }

        form {
            margin:0;
        }

        .zoneSetTitle {
            display:inline-block;
            min-width:120px;
            font-family:$fontFamilyHeavy;
            margin-right: 10px;
        }

        div.testDistance
        {
            display: inline-block;
        }
    }

    .zones
    {
        div
        {
            margin-bottom: 10px;
        }
    }

    .userSettingsButtons
    {
        button[disabled]
        {
            display: none;
        }
    }
}
