@import "tpstylesheet";

#calendarWrapper
{
    @include outerRow();
	background-color: white;
}

#calendarContainer
{

    @include column(15);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    //margin-left: 45px;
	padding: 0 2px;
	background-color: white;

    @include calc(width, "100% - 45px"); 

    .scrollable
    {
        overflow-y: scroll;
        @include nice-scrollbar;
    }

    .week
    {
        @include outerRow();
		background-color: $TPGrey1;
    }

    .day
    {
        @include column(2);
        min-height:150px;
		background-color: $TPGrey1;
        padding: 0px 0px 5px;

        overflow-x: hidden;
        overflow-y: visible;

        &.selected
        {
            background-color: $selectedDay;
        }
    }

	.daySelected
	{
		display: none;
		background-color: white;
		left: 0px;
		right: 0px;
		height: 100%;
		position: absolute;
		opacity: .35;
	}

	.weekSelected
	{
		display: none;
		background-color: white;
		left: 0px;
		right: 0px;
		height: 100%;
		position: absolute;
		opacity: .35;
		z-index: 99;
	}

	.dayHeader 
	{
		background-color: $TPGrey2;
		width: 100%;
		height: 27px;
		margin-bottom: 2px;
		border-bottom: 1px;
		border-bottom-color: #000000;
		border-bottom-style: solid;
		padding-left: 5px;


		#calendarDate
		{
			font-Family: $navigationFontFamilyRegular;
			font-size: $fontSizeMedium;
			color: $TPGrey4;
			text-align: right;
			float:left;
			margin: 0px;
			padding-top: 2px;
		}

		.daySettings
        {
            display: none;
            float: right;
			padding: 2px 5px 0px 0px;
            button
            {	
                background: transparent;
                border: none;
                padding: 0px;
                width: 15px;
				cursor: pointer;
                        
            }
        }
	}

	.thisWeek
	{
		.dayHeader
		{
			background-color: $thisWeekBlue;
		}

		.today
        {
		    .dayHeader
		    {
                background-color: $todayBlue;
        	}
	    }
		.summaryHeader
		{
			background-color: #206193;
			#calendarDate{color: white;}
		}
	}

	.summaryHeader
	{
		background-color: $TPGrey3;
		#calendarDate{color: white;}
	}

    .daysOfWeek
    {
        @include outerRow();
        @include calc(width, "100%"); 
		background-color: $TPGrey1;
		height: 27px;
		padding-top: 7px;
		padding-right: 12px;
		//margin-left: -8px;
        margin-left: 0px;
        //margin-right:12px;
		border: $TPGrey2;
		border-style: solid;
		border-width: 1px;
		position: relative;
		z-index: 1;

        div
        {
                @include column(2);
                padding-bottom: 0px;
                padding-left: 5px;
                padding-right: 0px;
                font-Family: $navigationFontFamilyLight;
                color: $TPGrey4;
                text-align: left;
                height: 15px;
                //margin-left: -1px;
                
        }
    }
    
.scrollInProgress
{
    @include single-transition(all, 200ms, ease-out);
    @include box-shadow(0px 3px 8px -4px $TPGrey3);
}
}

body.clipboardEmpty
{
    .paste
    {
        color:$TPGrey2;
    }
}

body.pasteDisabled
{
    .paste
    {
        color:$TPGrey2;
    }
}

body.clipboardFull
{
    .paste
    {
        //color:green;
    }
}

#selectedRangeSettingsDiv
{
    .colored
    {
        background-color: $selectedDay;
    }
}
