@import "tpstylesheet";
@import "workoutColor";

#calendarWrapper
{
    @include outerRow();
	background-color: $TPGrey1;
}

#calendarContainer
{

    @include column(15);
     
    #libraryContainer.open + &
    {
        width:80%;
        @include transition-property(width);
        @include transition-duration(400ms);
        padding-left:0px;
    }

    #libraryContainer.closed + &
    {

        @include calc(width, "100% - 50px"); 
        @include transition-property(width);
        @include transition-duration(400ms);
    }

    .scrollable
    {
        overflow-y: scroll;
        @include nice-scrollbar;
    }

    .week
    {
        @include outerRow();
		background-color: $white;
    }

    .day
    {
        @include column(2);
        min-height:150px;
		background-color: $white;
        padding: 0px 0px 5px;

        overflow-x: hidden;
        overflow-y: visible;

        .workout
        {
			margin-left: 2px;
			margin-right: 2px;
			margin-bottom: 4px;
			@include box-shadow(2px 0px 3px $TPGrey4);

			.workoutDiv
			{
				min-height: 35px;
				border-bottom: black;
				border-bottom-width: 1px;
				border-bottom-style: solid;

				.workoutHeader
				{
					padding: 0px 5px 5px 5px;
					height: 27px;
					.workoutIcon
					{
						width: 25px;
						height: 25px;
						background-color: $white;
						float: left;
						margin-top: 5px;
					}

					.workoutDistanceTime
					{
						padding: 10px 0px 0px 30px;

						@include labels($navigationFontFamilyRegular, 17px, $TPGrey4);
					}

					.workoutSettings
					{
						display: none;
						float: right;
						button
						{	
							background: transparent;
							border: none;
							padding: 0px;
							width: 15px;
							
						}
					}
				}
				.workoutBody
				{
					padding: 10px 5px 5px 5px;
					@include labels($navigationFontFamilyRegular, 10px, $black);
					label{font-weight: bold;}
					
					p
					{
						margin-bottom: 0px;
						font-size: 10px;
						font-color: $black;
						font-family: $navigationFontFamilyRegular;
						text-align: left;
					}
				}
			}
        }
    }

	.dayHeader
	{
		background-color: $TPGrey2;
		width: 100%;
		height: 27px;
		margin-bottom: 2px;
		border-bottom: 1px;
		border-bottom-color: #000000;
		border-bottom-style: solid;
		padding-left: 5px;


		#calendarDate
		{
			font-Family: $navigationFontFamilyRegular;
			font-size: $navigationFontSize;
			color: $TPGrey4;
			text-align: right;
			float:left;
			margin: 0px;
		}
	}

	.thisWeek
	{
		.dayHeader
		{
			background-color: $thisWeekBlue;
		}

		.today
        {
            background-color: $white;
    	    p{color: $TPGrey1;}

		    .dayHeader
		    {
                background-color: $todayBlue;
        	}
	    }
	}

    .daysOfWeek
    {
        @include outerRow();
		height: 27px;
		padding-top: 7px;

        div
		{
            @include column(2);
			padding-bottom: 0px;
			font-Family: $navigationFontFamilyLight;
			font-size: 12;
			color: $TPGrey4;
			text-align: center;
			height: 15px;
		}
    }

}

#workoutQuickView
{
	display:none;
}

#workoutHoverDiv
{
    z-index:99;
    position:absolute;

    .details
    {
        font-size:16px;
        min-width: 120px;

        @include labels($navigationFontFamilyRegular, 12px, $TPGrey4);

        label
        {
            font-weight:0.8;
            margin-top:10px;
            margin-bottom:2px;
        }

        .planned
        {
            color: $todayBlue ;
        }

        .completed
        {
            color: $thisWeekBlue;
        }

    }

}

#workoutSettingsDiv
{
    z-index:99;
    position:absolute;
    min-width: 75px;
	padding-left: 10px;
	padding-bottom: 10px;

	@include labels($navigationFontFamilyRegular, 12px, $TPGrey4);
	label
	{
		padding-top: 2px;
	}

	.arrow
    {
        width: 15px;
        height: 15px;
        @include transform(translateY(-7px) rotate(45deg));
        @include calc(margin-left, "50% - 20");
    }

	.colorBar
    {
        bottom: 15px;
    }

	.bottomShadow
    {
        bottom: 14px;
    }

}
