@import "tpstylesheet";

#calendarWrapper
{
    @include outerRow();
	background-color: $TPGrey1;
}

#calendarContainer
{

    @include column(15);
     
    #libraryContainer.open + &
    {
        width:75%;
        @include transition-property(width);
        @include transition-duration(400ms);
        padding-left:0px;
    }

    #libraryContainer.closed + &
    {
        width:97%;
        @include transition-property(width);
        @include transition-duration(400ms);
        //@include calc(width, "100% - 50px"); 
    }

    .scrollable
    {
        overflow-y: scroll;
        @include nice-scrollbar;
    }

    .week
    {
        @include outerRow();
		background-color: $white;
    }

    .day
    {
        @include column(2);
        min-height:150px;
		background-color: $white;
        padding: 0px 0px 5px;

        overflow-x: hidden;
        overflow-y: visible;

    }

	.dayHeader
	{
		background-color: $TPGrey2;
		width: 100%;
		height: 27px;
		margin-bottom: 2px;
		border-bottom: 1px;
		border-bottom-color: #000000;
		border-bottom-style: solid;
		padding-left: 5px;


		#calendarDate
		{
			font-Family: $navigationFontFamilyRegular;
			font-size: $navigationFontSize;
			color: $TPGrey4;
			text-align: right;
			float:left;
			margin: 0px;
		}
	}

	.thisWeek
	{
		.dayHeader
		{
			background-color: $thisWeekBlue;
		}

		.today
        {
		    .dayHeader
		    {
                background-color: $todayBlue;
        	}
	    }
	}

    .daysOfWeek
    {
        @include outerRow();
        @include calc(width, "100% - 12px"); 
		height: 27px;
		padding-top: 7px;
		//margin-left: -8px;
        margin-left: 0px;
        margin-right:12px;


        div
		{
            @include column(2);
			padding-bottom: 0px;
            padding-left: 5px;
            padding-right: 0px;
			font-Family: $navigationFontFamilyLight;
			font-size: 12;
			color: $TPGrey4;
			text-align: left;
			height: 15px;
			//margin-left: -1px;
		}

    }

}
