@import "tpstylesheet";

.dialog 
{
    text-align: center;
    min-width: 400px;
    font-family: $navigationFontFamilyRegular;
    @include buttons(0px, 60px, $fontSizeMedium);


    button
    {
        margin-right: 1em;
        font-size: $fontSizeSmall;
        font-weight: $fontWeightMedium;
        color: $TPGrey3;

        &:last
        {
            margin-right:0px;
        }
    }

    .titleBar
    {
        text-align: left;
        min-height: 28px;
        padding: 8px;
        padding-left:16px;
        background-color: #eaebec;
        @include box-shadow(0px 3px 8px -3px $TPGrey4);
        position: relative; 
        z-index: 99;
        font-size: $fontSizeSmall;
        font-weight: $fontWeightMedium;
        color: $TPGrey3;
    }
}

.dialogHeader
{
    font-weight: $fontWeightMedium;
    color: $TPGrey4;
    text-align: left;
}

.dialogContent
{
    min-height: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    @include filter-gradient(#ffffff, #dedcde, horizontal);
    @include background-image(radial-gradient(center, ellipse cover,  #ffffff 0%,#dedcde 100%));

    line-height: 1.5em;
    font-weight: $fontWeightMedium;
    color: $TPGrey4;

}