@import "globalCSS/tpstylesheet";

.elevationCorrectionContainer
{
    width: 800px;
    height: 475px;
    @include filter-gradient(#ffffff, #dedcde, horizontal);
    @include background-image(radial-gradient(center, ellipse cover,  #eaebec 0%,#dedcde 100%));

    .titleBar
    {
        text-align: left;
        min-height: 28px;
        padding: 7px 0px 0px 16px;
        background-color: $TPGrey1;
        @include box-shadow(2px 0px 7px 0px $TPGrey4);
        position: relative; 
        z-index: 99;
        cursor: default;

        span
        {
            font-size: $fontSizeSmall;
            font-family: $fontFamilyRegular;
            color: $TPGrey3;
        }

        .close
        {
            float: right;
            padding-right: 10px;
            margin-top: -2px;

            img
            {
                cursor: pointer;
            }
        }
    }

    .elevationGraph
    {
        width: 490px;
        margin: 27px 0 0 20px;
        float: left;
    }

    .elevationStats
    {
        float: right;
        width: 265px;
        margin-top: 100px;

        .statsHeader
        {
            padding-left: 64px;
            padding-bottom: 7px;
            
            span
            {
                padding-right: 20px;
                font-size: $fontSizeXSmall;
                font-family: $fontFamilyHeavy;
            }

            .original
            {
                padding-left: 6px;
            }

            .corrected
            {
                padding-left: 10px;
            }
        }

        .stats
        {
            float: left;
            min-width: 200px;
            padding: 0px 0 0px 0;

            div
            {
                float: left;
                min-width: 70px;
                padding: 8px 10px 0 0;
                text-align: center;
                height: 30px;
                margin-right: 2px;
            }
            .statsLabel
            {
                text-align: right;
                margin-right: 10px;
                padding: 0px;
                min-width: 50px;
                font-size: $fontSizeXSmall;
                font-family: $fontFamilyRegular;
                padding-top: 7px;
                
            }

            .units
            {
                min-width: 15px;
                padding-left: 5px;
                font-size: $fontSizeXSmall;
                font-family: $fontFamilyRegular;
            } 

            .original
            {
                color: #fbb12b;
                background-color: $TPGrey1;
            }

            .corrected
            {
                color: #fa3b3b;
                padding-left: 17px;
                background-color: $TPGrey1;
            }
        }
    }

    .buttons
    {
        width: 180px;
        float: right;
        margin: 20px 32px 0 0;
        
        button
        {
            width: 77px;
            font-size: $fontSizeSmall;
        }
    }
}