@import "globalCSS/tpstylesheet";

.elevationCorrectionContainer
{
    width: 810px;
    @include filter-gradient(#ffffff, #dedcde, horizontal);
    @include background-image(radial-gradient(center, ellipse cover,  #eaebec 0%,#dedcde 100%));
    overflow:hidden;

    .titleBar
    {
        text-align: left;
        min-height: 28px;
        background-color: $TPGrey1;
        @include box-shadow(2px 0px 7px 0px $TPGrey4);
        position: relative; 
        z-index: 99;
        cursor: default;
    }

    .elevationGraph
    {
        width: 500px;
        height:235px;
        margin: 40px 0 0 40px;
        float: left;
        
        &.waiting:before {
            // z-index:107;
            background-position:right;
            right:-185px;
            top: 0px;
            left: auto;
        }
    }

    .elevationStats
    {
        float: right;
        width: 265px;
        margin: 40px 0 0 0;

        .statsHeader
        {
            padding-left: 60px;
            padding-bottom: 7px;
            
            span
            {
                padding-right: 20px;
                font-size: $fontSizeXSmall;
                font-family: $fontFamilyHeavy;
            }

            .original
            {
                // padding-left: 6px;
                display:inline-block;
                width:70px;
                text-align:center;
                padding:0;
                margin:0;
            }

            .corrected
            {
                // padding-left: 10px;
                display:inline-block;
                width:70px;
                text-align:center;
                padding:0;
                margin:0 0 0 2px;
            }
        }

        .stats
        {
            float: left;
            min-width: 200px;
            padding: 0;

            div
            {
                float: left;
                min-width: 70px;
                padding: 10px 0 0 0;
                text-align: center;
                height: 30px;
                margin-right: 2px;

            }
            .statsLabel
            {
                text-align: right;
                margin-right: 10px;
                padding: 11px 0 0 0;
                min-width: 50px;
                font-size: $fontSizeXSmall;
                font-family: $fontFamilyRegular;
                
            }

            .units
            {
                min-width: 15px;
                padding: 11px 0 0 5px;
                font-size: $fontSizeXSmall;
                font-family: $fontFamilyRegular;
            } 

            .original
            {
                color: $clrElevOriginal;
                background-color: $TPGrey1;
            }

            .corrected
            {
                color: $clrElevCorrected;
                // padding-left: 17px;
                background-color: $TPGrey1;
            }
        }
    }

    .buttons {
        text-align:center;
        width: 100%;
        margin:19px 16px 40px 0;
        
        button {
            width: 77px;
            font-size: $fontSizeSmall;
            margin-right: 8px;
            &:last-of-type {
                margin-right:0;
            }
        }
    }
}

#flotTip {
    .details {    
        &.elevationcorrection {
            p {
                margin:0;
                padding:0;
            }
            
            .title {
                text-align:right;
                font-size: $fontSizeSmall;
                min-width:60px;
                // border:1px solid green;
                display:inline-block;
            }

            .value {
                // border:1px solid red;
                width:auto;
                min-width:25px;
                font-family: $fontFamilyRegular;
                font-size: $fontSizeSmall;  
            }
            
            .units {
                // border:1px solid blue;
                min-width:10px !important;
            }

            .Original.current
            {
                label
                {
                    color: $clrElevOriginal;
                 }
            }

            .Corrected.current
            {
                label
                {
                    color: $clrElevCorrected;
                 }
            }
        }
    }
}