@import "tpstylesheet";

#userControlsContainer
{
	height: 35px;
	background-color: $black;

	.row
	{
		width: 100%;
	}

	.personHeaderLogo
	{
		float: left;
		min-width: 375px;
		padding-left: 80px;
		position:absolute;
		z-index: 99;
	}

    .headerShadow
    {
        height: 17px;
    }

	.rightNavigation
	{
		float: right;
		padding-right: 12px;

		.headerPipe
		{
			float: left;
			height: 30px;
			padding: 10px 10px 0px 10px;
			font-size: $fontSizeMedium;
			color: $TPGrey2;
            cursor: default;

		}

		.personHeaderButtons
		{
			padding: 12px 0px 0px 10px;
			margin: 0px 0px 0px -10px;
			height: 35px;
			text-align: center;
			//&:hover { background-color: $TPBlue; }
			float:left;
			@include labels($navigationFontFamilyRegular, $fontSizeSmall, $TPGrey2, normal);

		}

		.headerRollOver
		{
            cursor: pointer;

			&:hover label
			{
				color: $white;
                cursor: pointer;
			}
		}

		.upgradeButton
		{
			margin: 0px 0px 0px 10px;
			padding: 12px 25px 0px 25px;
			@include linearGradient(bottom, rgb(34,97,143), rgba(59,125,193, 1)); 
			cursor: pointer;
			label
			{
				color: $white;
				cursor: pointer;
                font-size: $fontSizeSmall;
                font-family: $navigationFontFamilyRegular;
			}
		}

		.personHeaderMailIcon
		{
			padding-top: 12px;
			padding-right: 13px;
			&:hover{cursor: pointer;}
			float:left;
		}
	}
}

#navigationContainer
{
	height: 65px;
	background-color: $white;

	.row
	{
		width: 100%;
	}

	.appNavigation
	{
		span
		{
			float: left;
			height: 20px;
			text-align: center;
			&:hover label{color: $TPBlue; }
			&:hover label{border-bottom-style:solid; border-bottom-width:2px; border-color:$TPBlue;}
			
		}

		@include labels($navigationFontFamilyRegular, $fontSizeMedium, $TPGrey4, normal);
		label
		{
			padding: 0px 7px 7px 7px;
		}	
	}
}

#calendarHeader
{
	height: 60px;
	float:left;
	background-color: $white;
	.calendarMonthLabel
	{
		width: 265px;
		float: left;
		padding-left: 65px;
		padding-top: 13px;
		@include labels($navigationFontFamilyRegular, $fontSizeHeader, $TPBlue, normal);
		label
		{
			float: left;
			padding-right: 10px;
			
		}
		.headerYear
		{
			font-family: $navigationFontFamilyLight;
		}
	}

	.navigation
	{
		float:left;
		padding-top: 12px;
		
		@include headerButtons(0px, 35px, $fontSizeMedium);

		.calendarNavigation
		{
			float:left;
			padding-right: 8px;
			padding-top: 3px;
			@include headerButtons(0px, 35px, 12px);
			
		}

		.today
		{
			float:left;
			padding-top: 3px;
			@include headerButtons(0px, 71px, 12px);
		}

		.printRefreshButtons
		{
			float:left;
			padding-top: 3px;
			@include headerButtons(20px, 40px, $fontSizeMedium);
			margin-left: -12px;
            button
            {
                img
                {
                    margin-top: -2px;
                }
            }
			.refreshButton
			{
				margin-left: 8px;
			}
			.settingsButton
			{
				margin-left: 8px;
			}
		}
	}

}

.mainNavigationButtons
{
	padding-left: 6px;
	padding-right: 6px;
}

#loginHeader, #calendarHeader
{
    span
    {
        font-family: $navigationFontFamilyRegular;
        font-size: $fontSizeHeader;
    }
}