@import "globalCSS/tpstylesheet";

@mixin libraryTile()
{
    background-color: $TPGrey6;
    border-color: $TPGrey6;
    width: 238px;
    border-style: solid;
    border-width: 1px;
    color: $TPGrey3;
    position: relative;

    &:hover
    {
        border-color:  $TPGrey11;
        cursor:pointer;
    }

    .selectedOverlay
    {
        @include selectedOverlay();
    }

    &.selected
    {
        .selectedOverlay
        {
            display: block;
        }
    }
}


#libraryContainer
{

    margin-top:0px;
    @include grid-column(1);
    padding: 0 0 0 5px;
    width: 40px;

    #libraries
    {
        @include grid-row();
        min-width: 45px;
        position:relative;
        background-color:$TPGrey1;
    }

    &.open
    {
        padding-right:2px;

        #activeLibraryContainer
        {
            visibility:visible;
        }
    }

    &.closed
    {
        text-align:right;

        #libraries
        {
            background-color:$TPGrey1;
        }

    }

    #tabs
    {
        position:absolute;
        left:0px;
        top:0px;
        background-color: white;
        width:40px;

        div
        {
            width: 33px;
            height:33px;
            color: $white;
            background-color: $TPGrey1;
            margin-bottom: 3px;
            cursor: pointer;

            .arrow
            {
                position:relative;
                display:none;
                z-index: 0;
                width: 20px;
                height: 20px;
                background-color: $TPBlue;
                left: 35px;
                @include transform(translateY(8px) rotate(45deg));
            }
        }

        #exerciseLibrary {
            background: $TPGrey1 no-repeat 0 0;
            @extend %mainTabSpriteBG;
            &:hover {
                background-position: -33px 0;
            }

            &:active {
                background-color: $TPGrey2;
                background-position: -66px 0;
            }

			&.active {
                background-color: $TPGrey2;
                background-position: -66px 0;
            }
        }
        #plansLibrary {
            background: $TPGrey1 no-repeat 0 -66px;
            @extend %mainTabSpriteBG;
            &:hover {
                background-position: -33px -66px;
            }

            &:active {
               background-color: $TPGrey2;
               background-position: -66px -66px;
            }

			&.active {
               background-color: $TPGrey2;
               background-position: -66px -66px;
            }
        }

        #chartsLibrary {
            background: $TPGrey1 no-repeat 0 0;
            @extend %dashboardTabSpriteBG;
            &:hover {
                background-position: -33px 0;
            }

            &:active {
               background-color: $TPGrey2;
               background-position: -66px 0;
            }

            &.active {
               background-color: $TPGrey2;
               background-position: -66px 0;
            }
        }




        .unimplementedLibrary {
            background-color: $TPGrey1;
            display:none;

            &:hover
            {
                border: 1px solid $TPGrey2;
            }

            &:active
            {
               background-color: $TPGrey2;
            }

			&.active
            {
               background-color: $TPGrey2;
            }
        }

        div.active
        {
            .arrow
            {
                display: block;
            }
        }
    }

    .activeLibraryTopBorder {
        border-top:1px solid  $TPGrey2;
        position:absolute;
        left:40px;
        width:264px;
        z-index: 1;
    }

    #activeLibraryContainer
    {

        @include nice-scrollbar;
        &::-webkit-scrollbar-track
        {
            box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.2) 0 0px 1px 1px inset;
        }
        position:absolute;
        top:0px;
        bottom:0px;
        left: 37px;
        right: 0px;
        overflow-y: scroll;
        padding: 5px;
        padding-top: 10px;
        @include calc(width, "100% - 36px");
        white-space: nowrap;

        background-color: $TPGrey1;
        border-left: 3px solid $TPBlue;

        .libraryNavigation {
            width:241px;

            @include labels($fontFamilyRegular, $fontSizeMedium, $TPBlue, normal);

            label {
                margin: 2px 15px 0 2px;
                float:left;
                text-align:left;
            }

            @include headerButtons(0px, 38px, $fontSizeMedium);

            .settingsBtn {
                background: no-repeat 0 -60px;
                @extend %spriteHeaderIconsBG;
                &:hover { background-position: -36px -60px; }
                &:active { background-position: -72px -60px; }
                margin-right:2px;
            }

            #add {
                background: no-repeat 0 -100px;
                @extend %spriteHeaderIconsBG;
                &:hover {
                    background-position: -36px -100px;
                }
                &:active {
                    background-position: -72px -100px;
                }
            }

            button {
                float: right;
                margin-left: 7px;
            }
        }

        .librarySearch
        {
            margin-top: 10px;
            @include inputs(238px, 22px, $fontSizeSmall, $fontFamilyRegular);

            input
            {
                margin-bottom: 5px;
                color: $TPGrey3;
                padding-left: 5px;
                margin-left: 2px;
            }

        }

        .helpText
        {

            color: $TPGrey3;
            cursor: default;
            font-size: $fontSizeSmall;
            text-align:left;

            p {
                margin:5px 7px 15px 9px;
            }
        }
    }

    select 
    {
        width: 238px;
        margin-left: 2px;
    }

}


.exercisesContainer {
    float:left;
}


#exerciseLibraryAddItemView
{

    background-color: $TPGrey4;
    opacity: 0.9;
    padding: 50px;

    div
    {
        margin-top:10px;
    }

    @include buttons(0, 77px, $fontSizeSmall);

}


.libraryExercise.workout.future
{
    @include libraryTile();

    .workoutDiv
    {
        .workoutDistanceTime
        {
            padding-top: 10px;

            label
            {
                color: $TPGrey3;
                display:inline-block;
                float:left;
                cursor: inherit;
                font-size: $fontSizeLarge;
                margin-right: 4px;
                margin-left: 6px;
                margin-bottom:0;
                text-align:left;
                width:auto;

                &:first-of-type {
                    margin-left:1px;
                }
            }
        }

        .workoutBody
        {
            label
            {
                text-align:left;
                color: $TPGrey3;
                line-height:normal;
            }
        }
    }
}

.trainingPlanLibrary, .dragging-training-plan
{
    .trainingPlan
    {
        @include libraryTile();
        margin: 5px 4px 4px 2px;

        .planDetails {
            height: 50px;
            padding: 3px;
            white-space: normal;

            .planIconTitle {
                margin-bottom:4px;

                .trainingPlansIcon {
                    background: $TPGrey1 no-repeat 0 0;
                    @extend %troughIconSpriteBG;
                    background-color: $TPGrey2;
                    width: 24px;
                    height: 24px;
                    float: left;
                }

                .planTitleContain {
                    height:24px;

                    // For vertical centering
                    display: table;

                    h3 {
                        font-size: $fontSizeXSmall;
                        font-family: $fontFamilyHeavy;
                        font-weight:normal;
                        color:$TPGrey4;
                        line-height:normal;
                        padding-left:5px;

                        //prevents text from jumping to right align when closing libary
                        text-align:left;

                        // for vertical centering
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }

            // Author and Duration
            p {
                font-size: $fontSizeXSmall;
                color:$TPGrey10;
                margin:0 0 0 3px;
                padding:0;

                max-width:228px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                // prevents jump when library is closed
                text-align:left;
            }

        }
    }

    .librarySearch {
        margin-top:16px !important;
    }
}

.applyTrainingPlanToCalendarConfirmation
{
    .date_restrictions
    {
        margin: 15px 0;
    }

}


#activeLibraryContainer
{
    .ui-droppable
    {
        height: 100%;
    }
}

.workoutDetails
{
    width: 310px;
    max-width: 310px;

    .hoverBox
    {
        .hoverBoxContents
        {
            padding-bottom: 12px;
        }
    }

    p, pre
    {
        font-family: inherit;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    button
    {
        font-size: 12px;
        width: 137px;
        &.delete
        {
            left: 8px;
        }
    }

    h3
    {
        padding-top: 12px;
    }

    h3:nth-child(n + 3)
    {
        border-top: solid 1px #cccccc;
        margin-top: 12px;
    }

    input
    {
        text-align: center;

        &.title
        {
            text-align: left; 
            font-size: 1em;
        }

        &[readonly]
        {
            border-color: $TPGrey1;
            &.title
            {
                border-color: transparent;
                padding: 0px;
            }
        }
    }

    .actions
    {
        padding-top: 16px;
        border-top: solid 1px #cccccc;
        margin-top: 10px;
    }

    .workoutStatsRow
    {
        @include grid-row();

        clear: both;
        height: 24px;

        .workoutStatsColumn
        {
            float:left;
            padding-right: 2px;
            label
            {
                text-align: right;
                width: 100px;
                padding-top: 5px;
                padding-right: 5px;

                &.ghosted
                {
                    color: $TPGrey7;
                }

            }

            @include labels($fontFamilyRegular, $fontSizeSmaller, $TPGrey3, normal);

            &.workoutStatsUnitLabel
            {
                label
                {
                    text-align: left;
                    width: 45px;
                    padding-top: 5px;
                    padding-left: 5px;
                }
            }

            input {
                height:22px;
            }
        }
    }
}