@import "tpstylesheet";

#libraryContainer
{

    margin-top:15px;

    #libraries
    {
        @include outerRow(); 
    }
             
    &.open
    {
        @include column(4);
        @include transition-property(width);
        @include transition-duration(400ms);

        #tabs
        {
            @include column(4);
        }

        #activeLibraryContainer
        {
            @include column(12);
            visibility:visible;
            @include transition-property(width);
            @include transition-property(visibility);
            @include transition-duration(400ms);
        }

    }

    &.closed
    {
        @include column(1);
        @include transition-property(width);
        @include transition-duration(400ms);

        #tabs
        {
            @include column(16);
        }

        #activeLibraryContainer
        {
            @include column(0);
            visibility:hidden;
            @include transition-property(width);
            @include transition-property(visibility);
            @include transition-duration(400ms);
        }
    }

    #tabs
    {
        float:left;

        div
        {
            width:50px;
            height:50px;
            color: $white;
            border:1px solid transparent;
            background-color: $TPGrey2;
        }

        div.active
        {
            background-color: $TPBlue;
        }
    }

    #activeLibraryContainer
    {
    }


}