@import "tpstylesheet";

@mixin headerButtons($marginLeft)
{
	button
	{
		min-width: 36px;
		min-height: 20px;
		float: left;
		font-family: $navigationFontFamilyRegular;
		font-size: $navigationFontSize;
		margin-left: $marginLeft;
	}
}

@mixin labels($fontFamily, $fontSize, $fontColor)
{
	label
	{
		font-family: $fontFamily;
		font-size: $fontSize;
		color: $fontColor;
	}
}

@mixin inputs($width, $height, $fontSize, $fontFamily) 
{
	input
	{
		width: $width;
		height: $height;
		font-size: $fontSize;
		font-family: $fontFamily
	}
}

@mixin workoutColorsByType()
{
     &.Run
    {
        background-color: $clrRun
    }
     &.Bike
    {
        background-color: $clrBike
    }
     &.Swim
    {
        background-color: $clrSwim
    }
}

@mixin workoutColorsByCompliance()
{
    &.ComplianceYellow
    {
        background-color: $clrComplianceYellow
    }

    &.ComplianceRed
    {
        background-color: $clrComplianceRed
    }

    &.ComplianceGreen
    {
        background-color: $clrComplianceGreen
    }
}

@mixin selectionBox($width)
{
	select
	{
		margin-top: 3px;
		height: 20px;
		width: $width;
		font-size: 12px;
		font-family: $navigationFontFamilyRegular;
	}
}