@import "tpstylesheet";

@mixin headerButtons($marginLeft, $button, $height)
{
	button
	{
		width: $button;
		height: $height;
		float: left;
		font-family: $navigationFontFamilyRegular;
		font-size: $navigationFontSize;
		margin-left: $marginLeft;
		color: $TPGrey4;

		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		border:1px solid $TPGrey2;
		display:inline-block;
		text-decoration:none;
	}
}

@mixin labels($fontFamily, $fontSize, $fontColor)
{
	label
	{
		font-family: $fontFamily;
		font-size: $fontSize;
		color: $fontColor;
	}
}

@mixin inputs($width, $height, $fontSize, $fontFamily) 
{
	input
	{
		width: $width;
		height: $height;
		font-size: $fontSize;
		font-family: $fontFamily;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

@mixin selectionBox($width)
{
	select
	{
		margin-top: 3px;
		height: 20px;
		width: $width;
		font-size: 12px;
		font-family: $navigationFontFamilyRegular;
	}
}

@mixin nice-scrollbar($size: 12px, $track-background: $TPGrey1, $thumb-color: $TPGrey3, $inactive-thumb-color: $TPGrey2)
{
    &::-webkit-scrollbar 
    {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-track
    {
        border-radius: $size / 2;
        background: $track-background;
        box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 1px 1px inset;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: $size / 2;
        background: $thumb-color;
        box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.7) 0 1px 7px 0px inset;
    }

    &::-webkit-scrollbar-thumb:window-inactive
    {
        border-radius: $size / 2;
        background: $thumb-color;
        box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.4) 0 1px 1px 1px inset;
    }
}

@mixin throbber($backgroundColor: $TPGrey1) {
    opacity:0.7;
    background-image: url(../../assets/images/throbber.gif);
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    height: 90%;
    width: 90%;
    top:5%;
    left:5%;
    content: ' ';
    display: block;
}

@mixin flexboxParent() {
    display: -webkit-box;
    -webkit-box-orient: horizontal;

    display: -moz-box;
    -moz-box-orient: horizontal;

    display: box;
    box-orient: horizontal;
}

@mixin flexboxChild() {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

@mixin transform($expression) {
    -ms-transform: #{$expression};
    -moz-transform: #{$expression};
    -webkit-transform: #{$expression};
    -o-transform: #{$expression};
}

@mixin linearGradient($position, $color1, $color2)
{
    background-image: -webkit-linear-gradient($position, $color1, $color2);
    background-image: -moz-linear-gradient($position, $color1, $color2);
    background-image: -ms-linear-gradient($position, $color1, $color2);
    background-image: linear-gradient($position, $color1, $color2);
}
