@import "tpstylesheet";

@mixin headerButtons($marginLeft)
{
	button
	{
		min-width: 36px;
		min-height: 20px;
		float: left;
		font-family: $navigationFontFamilyRegular;
		font-size: $navigationFontSize;
		margin-left: $marginLeft;
	}
}

@mixin labels($fontFamily, $fontSize, $fontColor)
{
	label
	{
		font-family: $fontFamily;
		font-size: $fontSize;
		color: $fontColor;
	}
}

@mixin inputs($width, $height, $fontSize, $fontFamily) 
{
	input
	{
		width: $width;
		height: $height;
		font-size: $fontSize;
		font-family: $fontFamily
	}
}

@mixin workoutColorsByType()
{
     &.Run
    {
        background-color: $clrRun
    }
}

@mixin workoutColorsByCompliance()
{
    &.ComplianceWarn 
    {
        background-color: $clrComplianceWarn
    }
}