@import "tpstylesheet";

.modalOverlay
{
    position:absolute;
    z-index:100;
    
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;

    background-color:transparent;
}

.modal
{
    position:absolute;
    z-index:101;
    top:100px;
    left:100px;
}

.modalOverlayMask
{
    background-color: $TPGrey4;
    opacity: 0.3;
}

.modalShadow
{
    @include box-shadow(5px 5px 4px 1px #888888);
}
