@import "tpstylesheet";

#newItemViewContainer
{
}

#newItemViewContainer
{
    .addItemHeader
    {
        color: $TPBlue;
        font-weight: bold;
        background-color: $white;
        padding: 20px 20px 10px 20px;
    }

    .addItemButtonsContainer
    {
        background-color: $TPGrey1;
        padding: 10px 20px 20px 30px;

        table
        {
            border: 0;
            border-collapse: collapse;

            tr
            {
                background-color: $TPGrey1;

                td
                {
                    margin: 0 0 0 0;
                    padding: 5px 5px 5px 5px;
                    border: 0 0 0 0;
                    cell-spacing: 0 0 0 0;
                }
            }
        }

        @include headerButtons(0px, 50px, 20px, $navigationFontSize);

        button
        {
            width: 100px;
        }

        button[name="uploadDeviceFile"]
        {
            width: 150px;
        }
    }

    .addItemSectionHeader
    {
        color: $TPBlue;
        font-weight: bold;
    }
}