@import "tpstylesheet";

#newItemViewContainer
{
    .titleBar
    {
        .close
        {
            float: right;

            img
            {
                cursor: pointer;
            }
        }
    }

    .addItemButtonsContainer
    {
        padding: 10px 20px 20px 30px;
        font-weight: normal;

        fieldset 
        {
            border: solid 1px $TPGrey2;
            border-radius: 0px;
        }

        legend
        {
            font-weight: normal;
            background-color: transparent;
            padding-left: 15px;
            font-style: italic;
        }

        table
        {
            border: 0;
            border-collapse: collapse;
            background-color: transparent;

            tr
            {
            background-color: transparent;

                td
                {
                    margin: 0 0 0 0;
                    padding: 5px 5px 5px 5px;
                    border: 0px 0px 0px 0px;
                    cell-spacing: 0px 0px 0px 0px;
                    background-color: transparent;
                }
                .dialogHeader
                {
                    padding-bottom: 0px;
                }
            }
        }

        @include headerButtons(0px, 50px, $fontSizeMedium);

        button
        {
            font-weight:normal;
            margin-right: 0px;
            color: $TPGrey3;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            min-width: 110px;
            padding-top: 0px;
        }

        button[name="uploadDeviceFile"]
        {
            width: 150px;
            margin-right: 1em;
        }

        button[name="chooseMetricBtn"]
        {
            width: 200px;
            margin-right: 1em;
        }
    }

    .addItemSectionHeader
    {
        color: $TPBlue;
        font-weight: bold;
    }

    .helpText
    {
        font-style: italic;
        font-color: #3c7fc4;
        font-size: $fontSizeSmall;
    }
}

#uploadingNotification 
{
    padding-left: 10px;
}