@import "tpstylesheet";

.ui-dialog-titlebar
{
    display:none;
}

#thumbNailImage
{
	float: left;
	padding-right: 10px;
}

.forwardBackbuttons
{
	float:left;
	padding-right: 15px;
	@include headerButtons(-5px);
}

.workoutTitleDiv
{
	input
	{
		width: 400px;
		height: 50px;
		font-family: $navigationFontFamilyRegular;
		font-size: 30px;
		color: $TPBlue;
		border-style:none;
	}
}

#workoutHeaderStats
{
	float: left;
	.headerWorkoutValue
	{
		@include labels($navigationFontFamilyRegular, 24, $TPGrey4);
		width: 20px;

	}

	.headerWorkoutValuelabel
	{
		width: 20px;
		@include labels($navigationFontFamilyRegular, 18, $TPGrey4);
	}
}
