@import "tpstylesheet";

#workOutQuickView
{
	overflow:hidden;
    width: 690px;
    height: 530px;
}

.QVHeader
{
	width: 100%;
	height: 125px;
	background-color: $TPGrey1;
    padding: 15px 0px 0px 18px;
    @include box-shadow(2px 0px 7px 0px $TPGrey3);
    position: relative;

    .dateAndTime
    {
        float: left;
        
        #dayName
        {
            font-family: $navigationFontFamilyRegular;
            font-size:$fontSizeMedium;
            color: $TPGrey3;
            padding-right: 14px;
            text-transform:uppercase;
        }

        #calendarDate
        {
            font-family: $navigationFontFamilyRegular;
            font-size:$fontSizeSmall;
            color: $TPGrey3;
            padding-right: 14px;
        }

        input#startTimeInput
        {
            font-family: $navigationFontFamilyRegular;
            font-size:$fontSizeSmall;
            color: $TPGrey3;
            font-style: italic;
            width: 200px;
            display: inline-block;
            outline: none;
            @include box-shadow(none);
            border: none;
        }
    }

    .closeAndSettings
    {
        float: right;
        margin: -10px 5px 0px 0px;
        span
        {
            padding-left: 5px;
        }
    }
  
    .grayHeader
    {
        width: 570px;
        height: 80px;
        padding: 5px 0px 5px 5px;
        background-color: $TPGrey2;
        float: left;

        @include box-shadow(0px 5px 6px -4px $TPGrey3);

        .workoutIcon
        {
            width: 70px;
            height: 70px;
            background-color: white;
            float: left;
        }

        .workoutHeaderStats
        {
            float: left;
            width: 490px;

            .headerIcons
            {
                float: right;
                margin-top: -7px;

                .icon
                {
                    float: left;
                    padding-right: 5px;
                }

                .addAttachment
                {
                    margin-top: -1px;
                }
        
            }

            .headerWorkoutValue
            {
                float: left;
                padding: 20px 0px 0px 20px;
                @include labels($navigationFontFamilyRegular, $fontSizeQVHeader, $TPGrey4, normal);
            }
            .headerWorkoutValueLabel
            {
                float: left;
                padding: 28px 0px 0px 0px;
                @include labels($navigationFontFamilyRegular, $fontSizeXXLarge, $TPGrey4, normal);
            }

            .title
            {
                padding-left: 15px;
                @include inputs(100%, 20px, $fontSizeLarge, $navigationFontFamilyRegular);
                input
                {
                    background:transparent;
                    outline: none;
                    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
                }
            }
        }
    }

    .uploadButton
    {
        width: 80px;
        height: 80px;
        float: left;
        @include box-shadow(0px 5px 6px -4px $TPGrey3);
        @include labels($navigationFontFamilyRegular, $fontSizeLarge, $TPGrey4, normal);
        margin-left: 10px;
        @include linearGradient(top, #fefefe, #e0dddd);
        text-align: center;
        padding-top: 30px;
    }
}

.quickViewContent
{
	height: 450px;
	overflow-y:scroll; 
	overflow-x:hidden;
    @include nice-scrollbar;
	background-color:  $TPGrey1;
    width: 100%;

	.stats
	{
		padding-left: 20px;
		padding-right: 40px;
		background-color: $TPGrey1;
		float: left;

		.selectionBox
		{
			padding-left: 85px;
			@include selectionBox(170px);
		}
	}
	.workoutStatsRow
	{
		@include innerRow();
	
		clear: both;

		.workoutStatsColumn
		{
			float:left;
			@include inputs(85px, 20px, 12px, $navigationFontFamilyRegular)
		}

	

		.workoutStatsColumnMinMaxAvg
		{
			float:left;
			@include inputs(56px, 20px, 12px, $navigationFontFamilyRegular)
		}

		label
		{
			text-align: right;
			width: 100px;
			padding-top: 5px;
			padding-right: 5px;
		}
	
		@include labels($navigationFontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);

		.workoutStatsUnitLabel
		{
			label
			{
				text-align: left;
				width: 45px;
				padding-top: 5px;
				padding-left: 5px;
			}
		}
	}

	.columnLabelsPlannedCompleted
	{
		padding-left: 105px;
		padding-top: 10px;
		width: 100%;
		height: 15px;
		background-color: $TPGrey1;

		@include labels($navigationFontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);
		label
		{
			float: left;
			width: 75px;
		}

	}

	.columnLabelsMinMaxAvg
	{
		padding-left: 105px;
		width: 100%;
		height: 15px;
		background-color: $TPGrey1;

		@include labels($navigationFontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);
		label
		{
			float: left;
			width: 56px;
		}

	}

	.comments
	{
		float: left;
		background-color: $TPGrey1;
		padding-top: 10px;
		@include labels($navigationFontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);
		min-width: 400px;
		max-width: 400px;
		height: 100%;

		#descriptionInput
		{
			width: 360px;
			min-height: 100px; 
			resize: vertical;
		}

		.activityComments
		{
			width: 360px;
			min-height: 65px;
			resize: vertical; 
		}
	}
}

.quickviewFooter
{
	height:50px;
	background-color: $TPGrey3;
	padding-top: 12px;

	.selectionBox
	{
		padding-left: 10px;
		width: 130px;
		float:left;
		@include selectionBox(130px);
	}

	.saveCloseButtons
	{
		float: right;
		width: 300px;
		padding-top: 5px;
		button
		{
			color:$white;
			font-family: $navigationFontFamilyRegular;
			font-size: $fontSizeSmall;
			width: 77px;
			height: 21px;
			background: url('../../../../assets/images/QVImages/buttonBackground77px.png') no-repeat;
			border: 0px;
		}
		#saveClose
		{
			width: 107px;
			background: url('../../../../assets/images/QVImages/buttonBackground107px.png') no-repeat;
		}
	}
}
