@mixin inlineBG($url)
{
    background-image: inline-image($url);
}

@mixin inlineRetinaBG($url, $scale: 2)
{
    background-image: inline-image($url);
    background-size: (image-width($url) / $scale) (image-height($url) / $scale);
}

// Workout Icons

%bikeNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/bike_neg_50.png"); }
%bikeNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/bike_neg_140.png"); }

%bikePositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/bike_pos_50.png"); }
%bikePositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/bike_pos_140.png"); }

%runNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/run_neg_50.png"); }
%runNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/run_neg_140.png"); }

%runPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/run_pos_50.png"); }
%runPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/run_pos_140.png"); }

%swimNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/swim_neg_50.png"); }
%swimNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/swim_neg_140.png"); }

%swimPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/swim_pos_50.png"); }
%swimPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/swim_pos_140.png"); }

%brickNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/brick_neg_50.png"); }
%brickNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/brick_neg_140.png"); }

%brickPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/brick_pos_50.png"); }
%brickPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/brick_pos_140.png"); }

%mtbNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/mtb_neg_50.png"); }
%mtbNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/mtb_neg_140.png"); }

%mtbPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/mtb_pos_50.png"); }
%mtbPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/mtb_pos_140.png"); }

%otherNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/other_neg_50.png"); }
%otherNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/other_neg_140.png"); }

%otherPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/other_pos_50.png"); }
%otherPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/other_pos_140.png"); }

%raceNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/race_neg_50.png"); }
%raceNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/race_neg_140.png"); }

%racePositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/race_pos_50.png"); }
%racePositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/race_pos_140.png"); }

%restNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/rest_neg_50.png"); }
%restNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/rest_neg_140.png"); }

%restPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/rest_pos_50.png"); }
%restPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/rest_pos_140.png"); }

%rowingNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/row_neg_50.png"); }
%rowingNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/row_neg_140.png"); }

%rowingPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/row_pos_50.png"); }
%rowingPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/row_pos_140.png"); }

%strengthNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/strength_neg_50.png"); }
%strengthNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/strength_neg_140.png"); }

%strengthPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/strength_pos_50.png"); }
%strengthPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/strength_pos_140.png"); }

%walkNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/walk_neg_50.png"); }
%walkNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/walk_neg_140.png"); }

%walkPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/walk_pos_50.png"); }
%walkPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/walk_pos_140.png"); }

%xc-skiNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/xc_ski_neg_50.png"); }
%xc-skiNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/xc_ski_neg_140.png"); }

%xc-skiPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/xc_ski_pos_50.png"); }
%xc-skiPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/xc_ski_pos_140.png"); }

%metricNegativeSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/metric_neg_50.png"); }
%metricNegativeLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/metric_neg_140.png"); }

%metricPositiveSmallBG { @include inlineBG("../../assets/images/sportTypeIcons/metric_pos_50.png"); }
%metricPositiveLargeBG { @include inlineBG("../../assets/images/sportTypeIcons/metric_pos_140.png"); }

// Expando/Quickview Icons

%resizeIndicatorBG { @include inlineBG("../../assets/images/QVImages/resize-indicator.png"); }
%backgroundGradientButtonBG { @include inlineBG("../../assets/images/calendarImages/background-gradient-button.png"); }
%expandoStatsShadowBG { @include inlineBG("../../assets/images/QVImages/expandoStatsShadow.png"); }
%spriteButtonsChartModalBG { @include inlineBG("../../assets/images/charts/sprite-buttons-chart-modal.png"); }
%spriteButtonsExpandoBG { @include inlineBG("../../assets/images/QVImages/sprite-buttons-expando.png"); }
%throbberExpandoButtonBG { @include inlineBG("../../assets/images/calendarImages/throbber-expando-button.gif"); }

// Map Graph

%mapIconStartBG { @include inlineBG("../../assets/images/leaflet/map-icon-start.png"); }
%mapIconFinishBG { @include inlineBG("../../assets/images/leaflet/map-icon-finish.png"); }
%spriteMapZoomBG { @include inlineBG("../../assets/images/leaflet/sprite-map-zoom.png"); }

// Sharing

%spriteShareIconsBG { @include inlineBG("../../assets/images/QVImages/sprite-share-icons.png"); }

// QV Tabs

%QVTabSpriteBG { @include inlineBG("../../assets/images/QVImages/sprite-icons-QV-Tabs.png"); }

// Hover Box

%spriteButtonsChartModal { @include inlineBG("../../assets/images/charts/sprite-buttons-chart-modal.png"); }

// Misc Icons

%spriteSelectBoxItBG { @include inlineBG("../../assets/images/QVImages/sprite-selectboxit.png"); }

%calendarPlusBG { @include inlineBG("../../assets/images/calendarImages/sprite-calendar-plus.png"); }

%messagesIconBG { @include inlineBG("../../assets/images/calendarImages/messagesIcon.png"); }
%tpLogoBG { @include inlineBG( "../../assets/images/tpLogo.png"); }

%mainTabSpriteBG { @include inlineBG("../../assets/images/sprite-icons-main-tabs.png"); }
%dashboardTabSpriteBG { @include inlineBG("../../assets/images/sprite-icons-dashboard-tabs.png"); }
%troughIconSpriteBG { @include inlineBG("../../assets/images/sprite-icons-trough.png"); }

%chartIconsSpriteBG { @include inlineBG("../../assets/images/charts/sprite-buttons-chart-modal.png"); }

%spriteHeaderIconsBG { @include inlineBG("../../assets/images/calendarImages/sprite-header-icons.png"); }

%spritePaperclipBG { @include inlineBG("../../assets/images/QVImages/sprite-paperclip.png"); }

%throbberBG { @include inlineBG("../../assets/images/throbber.gif"); }

// Retina

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
{

    // Expando Icons

    %resizeIndicatorBG { @include inlineRetinaBG("../../assets/images/QVImages/resize-indicator@2x.png"); }
    %spriteButtonsChartModalBG { @include inlineRetinaBG("../../assets/images/charts/sprite-buttons-chart-modal@2x.png"); }
    %throbberExpandoButtonBG { @include inlineRetinaBG("../../assets/images/calendarImages/throbber-expando-button@2x.gif"); }

    // Map Graph

    %mapIconStartBG { @include inlineRetinaBG("../../assets/images/leaflet/map-icon-start@2x.png"); }
    %mapIconFinishBG { @include inlineRetinaBG("../../assets/images/leaflet/map-icon-finish@2x.png"); }

    // Sharing

    %spriteShareIconsBG { @include inlineRetinaBG("../../assets/images/QVImages/sprite-share-icons@2x.png"); }

    // QV Tabs

    %QVTabSpriteBG { @include inlineRetinaBG("../../assets/images/QVImages/sprite-icons-QV-Tabs@2x.png"); }

    // Hover Box

    %spriteButtonsChartModal { @include inlineRetinaBG("../../assets/images/charts/sprite-buttons-chart-modal@2x.png"); }

    // Misc Retina Icons

    %spriteSelectBoxItBG { @include inlineRetinaBG("../../assets/images/QVImages/sprite-selectboxit@2x.png"); }

    %calendarPlusBG { @include inlineRetinaBG( "../../assets/images/calendarImages/sprite-calendar-plus@2x.png"); }
    %tpLogoBG { @include inlineRetinaBG( "../../assets/images/tpLogo@2x.png"); }

    %mainTabSpriteBG { @include inlineRetinaBG("../../assets/images/sprite-icons-main-tabs@2x.png"); }
    %dashboardTabSpriteBG { @include inlineRetinaBG("../../assets/images/sprite-icons-dashboard-tabs@2x.png"); }
    %troughIconSpriteBG { @include inlineRetinaBG("../../assets/images/sprite-icons-trough@2x.png"); }

    %chartIconsSpriteBG { @include inlineRetinaBG("../../assets/images/charts/sprite-buttons-chart-modal@2x.png"); }

    %spriteHeaderIconsBG { @include inlineRetinaBG("../../assets/images/calendarImages/sprite-header-icons@2x.png"); }

    %spritePaperclipBG { @include inlineRetinaBG("../../assets/images/QVImages/sprite-paperclip@2x.png"); }

}
