.tabbedLayout
{
    overflow: hidden;
}

.tabbedLayoutNav
{
    @include clearfix;
    display: block;
    float: left;
    width: 200px; 
    margin:0 0 0 12px;
    padding:10px;
    font-size:$fontSizeSmall;
    background-color:$TPGrey1;

    span {
        display: block;
        width: 100%;
    }
    
    li {
        list-style-type:none;
        cursor:pointer;
        margin:2px 0 2px 0;
        color:#76787d;

        &:hover {
            color:#303030;
        }

        ul {
            margin-left:0;
            cursor:default;

            li {
               margin:2px 0 2px 10px;
               cursor:pointer;
            }
        }
    }

    
}

.tabbedLayoutBody
{
    @include clearfix;
    display: block;
    float: left;
    width: calc(100% - 212px);
    height: 100%;

    padding: 0px 12px 13px 12px;
    
    position: relative;

    overflow-y: scroll;
    overflow-x: auto;
    @include nice-scrollbar;
}

.tabbedLayoutNav .active {
    font-family:$fontFamilyHeavy;
    font-weight:normal;
    color:#303030;

    ul {
        font-family:$fontFamilyRegular;
    }
}

.tabbedLayoutSubNav
{
    display: none;

    .tabbedLayoutNav .active &
    {
        display: block;
    }
}

.tabbedLayoutFooter
{
    clear: both;
    width: 100%;
}
