@import "globalCSS/mixIn";

.tomahawk
{
    position: absolute;
    @include box-shadow(0 1px 3px 0 #ADADAD);
    background: #fff;
    padding: 21px 12px 15px;

    .closeIcon
    {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 13px;
        height: 13px;
        margin: 0;
        padding: 0;
    }
    
    &.tomahawkList
    {
        padding: 12px;

        .closeIcon
        {
            display: none;
        }

        label
        {
            color:$TPGrey10;
            cursor: pointer;
            font-size:$fontSizeSmall;
            font-family: $fontFamilyRegular;
            font-weight:normal;
            padding: 4px 0;
            margin:0;

            &:hover {
                color:$TPGrey4;
            }

            &.hidden {
                display: none;
            }
        }

        ul
        {
            margin: 0;
        }
    }

    .apply
    {
        width: 50px;
        float: right;
    }

}

.tomahawkArrow
{
    position: absolute;
    z-index: -2;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    @include transform(rotate(45deg));
    @include box-shadow(0 1px 3px 0 #ADADAD);
    background: inherit;
}

.tomahawkCover
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
}
