@import "tpstylesheet";
@import "hoverBox";

.weekSummary
{
    @include column(3);
    min-height: 150px;
    background-color: $TPGrey1;
    overflow: hidden;
    margin-bottom: 10px;
    
    padding: 0px;

	.summarySettings
    {
        display: none;
        float: right;
		padding: 2px 5px 0px 0px;
        button
        {	
            background: transparent;
            border: none;
            padding: 0px;
            width: 15px;
			cursor: pointer;
                        
        }
	}

    .weekSummaryTableContainer
    {
        margin: 0 5px 0 0px;
        @include box-shadow(2px 2px 4px 1px #888888);

        .weekSummaryTable
        {
            width: 100%;
            border-collapse: collapse;

            th
            {
                padding: 8px 5px 0 5px;
                background-color: $white;
                font-size: $fontSizeXSmall;
                text-align: right;
            }

            tr:nth-child(odd)
            {
                background-color: $TPGrey1;
            }   
                     
            tr:nth-child(even)
            {
                background-color: $white;
            }   

            td
            {
                margin: 0 0 0 0;
                padding: 5px 5px 5px 5px;
                border: 0 0 0 0;
                cell-spacing: 0 0 0 0;

                &.weekSummaryValue
                {
                    font-size: $fontSizeSmall;
                    text-align: right;

                    .planned
                    {
                        color: $TPGrey3;
                    }

                    .completed
                    {
                        color: $thisWeekBlue;
                    }

                    .units
                    {
                        color: $thisWeekBlue;
                        margin-left: 0.2em;
                    }

                }

                &.weekSummaryRowLabel
                {
                    padding-left: 10px;
                    text-align: left;
                    font-size: $fontSizeSmall;
                }
            }
        }
    }
}




#weekSummaryContainer {

	padding-top:2px;
	padding-left:6px;
	padding-right:10px;

	.weekSummaryBarGraphContain {
		width:280px;
	}

	.weekSummaryBarGraphItem {
		height:28px;
		margin-bottom:3px;
		width:131px;
		float:left;
	}
	
	.weekSummaryBarGraphItem.right {
		margin-left:10px;
	}
	
	.weekSummaryBarGraphItem.total {
		width:272px;
		height:35px;
	}

	.weekSummaryBarGraphLabel {
		float:left;
		margin-bottom: 3px;
		margin-top:4px;
		
		h6 {
			margin:0 !important;
			font-size:$fontSizeXSmall;
		}
		
	}
	
	.weekSummaryBarGraphLabel.total {
		h6 {
			text-transform: uppercase !important;
		}
	}
	
	.weekSummaryBarGraph {
		height:8px;
		float:left;
		width:100%;
		
		background: #cccccc; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZWFlYWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #cccccc 0%, #aeaeae 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#aeaeae)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #cccccc 0%,#aeaeae 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #cccccc 0%,#aeaeae 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #cccccc 0%,#aeaeae 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #cccccc 0%,#aeaeae 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#aeaeae',GradientType=0 ); /* IE6-8 */
		
	}
	
	.weekSummaryBarGraph.total {
		height:15px;
		float:left;
		width:100%;
		background: #cccccc; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZWFlYWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #cccccc 0%, #aeaeae 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#aeaeae)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #cccccc 0%,#aeaeae 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #cccccc 0%,#aeaeae 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #cccccc 0%,#aeaeae 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #cccccc 0%,#aeaeae 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#aeaeae',GradientType=0 ); /* IE6-8 */
		
		
	}
	
	.weekSummaryBarGraphProgress {
		height:100%;
		display:block;
	}
	
	.weekSummaryBarGraphProgress.total {
		width:75px;
		background: #636569; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNjU2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDNlNDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #636569 0%, #3d3e41 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636569), color-stop(100%,#3d3e41)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #636569 0%,#3d3e41 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #636569 0%,#3d3e41 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #636569 0%,#3d3e41 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #636569 0%,#3d3e41 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636569', endColorstr='#3d3e41',GradientType=0 ); /* IE6-8 */
	}
	
	.weekSummaryBarGraphProgress.bike {
		width:50px;
		background: #8820d1; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4MjBkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjE0ODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #8820d1 0%, #561484 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8820d1), color-stop(100%,#561484)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #8820d1 0%,#561484 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #8820d1 0%,#561484 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #8820d1 0%,#561484 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #8820d1 0%,#561484 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8820d1', endColorstr='#561484',GradientType=0 ); /* IE6-8 */
		
	}
	
	
	.weekSummaryBarGraphProgress.strength {
		width:74px;
		background: #8e2e8d; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlMmU4ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YjFjNWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #8e2e8d 0%, #5b1c5b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e2e8d), color-stop(100%,#5b1c5b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #8e2e8d 0%,#5b1c5b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #8e2e8d 0%,#5b1c5b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #8e2e8d 0%,#5b1c5b 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #8e2e8d 0%,#5b1c5b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e2e8d', endColorstr='#5b1c5b',GradientType=0 ); /* IE6-8 */
		}
		
		.weekSummaryBarGraphProgress.tss {
			width:14px;
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNjU2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDNlNDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #636569 0%, #3d3e41 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636569), color-stop(100%,#3d3e41)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #636569 0%,#3d3e41 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #636569 0%,#3d3e41 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #636569 0%,#3d3e41 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #636569 0%,#3d3e41 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636569', endColorstr='#3d3e41',GradientType=0 ); /* IE6-8 */
			}	
		
		
	
	
	.weekSummaryTimeContain {
		float:right;
		margin-bottom: 3px;
		
		h6 {
			font-weight:normal !important;
			text-align:right;
			margin:0 !important;
		}
		.weekSummaryTimeCompleted {
			font-size:$fontSizeXSmall;
			font-weight:bold;
			color:#303030;
		}
		.weekSummaryTimeCompleted.bike {
			color:#8c2edc;
			}
		.weekSummaryTimeCompleted.strength {
			color:#912c8a
			}
		.weekSummaryTimePlanned {
			font-size:$fontSizeXSmall;
			color:#a5a5a5;
		}
	}
	
	#weekSummaryMetricContain {
		width:272px;
		float:left;
	}
	
	.weekSummaryMetricItem {
		border-bottom:1px solid #dbdbdc;
	}
	
	#weekSummaryATPContain {
		width:272px;
		float:left;
	}
	
	.weekSummaryATPItem {
		border-bottom:1px solid #dbdbdc;
	}
	
	.weekSummaryMetricValue, .weekSummaryATPValue, {
		float:left;
		width:131px;
	}
	
	.weekSummaryMetricTitle, .weekSummaryATPTitle {
		float:left;
		width:121px;
		margin:0 0 0 10px;
	}


	
	.weekSummaryMetricTitle h6 {
		padding-top: 4px;
		margin:2px 0 0 10px;
	}
	
	.weekSummaryATPTitle h6, .weekSummaryMetricTitle h6 {
		font-size:$fontSizeXSmall;
		padding-bottom:3px;
	}
	
	.weekSummaryMetricTitle h6 {
		margin:5px 0 0 0;
	}
	
	.weekSummaryATPTitle h6 {
		margin:3px 0 0 0;
	}
	
	.weekSummaryMetricValue h6 {
		text-align:right;
		font-weight:normal;
		font-size:$fontSizeXLarge;
		margin:3px 0 0 0;
	}
	
	.weekSummaryATPValue h6 {
		text-align:right;
		font-size:$fontSizeXSmall;
		margin:0;
		padding-top: 3px;
	}
	
	.weekSummaryATPValue h6 {
		font-size:$fontSizeXSmall;
		font-weight:normal;	
	}
	
}
