@import "tpstylesheet";
@import "hoverBox";

.weekSummary
{
    @include column(3);
    min-height: 150px;
    background-color: $TPGrey1;
    overflow: hidden;
    margin-bottom: 10px;
    
    padding: 0px;

	.summarySettings
    {
        display: none;
        float: right;
		padding: 2px 5px 0px 0px;
        button
        {	
            background: transparent;
            border: none;
            padding: 0px;
            width: 15px;
			cursor: pointer;
                        
        }
	}

    .weekSummaryTableContainer
    {
        margin: 0 5px 0 3px;
        @include box-shadow(2px 2px 4px 1px #888888);

        .weekSummaryTable
        {
            width: 100%;
            border-collapse: collapse;

            th
            {
                padding: 8px 5px 0 5px;
                background-color: $white;
                font-size: 10px;
                text-align: right;
            }

            tr:nth-child(odd)
            {
                background-color: $TPGrey1;
            }   
                     
            tr:nth-child(even)
            {
                background-color: $white;
            }   

            td
            {
                margin: 0 0 0 0;
                padding: 5px 5px 5px 5px;
                border: 0 0 0 0;
                cell-spacing: 0 0 0 0;

                &.weekSummaryValue
                {
                    font-size: 12px;
                    text-align: right;

                    .planned
                    {
                        color: $TPGrey3;
                    }

                    .completed
                    {
                        color: $thisWeekBlue;
                    }

                    .units
                    {
                        color: $thisWeekBlue;
                    }
                }

                &.weekSummaryRowLabel
                {
                    padding-left: 10px;
                    text-align: left;
                    font-size: 12px;
                }
            }
        }
    }
}