@import "settings";
@import "foundation";

@import "globalCSS/tpstylesheet";
@import "globalCSS/tpfontstyles";
@import "globalCSS/mixIn";
@import "globalCSS/throbber";
@import "calendar/dragAndDrop";
@import "globalCSS/modal";

@import "globalCSS/framework";

@import "globalCSS/packeryCollection";

@import "globalCSS/table";

@import "header";
@import "calendar/calendar";
@import "calendar/calendarWorkout";
@import "calendar/calendarMetric";
@import "calendar/weekSummary";
@import "library";
@import "calendar/tabLibraries/trainingPlans";
@import "calendar/newItemView";
@import "calendar/quickView/quickview";
@import "calendar/workoutColor";
@import "globalCSS/hoverBox";
@import "calendar/shiftWizzard";
@import "calendar/weekSummaryHover";

@import "globalCSS/timepicker";
@import "globalCSS/dialog";
@import "globalCSS/tooltip";
@import "globalCSS/selectBox";
@import "elevationCorrection";

@import "workoutCommentsEditor/workoutCommentsEditor";

@import "dashboard/dashboard";
@import "dashboard/pmcChartSettings";
@import "home/home";
@import "home/coachHome";
@import "home/athleteHome";
@import "home/athleteActivityViewer";

@import "calendar/dragAndDropFileUpload";

@import "workoutBarView";

@import "accountSettings";

@import "touch";

@import "charts";

@import "tabbedLayout";
@import "overlayBox";

@import "sprites";

@import "tomahawk";
@import "upgrade";
@import "initialProfile";


html
{
    height: 100%;
    &.wf-loading {
        opacity:0;
    }
}

body
{
    min-height: 100%;
    @include nice-scrollbar;
    font-size: $baseFontSize;
    font-family: $fontFamilyRegular;
    color: $TPGrey4;
}

a
{
    cursor: pointer;
}

#loginFooter, #calendarFooter
{
    span
    {
        font-family: $fontFamilyRegular;
        font-size: $fontSizeXSmall;
    }
}

.row
{
    max-width: none;
}

@include buttons(0px, auto, $fontSizeMedium);

input[type="text"]
{
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: text;
    @include box-shadow(none);

    &:focus
    {
        @include box-shadow(none);
    }
}

.clickable
{
    cursor: pointer;
}

.hidden
{
    display: none;
}

@include nice-scrollbar-real;
