@import "settings";
@import "foundation";

$black: #000000;
$white: #ffffff;
$TPBlue: #005695;
$TPPurple: #873794;

$TPGrey1: #dad9d7;
$TPGrey2: #c8c8c8;
$TPGrey3: #b2b2b2;
$TPGrey4: #636569;


$navigationFontFamilyLight: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
$navigationFontFamilyRegular: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", "sans-serif";
$navigationFontSize: 14px;

@mixin throbber {
    background-color:transparent;
    background-image: url(../images/throbber.gif);
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    height: 90%;
    width: 90%;
    top:5%;
    left:5%;
    content: ' ';
    display: block;
}

// works for some places, but some places conflicts with foundation :before elements
.waiting:before
{
    @include throbber;
}

.ui-draggable
{
    cursor: pointer;
}

.ui-draggable-dragging
{
    cursor: move;
}

#calendarContainer
{
	background-color: $TPGrey1;

    .scrollable
    {
        height: 600px;
        overflow-y: scroll;
    }

    .week
    {
        @include outerRow();
    }

    .day
    {
        @include column(2);
        min-height: 150px;
        max-height: 450px;
        border: 1px solid $white;
		background-color: $TPGrey2;
        padding: 5px;
        overflow-x: auto;
        overflow-y: visible;
        .workout
        {
			p
			{
				font-family: $navigationFontFamilyLight;
				font-size: 12px;
				color:$TPGrey4;
				font-weight: bold;
			}
            
        }
    }

    .weekSummary
    {
        @include column(2);
        height: 150px;
        border: 2px solid $white;
        background-color: $TPGrey4;
        padding: 5px;
        overflow: hidden;
    }

    .today
    {
        background-color: $white;
		p{color: $TPGrey1;}
    }

    .daysOfWeek
    {
        @include outerRow();

        div
		{
            @include column(2);
			padding-bottom: 0px;
			font-Family: $navigationFontFamilyLight;
			font-size: 12;
			color: $TPGrey4;
			text-align: center;
			height: 15px;
		}
    }

}

#loginHeader, #calendarHeader
{
    padding-top: 20px;

    span
    {
        font-family: $navigationFontFamilyRegular;
        font-size: 24px;
    }

	
}

#loginFooter, #calendarFooter
{
    span
    {
        font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
        font-size: 10px;
    }
}

#userControlsContainer
{
	height: 35px;
	background-color: $black;

	.personHeaderLogo
	{
		float: left;
		min-width: 375px;
	}

	.headerPipe
	{
		float: left;
		height: 30px;
		padding-top: 10px;
		font-size: $navigationFontSize;
		color: $TPGrey4;
	}

	.personHeaderButtons
	{
		padding-top: 12px;
		height: 35px;
		text-align: center;
		&:hover { background-color: $TPBlue; }
		&:hover label{color: $white;}
		label
		{
			font-family: $navigationFontFamilyRegular;
			font-size: $navigationFontSize;
			color: $TPGrey4;
		}

	}

	.personHeaderMailIcon
	{
		padding-top: 12px;
		margin-right: -20px;
		&:hover{cursor: pointer;}
	}
}

#navigationContainer
{
	height: 75px;
	background-color: $white;

	.appNavigation
	{
		span
		{
			float: left;
			height: 45px;
			text-align: center;
			padding-top: 20px;
			&:hover label{color: $TPPurple; }
			&:hover label{border-bottom-style:solid; border-bottom-width:1px; border-color:$TPPurple;}
			
		}

		label
		{
			font-family: $navigationFontFamilyRegular;
			font-size: $navigationFontSize;
			color: $TPGrey4;
		}
	}
}

#calendarHeader
{
	height: 80px;
	float:left;
	.calendarMonthLabel
	{
		label
		{
			padding-top: 10px;
			font-family: $navigationFontFamilyRegular;
			font-size: 36px;
			color:$TPBlue;
		}
	}

	.navigation
	{
		float:left;
		margin-left: -50px;
		padding-top: 12px;
		button
		{
			min-width: 36px;
			min-height: 25px;
			float:left;
			font-family:$navigationFontFamilyRegular;
			font-size:$navigationFontSize;
		}
	}

	.calendarNavigation
	{
		float:left;
		button
		{
			min-width: 36px;
			min-height: 25px;
			float:left;
			font-family:$navigationFontFamilyRegular;
			font-size:$navigationFontSize;
			margin-left: -5px;
		}
	}

	.calendarView
	{
		select
		{
			margin-top: 2px;
			height: 25px;
		}
	}

}

#calendarDate
{
	font-Family: $navigationFontFamilyRegular;
	font-size: $navigationFontSize;
	color: $TPGrey4;
	text-align: right;
	float:right;
}
