@import "settings";
@import "foundation";

@import "tpstylesheet";
@import "mixIn";
@import "throbber";
@import "dragAndDrop";

@import "header";
@import "calendar";
@import "calendarWorkout";
@import "weekSummary";
@import "library";
@import "newItemView";
@import "quickView";
@import "workoutColor";
@import "hoverBox";

@import "deleteConfirmation";

body
{
    @include nice-scrollbar;
}

#loginFooter, #calendarFooter
{
    span
    {
        font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
        font-size: 10px;
    }
}

.ui-widget-overlay
{
   opacity: .00%;
   filter: Alpha(Opacity=0);
}