@charset "UTF-8";
@import "settings";
@import "foundationMinimal";

@import "globalCSS/tpstylesheet";
@import "globalCSS/tpfontstyles";
@import "globalCSS/timepicker";
@import "globalCSS/mixIn";
@import "globalCSS/flex";
@import "globalCSS/throbber";
@import "globalCSS/modal";
@import "globalCSS/hoverBox";
@import "globalCSS/tooltip";
@import "globalCSS/dialog";
@import "overlayBox";
@import "tomahawk";

.applyTrainingPlanContainer
{

    font-size: $baseFontSize;
    font-family: $fontFamilyRegular;

    $include-html-type-classes: true;
    @import "foundation/components/type";

    $include-html-form-classes: true;
    @import "foundation/components/forms";

    $include-html-label-classes: true;
    @import "foundation/components/labels";

    @import "globalCSS/selectBox";

    @import "sprites";

    @import "calendar/tabLibraries/trainingPlans";

    @include buttons(0px, auto, $fontSizeMedium);

    .trainingPlanApplyView
    {
        width: 330px;
    }
    
    input[type="text"]
    {
        padding-top: 0px;
        padding-bottom: 0px;
        cursor: text;
        @include box-shadow(none);

        &:focus
        {
            @include box-shadow(none);
        }
    }
}

.modalOverlay
{
    // kentico main region has a very high z-index, so set our modals higher
    z-index: 10000;
}

.modal
{
    $include-html-type-classes: true;
    @import "foundation/components/type";

    $include-html-form-classes: true;
    @import "foundation/components/forms";

    $include-html-label-classes: true;
    @import "foundation/components/labels";

    font-size: $baseFontSize;
    font-family: $fontFamilyRegular;   

    .hidden
    {
        display: none;
    }

    *, *:before, *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    // kentico main region has a very high z-index, so set our modals highe
    z-index: 10001;
}