@import "tpstylesheet";
@import "compass/css3/images";

.dialog 
{
    text-align: center;
    min-width: 400px;
    max-width:650px;
    font-family: $fontFamilyRegular;
    @include buttons(0px, 60px, 14px);

    // prevents double shadow
    overflow:hidden; 

    button
    {
        margin-right: 8px;
        font-size: 12px;
        font-family: $fontFamilyRegular;
        color: $TPGrey3;

        &:last-of-type
        {
            margin-right:0px;
        }
    }

    button[name="ok"]
    {
        @include blueButton();
    }

    .titleBar
    {
        text-align: left;
        min-height: 30px;
        // padding: 10px 0px 0px 16px;
        background-color: $TPGrey1;
        @include box-shadow(2px 0px 7px 0px $TPGrey4);
        position: relative; 
        z-index: 99;
        color: $TPGrey3;
        cursor: default;


        // same as h2.modaltitle
        h2 {
            font-size: $fontSizeSmall; 
            font-family: $fontFamilyRegular;
            font-weight:normal;
            color: $TPGrey3;
            float:left;
            line-height:1;
            margin: 9px 0 0 15px;
        }
    }
}

.dialogBody
{
    @include clearfix;
}

.dialogHeader
{
    color: $TPGrey3;
    text-align: left;
    font-family: $fontFamilyHeavy;
    font-size: $fontSizeMedium;
    text-align: center;
}

.dialogContent
{
    min-height: 140px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    background-color: $TPGrey1;
    @include filter-gradient(#ffffff, #dedcde, horizontal);
    @include background-image(radial-gradient(center, ellipse cover,  #eaebec 0%,#dedcde 100%));
    @include buttons(0px, 65px, 12px);

    line-height: 1.5em;
    color: $TPGrey4;
    padding-left: 40px;
    padding-right: 40px;
    cursor: default;

    .text
    {
        white-space: pre-wrap;
    }

    label
    {
        cursor: default;
    }

    .dialogButtons {
        padding-top:16px;
    }

    h3 {
        font-size:$fontSizeSmall;
        font-family: $fontFamilyHeavy;
        font-weight:normal;
        color:$TPGrey3;
        margin-top:0;
        margin-bottom:0;

        &:last-of-type {
            margin-bottom:0;
        }
    }

    p {
        font-size:$fontSizeSmall;
        font-family: $fontFamilyRegular;
        font-weight: normal;
        color: $TPGrey3;
        line-height: 1.4;

        &:last-of-type {
            margin-bottom:0;
        }
    }

    ul {
        font-size: $fontSizeSmall;
        font-family: $fontFamilyRegular;
        font-weight: normal;
        color: $TPGrey3;
        line-height: 1.4;
        margin: 5px 0px 5px 20px;
    }
}

.waitMessage
{
    color: $white;
}