@import "../globalCSS/tpstylesheet";
@import "flex";

html, body
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#wrapper
{
    height: 100%;
    @include display-flex-column();
}

#navigation
{
    overflow: hidden;
}

#outerMain
{
    @include flex(1);
    position: relative;
}

#main
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.frameworkHeader
{
    // min-height: 64px;
    background-color: $white;
    height:75px;
}

.frameworkMainWrapper
{
    @include grid-row();
    @include display-flex();
    background-color: white;
    max-width: none;
    @include calc(height, "100% - 75px");
}

.frameworkTable
{
    font-family: $fontFamilyRegular;
    font-size: 14px;
    background:none;
    border-collapse:collapse;
    width:100%;
    border-bottom: 1px solid $TPGrey5;
    th {
        background: $TPGrey6;
        border: 1px solid $TPGrey5;
        border-width:1px 0;
        font-family: $fontFamilyHeavy;
        font-weight:normal;
        color: $TPGrey3;
        text-align:left;
    }
    td
    {
        border-right:1px solid $TPGrey5;
        color: $TPGrey8;
        font-size: $fontSizeSmaller;
    }
    tbody
    {
        tr
        {
            td:last-child
            {
                border-right:none;
            }
            &:nth-of-type(even)
            {
                background:none;
            }
            &:nth-of-type(odd)
            {
                background: #efefef;
            }
        }
    }
}
.frameworkTitle
{
    width: 265px;
    float: left;
    padding-left: 65px;
    //padding-top: 13px;
    margin-top: 5px;
    @include labels($fontFamilyRegular, $fontSizeHeader, $TPBlue, normal);
    label
    {
        float: left;
        padding-right: 10px;

    }

    &:hover
    {
        label
        {
            color:$TPGrey3;
            cursor: pointer;
        }
    }
    .headerYear
    {
        font-family: $fontFamilyLight;
    }
    .datepicker {
        position: relative;
        bottom: 28px;
        opacity: 0;
        cursor: pointer;
    }
}

#dashboardHeader
{
    .frameworkTitle
    {
        width: auto;
        cursor: pointer;
    }
    .titleActive
    {
        label
        {
            color:$TPGrey4;
            cursor: pointer;
        }
    }
}


.frameworkHeaderView
{

    &.withAds
    {
        .frameworkTitle
        {
            margin-top: 30px;
        }

        .navigation
        {
            margin-top: 30px;
        }
    }

    .navigation {
        float:left;
        margin:7px 0 0 0;

        @include headerButtons(0px, 38px, $fontSizeMedium);
        button {
            &:active {
                box-shadow:none;
            }
        }

        .frameworkNavigation {
            float:left;

            button {
                border: 1px solid $TPGrey9;
                position: relative;
                margin-left: -1px;

                &:first-of-type {
                    border-left: 1px solid $TPGrey9;
                    margin-left: 0;
                }

                &:hover {
                    color: $TPGrey4;
                    border-color: $TPGrey11;
                    z-index: 5;
                }
            }

            .goToLastWeekButton {
                background: no-repeat 0 -20px;
                @extend %spriteHeaderIconsBG;
                &:hover {
                    background-position: -36px -20px;
                }
                &:active {
                    background-position: -72px -20px;
                }
            }

            .goToNextWeekButton {
                background: no-repeat 0 0;
                @extend %spriteHeaderIconsBG;
                &:hover {
                    background-position: -36px 0px;
                }
                &:active {
                    background-position: -72px 0;
                }
            }

        }

        .today {
            float:left;
            @include headerButtons(0px, 71px, 12px);
            margin-left:7px;
        }

        .today button  {
            color:$TPGrey10;
        }

        .printRefreshButtons {
            float:left;
            @include headerButtons(7px, 38px, $fontSizeMedium);

            button.fullScreen 
            {
                width: 100px;
            }

            .printButton  {
                background: no-repeat 0 -40px;
                @extend %spriteHeaderIconsBG;
                width: 38px;
                height: 22px;
                &:hover {
                    background-position: -36px -40px;
                }
                &:active {
                    @extend %spriteHeaderIconsBG;
                    background-position: -72px -40px;
                }
            }
            .refreshButton {
                background: no-repeat 0 -80px;
                @extend %spriteHeaderIconsBG;
                margin-left: 7px;
                &:hover {
                    background-position: -36px -80px;
                }
                &:active {
                     @extend %spriteHeaderIconsBG;
                    background-position: -72px -80px;
                }
            }
            .settingsButton  {
                background: no-repeat 0 -60px;
                @extend %spriteHeaderIconsBG;
                margin-left: 7px;
                width: 38px;
                &:hover {
                    background-position: -36px -60px;
                }
                &:active {
                    @extend %spriteHeaderIconsBG; 
                    background-position: -72px -60px;
                }
            }
        }

        .athletePickerContainer {
            margin: 0 0 0 7px;
            float: left;

            select {
                width: 200px;
            }
        }

    }

    .athletePicker
    {
        height: 20px;
        min-width: 200px;
    }

    #affiliateBanner
    {
        margin-left: 100px;
        margin-bottom: 15px;
        margin-top: 10px;
        height: 90px;
        float: left;
        display: none;
    }

}

.frameworkScrollableContainer
{
    height: 100%;
    @include grid-column(15);
    @include nice-scrollbar;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 0 2px;

    @include flex(1);

    background-color: $white;
    overflow-x: auto;

    @include calc(width, "100% - 45px");

    .scrollHeader
    {
        @include grid-row();
        @include calc(width, "100%");
        background-color: $TPGrey1;
        height: 27px;
        padding-top: 7px;
        padding-right: 12px;
        margin-left: 0px;
        border: $TPGrey2;
        border-style: solid;
        border-width: 1px;
        position: relative;
        z-index: 1;
        cursor: default;
        max-width: none;
        min-width: 1007px;
    }

    .scrollable
    {
        background-color: $TPGrey1;
        overflow-y: scroll;
        @include nice-scrollbar;
        border-left: solid;
        border-left-width: 1px;
        border-left-color: $TPGrey2;
    }

}

