@import "tpstylesheet";
@import "mixIn";

// default is arrow at the bottom, see &.uparrow below for arrow at the top
.hoverBox {
    position:relative;
    min-height: 55px;

	&.thisWeek
	{
		.colored
		{
			// background-color: $TPBlue;
			background-color: #ffffff;
		}
		
		.arrow {
			margin-left:24px;
		}
	}

    .hoverBoxContents
    {
        position:relative;
        z-index: 3;
        min-height: 55px;
        margin-bottom: 3px; 
        padding: 7px 12px 6px 12px;
        //@include linearGradient(bottom, rgb(255,255,255), rgba(255,255,255,0.90)); 
        background-color: $white;
        overflow:hidden;
        .header {
            font-family: $fontFamilyHeavy;
            font-size: $fontSizeSmall;
            line-height: $fontSizeXXLarge;
            margin-bottom: 5px;
            color: $TPGrey3;
        }

        label
        {
            color:$TPGrey10;
            
            cursor: pointer;
			font-size:$fontSizeSmall;
            font-family: $fontFamilyRegular;
			font-weight:normal;
			// line-height:$fontSizeXXLarge;
            padding: 4px 0;
            margin:0;

            a, 
            a:visited {
                // color: $TPGrey3;
            }

            &:hover {
                color:$TPGrey4;
            }
        }

        #closeIcon, .closeIcon {
            position: absolute;
            top: 5px;
            right: 0;
            width:12px;
            height:17px;
            cursor:pointer;
            background: no-repeat -51px 0;
            @extend %spriteButtonsChartModal;
            
            &:hover {
                @extend %spriteButtonsChartModal;
                background: transparent no-repeat -51px -17px;
            }
        }

        .closeIcon {
            top: 0px;
            right: 5px;
        }

    }

    // this is what gives the top and side shadows
    .mainShadow
    {
        position:absolute;
        z-index: 1;
        top: 0px;
        left: 0px;
        right: 0px;

        // the bottom will be covered by the bottom bar and arrow
        bottom: 19px;
		@include box-shadow(0 1px 3px 0 #ADADAD);
    }

    // bottom shadow, except for the arrow
    .bottomShadow
    {
        position: absolute;
        z-index: 0;
        left: 0px;
        right: 0px;
        bottom: 19px;
        
        height: 0px;
       
        // the shadow and border look much lighter than these colors, because they are layered to the back 
        @include box-shadow(2px 0px 3px 1px #474747);
        border-bottom: 1px solid #555555;
		width:94%;
    }

    .arrow
    {
        position:relative;
        z-index: 2;
        width: 16px;
        height: 16px;
        margin-left:30px;
        @include transform(translateY(-15px) rotate(45deg));
        @include box-shadow(0 0 3px 1px #ADADAD);
		background-color:#ffffff;
    }

    .colorBar {
        position: absolute;
        z-index: 4;
        left: 0px;
        right: 0px;
        bottom: 19px;
        height: 4px;		
    }

    // the arrow and the colorBar are .colored, so we can easily override color for some popups
    .colored {
		background-color: #ffffff;
    }

    &.leftarrow {

        .arrow
        {
            position: absolute;
            top: 40px;
            left: -6px;
            margin-left: 0px;
            @include transform(translateY(-15px) rotate(45deg));
        }

        .mainShadow
        {
            bottom: 0px;
        }
    }

    &.rightarrow {

        .arrow
        {
            position: absolute;
            top: 40px;
            right: -6px;
            margin-left: 0px;
            @include transform(translateY(-15px) rotate(45deg));
        }

        .mainShadow
        {
            bottom: 0px;
        }
    }

    &.uparrow {
		width:136px;
		
        .hoverBoxContents {
            margin-bottom: 0px;
            margin-top:0;
            //@include linearGradient(top, rgb(255,255,255), rgba(255,255,255,0.90)); 
			& label {
			    cursor: pointer;
			}
        }

        // this is what gives the top and side shadows
        .mainShadow
        {
            top: 16px;
            bottom:0px;
           	@include box-shadow(0px 1px 2px 1px #adadad);
        }

        .arrow
        {
            position:relative;
            top:0px;
            @include transform(translateY(12px) rotate(45deg));
  			@include box-shadow(0px 0px 3px 0px #adadad);
			background-color:#ffffff;
        }

        .colorBar
        {
            bottom: 0px;
            top: 20px;
            height: 3px;
        }
    }
}
