@import "tpstylesheet";
@import "mixIn";

// default is arrow at the bottom, see &.uparrow below for arrow at the top
.hoverBox
{

    position:relative;

	&.thisWeek
	{
		.colored
		{
			background-color: $TPBlue;
		}
	}

    .hoverBoxContents
    {
        position:relative;
        z-index: 3;
        margin-bottom: 3px; 
        padding: 10px;
        @include linearGradient(bottom, rgb(255,255,255), rgba(255,255,255,0.90)); 
        label
        {
            cursor: default;
			font-size:$fontSizeSmall;
			font-weight:normal;
	
        }
    }

    // this is what gives the top and side shadows
    .mainShadow
    {
        position:absolute;
        z-index: 1;
        top: 0px;
        left: 0px;
        right: 0px;

        // the bottom will be covered by the bottom bar and arrow
        bottom: 20px;

        // @include box-shadow(0px 0px 4px 1px #888888);
		@include box-shadow(0 2px 3px 0 #ADADAD);
	
    }

    // bottom shadow, except for the arrow
    .bottomShadow
    {
        position: absolute;
        z-index: 0;
        left: 0px;
        right: 0px;
        bottom: 19px;
        
        height: 0px;
       
        // the shadow and border look much lighter than these colors, because they are layered to the back 
        @include box-shadow(2px 0px 3px 1px #474747);
        border-bottom: 1px solid #555555;
		width:94%;
    }

    .arrow
    {
        position:relative;
        z-index: 2;
        width: 20px;
        height: 20px;
        margin-left:20px;
        @include transform(translateY(-10px) rotate(45deg));
        @include box-shadow(0 0 3px 1px #5e5e5e);
    }

    .colorBar
    {
        position: absolute;
        z-index: 4;
        left: 0px;
        right: 0px;
        bottom: 19px;
        height: 4px;		
		border-left:1px solid #979797;
		border-right:1px solid #979797;
    }

    // the arrow and the colorBar are .colored, so we can easily override color for some popups
    .colored
    {
        background-color: $TPGrey4;
    }

    &.uparrow {
		width:136px;
		
        .hoverBoxContents
        {
            margin-bottom: 0px;
            margin-top:3px;
            @include linearGradient(top, rgb(255,255,255), rgba(255,255,255,0.90)); 
			border-left:1px solid #979797;
			border-right:1px solid #979797;
			border-bottom:1px solid #979797;
			& label {
			
			}
        }

        // this is what gives the top and side shadows
        .mainShadow
        {
            top: 20px;
            bottom:0px;
           	@include box-shadow(0px 2px 3px 0px #adadad);
        }

        // top shadow, except for the arrow
        /*
        .topShadow
        {
            position:absolute;
            bottom: 0px;
            top: 19px;
            height: 0px;
            left: 0px;
            right: 0px;
            border-bottom: none;
            border-top: 1px solid #555555;
           @include box-shadow(0px -1px 5px 1px #333333);
        }
        */

        .arrow
        {
            position:relative;
            top:0px;
            @include transform(translateY(12px) rotate(45deg));
            @include box-shadow(0px 0px 8px 1px #999999);
        }

        .colorBar
        {
            bottom: 0px;
            top: 20px;
            height: 3px;
        }
    }
}