@import "tpstylesheet";

@mixin buttons($marginLeft, $width, $fontSize)
{


    button, input[type=button]
	{
		width: $width;
		// padding:4px 0;
        padding:0;
        line-height:20px;
        
		font-family: $fontFamilyRegular;
		font-size: $fontSize;
		font-weight:normal;
		margin-left: $marginLeft;
		color: $TPGrey10;

        background: repeat-x 0 0; //fallback
        @extend %backgroundGradientButtonBG;
        background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dfdfdf));
        background:-moz-linear-gradient(top, #fefefe, #dfdfdf);

        background-color:#dfdfdf;

		border: 0px;
		display:inline-block;
		text-decoration:none;
        border-width: 1px;
        border-style: solid;
        border-color: $TPGrey9;
        margin-bottom: 0px;
		box-shadow:none;
        cursor: pointer;

        &:hover
        {
           border-color: $TPGrey11;
           color: $TPGrey4;
        }
                
        &:active
        {
            background-position: 0 -20px; //fallback
            background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#969595), to(#4d4d4c));
            background:-moz-linear-gradient(top, #969595, #4d4d4c); 
            
            color: #ffffff;
        }

        &:disabled
        {   
            background-position: 0 0; //fallback
            background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dfdfdf));
            background:-moz-linear-gradient(top, #fefefe, #dfdfdf);
            
            border-color: $TPGrey9;
            border-width: 1px;
            border-style: solid;
            cursor: default;
            color: $TPGrey4;
            @include box-shadow(none);

            &:hover
            {
                color: $TPGrey4;
            }
        }

	}

    // Fix for firefox which adds 2px exta height to any button
    button::-moz-focus-inner {
        padding: 0;
        border: 0
    }
}

 

@mixin headerButtons($marginLeft, $width, $fontSize)
{
    @include buttons($marginLeft, $width, $fontSize);
	button
	{
		float: left;
		height:22px;
	}
}

@mixin blueButton()
{
    @include box-shadow(none);

	@include linearGradient(top, #dfdfdf, #AAC8E5);

    &:active
    {
        color: #ffffff;
        background:none;
        @include linearGradient(top, #6694c1, #3a6e99);
    }

}

@mixin labels($fontFamily, $fontSize, $fontColor, $fontWeight, $selector: label)
{
	#{$selector}
	{
		font-family: $fontFamily;
		font-size: $fontSize;
		color: $fontColor;
		font-weight: $fontWeight;
		cursor: default;
	}
}

@mixin inputs($width, $height, $fontSize, $fontFamily, $selector: input) 
{
	#{$selector}
	{
		width: $width;
		height: $height;
		font-size: $fontSize;
		font-family: $fontFamily;
		padding-top: 0px;
		padding-bottom: 0px;
        cursor: text;
        @include box-shadow(none);
	}

    #{$selector}[disabled='disabled']
    {
        cursor: default;
    }
}

@mixin selectionBox($width)
{
	select
	{
		margin-top: 3px;
		width: $width;
		font-size: $fontSizeMedium;
		font-family: $fontFamilyRegular;
	}
}

@mixin nice-scrollbar($size: 12px, $track-background: $TPGrey1, $thumb-color: $TPGrey2, $inactive-thumb-color: $TPGrey6)
{
    &::-webkit-scrollbar 
    {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-track
    {
        border-radius: 0;
        background: $track-background;
        box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.2) 0 -1px 1px 1px inset;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 0;
        background: $thumb-color;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 0px, rgba(48, 48, 48, 0.5) 0px 0px 7px 0px inset;
    }

    &::-webkit-scrollbar-thumb:window-inactive
    {
        border-radius: 0;
        background: $inactive-thumb-color;
    }

    &::-webkit-scrollbar-thumb:hover
    {
        border-radius: 0;
        background: $thumb-color;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 0px, rgba(0, 0, 0, .7) 0px 0px 7px 0px inset;
    }
}

@mixin throbber($backgroundColor: $TPGrey1) {
    opacity:0.7;
    @extend %throbberBG;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    height: 90%;
    width: 90%;
    top:5%;
    left:5%;
    content: ' ';
    display: block;
}

@mixin flexboxParent() {
    display: -webkit-box;
    -webkit-box-orient: horizontal;

    display: -moz-box;
    -moz-box-orient: horizontal;

    display: box;
    box-orient: horizontal;
}

@mixin flexboxChild() {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

@mixin transform($expression) {
    -ms-transform: #{$expression};
    -moz-transform: #{$expression};
    -webkit-transform: #{$expression};
    -o-transform: #{$expression};
}

@mixin linearGradient($position, $color1, $color2)
{
    background-image: -webkit-linear-gradient($position, $color1, $color2);
    background-image: -moz-linear-gradient($position, $color1, $color2);
    background-image: -ms-linear-gradient($position, $color1, $color2);
    background-image: linear-gradient($position, $color1, $color2);
}

@mixin radialGradient($color1, $color2)
{
    background: $color2;
    background: -moz-radial-gradient(center, ellipse cover, $color2 0%, $color1 0%, $color2 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-radial-gradient(center, ellipse cover, $color2 0%, $color1 0%, $color2 100%);
    background: -o-radial-gradient(center, ellipse cover, $color2 0%, $color1 0%, $color2 100%);
    background: -ms-radial-gradient(center, ellipse cover, $color2 0%, $color1 0%, $color2 100%);
    background: radial-gradient(ellipse at center, $color2 0%, $color1 0%, $color2 100%);
}

@mixin placeholders($color)
{
    ::-webkit-input-placeholder { color: $color; }
    :moz-placeholder { color: $color; }
    ::moz-placeholder { color: $color; }
    :-ms-input-placeholder { color: $color; }
}

@mixin selectedOverlay()
{
    display: none;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    position: absolute;
    background-color: #bcd1eb;
    border: 1px solid #0043ff;
    opacity: 0.5;
    z-index: 1;
}

@mixin noDataMessage()
{
    position: relative; // make sure this element has a position attribute so the noDataMessage will fit nicely

    .noDataMessage
    {
        display: none;
    }
    
    &.noData
    {
        .noDataMessage
        {
            display: block;
            position: absolute;
            top:0;  
            bottom:0; 
            left:0;
            right:0;
            margin:auto;
            height: 1.5em;
            font-family: $fontFamilyRegular;
            font-size:$fontSizeSmall;
            color:$TPGrey3;
            text-align: center;
            z-index: 1;
        } 
    }
}
