@import "tpstylesheet";
@import "compass/css3/box-shadow";

.modalOverlay
{

    background-color:transparent;

    &:not(.hidden)
    {
        position:absolute;
        z-index:100;
        
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
    }


    &.hidden
    {
        display: block;
        position:relative;
        height: 0px;
        width: 0px;
    }
}

.modal
{
    position:absolute;
    z-index:101;
    top:100px;
    left:100px;

    max-height: 90%;
    max-height: calc(100% - 52px);
    max-width: 90%;
    max-width: calc(100% - 26px);

    .titleBar {
        width:calc(100% + 10px);
        margin-left:-5px;

        h2.modaltitle {
            margin:9px 0 0 15px;
        }

        // same as h2.modaltitle
        h2 {
            font-size: $fontSizeSmall; 
            font-family: $fontFamilyRegular;
            font-weight:normal;
            color: $TPGrey3;
            float:left;
            line-height:1;
            margin: 9px 0 0 15px;
        }
        
        #closeIcon, .closeIcon {
            margin:9px 9px 0 0;
        }
    }

        #menuIcon, .menuIcon
        {
        cursor:pointer;
        margin:0;
        width:12px;
        height:17px;
        float:right;
        background: transparent no-repeat 0 0;
        @extend %chartIconsSpriteBG;

        &:hover {
            background-position: 0 -17px;
        }
    }

    #closeIcon, .closeIcon {
        cursor:pointer;
        margin:0 5px 0 10px;
        width:17px;
        height:17px;
        float:right;
        background: transparent no-repeat -51px 0;
        @extend %chartIconsSpriteBG;

        &:hover {
            background-position: -51px -17px;
        }
    }

    fieldset {
        border: 1px solid $TPGrey2;
        border-radius: 0 0 0 0;
        margin: 0;
        padding: 10px 10px 20px 10px;

        legend {
            background-color: transparent;
            font-weight: normal;
            padding-left: 5px;
            padding-right: 5px;
            text-align: left;
            margin-left:20px;
            color:$TPGrey4;
            font-family:$fontFamilyRegularItalic;
            font-size:$fontSizeSmall;
        }
    }
}

.modalOverlayMask
{
    background-color: $TPGrey4;
    opacity: 0.6;
}

.modalShadow
{
    @include box-shadow(0px 3px 6px 2px #888888);

    .modalOverlayMask + &
    {
        @include box-shadow(0 3px 5px 0 $TPGrey4);
    }
}
