select 
{

    // webkit
    -webkit-appearance: none;

    // mozilla hack, see stackoverflow.com/questions/6787667/what-is-the-correct-moz-appearance-value-to-hide-dropdown-arrow-of-a-select
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

    font-size: $fontSizeSmall;
    font-family: $fontFamilyRegular;
    color:$TPGrey10;

    min-height: 22px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: no-repeat right 0;
    @extend %spriteSelectBoxItBG;

    // make sure there is always room for the dropdown arrow
    // we need to turn this off for IE
    padding-right: 30px;

    outline: none;
    border: 1px solid $TPGrey9;
    &:focus
    {
        outline: none;
    }
}

/*
 * jquery.selectBoxIt.css 3.5.0
 * Author: @gregfranko
 */

/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/



.selectboxit-arrow {
	display:none;
}




/* Styles that apply to all SelectBoxIt elements */
.selectboxit-container * {
  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap;
}

/* Button */
.selectboxit-container .selectboxit {
  width: 170px !important; /* Width of the dropdown button */
  cursor: pointer;
  margin: 0;
  padding: 0;
  // border-radius: 6px;
  overflow: hidden;
  display: block;
  position: relative;
}

/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  height: 22px; /* Height of the drop down */
  line-height: 21px; /* Vertically positions the drop down text */
  display: block;
}

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
  outline: 0;
}

/* Disabled Mouse Interaction */
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

/* Button Text */
.selectboxit-text {
  	text-indent: 5px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	float: left;
	font-size: $fontSizeSmall;
}

.selectboxit .selectboxit-option-icon-container {
  //margin-left: 5px;
}

/* Options List */
.selectboxit-container .selectboxit-options {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 100%;  /* Minimum Width of the dropdown list box options */
	*width: 100%;
	margin: 0;
	padding: 5px 0;
	list-style: none;
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	cursor: pointer;
	display: none;
	z-index: 9999999999999;
	// border-radius: 6px;
	text-align: left;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: $fontSizeSmall;
	color:$TPGrey10;
}

/* Individual options */
 .selectboxit-option .selectboxit-option-anchor {
  padding: 0 2px;
}

/* Individual Option Hover Action */
.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none;
}

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
  text-indent: 5px; /* Horizontal Positioning of the select box option text */
  margin: 0;
  list-style-type: none;
}

/* The first Drop Down option */
.selectboxit-option-first {
 // border-top-right-radius: 6px;
 // border-top-left-radius: 6px;
}

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* The last Drop Down option */
.selectboxit-option-last {
 // border-bottom-right-radius: 6px;
 // border-bottom-left-radius: 6px;
}

/* Drop Down optgroup headers */
.selectboxit-optgroup-header {

}

/* Drop Down optgroup header hover psuedo class */
.selectboxit-optgroup-header:hover {
  	cursor: default;
}

/* Drop Down down arrow container */
.selectboxit-arrow-container {
  	/* Positions the down arrow */
  	width: 30px;
  	position: absolute;
  	right: 0;
	border-left:1px solid #b5b5b5;
	
}


/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  	/* Horizontally centers the down arrow */
  	margin: 0 auto;
  	position: absolute;
  	top: 41%;
  	right: 0;
  	left: 0;
}

/* Drop Down down arrow for jQueryUI and jQuery Mobile */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  	top: 30%;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-container {
  	float: left;
}

.selectboxit-container .selectboxit-option-icon {
  	margin: 0;
  	padding: 0;
  	vertical-align: middle;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-url {
  	width: 18px;
  	background-size: 18px 18px;
  	background-repeat: no-repeat;
  	height: 100%;
  	background-position: center;
  	float: left;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
  	background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
  	background-position: -64px -16px;
}

/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/

.selectboxit-btn {
	background: no-repeat right 0;
	@extend %spriteSelectBoxItBG;
	border: 1px solid $TPGrey9;
	color:$TPGrey10;
}

.selectboxit-btn.selectboxit-enabled:hover {
	color: $TPGrey4;
	border: 1px solid #8d8d8d;
	background: no-repeat right -22px;
	@extend %spriteSelectBoxItBG;
}

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {

}

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus {
	text-decoration: none;
	color: $TPGrey4;
	border: 1px solid #8d8d8d;
	.selectboxit-arrow-container {
		border-left: 1px solid #8d8d8d;
	}
}

.selectboxit-btn.selectboxit-enabled:active {
	background: no-repeat right -44px;
	@extend %spriteSelectBoxItBG;
	color:#ffffff;
	.selectboxit-default-arrow {
		border-top: 4px solid #ffffff;
	}
	
	.selectboxit-arrow-container {
		border-left: 1px solid #b5b5b5;
	}
}

.selectboxit-btn.selectboxit-enabled:focus {
	//	border: 1px solid $TPGrey9;
	//	color:$TPGrey10;
}

.selectboxit-default-arrow {
	width: 0;
  	height: 0;
  	border-top: 4px solid #000000;
  	border-right: 4px solid transparent;
  	border-left: 4px solid transparent;
}

.selectboxit-list {
  background-color: #ffffff;
  border:1px solid #8d8d8d;

  &.above
  {
    border-bottom: none;
  }
    
  &.below
  {
    border-top: none;
  }
}

.selectboxit-list .selectboxit-option-anchor {
	color: $TPGrey10;
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  	color: $TPGrey4;
}

.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
	color: #999999;
}
