@import "tpstylesheet";

@mixin throbber($backgroundColor: $TPGrey1)
{
    opacity:0.7;
    @extend %throbberBG;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    height: 90%;
    width: 90%;
    top:5%;
    left:5%;
    content: ' ';
    display: block;

    z-index: 999;
   
    @media print {
        display:none;
    }

}

// works for some places, but some places conflicts with foundation :before elements
.waiting:before
{
    @include throbber;
}

.throbber
{
    min-height: 100px;
    min-width: 100px;
    @include throbber;
}