
// TP Color Scheme
$black: #000000;
$white: #ffffff;
$TPBlue: #005695;
$TPPurple: #873794;

$TPGrey1: #eaebec;
$TPGrey2: #cccccc;
$TPGrey3: #636569;
$TPGrey4: #303030;
$TPGrey5: #cdcbcb;
$TPGrey6: #dedcdc;
$TPGrey7: #aaaaaa;
$TPGrey8: #636569;
$TPGrey9: #b5b5b5;
$TPGrey10: #76787d;
$TPGrey11: #8d8d8d;
$TPGrey12: #a2a3a6;

// calendar colors
$thisWeekBlue: #8eb2d8;
$todayBlue: #bfd3e9;
$selectedDay: $todayBlue;

// all other sizes are relative to this
$baseFontSize: 14px;

// 30px

$fontSizeQVHeader: 2.143em;

// 25px
$fontSizeHeader: 1.786em;

//20px
$fontSizeXXLarge: 1.429em;

// 17px
$fontSizeXLarge: 1.214em;

// 16px
$fontSizeLarge: 1.143em;

// 15px
$fontSizeMedLarge: 1.071em;

// 14px
$fontSizeMedium: 1em;

// 12px
$fontSizeSmall: .857em;

// 11px
$fontSizeSmaller: .786em;

// 10px
$fontSizeXSmall: .714em;

// footer fonts
$footerFontFamily: 'Courier New', Courier, 'Nimbus Mono L', monospace;


// navigation fonts
$fontFamilyLight: "HelveticaNeueW01-45Ligh";
$fontFamilyRegular: "HelveticaNeueW01-55Roma"; 
$fontFamilyHeavy: "HelveticaNeueW01-75Bold"; 
$fontFamilyLightItalic: "HelveticaNeueW01-46Ligh";
$fontFamilyRegularItalic: "HelveticaNeueW01-56It"; 
$fontFamilyHeavyItalic: "HelveticaNeueW01-76Bold"; 

// colors by workout type
$clrRun: #1e5162;
$clrBike: #561484;
$clrSwim: #0382b1;
$clrStrength: #5b1c5b;
$clrBrick: #7b1f40;
$clrOther: #8e1094;
$clrRace: #007c7c;
$clrRest: #84979c;
$clrMTB: #6e512a;
$clrStrength: #551a51;
$clrXc-ski: #d26033;
$clrRowing: #14afd9;
$clrWalk: #aba001;


// colors by compliance
$clrComplianceGreen: #80c159;
$clrComplianceYellow: #e7c406;
$clrComplianceRed: #eb7754;

// chart colors by channel
$clrHeartRate: #e61101;
$clrCadence: #FFA500;
$clrPower: #FF00FF;
$clrRightPower: #FF00FF;
$clrSpeed: #0b8200;
$clrElevation: #6e96b9;
$clrTemperature: #0A0AFF;
$clrTorque: #BDBDBD;

.helpText
{
    font-family: $fontFamilyRegularItalic;
    font-size: $fontSizeSmall;
}




@media print {
	* {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }

	#navigation,#main,.tabNavigation,.closeAndSettings,.uploadExpandButtons,.headerIcons,.quickviewFooter  {
		display:none;
	}

	.workoutQuickView {
		top:0pt !important;
		left:0pt !important;
	}

	.modalOverlayMask + .modalShadow {
		box-shadow:none;
	}

	#workOutQuickView {
		background:none;
		height:100% !important;
		width:100% !important;
		// border:1px solid red;
	}

	.QVHeader {
		background-color:#fff;
		box-shadow:none;
		padding:0;
		height:auto;
	}

	.workoutIconLarge {
		
	}

	.workout.future {
		background-color:#fff;
	}

	.workoutBarViewHeader {
		border:none;
	}

	#quickViewContent {
		background:none;
		height:100%;
		width:750px;
		overflow-y:auto;
		float:left;
		margin:10px 0;
	}


	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
		border:none;
		padding:0;
	}

	textarea {
		resize:none !important;
	}

	.workoutStatsCompleted, #workoutMinMaxAvgStats, .columnLabelsMinMaxAvg {
		// display:none;
	}

	#commentsContainer .comments {
	  // border-left: 1px solid red;
	  padding: 0 0 0 10px;
	  width: 475px;
	}

	textarea#descriptionInput, textarea#preActivityCommentsInput {
		margin:0 0 25px 0;
		min-height:none;
	}

	#postActivityCommentsList {
		display:none;
	}

	.workoutBarViewHeader {
		width:735px;
		height:95px;
		// border-bottom:1px solid blue;
		margin:0 10px;
		padding-left:0;
	}

	.workoutBarViewHeader .workoutHeaderStats {
		width:85%;
	}

	.QVHeader .dateAndTime {
		padding: 10px 12px 0 12px;
	}

	.columnLabelsPlannedCompleted {
		padding-top:0;
	}

	.stats {
		padding:0px 5px;
	}
}