
// TP Color Scheme
$black: #000000;
$white: #ffffff;
$TPBlue: #005695;
$TPPurple: #873794;

$TPGrey1: #eaebec;
$TPGrey2: #cccccc;
$TPGrey3: #636569;
$TPGrey4: #303030;
$TPGrey5: #cdcbcb;
$TPGrey6: #dedcdc;
$TPGrey7: #aaaaaa;
$TPGrey8: #636569;
$TPGrey9: #b5b5b5;

// calendar colors
$thisWeekBlue: #8eb2d8;
$todayBlue: #bfd3e9;
$selectedDay: $todayBlue;

// all other sizes are relative to this
$baseFontSize: 14px;

// 30px

$fontSizeQVHeader: 2.143em;

// 25px
$fontSizeHeader: 1.786em;

//20px
$fontSizeXXLarge: 1.429em;

// 17px
$fontSizeXLarge: 1.214em;

// 16px
$fontSizeLarge: 1.143em;

// 15px
$fontSizeMedLarge: 1.071em;

// 14px
$fontSizeMedium: 1em;

// 12px
$fontSizeSmall: .857em;

// 11px
$fontSizeSmaller: .786em;

// 10px
$fontSizeXSmall: .714em;

// footer fonts
$footerFontFamily: 'Courier New', Courier, 'Nimbus Mono L', monospace;


// navigation fonts
$fontFamilyLight: "HelveticaNeueW01-45Ligh";
$fontFamilyRegular: "HelveticaNeueW01-65Medi"; 
$fontFamilyHeavy: "HelveticaNeueW01-85Heav"; 

// colors by workout type
$clrRun: LightPink;
$clrBike: LightGreen;
$clrSwim: LightBlue;

// colors by compliance
$clrComplianceGreen: #80c159;
$clrComplianceYellow: #e7c406;
$clrComplianceRed: #eb7754;