
// TP Color Scheme
$black: #000000;
$white: #ffffff;
$TPBlue: #005695;
$TPBlue2: #3c7fc4;
$TPPurple: #873794;

$TPLinkBlue: #3c7fc4;
$TPLinkBlueHover: #326ca6;

$TPGrey1: #eaebec;
$TPGrey2: #cccccc;
$TPGrey3: #636569;
$TPGrey4: #303030;
$TPGrey5: #cdcbcb;
$TPGrey6: #dedcdc;
$TPGrey7: #aaaaaa;
$TPGrey8: #636569;
$TPGrey9: #b5b5b5;
$TPGrey10: #76787d;
$TPGrey11: #8d8d8d;
$TPGrey12: #a2a3a6;

// calendar colors
$thisWeekBlue: #8eb2d8;
$todayBlue: #bfd3e9;
$selectedDay: $todayBlue;

// all other sizes are relative to this
$baseFontSize: 14px;

// 30px
$fontSizeQVHeader: 2.143em;

// 25px
$fontSizeHeader: 1.786em;

//20px
$fontSizeXXLarge: 1.429em;

// 17px
$fontSizeXLarge: 1.214em;

// 16px
$fontSizeLarge: 1.143em;

// 15px
$fontSizeMedLarge: 1.071em;

// 14px
$fontSizeMedium: 1em;

// 12px
$fontSizeSmall: .857em;

// 11px
$fontSizeSmaller: .786em;

// 10px
$fontSizeXSmall: .714em;

// footer fonts
$footerFontFamily: 'Courier New', Courier, 'Nimbus Mono L', monospace;


// navigation fonts
$fontFamilyLight: "HelveticaNeueW01-45Ligh";
$fontFamilyRegular: "HelveticaNeueW01-55Roma";
$fontFamilyHeavy: "HelveticaNeueW01-75Bold";
$fontFamilyLightItalic: "HelveticaNeueW01-46Ligh";
$fontFamilyRegularItalic: "HelveticaNeueW01-56It";
$fontFamilyHeavyItalic: "HelveticaNeueW01-76Bold";

// colors by workout type
$clrRun: #1e5162;
$clrBike: #561484;
$clrSwim: #0382b1;
$clrBrick: #7b1f40;
$clrOther: #8e1094;
$clrRace: #007c7c;
$clrRest: #84979c;
$clrMTB: #6e512a;
$clrStrength: #551a51;
$clrXc-ski: #d26033;
$clrRowing: #14afd9;
$clrWalk: #aba001;
$clrMetric: $TPGrey3;
$clrMeal: $TPGrey3;


// colors by compliance
$clrComplianceGreen: #80c159;
$clrComplianceYellow: #e7c406;
$clrComplianceRed: #eb7754;

// chart colors by channel
$clrHeartRate: #e61101;
$clrCadence: #FFA500;
$clrPower: #FF00FF;
$clrRightPower: #FF00FF;
$clrSpeed: #0b8200;
$clrElevation: #6e96b9;
$clrTemperature: #0A0AFF;
$clrTorque: #BDBDBD;
$clrDistance: #7B1F40;
$clrTime: #2ac8f4;

// elevation correction colors
$clrElevOriginal: #6e96b9;
$clrElevCorrected: #e61101;

.helpText
{
    font-family: $fontFamilyRegularItalic;
    font-size: $fontSizeSmall;
}


a {
	color: $TPLinkBlue;
}

a:hover, a:focus {
	color: $TPLinkBlueHover;
}