/dist/
/*.v11.suo
/.sass-cache/
/build/
/BuildTools/
/junit_reports/
/bin/
/obj/
/plato/
/coverage/
/test/webApiJson/

*.csproj*
*.suo
/*.sln.DotSettings.user
*.swp

test/specs.js
JSLintOptions.xml
/SeleniumSuite/bin
/SeleniumSuite/obj
/.idea
todo.txt
scratch.txt

# Don't keep the phantomjs binaries in git
node_modules/grunt-mocha/node_modules/grunt-lib-phantomjs/node_modules/phantomjs/lib/phantom
node_modules/grunt-mocha/node_modules/grunt-lib-phantomjs/node_modules/phantomjs/lib/location.js

# ignore npm binaries
.bin
