/dist/
/*.v11.suo
/.sass-cache/
/build/
/BuildTools/
/junit_reports/
/node_modules/
/bin/
/obj/
/plato/
/coverage/
/test/webApiJson/
*.csproj*
*.suo
/*.sln.DotSettings.user
*.swp

test/specsList.js
JSLintOptions.xml
/SeleniumSuite/bin
/SeleniumSuite/obj
/.idea
todo.txt
scratch.txt