<div class="heartRateZoneGraphTooltip">
    <div class="tooltipRow">
        <span class="tooltipLabel">{{ label }}</span>
    </div>
    <div class="tooltipRow">
        <span class="tooltipLabel">{{$ "Range"}}:</span>
        <span class="tooltipValue">{{ rangeMinimum }}-{{rangeMaximum}} BPM</span>
    </div>
    <div class="tooltipRow">
        <span class="tooltipLabel">% lt:</span>
        <span class="tooltipValue">{{ percentLTMin }}-{{percentLTMax}} %</span>
    </div>
    <div class="tooltipRow">
        <span class="tooltipLabel">% {{$ "Max"}}:</span>
        <span class="tooltipValue">{{ percentMHRMin }}-{{percentMHRMax}} %</span>
    </div>
    <div class="tooltipRow">
        <span class="tooltipLabel">{{$ "Time"}}:</span>
        <span class="tooltipValue">{{ formatSeconds seconds }}</span>
    </div>
    <div class="tooltipRow">
        <span class="tooltipLabel">{{$ "Percent"}}:</span>
        <span class="tooltipValue">{{ percentTime }}%</span>
    </div>
</div>
