{{#hoverBox this right}}
<div class="details chart">
    <div class="graphTooltip">
        {{#each tooltips }}
        <div class="tooltipRow{{#if className }} {{ className }}{{/if}}" {{#if color}}style="color: {{ color }}"{{/if}}>
                {{#if label }}
                    <span class="tooltipLabel">{{ label }}{{#if value}}:{{/if}}</span>
                {{/if}}
                {{#if value}}
                    <span class="tooltipValue">{{ value }}</span>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>
{{/hoverBox}}
