<!-- popup template begins here -->
<div class="hoverBox{{#if uparrow}} uparrow{{/if}}{{#if leftarrow}} leftarrow{{/if}}{{#if rightarrow}} rightarrow{{/if}}"  >

    {{#if uparrow}}

        <!-- triangle/arrow -->
        <div class="arrow"></div>

        <div class="hoverBoxContents">
            {{{ innerHtml }}}
        </div>

        <!-- overall box shadow -->
        <div class="mainShadow"></div>

    {{else}}

        <div class="hoverBoxContents">
            {{{ innerHtml }}}
        </div>

        <!-- overall box shadow -->
        <div class="mainShadow"></div>

        <!-- triangle/arrow -->
        <div class="arrow"></div>
    {{/if}}


</div>
<!-- end popup template -->
