<!-- popup template begins here -->
<div class="hoverBox{{#if uparrow}} uparrow{{/if}}"  >

    {{#if uparrow}}

        <!-- triangle/arrow -->
        <div class="arrow colored"></div>

        <div class="hoverBoxContents">
            {{{ innerHtml }}}
        </div>

        <!-- overall box shadow -->
        <div class="mainShadow"></div>

        <!-- colored bar -->
        <div class="colorBar colored"></div>

    {{else}}

        <div class="hoverBoxContents">
            {{{ innerHtml }}}
        </div>

        <!-- overall box shadow -->
        <div class="mainShadow"></div>

        <!-- colored bar -->
        <div class="colorBar colored"></div>

        <!-- bottom shadow - heavier than the rest, but it's layered to the back so it gets rendered ligher -->
        <div class="bottomShadow"></div>

        <!-- triangle/arrow -->
        <div class="arrow colored"></div>
    {{/if}}


</div>
<!-- end popup template -->
