<div id="calendarMonthLabel" class="calendarMonthLabel frameworkTitle">
    <label class="headerMonth">{{$ "My"}}</label>
    <label class="headerYear">{{$ "Dashboard"}}</label>
</div>
<div class="navigation">
    <div class="today">
        <button id="range" tabindex="-1">{{$ "Range"}}</button>
    </div>
    <div class="printRefreshButtons">
        <button class="printButton" title="Print" tabindex="-1"></button>
        <button class="refreshButton" title="Refresh" tabindex="-1"></button>
        <button class="settingsButton" title="Calendar Settings" tabindex="-1"></button>
    </div>
    <div class="datePicker">
        <select id="chartDateOptions">
            {{#each dateOptions}}
            <option value="{{ id }}"{{#if selected}} selected{{/if}}>{{ label }}</option>
            {{/each}}
        </select>
    </div>
</div>
<div id="affiliateBanner"></div>