{{! we need this outer div for styling because of the way this datepicker is used by other views }}
<div class="dashboardDatePicker">
    <h3 class="subheadbold selectRange">{{$ "SelectDateRange" }}</h3>
    <div class="dateOptionsWrapper">
        <select class="dateOptions">
            {{#each dateOptionList}}
            <option value="{{ id }}"{{#if selected}} selected{{/if}}>{{ label }}</option>
            {{/each}}
        </select>
    </div>
    <div class="dateRanges{{#if customStartDate }} customStartDate{{/if}}{{#if customEndDate }} customEndDate{{/if}} cf">
        <span class="title fromTo">{{$ "From"}}:</span>
        <input type="text" class="datepicker startDate" value="{{ formatDate startDate }}">
        <div class="date startDate">{{ formatDate startDate }}</div>
        <span class="title fromTo to">{{$ "To"}}:</span>
        <input type="text" class="datepicker endDate" value="{{ formatDate endDate }}">
        <div class="date endDate">{{ formatDate endDate }}</div>
    </div>
</div>
