{{#hoverBox this}}
    <div class="details">
        <h3 class="subheadbold">{{$ "SelectWorkoutType" }}</h3>
        <div id="closeIcon"></div>
        
        <div class="workoutTypes cf">
            {{#each workoutTypes}}
                <div class="workoutType">
                    <label><input type="checkbox" data-workouttypeid="{{ id }}" {{#if selected}}checked{{/if}} /> {{ name }}</label>
                </div>
            {{/each}}
        </div>

        <div class="datepickerContainer"></div>

        <div class="selectParameters cf">
            <div class="title">{{$ "SelectParameters"}}</div>

            <div class="numberInputContain cf">
                <div class="numberInput constant">
                    <span class="numberInputLabel">{{$ "CTLConstant"}}</span>
                    <input type="number" id="ctlConstant" min="7" max="200" value="{{ ctlConstant }}" class="numberInput">
                </div>

                <div class="numberInput start">
                    <span class="numberInputLabel">{{$ "CTLStart"}}</span>
                    <input type="number" id="ctlStartValue" min="0" max="500" value="{{ ctlStartValue }}" class="numberInput">
                </div>

                <div class="numberInput constant">
                    <span class="numberInputLabel">{{$ "ATLConstant"}}</span>
                    <input type="number" id="atlConstant" min="1" max="40" value="{{ atlConstant }}" class="numberInput">
                </div>

                <div class="numberInput start">
                    <span class="numberInputLabel">{{$ "ATLStart"}}</span>
                    <input type="number" id="atlStartValue" min="0" max="500" value="{{ atlStartValue }}" class="numberInput">
                </div>
            </div>

            

            <div class="checkboxInput">
                <label><input type="checkbox" id="showTSSPerDay" class="checkbox chartSeriesOption"{{#if showTSSPerDay }} checked{{/if}}/> {{$ "ShowTSS"}}</label>
            </div>
            
            <div class="checkboxInput right">
                <label><input type="checkbox" id="showIntensityFactorPerDay" class="checkbox chartSeriesOption"{{#if showIntensityFactorPerDay }} checked{{/if}}/> {{$ "ShowIntensityFactor"}}</label>
            </div>
            
            <div class="checkboxInput">
                <label><input type="checkbox" id="showTSBFill" class="checkbox chartSeriesOption"{{#if showTSBFill }} checked{{/if}}/> {{$ "ShowTSBFill"}}</label>
            </div>

        </div>

        {{#comment}}
        <div class="missingData">
            {{$ "MissingTSSData"}}?
            <button>{{$ "RecalculateTssData"}}</button>
        </div>
        {{/comment}}

        <div class="LearnMore">
            <p class="helpText"><a href="http://support.trainingpeaks.com/athlete-edition/training-stress-scores/performance-management-chart.aspx" target="_blank">{{$ "LearnMoreAboutThePMC"}}</a></p>
        </div>
    </div>
{{/hoverBox}}
