{{#hoverBox this}}
    <div class="details">
        <h3 class="subheadbold">{{$ "SelectWorkoutType" }}</h3>
        <div id="closeIcon"></div>
        <div class="workoutTypes">
            {{#each workoutTypes}}
                <div class="workoutType">
                    <label><input type="checkbox" data-workouttypeid="{{ id }}" {{#if selected}}checked{{/if}} /> {{ name }}</label>
                </div>
            {{/each}}
            <div style="clear: both;"></div>
        </div>
    
        <hr/>

        <div class="datepickerContainer"></div>

        <hr/>

        <div class="title">{{$ "SelectParameters"}}</div>

        <div class="numberInput">{{$ "CTLConstant"}}<input type="number" id="ctlConstant" min="7" max="200" value="{{ ctlConstant }}" class="numberInput"></div>
        <div class="numberInput">{{$ "CTLStart"}}<input type="number" id="ctlStartValue" min="0" max="500" value="{{ ctlStartValue }}" class="numberInput"></div>
        <div class="numberInput">{{$ "ATLConstant"}}<input type="number" id="atlConstant" min="1" max="40" value="{{ atlConstant }}" class="numberInput"></div>
        <div class="numberInput">{{$ "ATLStart"}}<input type="number" id="atlStartValue" min="0" max="500" value="{{ atlStartValue }}" class="numberInput"></div>
        <div style="clear:both;"></div>

        <div class="checkboxInput">
            <label><input type="checkbox" id="showTSSPerDay" class="checkbox chartSeriesOption"{{#if showTSSPerDay }} checked{{/if}}/> {{$ "ShowTSS"}}</label>
        </div>
        <div class="checkboxInput">
            <label><input type="checkbox" id="showIntensityFactorPerDay" class="checkbox chartSeriesOption"{{#if showIntensityFactorPerDay }} checked{{/if}}/> {{$ "ShowIntensityFactor"}}</label>
        </div>
        <div class="checkboxInput">
            <label><input type="checkbox" id="showTSBFill" class="checkbox chartSeriesOption"{{#if showTSBFill }} checked{{/if}}/> {{$ "ShowTSBFill"}}</label>
        </div>

        <div style="clear:both;"></div>
       <hr />

        {{#comment}}
        <div class="missingData">
            {{$ "MissingTSSData"}}?
            <button>{{$ "RecalculateTssData"}}</button>
        </div>
        {{/comment}}

        <div class="LearnMore">
            <a class="helpText" href="http://support.trainingpeaks.com/athlete-edition/training-stress-scores/performance-management-chart.aspx" target="_blank">{{$ "LearnMoreAboutThePMC"}}</a>
        </div>
    </div>
{{/hoverBox}}
