<h6>Workouts on {{formatDate date}}</h6>
<ul>
    {{#each workouts}}
	<li class="workout workoutList {{ workoutTypeCssName workoutTypeValueId }}" data-workout-id="{{ workoutId }}">
	    <div class="workoutDiv">
		<div class="workoutHeader">
		    <div class="workoutIcon" title="{{ workoutTypeName workoutTypeValueId }}"></div>
		    <div class="workoutDistanceTime">
			<span class="keystat">
			    {{ formatKeyStat this }}
			    <span class="units">{{ formatKeyStatUnits this }}</span>
			</span>
		    </div>
		</div>
		<div class="workoutBody">
		    <span class="workoutLabel">{{ title }} {{ formatDate startTime "hh:mm A" }}</span>
	    </div>
	</li>
    {{/each}}
</ul>
