<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Training Peaks Javascript Project</title>
	<script src="./lib/json2.js"></script>
	<script src="./lib/jquery-1.10.2.js"></script>
	<script src="./lib/flot/jquery.flot.js"></script>
	<script src="../lib/flot/jquery.flot.time.js"></script>
	<script src="./lib/underscore.js"></script>
 	<script src="./lib/backbone.js"></script>
 	<script src="./src/utils.js"></script>
 	<script src="./src/chartView.js"></script>
 	<script src="./src/mapView.js"></script>
 	<script src="./src/gpsDataModel.js"></script>
 	<script src="./src/appController.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
	<link rel="stylesheet" href="./stylesheets/chartView.css"/>	
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
	
</head>

<body>
 	<div id="appMain">
 		<h2>Performance Data</h2>
  		<div id="mapView"></div>
  		<div id="chartView">
  		</div>
  	</div>
  </body>
</html>