<div class="workoutDiv">
    <div class="workoutSelected" />
    <div class="workoutHeader">
        <div class="workoutIcon">
            <!-- <img src="assets/images/workoutTypeImages/{{ workoutTypeImageName workoutTypeValueId }}.png"/>  -->
        </div>
        <div class="workoutSettings">
            <button><img src="assets/images/calendarImages/settingsButtonSmall.png"/></button>
        </div>
        <div class="workoutDistanceTime">
            <label>{{formatKeyStat this}}<span class="units">{{formatKeyStatUnits this}}</span></label>
        </div>
    </div>
    <div class="workoutBody">
        <label>{{title}}</label>
        <div class="userLayoutAnchor" style="display: none;" />
    </div>
   <!-- <p>  {{ workoutTypeName workoutTypeValueId }}</p> -->
</div>