<div class="workout dragHelper">
    <div class="workoutDiv">
        <div class="workoutHeader">
            <div class="workoutIcon">
                <!-- <img src="assets/images/workoutTypeImages/{{ workoutTypeImageName workoutTypeValueId }}.png"/>  -->
            </div>
            <div class="workoutSettings">
                <button><img src="assets/images/calendarImages/settingsButton.png"/></button>
            </div>
            <div class="workoutDistanceTime">
                <label>{{printKeyStat this}}<span class="units">{{printKeyStatUnits this}}</span></label>
            </div>
        </div>
        <div class="workoutBody">
            <label>{{title}}</label>
        </div>
       <!-- <p>  {{ workoutTypeName workoutTypeValueId }}</p> -->
    </div>
</div>