{{#hoverBox this}}
<div class="details">
    <div>
        <label>{{$ "Distance" }}</label>
        <div>
            <span id="distance" class="completed">{{ convertToViewUnits distance "distance" "0" }}</span>
            <span class="slash"> / </span>
            <span id="distancePlanned" class="planned">{{ convertToViewUnits distancePlanned "distance" "0" }}</span>
        </div>
    </div>
    <div>
        <label>{{$ "Duration" }}</label>
        <div>
            <span id="totalTime" class="completed">{{ formatTime totalTime }}</span>
            <span class="slash"> / </span>
            <span id="totalTimePlanned" class="planned">{{ formatTime totalTimePlanned }}</span>
        </div>
    </div>
    <div>
        <label>{{$ "TSS" }}</label>
        <div>
            <span id="tssActual" class="completed {{#unless tssActual}}empty{{/unless}}">{{ conversion "formatTSS" tssActual}}</span>
            <span class="slash"> / </span>
            <span id="tssPlanned" class="planned {{#unless tssPlanned}}empty{{/unless}}">{{ conversion "formatTSS" tssPlanned}}</span>
        </div>
    </div>
</div>
{{/hoverBox}}