<div id="shiftItems" class="dialog">
    <div class="titleBar cf"><h2>{{$ "ShiftItems"}}</h2></div>
    <div class="shiftItemsBody dialogContent">
        {{! hide checkboxes for now ... }}
        {{#if false}}
        <div class="dialogHeader">{{$ "SelectShiftItemsString"}}</div>
        <form name="selectShiftItems">
           <label><input type="checkbox" id="workouts" value="workouts"/>{{$ "Workouts"}}</label>
           <label><input type="checkbox" id="meals" value="meals"/>{{$ "Meals"}}</label>
        </form>
        {{/if}}
        
		<div id="selectItems">
			<h3>{{$ "SelectShiftItemsString"}}</h3>     
			<form>
            	<label><input type="radio" value="itemsOnAllSelectedDays" name="selectItems" id="selectItemsOnSelectedDays"/>{{$ "ItemsOnAllSelectedDays"}}</label>
            	<label><input type="radio" value="ItemsWithinSpecifiedDateRange" name="selectItems" id="selectItemsWithinDateRange"/>{{$ "ItemsWithinSpecifiedDateRange"}}</label>
            	<label><input type="radio" value="ItemsOnAfterSpecifiedStartDate" name="selectItems" id="selectItemsAfterStartDate"/>{{$ "ItemsOnAfterSpecifiedStartDate"}}</label>
        	</form>
		</div>
        

		<fieldset>
            <legend>{{$ "SelectDateRange"}}</legend>
            
            <div class="textDiv">
                <form class="toAndFromDateRange">
					<div class="DateRangeContain cf">
	            		<div class="dateSelector"><label><span>{{$ "From"}}</span><input type="text" id="fromDate" class="datepicker"/></label></div>
	            		<div class="dateSelector to"><label><span>{{$ "To"}}</span><input type="text" id="toDate" class="datepicker"/></label></div>
	        		</div>
				</form>
            </div>
            
        </fieldset>
		
	
	

        <div id="howToShift">
			<h3>{{$ "HowDoYouWantToShiftItems"}}</h3>
			<form>
	            <label><input type="radio" value="MoveToNewStartDate" name="shiftBy"/>{{$ "MoveNewStartDate"}}</label>
	            <label><input type="radio" value="MoveBySpecifiedNumberOfDays" name="shiftBy"/>{{$ "MoveBySpecifiedNumberOfDays"}}</label>
	            <label><input type="radio" value="MoveBySpecifiedNumberOfWeeks" name="shiftBy"/>{{$ "MoveBySpecifiedNumberOfWeeks"}}</label>

				<div id="MoveContain">
					
					
					
					
	            	<div id="MoveToNewStartDate" class="selectNewStartDateInput">
						<fieldset>
                            <legend>{{$ "SelectNewStartDate"}}</legend>
                            <div class="textDiv">
                                <div class="MoveToNewStartDateInput">
									<input type="text" id="moveToStartDate" class="datepicker"/>
								</div>
                            </div>
                        </fieldset>
		            </div>

		            <div id="MoveBySpecifiedNumberOfDays">
						<fieldset>
                            <legend>{{$ "SelectNumberOfDays"}}</legend>
                            <div class="textDiv">
                               <div class="MoveToNewStartDateInput"><input type="number" id="moveByNumberOfDays" class="numberpicker numberInput"/></div>
                            </div>
                        </fieldset>
		            </div>

		            <div id="MoveBySpecifiedNumberOfWeeks">
						<fieldset>
                            <legend>{{$ "SelectNumberOfWeeks"}}</legend>
                            <div class="textDiv">
                               <div class="MoveToNewStartDateInput"><input type="number" id="moveByNumberOfWeeks" class="numberpicker numberInput"/></div>
                            </div>
                        </fieldset>
		            </div>
		
	        	</div>
			</form>
		</div>

        <div class="cancelOkButtons">
            <button id="cancel">{{$ "Cancel"}}</button>
            <button id="ok">{{$ "OK"}}</button>
        </div>
    </div>

</div>
