<div class="fieldContain">
    <label class="fieldTitle">{{$ "Name" }}</label>
    <input type="text" name="name" />
</div>
<div class="fieldContain">
    <label class="fieldTitle">{{$ "Brand" }}</label>
    <input type="text" name="brand" />
</div>
<div class="fieldContain">
    <label class="fieldTitle">{{$ "Model" }}</label>
    <input type="text" name="model" />
</div>
<div class="fieldContain">
    <label class="fieldTitle">{{$ "Purchase Date" }}</label>
    <input type="text" name="dateOfPurchase" />
</div>
<div class="fieldContain">
    <label class="fieldTitle">{{$ "Default" }}</label>
    <input type="text" name="isDefault" />
</div>
<div class="fieldContain">
    <label class="fieldTitle">{{$ "Retired" }}</label>
    <input type="text" name="retired" />
</div>
<div class="fieldContain">
    <label class="fieldTitle">{{$ "Retired Date" }}</label>
    <input type="text" name="retiredDate" />
</div>
<div class="fieldContain">
    <label class="fieldTitle">{{$ "Start Distance" }}</label>
    <input type="text" name="startingDistance" />
</div>
<div class="fieldContain">
    <label class="fieldTitle">{{$ "Total Distance" }}</label>
    <input type="text" name="actualDistance" />
</div>
<div class="fieldContain">
    <label class="fieldTitle">{{$ "Notes" }}</label>
    <textarea type="text" name="notes" />
</div>
