<h3>Heart Rate Zones - {{ workoutTypeName workoutTypeId "All" }}</h3>

<label>
    Threshold Heart Rate
    <input name="threshold" class="numberInput" data-scope="zoneSet" data-format="number">
</label>
<label>
    Max Heart Rate
    <input name="maximumHeartRate" class="numberInput" data-scope="zoneSet" data-format="number">
</label>
<label>
    Resting Heart Rate
    <input name="restingHeartRate" class="numberInput" data-scope="zoneSet" data-format="number">
</label>

<div class="zones"></div>
<button class="addZone">Add Zone</button>
