<h3>{{$ "SelectCalculator" }}</h3>

<ul>
{{#each calculators}}
	<li><a class="calculator" data-zoneid="{{ id }}">{{ label }} ({{ numberOfZones }})</a></li>
{{/each}}
</ul>

<h3>{{$ "EnterOptions" }}</h3>

<div class="zoneSetContain heartrate">
	<form class="cf">
		<label class="testResult input disabled">
		    <span class="zoneSetTitle">Test Result</span>
		    <input name="testResult" class="numberInput" data-format="zoneValue" placeholder="Enter BPM" />
		</label>
	</form>

	<div class="buttons">
	    <button class="calculate">{{$ "Calculate" }}</button>
	</div>
</div>

<div class="zones"></div>
