<div class="zoneGroupNameContain">
	<h3>{{ workoutTypeName workoutTypeId "Default" }} Power</h3>
	{{#if workoutTypeId }}<button class="removeWorkoutType">Remove</button>{{/if}}
</div>

<div class="zoneSetContain power">
	<fieldset class="zoneSetFieldset">
		<legend>Threshold Value</legend>
		
		<label class="zoneValueContain">
		    <span class="zoneSetTitle">Threshold</span>
		    <input name="threshold" class="numberInput" data-scope="zoneSet" data-format="zoneValue" type="text">
		</label>
	</fieldset>
</div>

<div class="zoneSetContain">
	<fieldset class="zoneSetFieldset autoCalc">
    	<legend>Auto Calculation</legend>
    	<div class="calculator"></div>
	</fieldset>
</div>

<div class="zones zonesConfigGroupView"></div>

<button class="addZone">Add Zone</button>
