<div class="calculatorType">
    <select name="calculatorType"></select>
</div>

<div class="calculatorDefinition">
    <select name="calculatorDefinitionId">
        <option value="" selected>Choose Method</option>
    {{#each calculators}}
        <option value="{{ id }}"{{#if selected}} selected{{/if}}>{{ label }} ({{ numberOfZones }})</option>
    {{/each}}
    </select>
</div>

<div class="power">
    <form>
        <label class="testResult input disabled">
            <span class="zoneSetTitle">Test Result</span>
            <input name="testResult" class="numberInput" data-format="zoneValue" placeholder="Enter Watts" type="text" />
        </label>
    </form>

    <div class="buttons">
        <button class="calculate">{{$ "Calculate" }}</button>
    </div>
</div>



<div class="zones zoneCalculatorView"></div>
