<h3>Power Zones - {{ workoutTypeName workoutTypeId "All" }}</h3>
{{#if workoutTypeId }}<a class="removeWorkoutType">Remove</a>{{/if}}

<div class="zoneSetContain power">
	<fieldset class="zoneSetFieldset">
		<legend>Threshold Value</legend>
		<label>
		    <span class="zoneSetTitle">Threshold</span>
		    <input name="threshold" class="numberInput" data-scope="zoneSet"
		    data-format="zoneValue">
		</label>
	</fieldset>
</div>

<div class="zoneSetContain">
    <h3>Auto Calculation</h3>
    <div class="calculator"></div>
</div>

<div class="zones"></div>
<button class="addZone">Add Zone</button>
