<div class="zoneGroupNameContain">
	<h3>{{ workoutTypeName workoutTypeId "Default" }} Speed/Pace</h3>
	{{#if workoutTypeId }}<button class="removeWorkoutType">Remove</button>{{/if}}
</div>

<div class="zoneSetContain speed">
	<fieldset class="zoneSetFieldset">
		<legend>Threshold Values</legend>
		<form>
		    <label class="zoneValueContain">
				<span class="zoneSetTitle">Threshold</span>
				<input name="threshold" class="numberInput" data-scope="zoneSet" data-format="zoneValue" type="text">
		    </label>

		    <label class="clickable">
				<input type="radio" value="speed" name="units">
				{{ getUnitsLabel "speed" workoutTypeId }}
		    </label>
		    <label class="clickable">
				<input type="radio" value="pace" name="units" checked>
				{{ getUnitsLabel "pace" workoutTypeId }}
		    </label>
		</form>
	</fieldset>
</div>

<div class="zoneSetContain">
	<fieldset class="zoneSetFieldset autoCalc">
    	<legend>Auto Calculation</legend/>
    	<div class="calculator"></div>
	</fieldset>
</div>

<div class="zones zonesConfigGroupView"></div>
<button class="addZone">Add Zone</button>
