<h3>{{$ "SelectCalculator" }}</h3>

<ul>
{{#each calculators}}
    <li><a class="calculator" data-zoneid="{{ id }}">{{ label }} ({{ numberOfZones }})</a></li>
{{/each}}
</ul>

<h3>{{$ "EnterOptions" }}</h3>

<div class="zoneSetContain speed">
    <label class="threshold input disabled">
        <span class="zoneSetTitle">Threshold</span>
        <input name="threshold" class="numberInput thresholdTab" data-format="paceOrSpeed" />
        <span class="paceOrSpeed">
            <label><input type="radio" name="paceOrSpeed" class="thresholdTab" value="speed" />{{ speedUnits }}</label>
            <label><input type="radio" name="paceOrSpeed" class="thresholdTab" value="pace" />{{ paceUnits }}</label>
        </span>
    </label>
    <label class="secondsPer100m input disabled">
        <span class="zoneSetTitle">Seconds / 100m</span>
        <input name="secondsPer100m" class="numberInput hundredMeterTab" data-format="number">
    </label>
    <label class="testDistance input disabled">
        <span class="zoneSetTitle">Test Distance</span>
        <div class="testDistance"><select name="testDistance" data-format="number" class="distanceTab"></select></div>
    </label>
    <label class="speed input disabled">
        <span><input type="radio" class="speedOrDuration distanceTab" name="speedOrDuration" value="speed"/></span>
        <span class="zoneSetTitle">Speed / Pace</span>
        <input name="speed" class="numberInput distanceTab" data-format="paceOrSpeed">
        <span class="paceOrSpeed">
            <label><input type="radio" name="paceOrSpeed" value="speed" class="distanceTab" />{{ speedUnits }}</label>
            <label><input type="radio" name="paceOrSpeed" value="pace" class="distanceTab" />{{ paceUnits }}</label>
        </span>
    </label>
    <label class="duration input disabled">
        <span><input type="radio" class="speedOrDuration distanceTab" name="speedOrDuration" value="duration"/></span>
        <span class="zoneSetTitle">Duration</span>
        <input name="duration" class="numberInput distanceTab" data-format="duration">
    </label>
</div>


<div class="buttons">
    <button class="calculate">{{$ "Calculate" }}</button>
</div>

<div class="zones"></div>
