<h3>Speed/Pace Zones - {{ workoutTypeName workoutTypeId "All" }}</h3>

<form class="cf">
    <label>
	Threshold
	<input name="threshold" data-scope="zoneSet" data-format="zoneValue">
    </label>

    <label>
	<input type="radio" value="speed" name="units" checked>
	{{ getUnitsLabel "speed" workoutTypeId }}
    </label>

    <label>
	<input type="radio" value="pace" name="units">
	{{ getUnitsLabel "pace" workoutTypeId }}
    </label>
</form>

<div class="zones"></div>
<button class="addZone">Add Zone</button>
