<h3>{{$ "SelectCalculator" }}</h3>

<ul>
{{#each calculators}}
    <li><a class="calculator" data-zoneid="{{ id }}">{{ label }} ({{ numberOfZones }})</a></li>
{{/each}}
</ul>

<h3>{{$ "EnterOptions" }}</h3>

<div class="zoneSetContain speed">

    <form class="cf">


        <label class="secondsPer100m input disabled">
            <span class="zoneSetTitle">Seconds / 100m</span>
            <input name="secondsPer100m" class="numberInput hundredMeterTab" data-format="number" placeholder="Enter Seconds/100m" />
        </label>
        <label class="testDistance input disabled">
            <span class="zoneSetTitle">Test Distance</span>
            <div class="testDistance"><select name="testDistance" data-format="number" class="distanceTab"></select></div>
        </label>
        <label class="speed input disabled clickable">
            <div class="zoneSetTitle">
                <input type="radio" class="speedOrDuration distanceTab" name="speedOrDuration" value="speed" placeholder="Enter speed or pace"/>
                Speed / Pace
            </div>
            <input name="speed" class="numberInput distanceTab" data-format="paceOrSpeed">
        </label>
        <label class="duration input disabled clickable">
            <div class="zoneSetTitle">
                <input type="radio" class="speedOrDuration distanceTab" name="speedOrDuration" value="duration"/>
                Duration
            </div>
            <input name="duration" class="numberInput distanceTab" data-format="duration" value="Enter Duration" />
        </label>

    </form>

    <div class="buttons">
        <button class="calculate">{{$ "Calculate" }}</button>
    </div>

</div>




<div class="zones"></div>
