<div class="userSettingsContent userSettingsZonesTemplate">

    <h2 data-subnav="heartrate">Heart Rate</h2>
    <select class="selectWorkoutType" data-zone-type="heartRate"></select>
    <a class="addWorkoutType" data-zone-type="heartRate">Add</a>
    <div class="heartRateZones"></div>

    <h2 data-subnav="power">Power</h2>
    <select class="selectWorkoutType" data-zone-type="power"></select>
    <a class="addWorkoutType" data-zone-type="power">Add</a>
    <div class="powerZones"></div>

    <h2 data-subnav="speedPace">Speed/Pace</h2>
    <select class="selectWorkoutType" data-zone-type="speedPace"></select>
    <a class="addWorkoutType" data-zone-type="speedPace">Add</a>
    <div class="speedPaceZones"></div>

    <h2 data-subnav="notifications">Notifications</h2>
    <div class="zonesNotifications"></div>

</div>
