<div class="userSettingsContent userSettingsZonesTemplate">

    <div class="scrollTarget" data-target="heartrate">
        <h2 class="accountSettingsSectionTitle">Heart Rate</h2>
        <div class="heartRateZones"></div>
        <div class="addZoneContain">

            <h3>Add Activity</h3>
            <div class="selectBoxWrapper">
                <select class="selectWorkoutType" data-zone-type="heartRate"></select>
            </div>
            <button class="addWorkoutType" data-zone-type="heartRate">Add</button>
        </div>
    </div>

    <div class="scrollTarget" data-target="power">
        <h2 class="accountSettingsSectionTitle">Power</h2>
        <div class="powerZones"></div>
        <div class="addZoneContain">
            <h3>Add Activity</h3>
            <div class="selectBoxWrapper">
                <select class="selectWorkoutType" data-zone-type="power"></select>
            </div>
            <button class="addWorkoutType" data-zone-type="power">Add</button>
        </div>
    </div>

    <div class="scrollTarget" data-target="speedPace">
        <h2 class="accountSettingsSectionTitle">Speed/Pace</h2>
        <div class="speedPaceZones"></div>
        <div class="addZoneContain">
            <h3>Add Activity</h3>
            <div class="selectBoxWrapper">
                <select class="selectWorkoutType" data-zone-type="speedPace"></select>
            </div>
            <button class="addWorkoutType" data-zone-type="speedPace">Add</button>
        </div>
    </div>

    <div class="scrollTarget last" data-target="notifications">
        <h2 class="accountSettingsSectionTitle">Notifications</h2>
        <div class="zonesNotifications"></div>
    </div>

</div>
