<div class="userSettingsContent userSettingsZonesTemplate">

    <div class="scrollTarget" data-target="heartrate">
        <h2>Heart Rate</h2>
        <div class="addZoneContain cf">
            <select class="selectWorkoutType" data-zone-type="heartRate"></select>
            <a class="addWorkoutType" data-zone-type="heartRate">Add</a>
        </div>
        <div class="heartRateZones"></div>
    </div>

    <div class="scrollTarget" data-target="power">
        <h2>Power</h2>
        <div class="addZoneContain cf">
            <select class="selectWorkoutType" data-zone-type="power"></select>
            <a class="addWorkoutType" data-zone-type="power">Add</a>
        </div>
        <div class="powerZones"></div>
    </div>

    <div class="scrollTarget" data-target="speedPace">
        <h2>Speed/Pace</h2>
        <div class="addZoneContain cf">
            <select class="selectWorkoutType" data-zone-type="speedPace"></select>
            <a class="addWorkoutType" data-zone-type="speedPace">Add</a>
        </div>
        <div class="speedPaceZones"></div>
    </div>

    <div class="scrollTarget" data-target="notifications">
        <h2>Notifications</h2>
        <div class="zonesNotifications"></div>
    </div>

</div>
