.athleteCollection
{
    .athlete
    {
        margin: 5px 4px 4px 2px;
        min-height: 35px;
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: $TPGrey2;
        background-color: $TPGrey2;
        cursor: pointer;
        width: 300px;

        &:hover
        {
            border-color: $TPGrey11;
        }

        .name
        {
            font-family: $fontFamilyRegular;
            font-size: $fontSizeXLarge;
            color: $TPGrey4;
        }
    }
}