<section class="initialProfile">

    <div class="white83 accountMiddle">

        <h1>Complete your profile</h1>
        <p>Help us personalize your experience</p>

        <form action="training-plans-listing.html">

            <div class="group selectArea">

                <div class="labelContainer">

                    <label for="language">Language</label>
                    <label for="unitPreference">Unit Preference</label>
                    <label for="weight">Weight</label>

                </div><!-- End .labelContainer -->

                <select id="language" name="language">
                    <option value="en-us">English</option>
                </select><!-- End #language -->

                <select id="unitPreference" name="unitPreference" data-format="number">
                    <option value="1">Imperial</option>
                    <option value="2">Metric</option>
                </select><!-- End #unitPreference -->

                <input id="weight" name="weight" data-format="units:kg">
                <span class="weightUnits"></span>

            </div><!-- End .selectArea -->

            <div class="group selectArea">

                <div class="labelContainer">

                    <label for="birthdayMonth">Birthday Month</label>
                    <label for="birthdayYear">Birthday Year</label>

                </div><!-- End .labelContainer -->

                <select id="birthdayMonth" name="birthdayMonth" data-format="number">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select><!-- End #birthdayMonth -->

                <input id="birthdayYear" name="birthdayYear" data-format="number">

            </div><!-- End .selectArea -->

            <div class="group selectArea">

                <div class="labelContainer">

                    <label for="timeZone">Time Zone</label>
                    <label for="country">Country</label>

                </div><!-- End .labelContainer -->

                <select id="timeZone" name="timeZone">
                    <option value="" selected>{{$ "TimeZone" }}</option>
                {{#each timeZones }}
                    <option value="{{ key }}">{{ value }}</option>
                {{/each}}
                </select><!-- End #timeZone -->

                <select id="country" name="country">
                    <option value="" selected>{{$ "Country" }}</option>
                {{#each countries}}
                    <option value="{{ data }}">{{ label }}</option>
                {{/each}}
                </select><!-- End #country -->

            </div><!-- End .selectArea -->

            <div class="group selectArea">

                <select id="interestedIn" name="interestedIn">
                    <option value="imMostInterestedIn">I'm most interested in...</option>
                    <option value="running">Running</option>
                    <option value="cycling">Cycling</option>
                </select><!-- End #interestedIn -->

            </div><!-- End .selectArea -->

            <hr class="darkBlue2" />

            <div class="labelContainer">

                <label for="thresholdPower">Threshold Power</label>
                <label for="thresholdHeartRate">Threshold Heart Rate</label>

            </div><!-- End .labelContainer -->

            <input id="thresholdPower" name="thresholdPower" type="text" placeholder="220 worth'a puddin" data-format="units:power">

            <input id="thresholdHeartRate" name="thresholdHeartRate" type="text" placeholder="177"><br />

            <label for="runPaceSpeed">Run Pace/Speed</label><br />
            <input id="runPaceSpeed" name="runPaceSpeed" type="text" placeholder="10:00" data-format="runPace">
            <input name="runUnits" type="radio" id="runUnitsSpeed" value="speed">
            <label for="runUnitsSpeed"><span></span>mph</label>
            <input name="runUnits" type="radio" id="runUnitsPace" value="pace" checked>
            <label for="runUnitsPace"><span></span>min/mile</label>

            <br />

            <label for="swimPace">Swim Pace/Speed</label><br/>
            <input id="swimPace" name="swimPace" type="text" placeholder="2:00" data-format="swimPace">
            <input name="swimUnits" type="radio" id="swimPaceRadio1" value="2" data-format="number">
            <label for="swimPaceRadio1"><span></span>/100m</label>
            <input name="swimUnits" type="radio" id="swimPaceRadio2" value="1" data-format="number" checked>
            <label for="swimPaceRadio2"><span></span>/100y</label>

            <br />

            <input name="submit" type="submit" class="buttonBlue1" value="Next">

            <p>Configure email preferences and more in account settings</p>

        </form>

    </div><!-- End .accountMiddle -->

</section><!-- End .account1 -->
