<section class="initialProfile">

    <div class="white83 accountMiddle">

        <h1>Complete your profile</h1>
        <p>Help us personalize your experience.</p>

        <form action="training-plans-listing.html">

            <div class="group selectArea">
                <div class="fieldContain">
                    <label for="language" class="fieldTitle">Language</label>
                    <select id="language" name="language">
                        <option value="en-us">English</option>
                    </select><!-- End #language -->
                </div>

                <div class="fieldContain">
                    <label for="unitPreference" class="fieldTitle">Unit Preference</label>
                    <select id="unitPreference" name="unitPreference" data-format="number">
                        <option value="1">Imperial</option>
                        <option value="2">Metric</option>
                    </select><!-- End #unitPreference -->
                </div>

                <div class="fieldContain weight">
                    <label for="weight" class="fieldTitle">Weight</label>
                    <input id="weight" name="weight" data-format="units:kg" type="text">
                    <span class="weightUnits"></span>
                </div>
            </div><!-- End .selectArea -->

            <div class="group selectArea">
                <div class="fieldContain">
                    <label for="birthdayMonth" class="fieldTitle">Birthday Month</label>
                    <select id="birthdayMonth" name="birthdayMonth">
                        <option value="" selected>{{$ "Month" }}</option>
                        {{# forRange 1 12 }}
                            <option value="{{ index }}">{{ formatMonth index "MMMM" }}</option>
                        {{/forRange}}
                    </select><!-- End #birthdayMonth -->
                </div>

                <div class="fieldContain">
                    <label for="birthdayYear" class="fieldTitle">Birthday Year</label>
                    <select id="birthdayYear" name="birthdayYear">
                        <option value="" selected>{{$ "Year" }}</option>
                        {{#forRange 1900 2100 }}
                            <option value="{{ index }}">{{ formatYear index "YYYY" }}</option>
                        {{/forRange}}
                    </select>
                </div>
            </div><!-- End .selectArea -->

            <div class="group selectArea">
                <div class="fieldContain">
                    <label for="timeZone" class="fieldTitle">Time Zone</label>
                    <select id="timeZone" name="timeZone">
                        <option value="" selected>{{$ "TimeZone" }}</option>
                        {{#each timeZones }}
                            <option value="{{ key }}">{{ value }}</option>
                        {{/each}}
                    </select><!-- End #timeZone -->
                </div>

                <div class="fieldContain">
                    <label for="country" class="fieldTitle">Country</label>
                    <select id="country" name="country">
                        <option value="" selected>{{$ "Country" }}</option>
                        {{#each countries}}
                            <option value="{{ data }}">{{ label }}</option>
                        {{/each}}
                    </select><!-- End #country -->
                </div>

            </div><!-- End .selectArea -->

            <div class="group selectArea">
                <div class="fieldContain mostInterestedIn">
                    <select id="interestedIn" name="interestedIn" data-label="Primary Interest">
                        <option value="">I'm most interested in...</option>
                        <option value="Dependent">Having an expert tell me what to do</option>
                        <option value="Planner">Planning my own training</option>
                        <option value="Analyzer">Analyzing my training data</option>
                        <option value="Full Looper">Planning and analyzing all my training</option>
                    </select><!-- End #interestedIn -->
                </div>

            </div><!-- End .selectArea -->

            <hr class="darkBlue2" />
            
            <div class="fieldContain">
                <label for="thresholdPower" class="fieldTitle">Threshold Power</label>
                <input id="thresholdPower" name="thresholdPower" type="text" data-format="units:power">
            </div>
            <div class="fieldContain">
                <label for="thresholdHeartRate" class="fieldTitle">Threshold Heart Rate</label>
                <input id="thresholdHeartRate" name="thresholdHeartRate" type="text" data-format="units:heartrate">
            </div>

            <div class="fieldContain runPaceContain">
                <label for="runDuration" class="fieldTitle">Run Pace (mm:ss)</label>
                <input id="runDuration" name="runDuration" type="text" placeholder="36:00" data-format="runDuration">
                
                <label class="radioContain">
                    <input name="runDistance" type="radio" id="runDistance" value="5k">
                    <label for="runDistance">5k</label>
                </label>
                
                <label class="radioContain">
                    <input name="runDistance" type="radio" id="runDistance" value="10k">
                    <label for="runDistance">10k</label>
                </label>
            </div>

            <div class="fieldContain swimPaceContain">
                <label for="swimPace" class="fieldTitle">Swim Pace (mm:ss)</label>
                <input id="swimPace" name="swimPace" type="text" placeholder="2:00" data-format="swimPace">
                
                <label class="radioContain">
                    <input name="swimUnits" type="radio" id="swimPaceRadio1" value="2" data-format="number">
                    <label for="swimPaceRadio1"><span></span>/100m</label>
                </label>
                
                <label class="radioContain">
                    <input name="swimUnits" type="radio" id="swimPaceRadio2" value="1" data-format="number">
                    <label for="swimPaceRadio2"><span></span>/100y</label>
                </label>
            </div>

            <div class="helpMessaging">
                <p>Not sure about your threshold values? Just leave the default settings and we'll manage your values over time.</p>
            </div>

            <div class="accountBottom">
                <input name="submit" type="submit" class="buttonBlue1" value="Done">
            
                <p class="configure">Configure email preferences and more in <a href="#" class="accountSettings">account settings</a>.</p>
            </div>

        </form>

    </div><!-- End .accountMiddle -->

</section><!-- End .account1 -->
