<dl>
    <dt>{{$ "Date" }}:</dt>
    <dd>{{ formatDate paypalDate "L" }}</dd>
    <dt>{{$ "Description" }}:</dt>
    <dd>{{ defaultValue skuDescription "--" }}</dd>
    <dt>{{$ "Sku" }}:</dt>
    <dd>{{ defaultValue sku "--" }}</dd>
    <dt>{{$ "Card #" }}:</dt>
    <dd>{{ defaultValue accountNumber "--" }}</dd>
    <dt>{{$ "Transaction #" }}:</dt>
    <dd>{{ defaultValue originalTransId "--" }}</dd>
    <dt>{{$ "Price" }}:</dt>
    <dd>{{ formatDollars totalAsDollars }}</dd>
    <dt>{{$ "Type" }}</dt>
    <dd>{{ defaultValue type "--" }}</dd>
</dl>
