
<div class="userSettingsPersonalSection">
    <h3 class="title">{{$ "PersonalInfo" }}</h3>
    
    <div class="row cf">
        <div class="firstName personalLeftCol">
            <label>{{$ "FirstName" }}</label>
            <input data-modelname="user" type="text" name="firstName" />
        </div>

        <div class="lastName personalRightCol">
            <label>{{$ "LastName" }}</label>
            <input data-modelname="user" type="text" name="lastName" />
        </div>
    </div>

    <div class="row cf">
        <div class="personalLeftCol">
            <label>{{$ "Username" }}</label>
            <label class="username">{{ userName }}</label>
        </div>
    </div>

    <div class="row cf">
        <div class="personalLeftCol">
            <label>{{$ "Password" }}</label>
            <input type="password" name="password" data-modelname="password" />
        </div>

        <div class="personalRightCol">
            <label>{{$ "RetypePassword" }}</label>
            <input type="password" name="retypePassword" data-modelname="password" />
        </div>
    </div>

    <div class="row cf">
        <div class="personalLeftCol">
            <label>{{$ "AthleteType" }}</label>
            <div class="selectBox">
                 <select data-modelname="account" name="athleteTypeValue" >
            
                {{#each athleteTypes}}
                    <option value="{{ data }}">{{ label }}</option>
                {{/each}}
                </select>
            </div>
        </div>
    </div>

    <div class="row cf">
        <div class="personalLeftCol">
            <label>{{$ "Birthday" }}</label>
            <input data-modelname="user" type="text" data-format="date" name="birthday" class="datepicker" />
        </div>
    </div>

    <div class="row cf">
        <label>{{$ "Gender" }}</label>
        <label class="radioButtonRow genderRadioButtonRow">
            <input data-modelname="user" type="radio" name="gender" value="m"/>
            Male
        </label>
        <label class="radioButtonRow genderRadioButtonRow">
            <input data-modelname="user" type="radio" name="gender" value="f"/>
            Female
        </label>
    </div>

    <div class="row cf">
        <div class="personalLeftCol">
            <label>{{$ "Email" }}</label>
            <input data-modelname="user" type="email" name="email" />
        </div>
    </div>

    <div class="row cf">
        <div class="personalLeftCol">
            <label>{{$ "Address" }} 1</label>
            <input data-modelname="user" type="text" name="address" />
        </div>
        <div class="personalRightCol">
            <label>{{$ "Address" }} 2</label>
            <input data-modelname="user" type="text" name="address2" />
        </div>
    </div>

    <div class="row cf">
        <div class="personalLeftCol">
            <label>{{$ "City" }}</label>
            <input data-modelname="user" type="text" name="city" />
        </div>
        <div class="personalRightCol">
        <label>{{$ "State" }}</label>
            <div class="selectBox state cf">
                <select data-modelname="user" name="state">
                {{#each states}}
                    <option value="{{ data }}">{{ label }}</option>
                {{/each}}
                </select>
            </div>
        </div>
    </div>

    <div class="row cf">
        <div class="personalLeftCol">
            <label>{{$ "ZipCode" }}</label>
            <input data-modelname="user" type="text" name="zipCode" />
        </div>
        
        <div class="personalRightCol">
            <label>{{$ "Country" }}</label>
            <div class="selectBox country cf">
                <select data-modelname="user" name="country" >
                {{#each countries}}
                    <option value="{{ data }}">{{ label }}</option>
                {{/each}}
                </select>
            </div>
        </div>
    </div>

    <div class="row cf">
        <div class="personalLeftCol">
            <label>{{$ "Phone" }}</label>
            <input data-modelname="user" type="tel" name="phone" />
        </div>

        <div class="personalRightCol">
            <label>{{$ "CellPhone" }}</label>
            <input data-modelname="user" type="tel" name="cellPhone" />
        </div>
    </div>

    <div class ="row profilePicture cf">
        <div class="personalLeftCol">
            <label>{{$ "ProfilePicture" }}</label>
            <div class="photoContainer">
                <img src="" />
                <div class="placeholder">{{$ "NoPhoto" }}</div>
            </div>
            <div class="buttons">
                <button class="uploadPhoto">{{$ "UploadPhoto" }}</button>
                <button class="removePhoto">{{$ "RemovePhoto" }}</button>
            </div>
        </div>
    </div>

    <input style="display: none" type="file" class="fileUploadInput" accept="image/gif, image/jpeg, image/png" />

</div>


<div class="userSettingsPersonalSection">
    <h3 class="title accountSettings">{{$ "AccountSettings" }}</h3>

    <div class="row">
        <label>{{$ "AccountType" }}</label>
        <label class="textCopy small">{{ userType }}</label>
    </div>

    <div class="row">
        <label>{{$ "Units" }}</label>
        <label class="radioButtonRow">
            <input data-modelname="user" data-format="number" type="radio" name="units" value="1" />
            English
        </label>
        <label class="radioButtonRow">
            <input data-modelname="user" data-format="number" type="radio" name="units" value="2" />
            Metric
        </label>
    </div>

    <div class="row">
        <label>{{$ "DateFormat" }}</label>
        <label class="radioButtonRow">
            <input data-modelname="user" type="radio" name="dateFormat" value="mdy" />
            MM/DD/YY
        </label>
        <label class="radioButtonRow">
            <input data-modelname="user" type="radio" name="dateFormat" value="dmy" />
            DD/MM/YY
        </label>
    </div>

    <div class="row">
        <label>{{$ "TimeZone" }}</label>
        <div class="selectBox timeZone">
            <select data-modelname="user" name="timeZone" >
            {{#each timeZones }}
                <option value="{{ key }}">{{ value }}</option>
            {{/each}}
            </select>
        </div>
    </div>
</div>


<div class="userSettingsPersonalSection">
{{#with iCalendarKeys }}
    <h3 class="title accountSettings">{{$ "CalendarSync" }}</h3>

        <div class="row">
            <label>{{$ "WorkoutsOnly" }}</label>
            <input class="ical" type="text" readonly name="iCalendarKeys.workoutsOnly" value="{{ webcalRoot }}{{ workoutsOnly }}.ics"/>
        </div>
     
        <div class="row">
            <label>{{$ "MealsOnly" }}</label>
            <input class="ical" type="text" readonly name="iCalendarKeys.mealsOnly" value="{{ webcalRoot }}{{ mealsOnly }}.ics" />
        </div>       

        <div class="row">
            <label>{{$ "WorkoutsAndMeals" }}</label>
            <input class="ical" type="text" readonly name="iCalendarKeys.workoutsAndMeals" value="{{ webcalRoot }}{{ workoutsAndMeals }}.ics" />
        </div>

    <p class="small">{{$ "ICalHelpText" }}</p>
{{/with}}
</div>

<div class="userSettingsPersonalSection">
    <h3 class="title accountSettings">{{$ "EmailOptions" }}</h3>

    <div class="row">
        <label class="checkBoxRow"> {{$ "emailPMNotificationSetting" }}<input data-modelname="account" type="checkbox" name="enablePrivateMessageNotifications"> </label>
    </div>

    <div class="row">
        <label class="checkBoxRow"> {{$ "postActivityNotificationSetting" }}<input data-modelname="athlete" type="checkbox" name="enableWorkoutCommentNotification"> </label>
    </div>

    <div class="row">
        <label class="checkBoxRow">{{$ "plannedWorkoutsNotificationSetting" }}<input data-modelname="athlete" type="checkbox" name="enableVirtualCoachEmails"></label>
    </div>

    <div class="row">
        <label>{{$ "deliveryTime"}}</label>
        <div class="selectBox">
            <select data-modelname="athlete" name="virtualCoachEmailHour" >
            {{#each hours}}
                <option value="{{ data }}">{{ label }}</option>
            {{/each}}
            </select>
        </div>
    </div>

    <p class="small deliveryTimeHelpText">{{$ "plannedWorkoutsNotificationTimeHelpText" }}</p>

    <div class="row">
        <label class="checkBoxRow"><input data-modelname="account" name="allowMarketingEmails" type="checkbox"> {{$ "newsletterNotificationSetting" }}</label>
    </div>

</div>
