<div class="userSettingsPersonalSection scrollTarget" data-target="profile">
    <h2 class="accountSettingsSectionTitle">Profile</h2>
    <h3>{{$ "PersonalInfo" }}</h3>
    
    <div class="personalLeftCol">
        
        <div class="fieldContain">
            <label class="fieldTitle">{{$ "FirstAndLastName" }}</label>
            <input data-modelname="userName" type="text" name="firstAndLastName" />
        </div>

        <div class="fieldContain">
            <label class="fieldTitle">{{$ "Email" }}</label>
            <input data-modelname="user" type="email" name="email" />
        </div>

        <p class="userSettingsHelpText emailVerification">{{$ "EmailIsNotVerified" }} <a class="verifyEmail">{{$ "VerifyEmail" }}</a></p>

        <div class="fieldContain athleteTypeGender">
            <label class="fieldTitle">{{$ "AthleteType" }}</label>
            <div class="selectBox athleteType">
                 <select data-modelname="athlete" name="athleteType" >
                    <option value="" selected>{{$ "Choose" }}</option>                 
                {{#each athleteTypes}}
                    <option value="{{ data }}">{{ label }}</option>
                {{/each}}
                </select>
            </div>
            <div class="selectBox gender">
                 <select data-modelname="user" name="gender" >
                    <option value="" selected>{{$ "Gender" }}</option>
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
            </div>
        </div>

        <div class="fieldContain">
            <label class="fieldTitle">{{$ "Username" }}</label>
            <label class="labelbold">{{ userName }}</label>
        </div>

        <div class="fieldContain">
            <label class="fieldTitle">{{$ "Password" }}</label>
            <input type="password" name="password" data-modelname="password" />
        </div>

        <div class="fieldContain">
            <label class="fieldTitle">{{$ "RetypePassword" }}</label>
            <input type="password" name="retypePassword" data-modelname="password" />
        </div>

        <div class="fieldContain address">
            <label class="fieldTitle">{{$ "Address" }}</label>
            <input data-modelname="user" type="text" name="address" />
        </div>

        <div class="fieldContain">
            <label class="fieldTitle"></label>
            <input data-modelname="user" type="text" name="address2" />
        </div>

        <div class="fieldContain citystate">
            <label class="fieldTitle">{{$ "City" }}</label>
            <input data-modelname="user" type="text" name="city" />

            <div class="selectBox state cf">
                <select data-modelname="user" name="state">
                    <option value="" selected>{{$ "State" }}</option>
                {{#each states}}
                    <option value="{{ data }}">{{ label }}</option>
                {{/each}}
                </select>
            </div>
        </div>
  
        <div class="fieldContain">
            <label class="fieldTitle">{{$ "ZipCode" }}</label>
            <input data-modelname="user" type="text" name="zipCode" />
        </div>

        <div class="fieldContain">
            <label class="fieldTitle"></label>
            <div class="selectBox country cf">
                <select data-modelname="user" name="country" >
                    <option value="" selected>{{$ "Country" }}</option>
                {{#each countries}}
                    <option value="{{ data }}">{{ label }}</option>
                {{/each}}
                </select>
            </div>
        </div>
        
        <div class="fieldContain">
            <label class="fieldTitle"></label>
            <div class="selectBox timeZone">
                <select data-modelname="user" name="timeZone" >
                    <option value="" selected>{{$ "TimeZone" }}</option>
                {{#each timeZones }}
                    <option value="{{ key }}">{{ value }}</option>
                {{/each}}
                </select>
            </div>
        </div>

        <div class="fieldContain">
            <label class="fieldTitle">{{$ "Phone" }}</label>
            <input data-modelname="user" type="tel" name="phone" />
        </div>

        <div class="fieldContain">
            <label class="fieldTitle">{{$ "CellPhone" }}</label>
            <input data-modelname="user" type="tel" name="cellPhone" />
        </div>

        <div class="fieldContain birthday">
            <label class="fieldTitle">{{$ "Birthday" }}</label>
            <div class="selectBox birthdayMonth">
                 <select data-modelname="userBirthday" name="birthdayMonth" >
                    <option value="" selected>{{$ "Month" }}</option>
                    {{# forRange 1 12 }}
                        <option value="{{ index }}">{{ formatMonth index "MMMM" }}</option>
                    {{/forRange}}
                </select>
            </div>
            <div class="selectBox birthdayYear">
                 <select data-modelname="userBirthday" name="birthdayYear" >
                    <option value="" selected>{{$ "Year" }}</option>
                    {{#forRange 1900 2100 }}
                        <option value="{{ index }}">{{ formatYear index "YYYY" }}</option>
                    {{/forRange}}
                </select>
            </div>
        </div>
    </div>

    <div class="profilePicture">
        <fieldset>
            <legend>{{$ "ProfilePicture" }}</legend>
            <div class="photoContainer">
                <img src="" />
                <div class="placeholder">{{$ "NoPhoto" }}</div>
            </div>
        </fieldset>
        <div class="buttons">
            <button class="uploadPhoto">{{$ "UploadPhoto" }}</button>
             <button class="removePhoto">{{$ "RemovePhoto" }}</button>
        </div>
        <input style="display: none" type="file" class="fileUploadInput" accept="image/gif, image/jpeg, image/png" />
    </div>

</div>


<div class="userSettingsPersonalSection scrollTarget" data-target="account">
    <h2 class="accountSettingsSectionTitle">{{$ "AccountSettings" }}</h2>
    
    <div class="fieldContain">
        <label class="fieldTitle">{{$ "AccountType" }}</label>
        <label class="labelbold">{{ userType }} <a class="manageAccount">{{$ "ManageAccount" }}</a></label>
    </div>

    <div class="fieldContain units">
        <label class="fieldTitle">{{$ "Units" }}</label>
        <div class="selectBox">
             <select data-modelname="user" name="units" data-format="number">
                <option value="1">English</option>
                <option value="2">Metric</option>
            </select>
        </div>
    </div>

    <div class="fieldContain dateFormat">
        <label class="fieldTitle">{{$ "DateFormat" }}</label>
        <div class="selectBox">
            <select data-modelname="user" name="dateFormat" >
                <option value="mdy">MM/DD/YY</option>
                <option value="dmy">DD/MM/YY</option>
            </select>
        </div>
    </div>

    <div class="fieldContain logonToHtml5">
        <label class="checkBoxRow clickable"><input data-modelname="user" type="checkbox" name="logonToHtml5"> {{$ "MakeBetaDefault" }} </label>
    </div>
</div>


<div class="userSettingsPersonalSection calendarSync scrollTarget" data-target="calendar">
    <h2 class="accountSettingsSectionTitle">Calendar</h2>

    {{#if iCalendarKeys}}
        {{#with iCalendarKeys }}
            <h3>{{$ "CalendarSync" }}</h3>

                <div class="fieldContain">
                    <label class="fieldTitle">{{$ "WorkoutsOnly" }}</label>
                    <input class="ical" type="text" readonly name="iCalendarKeys.workoutsOnly" value="{{ webcalRoot }}{{ workoutsOnly }}.ics"/>
                </div>
             
                <div class="fieldContain">
                    <label class="fieldTitle">{{$ "MealsOnly" }}</label>
                    <input class="ical" type="text" readonly name="iCalendarKeys.mealsOnly" value="{{ webcalRoot }}{{ mealsOnly }}.ics" />
                </div>       

                <div class="fieldContain">
                    <label class="fieldTitle">{{$ "WorkoutsAndMeals" }}</label>
                    <input class="ical" type="text" readonly name="iCalendarKeys.workoutsAndMeals" value="{{ webcalRoot }}{{ workoutsAndMeals }}.ics" />
                </div>

            <p class="userSettingsHelpText">{{$ "ICalHelpText" }}</p>
        {{/with}}
    {{else}}
        <p class="userSettingsHelpText"><a class="upgrade">{{$ "ICalPremiumMessage" }}</a></p>
    {{/if}}
</div>

<div class="userSettingsPersonalSection email scrollTarget" data-target="email">
    <h2 class="accountSettingsSectionTitle">{{$ "EmailOptions" }}</h2>

    <div class="fieldContain">
        <label class="checkBoxRow clickable"><input data-modelname="user" type="checkbox" name="enablePrivateMessageNotifications"> {{$ "emailPMNotificationSetting" }} </label>
    </div>

    <div class="fieldContain">
        <label class="checkBoxRow clickable{{#ifNot canReceivePostActivityNotification}} upgrade{{/ifNot}} enableWorkoutCommentNotification"><input data-modelname="athlete" type="checkbox" name="enableWorkoutCommentNotification"{{#ifNot canReceivePostActivityNotification}} disabled{{/ifNot}}> {{$ "postActivityNotificationSetting" }}

        {{#ifNot canReceivePostActivityNotification}}
            <p class="userSettingsHelpText"><a class="upgrade">{{$ "PostWorkoutNotificationPremiumMessage" }}</a></p>
        {{/ifNot}}
        </label>
    </div>

    <div class="fieldContain">
        <label class="checkBoxRow clickable"><input data-modelname="athlete" type="checkbox" name="enableVirtualCoachEmails"> {{$ "plannedWorkoutsNotificationSetting" }}</label>
    </div>

    <div class="fieldContain deliveryTime1">
        <label class="fieldTitle">{{$ "deliveryTime"}}</label>
        <div class="selectBox">
            <select data-modelname="athlete" data-format="number" name="virtualCoachEmailHour" >
            {{#each hours}}
                <option value="{{ data }}">{{ label }}</option>
            {{/each}}
            </select>
        </div>
    </div>

    <p class="userSettingsHelpText">{{$ "plannedWorkoutsNotificationTimeHelpText" }}</p>

    <div class="fieldContain">
        <label class="checkBoxRow clickable"><input data-modelname="user" name="allowMarketingEmails" type="checkbox"> {{$ "newsletterNotificationSetting" }}</label>
    </div>

</div>
