{{#comment}}

TO DO:
get all settings fields in
verify that fields are showing correct values
compare to flex and review story
styling

{{/comment}}

<div class="settingsButtons">
    <div class="closeIcon" />
</div>

<div class="userSettingContainer">
    <h2 class="title">{{$ "PersonalInfo" }}</h2>
    <div class="userSettingsForm"></div>

    <h2 class="title">{{$ "Payments" }}</h2>

    <div class="recurringPayments"></div>
    <div class="paymentHistory"></div>
</div>
{{#comment}}


Calendar Sync links - don't have these yet
Email Options - do we have all of these?
    Send email on PM
    Post-activity comment notifications
    Daily emails of planned workouts
    Delivery Time
    Receive Occasional informational newsletter
Payments Information - do we have all of these?
    Account Expiration Date
    Active Recurring Payments Info
    Payment History


{{/comment}}
