<div class="closeIcon" />


<div class="userSettingContainer">

	<div class="userSettingsInfo">    
    	<div class="userSettingsForm"></div>
	</div>
    
    <div class="userSettingsPayments">
    	<h3 class="title subheadbold">{{$ "Payments" }}</h3>

    	<div class="recurringPayments"></div>
    	<div class="paymentHistory"></div>
	</div>

    <div class="userSettingsButtons">
        <button class="save">{{$ "SaveClose" }}</button>
        <button class="cancel">{{$ "Cancel" }}</button>
    </div>
</div>