<div class="userSettingsPersonalSection">
    <h3 class="title">{{$ "PersonalInfo" }}</h3>
    
    <div class="row">
        <div class="firstName">
            <label>{{$ "FirstName" }}</label>
            <input data-modelname="user" type="text" readonly name="firstName" />
        </div>

        <div class="lastName">
            <label>{{$ "LastName" }}</label>
            <input data-modelname="user" type="text" readonly name="lastName" />
        </div>
    </div>

    <div class="row">
        <div>
            <label>{{$ "Username" }}</label>
            <input data-modelname="user" type="text" readonly name="userName" />
        </div>

        <div>
            <label>{{$ "Password" }}</label>
            <input data-modelname="user" type="password" readonly/>
        </div>
    </div>

    <div class="row">
        <label>{{$ "AthleteType" }}</label>
        <div class="selectBox">
             <select data-modelname="user" name="settings.account.athleteTypeValue" >
        
            {{#each athleteTypes}}
                <option value="{{ data }}">{{ label }}</option>
            {{/each}}
            </select>
        </div>
    </div>

    <div class="row">
        <label>{{$ "Birthday" }}</label>
        <input data-modelname="user" type="text" readonly data-format="date" name="birthday" />
    </div>

    <div class="row">
        <label>{{$ "Gender" }}</label>
        <label class="radioButtonRow genderRadioButtonRow">
            <input data-modelname="user" type="radio" readonly name="gender" value="m"/>
            Male
        </label>
        <label class="radioButtonRow genderRadioButtonRow">
            <input data-modelname="user" type="radio" readonly name="gender" value="f"/>
            Female
        </label>
    </div>

    <div class="row">
        <label>{{$ "Email" }}</label>
        <input data-modelname="user" type="email" readonly name="email" />
    </div>

    <div class="row">
        <label>{{$ "Address" }} 1</label>
        <input data-modelname="user" type="text" readonly name="address" />
        <label>{{$ "Address" }} 2</label>
        <input data-modelname="user" type="text" readonly name="address2" />
    </div>

    <div class="row">
        <label>{{$ "City" }}</label>
        <input data-modelname="user" type="text" readonly name="city" />
        <label>{{$ "State" }}</label>
        <div class="selectBox state">
            <select data-modelname="user" name="state">
            {{#each states}}
                <option value="{{ data }}">{{ label }}</option>
            {{/each}}
            </select>
        </div>
    </div>

    <div class=" row">
        <label>{{$ "ZipCode" }}</label>
        <input data-modelname="user" type="text" readonly name="zipCode" />
        <label>{{$ "Country" }}</label>
        <div class="selectBox country">
            <select data-modelname="user" name="country" >
            {{#each countries}}
                <option value="{{ data }}">{{ label }}</option>
            {{/each}}
            </select>
        </div>
    </div>

    <div class="row">
        <label>{{$ "Phone" }}</label>
        <input data-modelname="user" type="tel" readonly name="phone" />
        <label>{{$ "CellPhone" }}</label>
        <input data-modelname="user" type="tel" readonly name="cellPhone" />
    </div>

    {{#if profilePhotoUrl}}
    <div class ="profilePicture">
        <img src="{{ wwwRoot }}{{ profilePhotoUrl }}" />
    </div>
    {{/if}}
</div>



<div class="userSettingsPersonalSection">
    <h3 class="title accountSettings">{{$ "AccountSettings" }}</h3>

    <div class=" row">
        <label>{{$ "AccountType" }}</label>
        <label class="textCopy small">{{ userType }}</label>
    </div>

    <div class="row">
        <label>{{$ "Units" }}</label>
        <label class="radioButtonRow">
            <input data-modelname="user" type="radio" readonly name="units" value="1" />
            English
        </label>
        <label class="radioButtonRow">
            <input data-modelname="user" type="radio" readonly name="units" value="2" />
            Metric
        </label>
    </div>

    <div class="row">
        <label>{{$ "DateFormat" }}</label>
        <label class="radioButtonRow">
            <input data-modelname="user" type="radio" readonly name="dateFormat" value="mdy" />
            MM/DD/YY
        </label>
        <label class="radioButtonRow">
            <input data-modelname="user" type="radio" readonly name="dateFormat" value="dmy" />
            DD/MM/YY
        </label>
    </div>

    <div class="row">
        <label>{{$ "TimeZone" }}</label>
        <div class="selectBox timeZone">
            <select data-modelname="user" name="timeZone" >
            {{#each timeZones }}
                <option value="{{ key }}">{{ value }}</option>
            {{/each}}
            </select>
        </div>
    </div>
</div>


<div class="userSettingsPersonalSection">
{{#with iCalendarKeys }}
    <h3 class="title accountSettings">{{$ "CalendarSync" }}</h3>

    <div class="row">
        <label>{{$ "WorkoutsOnly" }}</label>
        <input class="ical" type="text" readonly name="iCalendarKeys.workoutsOnly" value="webcal://{{ wwwRoot }}/ical/{{ workoutsOnly }}.ics"/>
    </div>
 
    <div class="row">
        <label>{{$ "MealsOnly" }}</label>
        <input class="ical" type="text" readonly name="iCalendarKeys.mealsOnly" value="webcal://{{ wwwRoot }}/ical/{{ mealsOnly }}.ics" />
    </div>       

    <div class="row">
        <label>{{$ "WorkoutsAndMeals" }}</label>
        <input class="ical" type="text" readonly name="iCalendarKeys.workoutsAndMeals" value="webcal://{{ wwwRoot }}/ical/{{ workoutsAndMeals }}.ics" />
    </div>

    <p class="small">{{$ "ICalHelpText" }}</p>
{{/with}}
</div>

<div class="userSettingsPersonalSection">
    <h3 class="title accountSettings">{{$ "EmailOptions" }}</h3>

    <div class="row">
        <label class="checkBoxRow"> {{$ "emailPMNotificationSetting" }}<input value="true" data-modelname="user" type="checkbox" name="settings.account.enablePrivateMessageNotifications"> </label>
    </div>

    <div class="row">
        <label class="checkBoxRow"> {{$ "postActivityNotificationSetting" }}<input value="true" data-modelname="athlete" type="checkbox" name="enableWorkoutCommentNotification"> </label>
    </div>

    <div class="row">
        <label class="checkBoxRow">{{$ "plannedWorkoutsNotificationSetting" }}<input value="true" data-modelname="athlete" type="checkbox" name="enableVirtualCoachEmails"></label>
    </div>

    <div class="row">
        <label>{{$ "deliveryTime"}}</label>
        <div class="selectBox">
            <select data-modelname="athlete" name="virtualCoachEmailHour" >
            {{#each hours}}
                <option value="{{ data }}">{{ label }}</option>
            {{/each}}
            </select>
        </div>
    </div>

    <p class="small deliveryTimeHelpText">{{$ "plannedWorkoutsNotificationTimeHelpText" }}</p>

    <div class="row">
        <label class="checkBoxRow"><input data-modelname="user" name="settings.account.allowMarketingEmails" type="checkbox"> {{$ "newsletterNotificationSetting" }}</label>
    </div>

</div>