{{#hoverBox this}}
    <div class="details">
        <input id="attachmentInput" style="display: none" type="file"/>
        <div id="closeIcon"></div>

        <div class="header">{{$ "UploadAttachments" }}</div>

        <p>{{$ "SelectAttachment" }}&nbsp;</p>

        <div class="bigButtons">
            <button id="attachmentFileUploadMenuBrowse">{{$ "BrowseFiles" }}</button>
        </div>

        {{#with details }}
            {{#if attachmentFileInfos }}
                <div class="deviceFiles">
                    <div class="header">{{$ "UploadedAttachments" }}</div>

                    <div class="fileList">
                        {{#each attachmentFileInfos }}
                            <div class="file" id="{{ fileId }}">
                                <label class="radioButtonWrapper"><input type="radio" class="fileSelect" name="fileSelect" value="{{ fileId }}" id="checkbox{{ fileId }}" title="{{$ "ClickToDownload"}}"/> <a class="download disabled" id="{{ fileId }}" title="{{$ "ClickToDownload"}}">{{ fileName }}</a></label>
                            </div>
                        {{/each}}
                    </div>

                    <div class="fileButtons">
                        <button disabled class="delete">{{$ "Delete" }}</button>
                    </div>
                </div>
            {{/if}}
        {{/with}}

    </div>
{{/hoverBox}}