<div style="background-image: url(build/debug/assets/images/tmp/hrtab.gif);width:100%;height:400px;">

    <div id="heartRateByZonesChart"></div>

    <div id="heartRatePeaksChart"></div>

    <div id="heartRateByZonesTable">

        <!-- zone row template -->
        <div class="heartRateZoneRow">
            <div class="zoneName"><label>Zone 1</label></div> 
            <div class="zoneInput"><input type="text" value="0:50:32" /></div>
            <div class="zoneBPM"><label>131-141 BPM</label></div>
        </div>
        <!-- end zone row template -->

    </div>

    <div id="heartRatePeaksTable">

        <!-- peak row template -->
        <div class="heartRatePeakRow">
            <div class="peakName"><label>Peak 5 seconds</label></div> 
            <div class="peakInput"><input type="text" value="169" /></div>
            <div class="peakBPM"><label>BPM</label></div>
        </div>
        <!-- end peak row template -->

    </div>   

</div>