<div class="summary">
    <div class="stats">
        <div class="columnLabelsPlannedCompleted cf">
            <label class="workoutStatsPlanned">{{$ "Planned"}}</label>
            <label class="workoutStatsCompleted">{{$ "Completed"}}</label>
        </div>
        <!-- planned and completed fields load dynamically here-->
        <div id="workoutPlannedCompletedStats">
            <div id="workoutStatsAnchor" style="display:none;" />
            <div class="workoutStatsRow hide distanceStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "Distance"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="distancePlannedField" class="numberInput" />
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="distanceCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label class="distance">{{getUnitsLabel "distance" workoutTypeValueId }}</label>
                </div>
            </div>   

            <div class="workoutStatsRow hide durationStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "Duration"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="totalTimePlannedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="totalTimeCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{$ "hms"}}</label>
                </div>
            </div>   
            
            <div class="workoutStatsRow hide normalizedPaceStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "NormalizedPace"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="normalizedPacePlannedField" disabled="disabled" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="normalizedPaceCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label class="pace">{{getUnitsLabel "normalizedPace" workoutTypeValueId}}</label>
                </div>
            </div>   
            
            <div class="workoutStatsRow hide averagePaceStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "AveragePace"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="averagePacePlannedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="averagePaceCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label class="pace">{{getUnitsLabel "averagePace" workoutTypeValueId}}</label>
                </div>
            </div>  
            
            <div class="workoutStatsRow hide averageSpeedStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "AverageSpeed"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="averageSpeedPlannedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="averageSpeedCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label class="speed">{{getUnitsLabel "averageSpeed" workoutTypeValueId}}</label>
                </div>
            </div>  
            
            <div class="workoutStatsRow hide caloriesStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "Calories"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="caloriesPlannedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="caloriesCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "calories"}}</label>
                </div>
            </div>  
            
            <div class="workoutStatsRow hide elevationGainStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "ElevationGain"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="elevationGainPlannedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="elevationGainCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "elevationGain"}}</label>
                </div>
            </div>  
            
            <div class="workoutStatsRow hide elevationLossStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "ElevationLoss"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="elevationLossPlannedField" disabled="disabled" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="elevationLossCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "elevationLoss"}}</label>
                </div>
            </div>  
            
            <div class="workoutStatsRow hide TSSStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "TSS"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="tssPlannedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="tssCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label class="tss">{{getUnitsLabel "tss" workoutTypeValueId this}}</label>
                </div>
            </div>  
            <div class="workoutStatsRow hide normalizedPowerStatsRow">
	            <div class="workoutStatsColumn workoutStatsLabel">
		            <label>{{$ "NormalizedPower"}}</label>
	            </div>
	            <div class="workoutStatsColumn workoutStatsPlanned">
		            <input type="text" id="normalizedPowerPlanned" disabled="disabled" class="numberInput"/>
	            </div>
	            <div class="workoutStatsColumn workoutStatsCompleted">
		            <input type="text" id="normalizedPowerCompleted" class="numberInput"/>
	            </div>
	            <div class="workoutStatsColumn workoutStatsUnitLabel">
		            <label>{{getUnitsLabel "power"}}</label>
	            </div>
            </div>
            <div class="workoutStatsRow hide IFStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "IF"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="ifPlannedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="ifCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "if"}}</label>
                </div>
            </div>  
            
            <div class="workoutStatsRow hide energyStatsRow">
                <div class="workoutStatsColumn workoutStatsLabel">
                    <label>{{$ "Work"}}</label>
                </div>

                <div class="workoutStatsColumn workoutStatsPlanned">
                    <input type="text" id="energyPlannedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsCompleted">
                    <input type="text" id="energyCompletedField" class="numberInput"/>
                </div>

                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "energy"}}</label>
                </div>
            </div>  
        </div>

        <div class="columnLabelsMinMaxAvg cf">
            <label>{{$ "Min"}}</label>
            <label>{{$ "Avg"}}</label>
            <label>{{$ "Max"}}</label>
        </div>
        <div id="workoutMinMaxAvgStats">
            <div id="workoutSummaryAnchor"/>
            <div class="workoutStatsRow hide powerSummaryRow">
                <div class="workoutStatsColumn workoutStatsMinMaxAvgLabel">
                    <label>{{$ "Power"}}</label>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMin">
                    <input type="text" id="powerMinField" disabled="disabled" class="alwaysDisabled numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsAvg">
                    <input type="text" id="powerAvgField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMax">
                    <input type="text" id="powerMaxField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "power"}}</label>
                </div>
            </div>
            <div class="workoutStatsRow hide torqueSummaryRow">
                <div class="workoutStatsColumn workoutStatsMinMaxAvgLabel">
                    <label>{{$ "Torque"}}</label>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMin">
                    <input type="text" id="torqueMinField" disabled="disabled" class="alwaysDisabled numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsAvg">
                    <input type="text" id="torqueAvgField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMax">
                    <input type="text" id="torqueMaxField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "torque"}}</label>
                </div>
            </div>
            <div class="workoutStatsRow hide elevationSummaryRow">
                <div class="workoutStatsColumn workoutStatsMinMaxAvgLabel">
                    <label>{{$ "Elevation"}}</label>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMin">
                    <input type="text" id="elevationMinField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsAvg">
                    <input type="text" id="elevationAvgField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMax">
                    <input type="text" id="elevationMaxField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "elevation"}}</label>
                </div>
            </div>
            <div class="workoutStatsRow hide cadenceSummaryRow">
                <div class="workoutStatsColumn workoutStatsMinMaxAvgLabel">
                    <label>{{$ "Cadence"}}</label>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMin">
                    <input type="text" id="cadenceMinField" disabled="disabled" class="alwaysDisabled numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsAvg">
                    <input type="text" id="cadenceAvgField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMax">
                    <input type="text" id="cadenceMaxField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "cadence"}}</label>
                </div>
            </div>
            <div class="workoutStatsRow hide speedSummaryRow">
                <div class="workoutStatsColumn workoutStatsMinMaxAvgLabel">
                    <label>{{$ "Speed"}}</label>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMin">
                    <input type="text" id="speedMinField" disabled="disabled" class="alwaysDisabled numberInput" />
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsAvg">
                    <input type="text" id="speedAvgField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMax">
                    <input type="text" id="speedMaxField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label class="speed">{{getUnitsLabel "speed" workoutTypeValueId}}</label>
                </div>
            </div>
            <div class="workoutStatsRow hide paceSummaryRow">
                <div class="workoutStatsColumn workoutStatsMinMaxAvgLabel">
                    <label>{{$ "Pace"}}</label>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMin">
                    <input type="text" id="paceMinField" disabled="disabled" class="alwaysDisabled numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsAvg">
                    <input type="text" id="paceAvgField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMax">
                    <input type="text" id="paceMaxField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label class="pace">{{getUnitsLabel "pace" workoutTypeValueId}}</label>
                </div>
            </div>
            <div class="workoutStatsRow hide heartRateSummaryRow">
                <div class="workoutStatsColumn workoutStatsMinMaxAvgLabel">
                    <label>{{$ "HeartRate"}}</label>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMin">
                    <input type="text" id="hrMinField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsAvg">
                    <input type="text" id="hrAvgField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMax">
                    <input type="text" id="hrMaxField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "heartrate"}}</label>
                </div>
            </div>
            <div class="workoutStatsRow hide temperatureSummaryRow">
                <div class="workoutStatsColumn workoutStatsMinMaxAvgLabel">
                    <label>{{$ "Temperature"}}</label>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMin">
                    <input type="text" id="tempMinField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsAvg">
                    <input type="text" id="tempAvgField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumnMinMaxAvg workoutStatsMax">
                    <input type="text" id="tempMaxField" class="numberInput"/>
                </div>
                <div class="workoutStatsColumn workoutStatsUnitLabel">
                    <label>{{getUnitsLabel "temperature"}}</label>
                </div>
            </div>
        </div>
        <div id="equipment" />
    </div>
    <div id="workoutStructureToggleContainer">
        <a class="workoutStructureToggle" href="#workoutStructureContainer">Workout Structure</a>
    </div>
    <div id="commentsContainer">
    </div>
</div>
<div id="workoutStructureContainer">
    <div id="workoutStructure">
        <p>Do this, do that and get better!</p>
    </div>
</div>
