<div class="workoutStatsRow">
    <div class="workoutStatsColumn workoutStatsMinMaxAvgLabel">
        <label>{{minMaxAvgLabel}}</label>
    </div>

    <div class="workoutStatsColumn workoutStatsMin">
        <input type="text" id="{{statName}}MinField"/>
    </div>

    <div class="workoutStatsColumn workoutStatsAvg">
        <input type="text" id="{{statName}}AvgField"/>
    </div>

    <div class="workoutStatsColumn workoutStatsMax">
        <input type="text" id="{{statName}}MaxField"/>
    </div>

    <div class="workoutStatsColumn workoutStatsUnitMinMaxAvgLabel">
        <label>{{minMaxAvgUnitsLabel}}</label>
    </div>
</div>