<div class="workoutStatsRow">
    <div class="workoutStatsColumn workoutStatsLabel">
        <label>{{workoutStatsLabel}}</label>
    </div>

    <div class="workoutStatsColumn workoutStatsPlanned">
        <input type="text" id="{{statName}}PlannedField" />
    </div>

    <div class="workoutStatsColumn workoutStatsCompleted">
        <input type="text" id="{{statName}}CompletedField" />
    </div>

    <div class="workoutStatsColumn workoutStatsUnitLabel">
       <label>MPH</label>
    </div>
</div>