<div id="workOutQuickView">
    <div class="QVHeader">
        <div class="dateAndTime">
            <span id="date">
                <span id="dayName">{{printDate workoutDay "dddd"}}</span> 
                <span id="calendarDate">{{printDate workoutDay "MMMM DD, YYYY"}}</span>
            </span> 
            <input type="text" id="startTimeInput" value="{{ startTime }}" placeholder="Enter Time" />
        </div>
        <div class="closeAndSettings">
            <span><img id="menuIcon" src="assets/images/calendarImages/settingsIcon.png"/></span>
            <span><img id="closeIcon" src="assets/images/closeX.png"/></span>
        </div>

        <div>
        <div class="grayHeader workout">
            <div class="workoutIcon">

            </div>
            <div class="workoutHeaderStats">
                <div class="headerIcons">
                    <div id="breakThrough" class="icon" title="{{$ "BreakthroughTooltip" }}">
                        <img src="assets/images/QVImages/breakthrough.png"/>
                    </div>
                    <div class="icon addAttachment" title="{{$ "UploadAttachmentTooltip" }}">
                        <img src="assets/images/QVImages/paperClip.png"/>
                    </div>
                    <input id="attachment" style="display: none" type="file"/>
                </div>
                <div class="headerWorkoutValue middleValues">
                    <!--<label>{{printTimeFromDecimalHours totalTime true}}</label>-->
                    <label id="qv-header-totaltimePlanned" class="planned"/>
                    <label id="qv-header-totaltime" class="actual"/>
                </div>
                <div class="headerWorkoutValue">
                    <!--<label>{{convertToViewUnits distance "distance" }}</label>-->
                    <label id="qv-header-distancePlanned" class="planned"/>
                    <label id="qv-header-distance" class="actual"/>
                </div>
                <div class="headerWorkoutValueLabel">
                    <label>{{printUnitLabel "distance" }}</label>
                </div>
                <div class="headerWorkoutValue middleValues">
                    <!--<label>{{tssActual}}</label>-->
                    <label id="qv-header-tssPlanned" class="planned"/>
                    <label id="qv-header-tssactual" class="actual"/>
                </div>
                <div class="headerWorkoutValueLabel">
                    <label>TSS</label>
                </div> 
                <div class="title">
                    <input type="text" name="workoutTitle" class="workoutTitle" placeholder="{{$ "UntitledWorkout" }}" id="workoutTitleField" title="{{$ "SetTitleTooltip" }}" />
                </div>
            </div>
        </div>

        <div class="uploadButton" id="quickViewFileUploadDiv" title="{{$ "FileUploadTooltip" }}">
                <label>Upload</label>
        </div>
        <input id="fileUploadInput" style="display: none" type="file"/>
        </div>
    </div>

    <div class="tabNavigation">
        <div class="summaryTab">
            <img src="assets/images/QVImages/summary.png"/>
        </div>
        <div class="heartrateTab">
            <img src="assets/images/QVImages/heartrate.png"/>
        </div>
        <div class="powerTab">
            <img src="assets/images/QVImages/power.png"/>
        </div>
        <div class="paceTab">
            <img src="assets/images/QVImages/pace.png"/>
        </div>
    </div>

    <div id="quickViewContent"/>
    
    <div class="quickviewFooter">
        <div class="selectionBox this.$(".chosenSelect").chosen();">
            <select>
                <option value="Share" selected>{{$ "Share"}}</option>
                <option value="Facebook">{{$ "Facebook"}}</option>
                <option value="Twitter">{{$ "Twitter"}}</option>
                <option value="Email">{{$ "Email"}}</option>
                <option value="Link">{{$ "Link"}}</option>
            </select>
        </div>
        <div class="saveCloseButtons">
            <button id="delete">{{$ "Delete"}}</button>
            <button id="discard" disabled>{{$ "Cancel"}}</button>
            <button id="close">{{$ "Ok"}}</button>
        </div>
    </div>
</div>
