<div id="workOutQuickView">
    <div class="QVHeader">
  
        <div class="closeAndSettings cf">
            <span id="closeIcon"></span>
            <span id="expandIcon" class="disabled"></span>
            <span id="collapseIcon"></span>
            <span id="menuIcon"></span>
        </div>

        <div class="QVHeaderItemsContain cf">
            <div class="dateAndTime">
                <span id="date">
                    <span id="dayName">{{formatDate workoutDay "dddd"}}</span> 
                    <span id="calendarDate">{{formatDate workoutDay "MMMM D, YYYY"}}</span>
                </span> 
                <input type="text" id="startTimeInput" value="{{ startTime }}" placeholder="Enter Time" tabindex="-1" />
                {{# if isLocked }}
                <div class="lockIcon"></div>
                {{/if}}
            </div>
            <div class="workoutBarView"></div>
            <div class="uploadExpandButtons">
                <div class="buttons uploadButton" id="quickViewFileUploadDiv" title="{{$ "FileUploadTooltip" }}">
                    <label class="upload">{{$ "Upload"}}</label>
                    <label class="files">{{$ "Files"}}</label>
                </div>
                <div class="buttons expandButton" id="quickViewExpandDiv">
                    <label>{{$ "Expand"}}</label>
                </div>
                <div class="buttons collapseButton" id="quickViewCollapseDiv">
                    <label>{{$ "Collapse"}}</label>
                </div>
            </div>
            <div class="expandedViewsButtons">
                <div class="charts">
                    <label>{{$ "Charts"}}</label>
                    <button class="addChart">{{$ "Add"}}</button>
                    <button class="setLayout">{{$ "Layout"}}</button>
                </div>
                <div class="tools">
                    <label>{{$ "Tools"}}</label>
                    <button id="comment">{{$ "Comment"}}</button>
                    <button id="options">{{$ "Options"}}</button>
                </div>
                <div class="share">
                    <label>{{$ "Share"}}</label>
                    <div class="publicCheckboxContainer">
                        <label><input type="checkbox" class="publicCheckbox"/> <span class="publicLabel" title="{{$ "PublicTooltip" }}">{{$ "Public" }}</span></label>
                    </div>
                    <div class="shareIcons">
                        <div class="twitterIcon disabled" title="{{$ "PublicTooltipTwitter" }}"/>
                        <div class="facebookIcon disabled" title="{{$ "PublicTooltipFacebook" }}"/>
                        <div class="linkIcon disabled" title="{{$ "PublicTooltipLink" }}"/>
                        <a class="emailLink"><div class="emailIcon disabled" title="{{$ "PublicTooltipEmail" }}"/></a>
                    </div>
                </div>
            </div>
            <input id="fileUploadInput" style="display: none" type="file"/>
        </div>
    </div>

    <div class="tabNavigation">
        <div class="summaryTab tabSelected" data-tabindex="0">
            <div />
        </div>
        <div class="mapGraphTab" data-tabindex="1">
            <div/>
        </div>
        <div class="heartrateTab" data-tabindex="2">
            <div/>
        </div>
        <div class="powerTab" data-tabindex="3">
            <div/>
        </div>
        <div class="paceTab" data-tabindex="4">
            <div/>
        </div>
        <div class="speedTab" data-tabindex="5">
            <div/>
        </div>
    </div>

    <div id="quickViewContent">
        <div id="quickViewSummaryTab" class="tabContent"></div>
        <div id="quickViewHRTab" class="tabContent"></div>
        <div id="quickViewPowerTab" class="tabContent"></div>
        <div id="quickViewPaceTab" class="tabContent"></div>
        <div id="quickViewSpeedTab" class="tabContent"></div>
        <div id="quickViewMapAndGraphTab" class="tabContent"></div>
    </div>
    <div id="quickViewExpandedContent" style="display:none;"/> 
    
    <div class="quickviewFooter">
        <div class="share">
            <div class="publicCheckboxContainer">
                <label><input type="checkbox" class="publicCheckbox"/> <span class="publicLabel" title="{{$ "PublicTooltip" }}">{{$ "Public" }}</span></label>
            </div>
            <div class="shareIcons cf">
                <div class="twitterIcon disabled" title="{{$ "PublicTooltipTwitter" }}"/>
                <div class="facebookIcon disabled" title="{{$ "PublicTooltipFacebook" }}"/>
                <div class="linkIcon disabled" title="{{$ "PublicTooltipLink" }}"/>
                <a class="emailLink"><div class="emailIcon disabled" title="{{$ "PublicTooltipEmail" }}"/></a>
            </div>
        </div>
        <div class="saveCloseButtons">
            <button id="delete">{{$ "Delete"}}</button>
            <button id="discard">{{$ "Cancel"}}</button>
            <button id="close">{{$ "OK"}}</button>
        </div>
    </div>
</div>
