{{#hoverBox this}}
    <div class="details">

        <div id="closeIcon"></div>

        <h3 class="subheadbold">{{$ "UploadFiles" }}</h3>

        <p>{{$ "SelectFile" }}&nbsp;<a class="deviceAgentButton" id="deviceAgentLink">{{$ "DeviceAgent" }}</a></p>

        <div class="bigButtons">
            <button id="workoutFileUploadMenuBrowse">{{$ "BrowseFiles" }}</button>
            <button id="deviceAgentButton" class="deviceAgentButton">{{$ "GetDeviceAgent" }}</button>
        </div>

        {{#with details }}
            {{#if workoutDeviceFileInfos }}
                <div class="deviceFiles">
                    <h3 class="subheadbold">{{$ "UploadedFiles" }}</h3>

                    <div class="fileList">
                        {{#each workoutDeviceFileInfos }}
                            <div class="file" id="{{ fileId }}">
                                <label class="radioButtonWrapper"><input type="radio" class="fileSelect" name="fileSelect" value="{{ fileId }}" id="checkbox{{ fileId }}"/> <a class="download disabled" id="{{ fileId }}">{{ fileName }}</a></label>
                            </div>
                        {{/each}}
                    </div>

                    <div class="fileButtons">
                        <button disabled class="recalculate">{{$ "Recalculate" }}</button>
                        <button disabled class="delete">{{$ "Delete" }}</button>
                    </div>
                </div>
            {{/if}}
        {{/with}}

    </div>
{{/hoverBox}}