{{#hoverBox this}}
    <div class="details">
        <label id="workoutQuickViewMenuCopyLabel">{{$ "Copy" }}</label>
        <label id="workoutQuickViewMenuCutLabel">{{$ "Cut" }}</label>
        <label id="workoutQuickViewMenuDeleteLabel">{{$ "Delete" }}</label>
        <label id="workoutQuickViewMenuSaveToLibraryLabel">{{$ "SaveToLibrary" }}</label>
        <label id="workoutQuickViewMenuConfigureLabel">{{$ "Configure" }}</label>
        <label id="workoutQuickViewMenuPrintLabel"><a href="javascript:window.print()">{{$ "Print" }}</a></label>
    </div>
{{/hoverBox}}