<div class="metricDiv">
    <div class="metricTile cf">
        <div class="metricSelected" />
        <div class="metricHeader">
            <div class="metricIcon"></div>

            <div class="metricSettings">
                <button></button>
            </div>

            <span class="metricTimeWrapper"><span class="metricTime">{{ formatDate timeStamp "h:mm" }}<span class="metricAMPM">{{ formatDate timeStamp "a" }}</span></span></span>
        </div>
        <div class="metricBody">
            <div class="metricSettingsContain"></div>
            <ul>
                {{#with keyStat}}
                <li>
                    <span class="metricTitle">{{ formatMetricLabel this }}:</span>
                    <span class="metricValue"> {{ formatMetricValue this true }}</span>
                </li>
                {{/with}}
            </ul>
        </div>
        <div class="metricDetailCounter"><div class="counterText">{{ detailCount }}</div></div>
    </div>
</div>
