<div class="accountMiddle">
    <div class="loginSection cf">
        <h1>Login or Sign Up Free</h1>
        <p>Already a TrainingPeaks user? Login to view this file. Or, sign up for a free account.</p>

        <button class="login buttonBlue1">Log In</button>

        <button class="signup buttonBlue1">Sign Up Free</button>
    </div>

    <div class="emailSection cf">
        <h1>Enter Email Address</h1>
        <p>Or, please enter your email address to continue</p>

        <input class="email" name="emailAddress" type="text" size="20" maxlength="255" placeholder="Enter Email Address" />
        <button class="submit buttonBlue1">Submit</button>
    </div>

</div>