<div class="workoutQuickView expanded">
    <div id="workOutQuickView">
        <div class="QVHeader">
            <div class="QVHeaderItemsContain">
                <div class="QVHeaderLeft">
                    <div class="workoutBarView"></div>
                </div>
                <div class="QVHeaderRight">
                    <div class="QVHeaderProfile"></div>
                </div>
            </div>
        </div>

        <div id="quickViewExpandedContent">
            <div class="expandoLeftColumn">
                <div class="expandoPackeryRegion"></div>
                <div class="commentsContainer"></div>
            </div>
            <div class="expandoRightColumn">
                <div class="expandoStatsRegion"></div>
                <div class="expandoLapsRegion"></div>
            </div>
        </div>


    </div>
</div>