<div class="dialog">
    <div class="titleBar">
        <h2 class="modaltitle">{{$ "AddToLibraryConfirmationTitle" }}</h2>
    </div>

    <div class="dialogContent">

        <h3>{{$ "AddToLibraryConfirmationBodyText" }}</h3>

        <div class="excerciseTitle cf">
            <div class="labels"><label for="exerciseTitle">{{$ "Title" }}:</label></div>
            <div class="values"><input type="text" name="exerciseTitle" id="exerciseTitle" value="{{ title }}"/></div>
        </div>

        <div class="selectLibrary cf">
            <form class="selectForm">

                <div class="labels"><label for="selectLibrary">{{$ "SelectLibrary" }}:</label></div>
            
                <div class="selectContain">
                    <select name="selectLibrary" id="selectLibrary" selected="{{defaultLibraryId}}">
                        {{#each libraries}}
                        <option value="{{ exerciseLibraryId }}">{{ libraryName }}</option>
                        {{/each}}
                    </select>
                </div>
            
            </form>
        </div>

        <div class="dialogButtons">
            <button id="confirmationOk">{{$ "OK" }}</button>
            <button id="confirmationCancel">{{$ "Cancel" }}</button>
        </div>
    </div>
</div>
