<div class="dialog">
    <div class="titleBar">{{$ "AddToLibraryConfirmationTitle" }}</div>
    <div class="dialogContent">

        <div>
            <div class="labels"><label for="exerciseTitle">{{$ "Title" }}:</label></div>
            <div class="values"><input type="text" name="exerciseTitle" id="exerciseTitle" value="{{ title }}"/></div>
        </div>

        <div>
            <form class="selectForm"><label for="selectLibrary">{{$ "SelectLibrary" }}:</label>
            
                <select name="selectLibrary" id="selectLibrary">
                    {{#each libraries}}
                    <option value="{{ exerciseLibraryId }}" {{#if selected}}selected{{/if}}>{{ libraryName }}</option>
                    {{/each}}
                </select>
            
            </form>
        </div>

        <div class="dialogButtons">
            <button id="confirmationOk">{{$ "OK" }}</button>
            <button id="confirmationCancel">{{$ "Cancel" }}</button>
        </div>
    </div>
</div>
