{{#hoverBox this}}
    <div class="details">
        <label id="calendarWeekSummarySettingsCopyLabel">{{$ "CopyWeek" }}</label>
        <label id="calendarWeekSummarySettingsCutLabel">{{$ "CutWeek" }}</label>
        <label id="calendarWeekSummarySettingsDeleteLabel">{{$ "DeleteWeek" }}</label>
        <label id="calendarWeekSummarySettingsPasteLabel" class="paste">{{$ "PasteItems" }}</label>
        <label id="calendarWeekSummarySettingsShiftLabel">{{$ "ShiftItems" }}</label>
    </div>
{{/hoverBox}}