<div class="dayHeader summaryHeader">
    <p id="calendarDate"> {{$ "SUMMARY"}}
        <span class="show-for-small">
        </span> 
    </p>
    <div class="summarySettings">
        <button><img src="assets/images/calendarImages/settingsButtonWhite.png"/></button>
    </div>
</div>

<div id="weekSummaryContainer" class="cf">
	<div class="weekSummaryBarGraphContain cf">

		<div class="weekSummaryBarGraphItem total cf">
			<div class="weekSummaryBarGraphLabel total">
				Total
			</div>		
			<div class="weekSummaryTimeContain">
				<span class="weekSummaryTimeCompleted total">{{formatTime totalTimeCompleted false}}</span> <span class="weekSummaryTimePlanned total">{{formatTime totalTimePlanned false "--:--"}}</span>
			</div>
            {{{ weekSummaryBarGraph totalTimePlanned totalTimeCompleted totalDaysCompleted "total" }}}
		</div>
			
		<div class="weekSummaryBarGraphItem cf">
			<div class="weekSummaryBarGraphLabel strength">
				Strength
			</div>		
			<div class="weekSummaryTimeContain">
				<span class="weekSummaryTimeCompleted strength">{{formatTime strengthDurationCompleted false}}</span> <span class="weekSummaryTimePlanned strength">{{formatTime strengthDurationPlanned false "--:--"}}</span>
			</div>
            {{{ weekSummaryBarGraph strengthDurationPlanned strengthDurationCompleted strengthDaysCompleted "strength" }}}
		</div>
	
		<div class="weekSummaryBarGraphItem cf right">
			<div class="weekSummaryBarGraphLabel bike">
				Bike
			</div>		
			<div class="weekSummaryTimeContain">
				<span class="weekSummaryTimeCompleted bike">{{formatTime bikeDurationCompleted false}}</span> <span class="weekSummaryTimePlanned bike">{{formatTime bikeDurationPlanned false "--:--"}}</span>
			</div>
            {{{ weekSummaryBarGraph bikeDurationPlanned bikeDurationCompleted bikeDaysCompleted "bike" }}}
		</div>

		<div class="weekSummaryBarGraphItem cf">
			<div class="weekSummaryBarGraphLabel run">
				Run
			</div>		
			<div class="weekSummaryTimeContain">
				<span class="weekSummaryTimeCompleted run">{{convertToViewUnits runDistanceCompleted "distance"}}</span> <span class="weekSummaryTimePlanned run">{{convertToViewUnits runDistancePlanned "distance" "--" }}</span>
			</div>
            {{{ weekSummaryBarGraph runDistancePlanned runDistanceCompleted runDaysCompleted "run" }}}
		</div>
	
		<div class="weekSummaryBarGraphItem cf right">
			<div class="weekSummaryBarGraphLabel swim">
				Swim
			</div>		
			<div class="weekSummaryTimeContain">
				<span class="weekSummaryTimeCompleted swim">{{convertToViewUnits swimDistanceCompleted "distance"}}</span> <span class="weekSummaryTimePlanned swim">{{convertToViewUnits swimDistancePlanned "distance" "--" }}</span>
			</div>
            {{{ weekSummaryBarGraph swimDistancePlanned swimDistanceCompleted swimDaysCompleted "swim" }}}
		</div>	
	
	</div>
	
	<div id="weekSummaryMetricContain">
		
		<div class="weekSummaryMetricItem weekSummaryItem cf">
			<div class="weekSummaryMetricValue distance">
				{{convertToViewUnits totalDistanceCompleted "distance"}}
			</div>
			<div class="weekSummaryMetricTitle distance">
				{{getUnitsLabel "distance"}}
			</div>
		</div>
	
		<div class="weekSummaryMetricItem weekSummaryItem cf">
			<div class="weekSummaryMetricValue tss">
				{{tssCompleted}}
			</div>
			<div class="weekSummaryMetricTitle tss">
				TSS
			</div>		
		</div>
	
		<div class="weekSummaryMetricItem weekSummaryItem cf">
			<div class="weekSummaryMetricValue energy">
				{{totalEnergyCompleted}}
			</div>
			<div class="weekSummaryMetricTitle energy">
				Kilojoules
			</div>		
		</div>
		
	</div>
	
	<div id="weekSummaryATPContain">
		<div class="weekSummaryATPItem weekSummaryItem cf">
			<div class="weekSummaryATPValue plan">
				--:--
			</div>
			<div class="weekSummaryATPTitle plan">
				Annual Training Plan
			</div>	
		</div>
		
		<div class="weekSummaryATPItem weekSummaryItem cf">
			<div class="weekSummaryATPValue period">
				--
			</div>
			<div class="weekSummaryATPTitle period">
				Period
			</div>	
		</div>
		
		<div class="weekSummaryATPItem weekSummaryItem cf last">
			<div class="weekSummaryATPValue limiters">
				--
			</div>
			<div class="weekSummaryATPTitle limiters">
				Limiters
			</div>	
		</div>
		
	</div>

</div>