<div class="dayHeader summaryHeader">
    <p id="calendarDate"> {{$ "SUMMARY"}}
        <span class="show-for-small">
        </span> 
    </p>
    <div class="summarySettings">
        <button><img src="assets/images/calendarImages/settingsButtonWhite.png"/></button>
    </div>
</div>

<div id="weekSummaryContainer" class="cf">
	<div class="weekSummaryBarGraphContain cf">

		{{#if totalTimePlanned }}
		<div class="weekSummaryBarGraphItem cf total" data-type="total duration">
			<div class="weekSummaryBarGraphLabel {{ workoutTypeCssName workoutTypeId}}">
				{{$ "Total" }} {{$ "Duration" }}
			</div>		
			<div class="weekSummaryTimeContain">
                <span class="weekSummaryTimePlanned total">{{formatTime totalTimePlanned false "--:--"}}</span>
				<span class="weekSummaryTimeCompleted total">{{formatTime totalTimeCompleted false ""}}</span>
			</div>
            {{{ weekSummaryBarGraph totalTimePlanned totalTimeCompleted totalDaysCompleted 0 }}}
		</div>
		{{/if}}

		{{#if tssPlanned }}
		<div class="weekSummaryBarGraphItem cf tss" data-type="total tss">
			<div class="weekSummaryBarGraphLabel">
				{{$ "Total" }} {{$ "TSS" }}
			</div>
			<div class="weekSummaryTimeContain">
				<span class="weekSummaryTSSPlanned">{{tssPlanned}}</span>
				<span class="weekSummaryTSSCompleted">{{tssCompleted}}</span>
			</div>
			{{{ weekSummaryBarGraph tssPlanned tssCompleted totalDaysCompleted 0 }}}
		</div>
		{{/if}}

		{{#each totalsByWorkoutTypeCompacted }}
			{{#with duration}}
				{{#if planned }}	
				<div class="weekSummaryBarGraphItem cf" data-type="{{ workoutTypeId }} {{ workoutTypeCssName workoutTypeId}} duration">
					<div class="weekSummaryBarGraphLabel {{ workoutTypeCssName workoutTypeId}}">
						{{ workoutTypeName workoutTypeId }} {{$ "Duration" }}
					</div>		
					<div class="weekSummaryTimeContain">
		                <span class="weekSummaryTimePlanned {{ workoutTypeCssName workoutTypeId}}">{{formatTime planned false "--:--"}}</span>
						<span class="weekSummaryTimeCompleted  {{ workoutTypeCssName workoutTypeId}}">{{formatTime completed false "--:--"}}</span>
					</div>
		            {{{ weekSummaryBarGraph planned completed daysCompleted workoutTypeId }}}
				</div>
				{{/if}}
			{{/with}}
			{{#with distance}}
				{{#if planned }}	
				<div class="weekSummaryBarGraphItem cf" data-type="{{ workoutTypeId }} {{ workoutTypeCssName workoutTypeId}} distance">
					<div class="weekSummaryBarGraphLabel {{ workoutTypeCssName workoutTypeId}}">
						{{ workoutTypeName workoutTypeId }} {{$ "Distance" }}
					</div>		
					<div class="weekSummaryTimeContain">
		                <span class="weekSummaryTimePlanned {{ workoutTypeCssName workoutTypeId}}">{{ conversion "formatDistance" planned this "--"}}</span>
						<span class="weekSummaryTimeCompleted  {{ workoutTypeCssName workoutTypeId}}">{{ conversion "formatDistance" completed this "--"}} {{ getUnitsLabel "distance" workoutTypeId }}</span>
					</div>
		            {{{ weekSummaryBarGraph planned completed daysCompleted workoutTypeId }}}
				</div>
				{{/if}}
			{{/with}}
		{{/each}}
	</div>
	
	<div id="weekSummaryMetricContain" class="statisticsSummary">

		<div class="statsRow" id="duration">
	        <label>{{$ "Duration" }}</label>
	        <span class="value">{{conversion "formatDuration" totalTimeCompleted this "0"}}</span>
	        <span class="units">{{getUnitsLabel "time"}}</span>
	    </div>

		<div class="statsRow" id="distance">
	        <label>{{$ "Distance" }}</label>
	        <span class="value">{{conversion "formatDistance" totalDistanceCompleted this "0"}}</span>
	        <span class="units">{{getUnitsLabel "distance"}}</span>
	    </div>

		<div class="statsRow" id="tss">
	        <label>{{$ "TSS" }}</label>
	        <span class="value">{{conversion "formatTSS" tssCompleted this "0"}}</span>
	        <span class="units">{{getUnitsLabel "tss"}}</span>
	    </div>

		{{#each totalsByWorkoutTypeCompacted }}
			{{#with distance}}
				{{#if completed}}
					{{#ifNot planned }}	
					<div class="statsRow" id="workoutType{{ workoutTypeId }}">
				        <label>{{ workoutTypeName workoutTypeId }}</label>
				        <span class="value">{{conversion "formatDistance" completed this workoutTypeId}}</span>
				        <span class="units">{{getUnitsLabel "distance" workoutTypeId}}</span>
				    </div>
					{{/ifNot}}
				{{/if}}
			{{/with}}
		{{/each}}

		{{#ifHasValueAfterFormatted "formatElevation" totalElevationGain this}}	
		<div class="statsRow" id="elevationGain">
	        <label>{{$ "EGain" }}</label>
	        <span class="value">{{conversion "formatElevation" totalElevationGain this "0"}}</span>
	        <span class="units">{{getUnitsLabel "elevationGain" }}</span>
	    </div>
		{{/ifHasValueAfterFormatted}}

		{{#ifHasValueAfterFormatted "formatEnergy" totalEnergyCompleted this}}	
		<div class="statsRow" id="energy">
	        <label>{{$ "Work" }}</label>
	        <span class="value">{{conversion "formatEnergy" totalEnergyCompleted this}}</span>
	        <span class="units">{{getUnitsLabel "energy" }}</span>
	    </div>
		{{/ifHasValueAfterFormatted}}

	</div>
	
</div>