<div class="dayHeader summaryHeader">
    <p id="calendarDate"> {{$ "SUMMARY"}}
        <span class="show-for-small">
        </span> 
    </p>
    <div class="summarySettings">
        <button><img src="assets/images/calendarImages/settingsButtonWhite.png"/></button>
    </div>
</div>

<div id="weekSummaryContainer" class="cf">
	<div class="weekSummaryBarGraphContain cf">

		<div class="weekSummaryBarGraphItem cf total {{#ifNot totalTimePlanned }}noPlannedDuration{{/ifNot}}" data-type="total duration">
			<div class="weekSummaryBarGraphLabel {{ workoutTypeCssName workoutTypeId}}">
				{{$ "Total" }} {{#ifNot totalTimePlanned}}{{$ "Days" }}{{ else }}{{$ "Duration" }}{{/ifNot}}
			</div>		
			<div class="weekSummaryTimeContain">
                <span class="weekSummaryTimePlanned total">{{formatTime totalTimePlanned false "--:--"}}</span>
				<span class="weekSummaryTimeCompleted total">{{formatTime totalTimeCompleted false ""}}</span>
			</div>
            {{{ weekSummaryBarGraph totalTimePlanned totalTimeCompleted totalDaysCompleted 0 }}}
		</div>

		{{#each totalsByWorkoutTypeCompacted }}
			{{#with duration}}
				{{#if planned }}	
				<div class="weekSummaryBarGraphItem cf" data-type="{{ workoutTypeCssName workoutTypeId}} duration">
					<div class="weekSummaryBarGraphLabel {{ workoutTypeCssName workoutTypeId}}">
						{{ workoutTypeName workoutTypeId }} {{$ "Duration" }}
					</div>		
					<div class="weekSummaryTimeContain">
		                <span class="weekSummaryTimePlanned {{ workoutTypeCssName workoutTypeId}}">{{formatTime planned false "--:--"}}</span>
						<span class="weekSummaryTimeCompleted  {{ workoutTypeCssName workoutTypeId}}">{{formatTime completed false "--:--"}}</span>
					</div>
		            {{{ weekSummaryBarGraph planned completed daysCompleted workoutTypeId }}}
				</div>
				{{/if}}
			{{/with}}
			{{#with distance}}
				{{#if planned }}	
				<div class="weekSummaryBarGraphItem cf" data-type="{{ workoutTypeCssName workoutTypeId}} distance">
					<div class="weekSummaryBarGraphLabel {{ workoutTypeCssName workoutTypeId}}">
						{{ workoutTypeName workoutTypeId }} {{$ "Distance" }}
					</div>		
					<div class="weekSummaryTimeContain">
		                <span class="weekSummaryTimePlanned {{ workoutTypeCssName workoutTypeId}}">{{ conversion "formatDistance" planned this "--"}}</span>
						<span class="weekSummaryTimeCompleted  {{ workoutTypeCssName workoutTypeId}}">{{ conversion "formatDistance" completed this "--"}} {{ getUnitsLabel "distance" workoutTypeId }}</span>
					</div>
		            {{{ weekSummaryBarGraph planned completed daysCompleted workoutTypeId }}}
				</div>
				{{/if}}
			{{/with}}
		{{/each}}
	</div>
	
	<div id="weekSummaryMetricContain">
		
		<div class="weekSummaryMetricItem weekSummaryItem cf">
			<div class="weekSummaryMetricValue distance">
				{{conversion "formatDistance" totalDistanceCompleted this "0"}}
			</div>
			<div class="weekSummaryMetricTitle distance">
				{{getUnitsLabel "distance"}}
			</div>
		</div>

		<div class="weekSummaryMetricItem weekSummaryItem cf">
			<div class="weekSummaryMetricValue tss">
				{{conversion "formatTSS" tssCompleted this "0"}}
			</div>
			<div class="weekSummaryMetricTitle tss">
				TSS
			</div>		
		</div>

		{{#each totalsByWorkoutTypeCompacted }}
			{{#with distance}}
				{{#if completed}}
					{{#ifNot planned }}	
					<div class="weekSummaryMetricItem weekSummaryItem cf">
						<div class="weekSummaryMetricValue distance">
							{{conversion "formatDistance" completed this workoutTypeId}}
						</div>
						<div class="weekSummaryMetricTitle distance">
							{{getUnitsLabel "distance" workoutTypeId}} {{ workoutTypeName workoutTypeId }} 
						</div>
					</div>
					{{/ifNot}}
				{{/if}}
			{{/with}}
		{{/each}}

		{{#ifHasValueAfterFormatted "formatElevation" totalElevationGain this}}	
		<div class="weekSummaryMetricItem weekSummaryItem cf">
			<div class="weekSummaryMetricValue elevation">
				{{conversion "formatElevation" totalElevationGain this}}
			</div>
			<div class="weekSummaryMetricTitle elevation">
				{{getUnitsLabel "elevationGain" }}
			</div>		
		</div>
		{{/ifHasValueAfterFormatted}}

		{{#ifHasValueAfterFormatted "formatEnergy" totalEnergyCompleted this}}	
		<div class="weekSummaryMetricItem weekSummaryItem cf">
			<div class="weekSummaryMetricValue energy">
				{{conversion "formatEnergy" totalEnergyCompleted this}}
			</div>
			<div class="weekSummaryMetricTitle energy">
				Kilojoules
			</div>		
		</div>
		{{/ifHasValueAfterFormatted}}
		
	</div>
	
</div>