{{#hoverBox this}}
    <div class="details">
        {{#if displayDays}}
            <div>
                <span id="weekSummaryBarChartHoverCompletedLabel" class="plannedOrCompletedLabel">{{$ "Completed" }}</span>
                <span id="weekSummaryBarChartHoverCompleted" class ="summaryStats">{{ daysCompleted }} {{$ "Days" }}</span>
            </div>
        {{else}}
            <div>
                <span id="weekSummaryBarChartHoverPlannedLabel" class="plannedOrCompletedLabel">{{$ "Planned" }}</span>
                {{#if displayTime }}
                    <span id="weekSummaryBarChartHoverPlanned" class ="summaryStats">{{formatTime timePlanned false "--:--"}}</span>
                {{else}}
                    {{#if distancePlanned}}
                    <span id="weekSummaryBarChartHoverPlanned" class ="summaryStats">{{ formatUnitsValue "distance" distancePlanned this}}</span>
                    <span class="units">{{ getUnitsLabel "distance" workoutTypeValueId }}</span>
                    {{else}}
                        {{#if displayTSS}}
                        <span id="weekSummaryBarChartHoverPlanned" class="summaryStats">{{formatUnitsValue "tss" tssPlanned this "0"}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
            <div>
                <span id="weekSummaryBarChartHoverCompletedLabel" class="plannedOrCompletedLabel">{{$ "Completed" }}</span>
                {{#if displayTime }}
                    <span id="weekSummaryBarChartHoverCompleted" class ="summaryStats">{{formatTime timeCompleted false "--:--"}}</span>
                {{else}}
                    {{#if distanceCompleted}}
                    <span id="weekSummaryBarChartHoverCompleted" class ="summaryStats">{{ formatUnitsValue "distance" distanceCompleted this}}</span>
                    <span class="units">{{ getUnitsLabel "distance" workoutTypeValueId }}</span>
                    {{else}}
                        {{#if displayTSS}}
                        <span id="weekSummaryBarChartHoverCompleted" class="summaryStats">{{ formatUnitsValue "tss" tssCompleted this "0"}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}
    </div>
{{/hoverBox}}