<div class="workoutQuickView expanded">
    <div id="workOutQuickView">
        <div class="QVHeader">
      
            <div class="QVHeaderItemsContain cf">
                <div class="workoutBarView"></div>
            </div>
        </div>

        <div id="quickViewExpandedContent">
            <div class="expandoLeftColumn">
                <div class="expandoPackeryRegion"></div>
                <div class="commentsContainer"></div>
            </div>
            <div class="expandoRightColumn">
                <div class="expandoEditControlsRegion"></div>
                <div class="expandoStatsRegion"></div>
                <div class="expandoLapsRegion"></div>
            </div>
        </div>


    </div>
</div>