#calendarContainer .thisWeek .dayHeader
{
    background-color: #DC5148;
}

#calendarContainer .thisWeek .today .dayHeader
{
    background-color: rgb(235, 156, 151);
}

#userControlsContainer #userControlsBackground .personHeaderLogo
{
    background-image: url(timexLogo.png);
}