#calendarContainer .thisWeek .dayHeader
{
    background-color: #c12e1a;
}

#calendarContainer .thisWeek .summaryHeader
{
    background-color: #636569;
}

#calendarContainer .thisWeek .today .dayHeader
{
    background-color: #df948a;
}

#calendarContainer .thisWeek .dayHeader .calendarDate
{
    color: #FFFFFF;
}

#userControlsContainer #userControlsBackground .personHeaderLogo.affiliate
{
    background-image: url(timexLogo.png);
    background-position-y: 0px;
}
