.workoutStructureToggleContainer {
    float: right;
    cursor: pointer;
    border-top: 2px solid $TPBlue;
    width: 73px;
    text-align: right;
    @extend %structureDownArrow;
    background-size: 9px 5px;
    background-repeat: no-repeat;
    background-position: 0 4px;
    position: absolute;
    top: 0;
    right: 11px;
    
    .workoutStructureToggle {
        font-family: $fontFamilyHeavy;
        font-size: $fontSizeXSmall;
        color: $TPGrey3;
        display: block;
        text-transform: uppercase;
        padding-top: 2px;
    }
}

#workoutStructure {
    float: left;
    margin-top: 25px;

    .workoutStructureContainer {
        clear: both;
        margin: 0 0 0 11px;
        width: 619px;

        .header {
            font-family: $fontFamilyHeavy;
            font-size: $fontSizeSmaller;
            margin-bottom: 5px;
            padding-bottom: 5px;
            color: $TPGrey3;
            border-top: 2px solid $TPBlue;
            padding-top: 2px;   
            text-transform: uppercase;    
            display: inline-block;
        }

        .setProperties {
            .header {
                border-bottom: 1px solid $TPGrey12;
                border-top:none;
                padding-top: 10px;
                color: $TPGrey3;
                font-size: $fontSizeSmall;
                text-transform: none;
                display: block;
            }
        }
    }

    .workoutStructure {
        color: #636569;

        .exerciseTitle {
            color: $TPGrey3;
            font-family: $fontFamilyHeavy;
            font-size: $fontSizeSmall;
            margin: 20px 0 5px 0;
        }

        .exerciseNotes {
            p {
                font-size: $fontSizeSmall;
            }
        }

        .exerciseSets {
            .setProperties {
                margin-bottom: 27px;
            }

            .workoutStatsRowStructure {

                margin-bottom: 10px; 
                
                div {
                    display: inline;
                    font-size: $fontSizeSmall;

                    &:last-of-type {
                        margin-right: 0;
                    }

                }

            } 

        }
    }
}


.workoutStructure tr.even, 
.workoutStructure tr.alt, 
.workoutStructure tr:nth-of-type(even) {
    background: transparent;
}

.workoutStructure .targets {
    font-size: 150%;
}