.workoutStructureToggleContainer {
    float: left;
    cursor: pointer;
    width: 275px;
    text-align: center;
    @extend %structureDownArrow;
    background-size: 9px 5px;
    background-repeat: no-repeat;
    background-position: 175px 8px;
    padding: 5px;
    margin-top: 14px;
    background-color: #ccc;
    
    .workoutStructureToggle {
        font-family: $fontFamilyRegular;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
        display: block;
        padding-right: 15px;
    }
}

#workoutStructure {
    float: left;
    margin: 25px 0;

    .workoutStructureContainer {
        clear: both;
        margin: 0 0 0 117px;
        width: 407px;

        .headline {
            font-family: $fontFamilyRegular;
            font-size: $fontSizeSmall;
            margin-bottom: 5px;
            color: $TPGrey3;
            padding: 5px;   
            background-color: #ccc;
            text-align: center;   
        }

        .setProperties {
            .header {
                font-family: $fontFamilyHeavy;
                font-size: $fontSizeSmall;
                color: $TPGrey3;
                display: inline-block;
            }
        }
    }

    .workoutStructure {
        color: #636569;

        .exerciseTitle {
            margin: 5px 0 5px 0;
            font-family: $fontFamilyRegular;
            font-size: $fontSizeMedium;
            padding-bottom: 5px;
            padding-top: 10px;
            color: $TPGrey3;
            display: block;
            text-transform: uppercase;
        }

        .exerciseNotes {
            padding-left: 10px;
            p {
                font-size: $fontSizeSmall;
                line-height: $fontSizeXXLarge;
                &:last-of-type {
                    margin-bottom: $fontSizeXSmall;
                }
            }
        }

        .exerciseSets {
            padding-left: 10px;

            .setProperties {
                padding: 0 0 3px 0;
                line-height: $fontSizeMedLarge;
            }

            .workoutStatsRowStructure {
                margin: 3px 0;
                display: inline;
                div {
                    display: inline;
                    font-size: $fontSizeSmall;

                    &.comma
                    {
                        margin-left: -3px;
                    }

                }

            } 

        }
    }
}


.workoutStructure tr.even, 
.workoutStructure tr.alt, 
.workoutStructure tr:nth-of-type(even) {
    background: transparent;
}

.workoutStructure .targets {
    font-size: 150%;
}