<div class="comments">
    <div>
        <div class="header">{{$ "Description"}}</div>
        <div class="workoutStructureToggleContainer">
            <span class="workoutStructureToggle menuIcon"></span>
        </div>
        <textarea id="descriptionInput"></textarea>
        <div id="descriptionPrintable"></div>
    </div> 

    <div id="preActivityComments">
        <div class="header">{{$ "PreActivityComments"}}</div>
        <textarea id="preActivityCommentsInput" class="activityComments" />
        <div id="preActivityCommentsPrintable"></div>
    </div>

    <div>
        <div class="header">{{$ "PostActivityComments"}}</div>
        <div class="workoutComments" id="postActivityCommentsList"></div> 
        <textarea name="postActivityCommentsInput" class="activityComments" placeholder="{{$ "EnterComment" }}" id="postActivityCommentsInput" />
        <div id="postActivityCommentsPrintable"></div>
    </div>
</div> 