<div class="comments">
    <div >
        <div class="header">{{$ "Description"}}</div>
        <textarea id="descriptionInput"></textarea>
    </div> 

    <div id="preActivityComments">
        <div class="header">{{$ "PreActivityComments"}}</div>
        <textarea id="preActivityCommentsInput" class="activityComments" />
    </div>

    <div>
        <div class="header">{{$ "PostActivityComments"}}</div>
        <div class="workoutComments" id="postActivityCommentsList"></div> 
        <textarea name="postActivityCommentsInput" class="activityComments" placeholder="{{$ "EnterComment" }}" id="postActivityCommentsInput" />
    </div>
</div> 