<div class="comments">
    <div >
        <label>{{$ "Description"}}</label>
        <textarea id="descriptionInput" />
    </div> 

    <div id="preActivityComments">
        <label id="preActivityCommentsLabel">{{$ "PreActivityComments"}}</label>
        <textarea id="preActivityCommentsInput" class="activityComments" />
    </div>

    <div>
        <label>{{$ "PostActivityComments"}}</label>
        <div class="workoutComments" id="postActivityCommentsList"></div> 
        <textarea name="postActivityCommentsInput" class="activityComments" placeholder="{{$ "EnterComment" }}" id="postActivityCommentsInput" />
    </div>
</div> 