<div class="powerZoneGraphTooltip">
    <div class="tooltipRow">
        <span class="tooltipLabel">{{ $ "Zone" }}:</span>
        <span class="tooltipValue">{{ splitString label ":" "1" }}</span>
    </div>
    <div class="tooltipRow">
        <span class="tooltipLabel">{{$ "Watts"}}:</span>
        <span class="tooltipValue">{{ percentLTMin }}-{{percentLTMax}}</span>
    </div>
    <div class="tooltipRow">
        <span class="tooltipLabel">{{$ "Watts"}}/kg:</span>
        <span class="tooltipValue">{{ percentMHRMin }}-{{percentMHRMax}}</span>
    </div>
    <div class="tooltipRow">
        <span class="tooltipLabel">% FTP:</span>
        <span class="tooltipValue">{{ formatSeconds seconds }}</span>
    </div>
</div>
