
#flotTip
{
    z-index: 999;
    min-width: 90px;
    padding: 0;

    .hoverBox {
        .mainShadow {
            bottom: 0px;
        }
    }

    div
    {
        clear: both;
    }

    .hoverBoxContents
    {
        padding: 0 7px 0 7px;

        label {
            margin:0;
        }
    }

    &.left
    {
        .hoverBox
        {
            .arrow
            {
                right: 4px;
                @include transform(translateX(8px) rotate(45deg));
                position: absolute;
                top: 20px;
            }
        }
    }

    &.right
    {
        .hoverBox
        {
            .arrow
            {
                left: 1px;
                @include transform(translateX(-35px) rotate(-45deg));
                position: absolute;
                top: 20px;
            }
        }
    }

    &.bottom
    {
        .hoverBox
        {
            .arrow
            {
                bottom: 20px;
                top: auto;
            }
        }
    }

    .details {
        padding: 4px 0;

        &.chart {
            padding:4px 5px;
        }
    }

    .tooltipRow
    {
        font-family: $fontFamilyRegular;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
        margin:7px 0 6px 0;
        white-space: nowrap;

        .tooltipLabel
        {
            font-family: $fontFamilyHeavy;
        }
    }

    .time
    {
       font-family: $fontFamilyRegular;
       font-size: $fontSizeLarge;
       text-align: center;
    }

    .value
    {
       font-family: $fontFamilyHeavy;
       font-size: $fontSizeSmall;
       color: $TPGrey4;
       width: 45px;
       text-align: right;
       white-space: nowrap;
       display:inline-block;
    }

    .units
    {
        font-family: $fontFamilyRegular;
        font-size: $fontSizeXSmall;
        min-width: 35px;
        text-align: left;
        padding: 0px 5px 0 0px;
        margin-left: 1px;
        display:inline-block;
    }


    .withPower
    {
        .RightPower
        {
            .value
            {
                width: auto;
                font-family: $fontFamilyRegular;
            }

            .units
            {
                display: none;
            }
        }
    }

    .current
    {
        &.Cadence
        {
            label
            {
                color: $clrCadence;
            }
        }

        &.HeartRate
        {
            label
            {
                color: $clrHeartRate;
            }
        }

        &.Power
        {
            label
            {
                color: $clrPower;
            }
        }

        &.RightPower
        {
            label
            {
                color: $clrRightPower;
            }
        }

        &.Speed, &.Pace
        {
            label
            {
                color: $clrSpeed;
            }
        }

        &.Elevation
        {
            label
            {
                color: $clrElevation;
            }
        }

        &.Temperature
        {
            label
            {
                color: $clrTemperature;
            }
        }

        &.Torque
        {
            label
            {
                color: $clrTorque;
            }
        }

        &.Distance
        {
            label
            {
                color: $clrDistance;
            }
        }

        &.Time
        {
            label
            {
                color: $clrTime;
            }
        }
    }
}

