.QVShell {
    .QVHeader {
        h2 {
            font-family: $fontFamilyLight;
            font-size:$fontSizeQVHeader;
            color:$TPGrey4;
            font-weight: normal;
            margin:13px 10px 10px 10px;
            float:left;
        }

        .QVBar {
            width: 666px;

            .metricIconLarge {
                color: $TPGrey3;
                background: #fff;
                font-size: 70px;
                font-family: "icons";

                @extend .icon;
                @extend .icon_metric;
            }
        }
    }

    .QVBody {
        padding: 20px 12px;
        position: relative;

        .metricQVItem {
            width: 50%;
            float: left;
            min-height: 30px;

            // Blood Pressure - 2 fields
            &.metricType-1 {
                input[type="text"] {
                    width:79px;
                }
            }

            // Insulin - 2 fields
            &.metricType-45 {
                input[type="text"] {
                    width:70px;
                }
            }

            &.metricType-12 {
                clear: left;
                width: 100%;
                margin-top: 7px;

                &:before {
                    border-top: 1px solid $TPGrey12;
                    width: 495px;
                    margin-left: 115px;
                    content:"";
                    height:1px;
                    display:block;
                    margin-bottom:15px;
                }

                textarea {
                    width: 497px;
                    max-width: 497px;
                    min-height: 57px;
                }
            }

            .metricLabel {
                width: 110px;
                display: inline-block;
                text-align: right;
                font-size: $fontSizeSmaller;
                font-family: $fontFamilyRegular;
                color: $TPGrey3;

                &.select {
                    line-height: 22px;
                }

                &.textarea {
                    // Align label with the text in the textarea by matching
                    // line-height, padding, and border
                    border-top: solid 1px transparent;
                    padding: (0.5em * ($fontSizeSmall / $fontSizeSmaller)) 0;
                    line-height: (1.214em) * ($fontSizeSmall / $fontSizeSmaller);
                }
            }

            .metricUnit {
                display: inline-block;
                font-size: $fontSizeSmaller;
                font-family:$fontFamilyRegular;
                color:$TPGrey3;
            }

            .metricValue {
                display:inline-block;
                font-family:$fontFamilyRegular;
                font-size:$fontSizeSmall;
                padding:4px 0;
                color:$TPGrey3;
            }

            input[type="text"] {
                width: 170px;
                height: 22px;
                display: inline-block;
                margin: 0;
                text-align: left;            
            }

            select, 
            .selectBox {
                width: 170px;
                margin: 0;
                display: inline-block;
                vertical-align: top;
            }

            textarea {
                width: 170px;
                max-width: 170px;
                display: inline-block;
                margin: 0;
                vertical-align: top;
            }

        }

        label {
            cursor:text;

            // important to keep font sizes within label proportional
            font-size: 1em;
        }
    }

    .metricQVItem input {
        display: inline-block;
    }
}
