@import "../../globalCSS/tpstylesheet";
@import "qvChartDefaults";
@import "qvHeader";
@import "qvExpando";
@import "qvTabs";
@import "qvSummary";
@import "qvMapGraph";
@import "qvFileUploadMenu";
@import "qvSharing";

@import "metricQuickView";

#workOutQuickView, .QVShell
{
    overflow:hidden;
    width: 690px;
    height: 530px;
    @include radialGradient(#e6e4e4, #dedcdc);

    textarea, input
    {
        @include box-shadow(none);
        color: $TPGrey3;
        line-height:$fontSizeXLarge;
        &:focus
        {
            background-color: #FFFFFF;
        }

    }


    input
    {

        text-align: center;

        &.workoutTitle
        {
            text-align: left;
            color: $TPGrey4;
        }

        &#startTimeInput, &.timeInput
        {
            text-align: left;
        }
    }

}

input[disabled='disabled']
{
    @include box-shadow(none);
    cursor: default;
}

#quickViewContent, .QVBody
{
    height: 360px;
    overflow-y:scroll;
    overflow-x:hidden;
    @include radialGradient(#e6e4e4, #dedcdc);
    width: 653px;

    @include nice-scrollbar;
    &::-webkit-scrollbar-track {
        box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.2) 0 0px 1px 1px inset;
    }
}

.QVBody
{
    width: 690px;
}

.quickviewFooter, .QVFooter
{
    height:45px;
    background-color: $TPGrey5;
    padding-top: 12px;

    .selectionBox
    {
        padding-left: 55px;
        width: 130px;
        float:left;
        // @include selectionBox(130px);

        select {
            margin-top:1px;
            padding:0;
            width:130px;
        }
    }
    .saveCloseButtons
    {
        font-weight:normal;
        float: right;
        width: 285px;
        @include buttons(0, 77px, $fontSizeSmall);
        #saveClose
        {
            width: 107px;
        }
        button
        {
            margin-right: 8px;
        }
    }
}

.workoutTypeMenuModalOverlay
{
    z-index: 102;
}

.workoutTypeMenu
{
    z-index: 103;

    &.left
    {
        .hoverBox
        {
            .arrow
            {
                right: 4px;
                @include transform(translateX(8px) rotate(45deg));
            }
        }
    }

    &.right
    {
        .hoverBox
        {
            .arrow
            {
                left: 1px;
                @include transform(translateX(-35px) rotate(-45deg));
            }
        }
    }

    .hoverBox
    {
        .arrow
        {
            position: absolute;
            top: 40px;
            @include box-shadow(0 0 2px 0 #ADADAD);
        }

        .colored
        {
            background-color: $TPGrey3;
        }

        .mainShadow {
            bottom: 0;
        }

        .hoverBoxContents
        {

            .details
            {
                min-width: 120px;
            }

            label
            {
                color:$TPGrey10;

                &.selected
                {
                    font-family: $fontFamilyHeavy;
                    color:$TPGrey4;
                }

                &:hover
                {
                    color:$TPGrey4;
                }
            }
        }

    }
}

.workoutQuickViewMenuModalOverlay {
    z-index: 102;
}

.workoutQuickViewMenu {
    z-index: 103;

    .hoverBox {
        .hoverBoxContents .details label {
            font-weight:normal;
            font-size: $fontSizeSmall;
            }
        .mainShadow {
            box-shadow: 0 2px 3px 0 #444444;
        }
        .arrow {
            box-shadow: 0 2px 3px 0 #444444;
        }
    }
}


.saveWorkoutToLibraryConfirmationModalOverlay
{
    z-index: 102;
}

.saveWorkoutToLibraryConfirmation
{
    z-index: 103;

    label {

        font-family: $fontFamilyHeavy;
    }

    select {
        width: 200px;
    }

    input
    {
        width: 200px;
    }

    .excerciseTitle {
        margin-top:20px;

        .labels {
            float:left;
            width:120px;
            text-align:left;
            padding-right:10px;


            label {
                color:$TPGrey3;
            }
        }

        .values {
            input {
                float:right;
                height:22px;
            }
        }

    }

    .selectLibrary {
        margin-bottom:4px;

        .labels {
            float:left;
            width:120px;
            text-align:left;
            padding-right:10px;

            label {
                margin-bottom:0;
                color:$TPGrey3;
            }
        }

        .selectContain {
            float:right;
        }
    }


}

.workoutComments
{

    #postActivityCommentsInput
    {
        height: 30px;
    }

    .comment
    {

        margin-bottom:3px;
        padding: 3px;
        border: 1px solid transparent;
        font-size: $fontSizeSmaller;
        line-height: $fontSizeXLarge;
        color: $TPGrey3;

        &.hover
        {
            &:not(.editable)
            {
                background-color: $TPGrey1;
                border-color: $TPGrey7;
            }
        }

        &.editable
        {
            padding-right: 0px;
        }

        .commentHeader
        {
            // this becomes smaller because it's relative to the size above it ...
            font-family: $fontFamilyHeavy;
            font-weight: normal;
            margin-bottom: 3px;
            color: $TPGrey3;

            .date
            {
                margin-left: 5px;
                .weekdayName
                {
                    text-transform: uppercase;
                }
            }

        }

        .commentBody
        {
            white-space: pre-wrap;
            word-wrap:break-word;
        }

        textarea.commentBody
        {
            @include calc(width, "100% + 3px");
            margin-left: -3px;
        }


    }
}
.updatingModel
{
    color: red;
}

.modelUpdateSuccess
{
    color: green;
}

.comment
{
    position: relative;
    .deleteButton
    {
        position: absolute;
        display: none;
        top: 4px;
        right: 3px;
        height: 8px;
        width: 10px;
        @extend %closeXBG;
        background-size: 10px 8px;
    }

    &.hover
    {
        .deleteButton
        {
            display:block
        }
    }
}
