@import "../../globalCSS/tpstylesheet";

.highcharts-series
{
    rect
    {
        fill: red;
        stroke: darkred;
    }

    path
    {
        stroke: red;
    }
}

.highcharts-tooltip
{
    .tooltipLabel
    {
        color: $TPGrey3;
        font-weight: bold;
    }

    .tooltipValue
    {
        color: $TPGrey3;
    }
}