@import "../../globalCSS/tpstylesheet";

.qvZonesTab
{
    position:relative;



    .zonesChart
    {
        position: absolute;
        top: 14px;
        left: 14px;
        width: 290px;
        height: 220px;
    }

    .peaksChart
    {
        position: absolute;
        top: 14px;
        left: 330px;
        width: 290px;
        height: 220px;
    }

    .zonesTable
    {
        position: absolute;
        top: 250px;
        left: 30px;
        width: 265px;
        height: auto;
        min-height: 200px;
    }

    .peaksTable
    {
        position: absolute;
        top: 250px;
        left: 350px;
        width: 265px;
        height: auto;
        min-height: 200px;

    }

    .highcharts-series
    {
        
    }

    .highcharts-tooltip
    {

        .graphTooltip
        {
            background-color: rgba(255, 255, 255, 0);
        }

        .tooltipRow
        {
            font-family: $fontFamilyRegular;
            font-size: $fontSizeSmall;
            color: $TPGrey3;

            .tooltipLabel
            {
                font-family: $fontFamilyHeavy;
            }
        }
    }
}

.zonesTable
{
    .zoneRow
    {

        .zoneText
        {
            @include calc(width, "100% - 80px"); 
            display: inline-block;
            overflow: hidden;
            text-align: right;
            vertical-align: top;
        }

        .zoneRange
        {
            @include labels($fontFamilyRegular, 0.8em, $TPGrey3, normal);
        }

        .zoneName
        {
            @include labels($fontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);
            label
            {
                white-space: nowrap;
            }
        }

        .zoneInput
        {
            width: 70px;
            display: inline-block;
            margin-left: 5px;
            vertical-align: top;
            @include inputs(70px, 26px, $fontSizeSmall, $fontFamilyRegular);
            input
            {
                color: $TPGrey3;
            }
        }

    }
}

.peaksTable
{
    .peakRow
    {
        height: 24px;

        .peakName
        {
            display: inline-block;
            @include calc(width, "100% - 100px"); 
            text-align: right;
            vertical-align: top;
            @include labels($fontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);
            label
            {
                margin-top: 5px;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .peakInput
        {
            display: inline-block;
            margin-left: 10px;
            vertical-align: top;
            @include inputs(45px, 20px, 12px, $fontFamilyRegular);
            input
            {
                text-align: right;
                color: $TPGrey3;
            }
        }

        .peakRange
        {
            display: inline-block;
            margin-left: 5px;
            width: 25px;
            vertical-align: top;
            @include labels($fontFamilyRegular, $fontSizeXSmall, $TPGrey3, normal);
            label
            {
                margin-top: 5px;
            }
        }
    }
}
