@import "../../globalCSS/tpstylesheet";

.chartContainer
{

    position: absolute;
    top: 25px;

    .flot-base
    {
        margin-left: 10px;
    }

    .flot-overlay
    {
        margin-left: 10px;
    }
}

.qvZonesTab
{
    position:relative;

    .zonesChart
    {
        position: absolute;
        top: 14px;
        left: 14px;
        width: 290px;
        height: 220px;
    }

    .peaksChart
    {
        position: absolute;
        top: 14px;
        left: 330px;
        width: 290px;
        height: 220px;
    }

    .zonesTable
    {
        position: absolute;
        top: 250px;
        left: 30px;
        width: 265px;
        height: auto;
        min-height: 200px;
    }

    .peaksTable
    {
        position: absolute;
        top: 250px;
        left: 350px;
        width: 265px;
        height: auto;
        min-height: 200px;

    }

    .highcharts-series
    {
        
    }

}

.zonesTable
{
    .zoneRow
    {

        .zoneText
        {
            @include calc(width, "100% - 80px"); 
            display: inline-block;
            overflow: hidden;
            text-align: right;
            vertical-align: top;
        }

        .zoneRange
        {
            @include labels($fontFamilyRegular, $fontSizeSmaller, $TPGrey3, normal);
        }

        .zoneName
        {
            @include labels($fontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);
            label
            {
                white-space: nowrap;
            }
        }

        .zoneInput
        {
            width: 70px;
            display: inline-block;
            margin-left: 5px;
            vertical-align: top;
            @include inputs(70px, 26px, $fontSizeSmall, $fontFamilyRegular);
            input
            {
                color: $TPGrey3;
            }
        }

    }
}

.peaksTable
{
    .peakRow
    {
        height: 24px;

        .peakName
        {
            display: inline-block;
            @include calc(width, "100% - 100px"); 
            text-align: right;
            vertical-align: top;
            @include labels($fontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);
            label
            {
                margin-top: 5px;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .peakInput
        {
            display: inline-block;
            margin-left: 10px;
            vertical-align: top;
            @include inputs(45px, 20px, 12px, $fontFamilyRegular);
            input
            {
                text-align: right;
                color: $TPGrey3;
            }
        }

        .peakRange
        {
            display: inline-block;
            margin-left: 5px;
            width: 25px;
            vertical-align: top;
            @include labels($fontFamilyRegular, $fontSizeXSmall, $TPGrey3, normal);
            label
            {
                margin-top: 5px;
            }
        }
    }
}

#flotTip
{
    z-index: 999;
    min-width: 90px;
    padding: 0;

    div
    {
        clear: both;
    }

    .hoverBoxContents
    {
        padding: 0 0 0 0;
       
        label {
            margin-top:4px;
            margin-bottom:4px;
        }
    }

    &.left
    {
        .hoverBox
        {
            .arrow
            {
                right: 4px;
                @include transform(translateX(8px) rotate(45deg));
                position: absolute;
                top: 20px;

            }
        }
    }

    &.right
    {
        .hoverBox
        {
            .arrow
            {
                left: 1px;
                @include transform(translateX(-35px) rotate(-45deg));
                position: absolute;
                top: 20px;
            }
        }
    }

    &.bottom
    {
        .hoverBox
        {
            .arrow
            {
                bottom: 20px;
                top: auto;
            }
        }
    }


    .details
    {
        padding: 6px 0px 6px 0px;

        &.chart
        {
            padding: 5px 5px 8px 5px;
        }
    }

    .tooltipRow
    {
        font-family: $fontFamilyRegular;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
        line-height: 1.4em;

        .tooltipLabel
        {
            font-family: $fontFamilyHeavy;
        }
    }

    .time
    {
       font-family: $fontFamilyRegular;
       font-size: $fontSizeLarge; 
       text-align: center;
       
    }

    .value
    {
       font-family: $fontFamilyHeavy;
       font-size: $fontSizeSmall; 
       color: $TPGrey4;
       width: 45px;
       // float: left;
       text-align: right;
       white-space: nowrap;
       display:inline-block;
    }
    
       .RightPower
       {
            .value
            {
                width: auto;
                font-family: $fontFamilyRegular;
            }

            .units
            {
                display: none;
            }
       }

    .units
    {
        // float: left;
        font-family: $fontFamilyRegular;
        font-size: $fontSizeXSmall;
        min-width: 35px;
        text-align: left;
        padding: 0px 5px 0 0px;
        margin-left: 1px;
        display:inline-block;
    }

    .Cadence.current
    {
        label
        {
            color: $clrCadence;
        }
    }

    .HeartRate.current
    {
        label
        {
            color: $clrHeartRate;
        }
    }

    .Power.current
    {
        label
        {
            color: $clrPower;
        }
    }

    .RightPower.current
    {
        label
        {
            color: $clrRightPower;
        }
    }

    .Speed.current
    {
        label
        {
            color: $clrSpeed;
        }
    }

    .Elevation.current
    {
        label
        {
            color: $clrElevation;
        }
    }

    .Temperature.current
    {
        label
        {
            color: $clrTemperature;
        }
    }

    .Torque.current
    {
        label
        {
            color: $clrTorque;
        }
    }
}

.chartTitle
{
    font-family: HelveticaNeueW01-75Bold;
    font-size: 12px;
    color: #303030;
    text-align: center;
    margin-left: -10px;
}

.xaxisLabel
{   
    font-family: HelveticaNeueW01-75Bold;
    font-size: 12px;
    color: #303030; 
    text-align: center;
    position: absolute;
    top: 195px;
    left: calc(50% + 10px);
    text-transform: uppercase;
}

.yaxisLabel
{
    font-family: HelveticaNeueW01-75Bold;
    font-size: 12px;
    color: #303030; 
    text-align: center;
    float: left;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);	
    width: 100px;
    margin-left: -30px;
    margin-top: calc(27% - 50px);
    text-transform: uppercase;
}

.chartContainer
{
    height: 160px;
    width: 250px;
    margin-left: 40px;
}

.qvZonesTab
{

    .yaxisLabel
    {
        margin-top: calc(45% - 50px);
    }

    .chartTitle
    {
        margin-left: 60px;
    }

    .xaxisLabel
    {   
    }
}

