@import "../../globalCSS/tpstylesheet";

#quickViewExpandedContent
{
    min-width: 1150px;
}

.quickViewExpandedStats
{
    width: 333px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.QVExpandedView
{
    position: relative;

    .viewOne
    {
        background-color: $TPGrey1;
    }

    .viewTwo
    {
        background-color: $TPGrey1;
    }
}

.expandedViewsButtons
{
    display:none;
    height: 80px;
    float: left;
    margin-left: 10px;
    @include labels($fontFamilyRegular, $fontSizeSmall, $TPGrey3, normal);
    @include buttons(0, 77px, $fontSizeSmall);

    button
    {
        padding: 4px 0;
        margin: 5px 0 2px 0;
    }

    .views
    {
        margin-left: 12px;
        margin-right: 12px;
        width: 120px;
        height: 80px;
        border-left: solid 1px $TPGrey2;
        padding: 7px 0 0 12px;
        float: left;
        

        .view
        {
            float: left;
                
        }
        .topViews
        {
            height: 30px;
            width: 115px;
            
            padding-top: 5px;

            .twoUpViewHorizontal
            {
                padding-left: 9px;
            }

            .twoUpViewVertical
            {
                padding-left: 10px;
            }
        }

        .bottomViews
        {
           padding-top: 2px;

           .fourUpView
           {
                padding-left: 9px;
           }
        }
    }

    .charts
    {
        height: 79px;
        width: 102px;
        float: left;
        border-left: solid 1px $TPGrey2;
        padding: 7px 0 0 12px;
    }

    .tools
    {
        height: 79px;
        width: 102px;
        float: left;
        border-left: solid 1px $TPGrey2;
        padding: 7px 0 0 12px;
    }

    .share
    {
        height: 79px;
        width: 102px;
        float: left;
        border-left: solid 1px $TPGrey2;
        padding: 7px 0 0 12px;

        img
        {
            padding: 5px 0 0 3px;
        }
    }
}


#expandoLeftColumn
{
    float: left;
    position:relative;
    @include
    calc(width, "100% - 335px");
    overflow-y: scroll;
    @include
    nice-scrollbar;

    &.graphHidden
    {
        #expandoGraphRegion
        {
            display: none;
        }
    }

    &.mapHidden
    {
        #expandoMapRegion
        {
            display: none;
        }

        #expandoGraphRegion
        {
            height: 600px;

            #plot
            {
                height: 565px;
            }
        }
    }

    #expandoMapRegion
    {
        height: 320px;
        width: 100%;

        #expandoMap
        {
            height: 320px;
            width: 100%;
        }

    }

    #expandoMapAndGraphResizerRegion
    {
        height:10px;
        width:100%;
        left:0;
        background:black;
        cursor:row-resize;
        position:absolute;
    }

    #expandoGraphRegion
    {
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        height: 400px;
        width: 100%;
        overflow:hidden;
        #graphToolbar
        {
            height: 35px;
        }

        #plot
        {
            height: 365px;
        }

        .graphToolbar
        {
            padding: 0;
            margin: 0 55px 0 0;

            button
            {
                font-size: $fontSizeSmall;
                font-weight: normal;
                padding: 4px;
                margin: 0;
                min-width: 44px;
                float: left;
                box-shadow: none;
                @include linearGradient(top, #ffffff, #dfddde);
                background-color: #fff;
                color: $TPGrey10;
                border-color: $TPGrey9;

                &.graphZoomButton,
                &.graphDistanceButton
                {
                    margin-right: 25px;
                }

                &.graphDistanceButton
                {
                    border-left: none;
                }

                &.bold
                {
                    font-weight: bold;
                }

                &.graphResetButton
                {
                    border-right: none;
                    width: 56px;

                    &.hidden
                    {
                        visibility: hidden;
                    }
                }

                &.graphSeriesButton
                {
                    border-right: none;
                    text-transform:uppercase;
                }

                &.graphElevationButton
                {
                    @include linearGradient(top, #b5d8ff, #0f7ffd);
                    color: #ffffff;
                }

                &.graphSpeedButton
                {
                    @include linearGradient(top, #10B500, #0B8200);
                    color: #ffffff;
                }

                &.graphHeartRateButton
                {
                    @include linearGradient(top, #f8b3b6, #e61101);
                    color: #ffffff;
                }

                &.graphPowerButton
                {
                    @include linearGradient(top, #F8C7FF, #FF00FF);
                    color: #ffffff;
                }

                &.graphRightPowerButton
                {
                    @include linearGradient(top, #F8C7FF, #FF00FF);
                    color: #ffffff;
                }

                &.graphTorqueButton
                {
                    @include linearGradient(top, #D9D9D9, #BDBDBD);
                    color: #ffffff;
                }

                &.graphCadenceButton
                {
                    @include linearGradient(top, #FFCC00, #FFA500);
                    color: #ffffff;
                }

                &.graphTemperatureButton
                {
                    @include linearGradient(top, #0883FF, #0A0AFF);
                    color: #ffffff;
                }

                &.graphSeriesDisabled
                {
                    @include linearGradient(top, #D9D9D9, #BDBDBD);
                    color: #ffffff;
                }
            }

            button:last-of-type
            {
                border-right: 1px solid #808080;
            }

            input[type=range]
            {
                float: left;
                margin-right: 30px;
            }
        }
    }
    #expandoLapsSplitsRegion
    {
        float:left;
        padding:0 15px;
        width:100%;
        .lapsSplitsTitle
        {
            font-family: HelveticaNeueW01-75Bold;
            font-size: 12px;
            color: #636569;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    #expandoChartsRegion
    {
        width: 100%;
        margin-top: 30px;

        .timeInZonesChartContainer
        {
            float: left;
            margin-bottom: 20px;
            position: relative;

            .chartContainer
            {
                height: 70%;
                width: 80%;
            }

            .xaxisLabel
            {
                top: calc(70% + 30px);
                left: calc(50% - 35px);
            }
        }

        .peaksChartContainer
        {
            float: left;
            margin-bottom: 20px;
            position: relative;

            .chartContainer
            {
                height: 70%;
                width: 80%;
            }
        }
    }
}

#expandoRightColumn
{
    float: right;
    width: 335px;
    overflow-y: scroll;
    @include nice-scrollbar;

    #expandoStatsRegion
    {
        overflow-x: auto;
        overflow-y: visible;
        font-size: $fontSizeMedium;
        color: $TPGrey4;
        //border-bottom: 1px solid $TPGrey7;

        .rangeTitle
        {
            text-align: center;
            margin-bottom: 10px;
            margin-top: 15px;
            font-size: $fontSizeXLarge;
        }

        .shadow
        {
            background-image: url(../../assets/images/QVImages/expandoStatsShadow.png);
            height: 13px;
        }

        .contents
        {

            padding: 10px;
            @include labels($fontFamilyRegular, $fontSizeXSmall, $TPGrey4, normal);

            .minMaxAvg
            {
                display: table;
                margin-top: 20px;

                .separator 
                {
                    display: table-cell;
                    width: 2px;
                }

                .minMaxAvgRow
                {
                    display: table-row;

                    &.statsRow
                    {
                        .value
                        {
                            font-size: $fontSizeMedLarge;
                            min-width: 60px;
                        }
                    }

                    label
                    {
                        display: table-cell;
                        padding-right: 10px;
                        white-space: nowrap;
                        text-align: right;
                        width: auto;
                    }

                    &:not(.minMaxAvgHeaders)
                    {
                        label
                        {
                            min-width: 70px;
                        }
                    }

                    span
                    {
                        display: table-cell;
                        text-align: center;
                        padding: 0px 8px;

                        &.units
                        {
                            text-align: left;
                            padding: 0px 0px 2px 8px;
                            font-size: $fontSizeXSmall
                        }

                    }

                    .separator 
                    {
                        padding: 0px;
                    }

                    .value
                    {
                        background-color: #eaebec;
                    }

                    &.minMaxAvgHeaders
                    {
                        label
                        {
                            text-transform: uppercase;
                            text-align: center;
                            padding: 0px;
                            padding-bottom: 5px;
                            font-family: $fontFamilyHeavy;
                        }
                    }
                }

            }
        }
    }

    #expandoLapsRegion
    {
        overflow-y: visible;
        //@include nice-scrollbar;

        .controls
        {
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;

            select
            {
                width: 120px;
                margin-right: 10px;

                font-family: $fontFamilyRegular;
                font-size: $fontSizeSmall;
                color: $TPGrey3;
                border-width: 1px;
                border-style: solid;
                border-color: $TPGrey9;

                cursor: pointer;

                background: url(../../assets/images/calendarImages/background-gradient-button.png) repeat-x 0 0;

                visibility: hidden;

            }

            .selectboxit-option-icon-container 
            {
                margin-left: 0px;
            }

            .selectboxit-option
            {   
                text-indent: 3px;
            }

            @include buttons(0, 96px, $fontSizeSmall);
            button {
                // height: 20px;
                vertical-align: top;
            }
        }

        .rangesList {
            margin-left: 35px; 

            ul {
                list-style-type: none;
            }

            li {
                color:$TPGrey10;
                
                span {
                    cursor: pointer;  
                    display: inline-block;
                    @include calc(width, "100% - 20px");
                    &:hover {
                        color:$TPGrey4; 
                    }
                }

                &.highlight {
                    span {
                        color:$TPGrey4;
                        font-family:$fontFamilyHeavy;
                    }
                }
            }
        }
    }
}

.expandoStatsThrobber
{
    @include throbber;
    z-index: 2000;
}

.statisticsSummary
{
    @include labels($fontFamilyRegular, $fontSizeXSmall, $TPGrey4, normal);   
    .statsRow
    {

        label
        {
            display: inline-block;
            width: 127px;
            //@include calc(width, "50% - 5px"); 
            text-align: right;
            margin-right: 5px;
        }

        .value
        {
            line-height: 1.5;
            font-size: $fontSizeXLarge; 
        }

        .units
        {
            font-size: $fontSizeMedLarge;
        }
    }
}