@import "../../globalCSS/tpstylesheet";

#quickViewExpandedContent
{
    min-width: 1005px;

    .lap,
    .peak {
        color: $TPGrey4;

        .lapName {
            display: inline-block;
            white-space: nowrap;
        }

        &.highlight
        {
            color:$TPGrey4;
            font-family:$fontFamilyHeavy;

            .lapName {
                .add {
                    color:$TPLinkBlue;
                    font-family:$fontFamilyRegular;
                    margin-left: 2px;

                    &:hover {
                        color: $TPLinkBlueHover;
                    }
                }
            } 
        }

        &:hover
        {
            .actions {
                display: inline;
                .delete {
                    margin: 5px 0 0;
                    width: 13px;
                }
            }
        }

        .actions
        {
            display: none;
        }

        &.editing
        {
            span.lapName
            {
                display: none;
            }

            @include inputs(159px, 22px, $fontSizeSmall, $fontFamilyRegular, "input[type=text]");
            input.lapName {
                display: inline-block;
                text-align: left !important;
                margin: 0 11px 0 0;
                padding:0 5px;
                // position: relative;
                z-index: 2;
            }
        }

        &:not(.editing)
        {
            input.lapName
            {
                display: none;
            }
        }

        &.deleted
        {
            //background-color: rgba(142,178,216,0.25);
            text-decoration: line-through;
            opacity: 0.5;
        }
    }
}

.quickViewExpandedStats
{
    width: 333px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.QVExpandedView
{
    position: relative;

    .viewOne
    {
        background-color: $TPGrey1;
    }

    .viewTwo
    {
        background-color: $TPGrey1;
    }
}

.expandedViewsButtons
{
    display:none;
    height: 80px;
    float: left;
    margin-left: 10px;
    @include labels($fontFamilyRegular, $fontSizeSmall, $TPGrey3, normal);
    @include buttons(0, 77px, $fontSizeSmall);

    button
    {
        margin: 5px 0 2px 0;
    }

    .views
    {
        margin-left: 12px;
        margin-right: 12px;
        width: 120px;
        height: 80px;
        border-left: solid 1px $TPGrey2;
        padding: 7px 0 0 12px;
        float: left;

        .view
        {
            float: left;
            width: 30px;
            height: 21px;
        }
        .topViews
        {
            height: 30px;
            width: 115px;

            padding-top: 5px;

            .oneUpView
            {
                @extend %expando1UpBG;
            }

            .twoUpViewHorizontal
            {
                margin-left: 9px;
                @extend %expando2UpHorizontalBG;
            }

            .twoUpViewVertical
            {
                margin-left: 10px;
                @extend %expando2UpVerticalBG;
            }
        }

        .bottomViews
        {
           padding-top: 2px;

           .threeUpView
           {
                @extend %expando3UpBG;
           }

           .fourUpView
           {
                margin-left: 9px;
                @extend %expando4UpBG;
           }
        }
    }

    .charts
    {
        height: 79px;
        width: 102px;
        float: left;
        border-left: solid 1px $TPGrey2;
        padding: 7px 0 0 12px;
    }

    .tools
    {
        height: 79px;
        width: 102px;
        float: left;
        border-left: solid 1px $TPGrey2;
        padding: 7px 0 0 12px;
    }

    .share
    {
        height: 79px;
        width: 102px;
        float: left;
        border-left: solid 1px $TPGrey2;
        padding: 7px 0 0 12px;

        img
        {
            padding: 5px 0 0 3px;
        }
    }
}


.expandoLeftColumn
{
    float: left;
    position:relative;
    @include calc(width, "100% - 335px");
    overflow-y: scroll;
    @include nice-scrollbar;

    .expandoMapPod
    {

        #expandoMap
        {
            height: 100%;
            width: 100%;
        }

        &.noData
        {
            #expandoMap
            {
                display: none;
            }
        }

    }

    .expandoGraphPod, .expandoScatterGraphPod
    {
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        overflow:hidden;
        #graphToolbar
        {
            margin-top: 5px;
            height: 35px;
        }

        #plot, #scatterPlot
        {
            height: calc(100% - 50px);
            min-height: 1;
            min-width: 1;
        }

        &.noData
        {
            #plot
            {
                display: none;
            }

            #graphToolbar
            {
                .graphButtonContain
                {
                    &.left
                    {
                        display: none;
                    }
                }

                .graphSliderContain
                {
                    display: none;
                }
            }
        }

        .graphToolbar
        {
            float: left;
            padding: 0;
            margin: 0;
            width:100%;

            .graphButtonContain {
                float:right;
                width:auto;
                padding-top: 6px;


                .zoomButtons,
                .timeDistButtons,
                .cutButtons {
                    float:left;
                }

                .seriesButtons {
                    float:right;
                    button
                    {
                        text-transform:uppercase;
                        color: #ffffff;
                        &:hover {
                            color:#ffffff;
                        }
                    }
                }

                &.left {
                    float: left;
                    // width:40%;
                    width:auto;
                    padding-right:10px;
                }

                button {

                    font-size: $fontSizeSmall;
                    font-weight: normal;
                    font-family: $fontFamilyRegular;
                    line-height: 20px;
                    padding:0 5px;
                    margin: 0;
                    min-width: 44px;
                    float: left;

                    box-shadow: none;
                    @include linearGradient(top, #ffffff, #dfddde);

                    background: repeat-x 0 0; //fallback
                    @extend %backgroundGradientButtonBG;
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dfdfdf));
                    background: -moz-linear-gradient(top, #fefefe, #dfdfdf);

                    background-color:#dfdfdf;
                    color: $TPGrey10;
                    border: 1px solid $TPGrey9;

                    // For shared button borders & rollover
                    position: relative;
                    margin-left: -1px;

                    &:first-of-type
                    {
                        border-left: 1px solid $TPGrey9;
                        margin-left: 0;
                    }

                    &:last-of-type
                    {
                        border-right: 1px solid $TPGrey9;
                    }

                    &.distance
                    {
                        margin-right: 12px;
                    }

                    &.cut {
                        margin-left: 12px;
                    }

                    &.distance,
                    &.time {
                        opacity: .5;
                    }

                    &.elevation
                    {
                        @include linearGradient(top, #b5d8ff, #0f7ffd);
                    }

                    &.speed
                    {
                        @include linearGradient(top, #10B500, #0B8200);
                    }

                    &.heartRate
                    {
                        @include linearGradient(top, #f8b3b6, #e61101);
                    }

                    &.power
                    {
                        @include linearGradient(top, #F8C7FF, #FF00FF);
                    }

                    &.rightPower, &.powerBalance
                    {
                        @include linearGradient(top, #F8C7FF, #FF00FF);
                    }

                    &.torque
                    {
                        @include linearGradient(top, #D9D9D9, #BDBDBD);
                    }

                    &.cadence
                    {
                        @include linearGradient(top, #FFCC00, #FFA500);
                    }

                    &.temperature
                    {
                        @include linearGradient(top, #0883FF, #0A0AFF);
                    }

                    &.seriesDisabled
                    {
                        @include linearGradient(top, #ffffff, #dfddde);
                        color: $TPGrey10;
                        opacity:.5;
                        &:hover {
                            color: $TPGrey4;
                        };
                    }

                    &:hover
                    {
                        color: $TPGrey4;
                        border-color: $TPGrey11;
                        opacity:1;
                        z-index: 5;
                    }

                    &.bold
                    {
                        opacity: 1;
                        background-position: 0 -20px;
                        color: $white;
                    }

                    &:active
                    {
                        background-position: 0 -20px;
                        color: $white;
                    }
                }

                // Fix for firefox which adds 2px exta height to any button
                button::-moz-focus-inner {
                    padding: 0;
                    border: 0;
                }
            }

            .graphSliderContain {
                float:left;
                text-align: left;
                padding: 12px 0 0 0;

                input[type=range]
                {
                    float: left;
                }

                input.slider[type=range] {
                    -webkit-appearance: none;
                    height: 5px;
                    background-color: $TPGrey1;
                    border: 1px inset $TPGrey1;
                    cursor:pointer;
                    outline: none;
                }

                input.slider[type="range"]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dfdfdf) );
                    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
                    background-color:#ededed;
                    background: repeat-x 0 0;
                    @extend %backgroundGradientButtonBG;
                    border: 1px solid $TPGrey9;
                    height: 20px;
                    width: 10px;

                    &:hover
                    {
                       border-color: $TPGrey11;
                    }

                    &:active
                    {
                        background-position: 0 -20px;
                    }
                }
            }
        }
    }

    .expandoScatterGraphPod
    {
        padding-top: 10px;
        padding-bottom: 14px;
        overflow: hidden !important;

        #scatterGraphToolbar {
            height: 56px;
            button {

                // For shared button borders & rollover
                position: relative;
                margin-left: -1px;

                &.distance,
                &.time {
                    opacity: 1.0;
                    margin-right: 0;
                }
                &.distance {
                    @include linearGradient(top, #aa2b58, #7b1f40);
                }
                &.time {

                    @include linearGradient(top, #2ac8f4, #5497bc);
                }
                &.seriesDisabled {
                    @include linearGradient(top, #ffffff, #dfddde);
                    color: $TPGrey10;
                    opacity:.5;
                    &:hover {
                        color: $TPGrey4;
                    }
                }
            }

            label
            {
                float: left;
                padding: 4px 5px 5px 0px;
            }
        }
    }

    .chartTitle {
        display: none;
    }

    .expandoPodContent.expandoLapsSplitsPod {
        overflow: auto;

        table {
            border-left:none;
            border-right:none;

            th {
                font-size: $fontSizeSmaller;
            }
        }

        input[type=text]
        {
            text-align: left !important;
            font-size: 1em;
            padding-left: 10px;
            margin-left: -10px;
        }

        .lap
        {
            &.highlight
            {
                background-color: #d8dde5;
            }

            .name
            {
                width: 155px;
            }

            &.editable
            {
                .lapName
                {
                    width: 110px;
                }

            }

            .delete
            {
                margin: 0px !important;
                height: 11px;
            }

        }

    }

    .expandoPackeryRegion {
        width: 100%;
        padding: 0 12px;
        float: left;


        // slightly different measurement than QV to end up centered
        .yaxisLabel {
            @include calc("top","50% + 8px");
        }


        .heartRateContainer,
        .powerContainer,
        .speedContainer {
            margin-bottom: 56px;
        }

        .chartContainer {
            @include calc("width","100% - 58px");
            @include calc("height","100% - 45px");
            top: 10px;
            margin: 0 auto;
            position: relative;

            .flot-base {
               margin-left: 3px;
            }

            .flot-overlay {
                margin-left: 3px;
            }
        }

        .timeInZonesChartContainer {
            float: left;
            position: relative;
        }

        .peaksChartContainer {
            float: right;
            position: relative;
        }
    }
    
    .dataGrid {
        height: 100%;
        * { @include nice-scrollbar; }

        // Slick Grid does not get allong with box-sizing border box...
        *, *:before, *:after { box-sizing: content-box; }

        @import "slick.grid";

        font-family: $fontFamilyRegular;

        font-size: 14px;
        background: none;
        border-collapse: collapse;
        border-bottom: 1px solid $TPGrey5;

        .slick-header, 
        .slick-header-column {
            background: $TPGrey6;
            text-align: left;
        }

        .slick-header-column {
            border: 1px solid $TPGrey5;

            .slick-column-name {
                font-size: $fontSizeSmaller;
                font-family: $fontFamilyHeavy;
                font-weight: normal;
                color: $TPGrey3;
            }

            &.ui-state-default {
               border-right: 1px solid $TPGrey5;
               line-height: 1em;
            }
        }

        .expandoLeftColumn .dataGrid .slick-cell, 
        .expandoLeftColumn .dataGrid .slick-headerrow-column {
            border: none;
        }

        .slick-cell {
            font-size: $fontSizeSmaller;
            color: $TPGrey8;
            border-right: 1px solid $TPGrey5;
            border-bottom: 1px solid $TPGrey5;
            border-top: none;
            border-left: none;
            padding: 0.5625em 0.625em;
            line-height: 1.2;
        }

        .slick-viewport{
            @extend %throbberBG;
            background-repeat: no-repeat;
            background-position: center;

            .slick-row{
                width: 100%;

                &:last-child {
                    // border-bottom:1px solid $TPGrey5;
                }

                &.even {
                    background: #efefef;
                }
                &.odd {
                    background: $TPGrey6;
                }

                &.sampleInRange {
                    background: #e5ddd8;
                }

                &.sampleInPrimaryRange {
                    background: #d8dde5;
                }

                &.stopped {
                    .slick-cell {
                        font-family: $fontFamilyHeavy
                    }
                }
            }
        }

    }
}

.expandoRightColumn {
    float: right;
    width: 335px;

    .expandoEditControlsRegion {
        // so .waiting indicator has a home
        position: relative;
        border-bottom: 1px solid $TPGrey2;

        .expandoEditControls {
            // min-height: 200px;
            text-align: center;
            padding:10px 10px 15px 10px;
            margin:10px;
            border:1px solid $thisWeekBlue;
            background-color: rgba(142,178,216,0.25);

            p {
                margin-bottom: $fontSizeSmaller;
            }

            &.disabled
            {
                display:none;
            }

            @include buttons(0, 96px, $fontSizeSmall);
            button {
                // height: 20px;

            }
        }
    }

    .expandoStatsRegion {
        height: 60%;
        overflow-y: auto;
        @include nice-scrollbar;
        
        .expandoStats
        {

            &:not(.disabled)
            {
                .recalcStatsMessage
                {
                    display:none;
                }
            }

            &.disabled
            {
                .statsContainer
                {
                    display:none;
                }
            }

            .recalcStatsMessage {
                padding: 0 10px 10px 10px;

                p {
                    font-size: $fontSizeSmall;
                    color: $TPGrey3;
                    line-height: 1.3;
                    padding: 0 45px;
                    text-align: center;
                }
            }

            .statisticsSummary {
                @include clearfix;
                .mainStatContain {
                    .mainStat {
                        // width: 33.3%;
                        // float: left;
                        text-align: center;
                        //width: auto;
                        display: table-cell;
                        width: 15%;

                        #duration {
                            // float:left;
                        }
                        
                        &#tss {
                            // width: 28%;
                            // float:right;
                        }
                        
                        &#distance {
                            // width: 38%;
                            //float:left;
                        }

                        @include labels($fontFamilyRegular, $fontSizeXSmall, $TPGrey3, normal);
                        .mainStatTitle {
                            margin-bottom: 0;
                        }

                        .value {
                            font-family: $fontFamilyLight;
                            font-size: $fontSizeHeader;
                        }

                        .totalTime {
                            font-size: $fontSizeXSmall;
                            color: $TPGrey3;
                            display: block;
                            margin-top: 1px;
                        }
                    }
                }

                

                .subStats {
                    // width: 120px;
                    width: 303px;

                    div:nth-of-type(2n+0) {
                        // margin-left: 16px;
                        float: right;
                        width: 140px;
                    }

                
                    .statsRow {
                        float: left;
                        width: 160px;

                        label {
                            width: 70px;
                            border-right: 1px solid $TPGrey2;
                            padding: 5px 10px 5px 0;
                            margin: 0 5px 0 0;
                        }
                        #powerPulseDecoupling {
                            .units {
                                display: none;
                            }
                        }

                    }

                    float: left;
                    margin-top: 18px;
                    // margin-left: 10px; 
                }


                @include labels($fontFamilyRegular, $fontSizeXSmall, $TPGrey3, normal);
                .statsRow {

                    label {
                        display: inline-block;
                        width: 127px;
                        text-align: right;
                        margin-right: 5px;
                    }

                    .value {
                        line-height: 1.5;
                        font-size: $fontSizeSmall;
                        font-family: $fontFamilyHeavy;
                    }

                    .units
                    {
                        font-size: $fontSizeXSmall;
                        font-family: $fontFamilyRegular;
                    }
                }
            }
        }

        overflow-x: auto;
        overflow-y: visible;
        font-size: $fontSizeMedium;
        color: $TPGrey4;

        .rangeTitle
        {
            text-align: center;
            margin-bottom: 7px;
            margin-top: 15px;
            font-size: $fontSizeXXLarge;
            font-family: $fontFamilyLight;
            color: $TPBlue;
        }

        .shadow
        {
            @extend %expandoStatsShadowBG;
            height: 13px;
        }

        .contents {
            padding: 10px;
            @include labels($fontFamilyRegular, $fontSizeXSmall, $TPGrey4, normal);

            .minMaxAvg {
                display: table;
                float: left;
                width: 100%;
                margin-top: 19px;
                margin-bottom: 10px;
                padding-top: 20px;
                border-top: 1px solid $TPGrey2;

                .separator {
                    display: table-cell;
                    width: 2px;
                }

                .minMaxAvgRow {
                    display: table-row;

                    &.statsRow {

                        .value {
                            font-size: $fontSizeSmall;
                            width: 54px;
                        }

                        label {
                            font-family: $fontFamilyRegular;
                            border-right: 1px solid $TPGrey2;
                            padding-top: 7px;
                            padding-bottom: 7px;
                        }

                        span {
                            font-family: $fontFamilyRegular;
                        }

                        &:last-of-type {
                            label {
                                padding-bottom:0;
                            }
                        }
                       
                    }

                    label {
                        display: table-cell;
                        padding-right: 10px;
                        white-space: nowrap;
                        text-align: right;
                        width: auto;
                        color: $TPGrey3;
                    }

                    &:not(.minMaxAvgHeaders) {
                        label {
                            width: 70px;
                        }
                    }

                    span {
                        display: table-cell;
                        text-align: center;

                        &.units {
                            text-align: left;
                            padding: 0px 0px 2px 8px;
                            font-size: $fontSizeXSmall;
                            color: $TPGrey3;
                            border-left: 1px solid $TPGrey2;
                            // width: 84px;
                        }
                    }

                    .separator {
                        padding: 0px;
                    }

                    &.minMaxAvgHeaders {
                        label {
                            text-transform: uppercase;
                            text-align: center;
                            padding: 0px;
                            padding-bottom: 7px;
                            font-family: $fontFamilyRegular;
                            color: $TPBlue;
                            font-size: $fontSizeSmall;
                        }
                    }
                }

            }
        }
    }

    .expandoLapsRegion {
        border-top:1px solid $TPGrey2;
        height: 40%;
        overflow-y: auto;
        @include nice-scrollbar;

        .expandoLaps
        {
            &.disabled
            {
                display: none;
            }
        }

        .controls
        {
            margin-left: 10px;
            margin-top: 20px;
            margin-bottom: 15px;

            @include buttons(0, 108px, $fontSizeSmall);
            button {
                // height: 20px;
                vertical-align: top;
            }

            .peakTypeSelectContain {
                position: relative;
                float:left;
                width:180px;

                select {
                    width: 180px;
                }
            }

            .peakUncheckAll {
                float:left;
                // width: 108px;
                margin-left:15px;
            }

        }

        .rangesList {
            margin: 0 10px;

            ul {
                list-style-type: none;
            }

            li {
                color:$TPGrey4;
                font-family: $fontFamilyRegular;
                margin: .25em 0;
                text-align: left;
                cursor: pointer;

                input[type="checkbox"] {
                    margin: 0 5px 0 0;
                    position: relative;
                    top: -1px;
                }

                .lapDescription
                {
                    display: inline-block;
                    width: calc(100% - 40px);
                    vertical-align: top;

                    .lapName {
                        display: inline-block;
                        width:160px;
                        margin-right: 10px;
                        font-size: $fontSizeSmall;
                    }

                    .units {
                        font-size: $fontSizeXSmall;
                    }
                }

                &.deleted
                {
                    text-decoration: none;
                    .lapName
                    {
                        text-decoration: line-through;
                    }
                }

                &.total {
                    border-bottom: 1px solid $TPGrey2;
                    padding-bottom: 2px;
                }

                &.lap + .peak {
                    border-top: 1px solid $TPGrey2;
                    padding-top: 2px;
                }
                
            }
        }
    }
}

.expandoStatsThrobber
{
    @include throbber;
    z-index: 2000;
}

.statisticsSummary
{
    @include labels($fontFamilyRegular, $fontSizeXSmall, $TPGrey4, normal);
    .statsRow
    {

        label
        {
            display: inline-block;
            width: 127px;
            text-align: right;
            margin-right: 5px;
        }

        .value
        {
            line-height: 1.5;
            font-size: $fontSizeXLarge;
        }

        .units
        {
            font-size: $fontSizeMedLarge;
        }
    }
}

.expandoPackeryRegion
{
    &, .packeryCollection
    {
        padding-top: 10px;
    }

    height: 100%;
    max-height: 100%;
}

.sizer
{
    position: absolute;
    top: 0; left: 0;
    z-index: -9999;
    width: calc(50% - 20px);
    height: calc(50% - 15px);
}


.expandoPod {

    position: absolute;
    padding: 0;
    z-index: 1;

    border: 1px solid transparent;
    cursor: pointer;

    &.noData
    {
        border: 1px solid white;
    }

    &.fullScreen
    {
        position: absolute;
        height: auto;
        width: auto;
        background-color: $TPGrey1;
        z-index: 200 !important;
        opacity: 1;
        cursor: default;

        .expandoPodButtons
        {
            display: block;
        }

        &:hover, &.hover {
            background-color: $TPGrey1;
            border: 1px solid transparent;
        }
    }

    &:hover, &.hover
    {
        background-color: #e4e2e3;
        border: 1px solid $TPGrey11;
        z-index: 2;
        .expandoPodButtons
        {
            display: block;
        }

        .leaflet-control-container
        {
            position: absolute;
            top: 16px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .leaflet-control-container
    {
        position: absolute;
        top: 16px;
        bottom: 0;
        left: 0;
        right: 0;

        .leaflet-top {

            .leaflet-control {
                margin-top:20px;
            }
        }
    }

    &.menuOpen
    {
        background-color: #e4e2e3;
        border: 1px solid $TPGrey11;

        .expandoPodButtons
        {
            display: block;
        }

        &.fullScreen {
            background-color: $TPGrey1;
            border: 1px solid transparent;
        }
    }

    &.ui-draggable-dragging
    {
        background-color: #e4e2e3;
        border: 1px solid $TPGrey11;
    }

    .expandoPodTitle
    {
        font-family: $fontFamilyHeavy;
        font-size: $fontSizeSmall;
        color: $TPGrey4;
        text-align: center;
        line-height: 22px;
    }

    .expandoPodHeader
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 22px;
        z-index: 500;

        &:hover, &.hover {
            background: rgba(255,255,255,0.5);
        }
    }

    &:hover, &.hover {
        .expandoPodHeader {
            background: rgba(255,255,255,0.4);
        }
    }

    &.expandoMapPod .expandoPodHeader {
        background: rgba(0,0,0,0.4);

        &:hover {
            background: rgba(0,0,0,0.5);
        }

    }

    &.expandoMapPod .expandoPodContent { padding-top: 0; }

    .expandoPodContent {
        padding-top: 22px;

        width: 100%;
        height: 100%;

        overflow: hidden;
        @include nice-scrollbar;

        &.invisible
        {
            visibility:hidden;
        }

        @include noDataMessage;

    }

    .expandoPodButtons
    {
        display:none;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 100px;

        .settings, .expand, .close, .collapse
        {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 0px;
        }

        .settings
        {
            width: 11px;
            // Since we're not using the .expand button we need to shift settings to the right
            // right: 43px;
            right: 21px;
            background: transparent no-repeat 0 0;
            @extend %chartIconsSpriteBG;
            cursor:pointer;

            &:hover {
                background-position: 0 -17px;
            }

            &:active {
                background-position: 0 -17px;
            }
        }

        .expand
        {
            right: 21px;
            background: transparent no-repeat -17px 0;
            @extend %chartIconsSpriteBG;
            cursor:pointer;

            &:hover {
                background-position: -17px -17px;
            }

            &:active {
                background-position: -17px -17px;
            }
        }

        .collapse
        {
            display: none;
            right: 0px;
            cursor: pointer;
            background: transparent no-repeat -34px 0;
            @extend %chartIconsSpriteBG;

            &:hover {
                background-position: -34px -17px;
            }

            &:active {
                background-position: -34px 0px;
            }

        }

        .close
        {
            right: 0px;
            background: transparent no-repeat -51px 0;
            @extend %chartIconsSpriteBG;
            cursor:pointer;

            &:hover {
                background-position: -51px -17px;
            }

            &:active {
                background-position: -51px 0;
            }
        }
    }

    &.expanded
    {
        .expandoPodButtons
        {
            .collapse
            {
                display: block;
            }

            .expand
            {
                display: none;
            }

            .close
            {
                display: none;
            }

            .settings
            {
                right: 21px;
            }
        }
    }

    // jquery ui adds some opacity to disabled drag state
    &.ui-state-disabled
    {
        opacity: 1;
    }
}


.expandoGraphSeriesOptionsMenu {
    min-width: 75px;
}

.addExpandoPod > .availablePods
{
    @include nice-scrollbar;
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 6px;
}
