@import "../../globalCSS/tpstylesheet";


.workoutFileUploadMenu
{
    z-index: 103;

    .hoverBox
    {
        .arrow
        {
            position: absolute;
            top: 13px;
        }
    }

    &.left
    {
        .hoverBox
        {
            .arrow
            {
                right: 0px;
                @include transform(translateX(8px) rotate(45deg));
            }
        }
    }

    &.right
    {
        .hoverBox
        {
            .arrow
            {
                left: 0px;
                @include transform(translateX(-35px) rotate(-45deg));
            }
        }
    }

    #closeIcon
    {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    @include buttons(0px, 60px, $fontSizeMedium);
}