@import "../../globalCSS/tpstylesheet";
$chartIconsSpriteURL: url(../../assets/images/charts/sprite-buttons-chart-modal.png);
$chartIconsSpriteRetinaURL: url(../../assets/images/charts/sprite-buttons-chart-modal@2x.png);

.workoutQuickView
{
    &.expanded
    {
        #workOutQuickView
        {
            min-width: 1150px;
        }
    }
}

.QVHeader
{
	width: 100%;
	height: 125px;
	background-color: $TPGrey1;
    padding: 12px 0px 0px 12px;
    @include box-shadow(2px 0px 7px 0px $TPGrey3);
    position: relative;
    z-index: 2; // otherwise maps/charts overlay it and kill the drop shadow


    div
    {
        cursor: default;
    }

    span
    {
        cursor: default;
    }

    .dateAndTime
    {
        
        padding-left: 2px;
        
        #dayName
        {
            font-family: $fontFamilyRegular;
            font-size:$fontSizeMedium;
            color: $TPGrey3;
            padding-right: 14px;
            text-transform:uppercase;
        }

        #calendarDate
        {
            font-family: $fontFamilyRegular;
            font-size:$fontSizeSmall;
            color: $TPGrey3;
            padding-right: 14px;
        }

        #time
        {
            font-family: $fontFamilyRegular;
            font-size:$fontSizeSmall;
            color: $TPGrey3;
        }

        @include inputs(200px, 20px, $fontSizeSmall, $fontFamilyRegular);
        input#startTimeInput
        {
            color: $TPGrey3;
            display: inline-block;
            outline: none;
            @include box-shadow(none);
            border: none;
            background-color: transparent;
            margin: 0px;
            padding: 0px;
        }
    }

    .closeAndSettings {
        float: right;
        margin: -2px 5px 0px 0px;        
        width:80px;
        height:17px;

        #expandIcon
        {
            float: right;
            margin-left: 10px;
            width: 12px;
            height: 12px;
            background: transparent $chartIconsSpriteURL no-repeat -17px 0;
            cursor:pointer;

            &:hover {
                background-position: -17px -17px;
            }

            &:active {
                background-position: -17px -17px;
            }

        }

        #collapseIcon
        {
            display: none;
            float: right;
            margin-left: 10px;
            width: 12px;
            height: 12px;
            background: transparent $chartIconsSpriteURL no-repeat -17px 0;
            cursor:pointer;

            &:hover {
                background-position: -17px -17px;
            }

            &:active {
                background-position: -17px -17px;
            }

        }

		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
			#expandIcon {
				background-image: $chartIconsSpriteRetinaURL;
				background-size: 68px 34px;
			}
		}
    }
  
    .grayHeader
    {
        width: 570px;
        height: 80px;
        padding: 5px 0px 5px 4px;
        background-color: $TPGrey2;
        float: left;
        margin-top: 0px;
        border: 1px solid $TPGrey9;

        .workoutIconLarge
        {
            width: 70px;
            height: 70px;
            float: left;
            cursor: pointer;
            margin-top: -1px;
        }

        .workoutHeaderStats
        {
            float: left;
            width: 490px;

            label
            {
                margin-bottom: 0em;
            }

            .headerIcons
            {
                float: right;
                margin-top: -7px;
                margin-right: 5px;

                #breakThrough
                {
                    margin-right: 5px;
                }

                .icon
                {
                    float: left;
                    //padding-right: 5px;
                    cursor: pointer;
                }

                .addAttachment
                {
                    margin-top: -1px;
                    cursor: pointer;
                    width: 13px;
                    height: 34px;
					background: url(../../assets/images/QVImages/sprite-paperclip.png) no-repeat -13px 0;

                    &:hover {
       					background: url(../../assets/images/QVImages/sprite-paperclip.png) no-repeat -26px 0;
                    }

                    &.withAttachments
                    {
       					background: url(../../assets/images/QVImages/sprite-paperclip.png) no-repeat -26px 0;
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

                        background-size:13px 34px;

                        background: url(../../assets/images/QVImages/sprite-paperclip@2x.png) no-repeat -13px 0;

                        &:hover {
                            background: url(../../assets/images/QVImages/sprite-paperclip@2x.png) no-repeat -26px 0;
                        }

                        &.withAttachments
                        {
                            background: url(../../assets/images/QVImages/sprite-paperclip@2x.png) no-repeat -26px 0;
                        }
                    }

                }
        
            }

            .headerWorkoutValue
            {
                float: left;
                padding: 10px 0px 0px 10px;
                @include labels($fontFamilyLight, $fontSizeQVHeader, $TPGrey4, normal);

                &.duration
                {
                    margin-right: 10px;
                }
            }
            .headerWorkoutValueLabel
            {
                float: left;
                padding: 18px 0px 0px 0px;
                @include labels($fontFamilyLight, $fontSizeXXLarge, $TPGrey4, normal);

                &.distance
                {
                    margin-right: 10px;
                }
            }

            .title
            {
                clear: left;
                padding-left: 5px;
                @include inputs(10px, 20px, $fontSizeLarge, $fontFamilyRegular);
                input#workoutTitleField
                {
                    background:transparent;
                    outline: none;
                    border: none;
                    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
                    color: $TPGrey4;
                    display: inline;
                    min-width: 145px;
                    max-width: 100%;
                    //width: auto;
                    //overflow-x: visible;

                    &:focus
                    {
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                }
                @include placeholders($TPGrey3);

            }
        }

        &.past
        {
            .headerWorkoutValue
            {
                .planned
                {
                   display:none;
                }
            }
        } 

        &.future
        {
            .headerWorkoutValue
            {
                .actual
                {
                   display:none;
                }
            }
        } 
    }

    .uploadExpandButtons {
        float: left;
        width:86px;

        .buttons {
            height: 35px;
            @include labels($fontFamilyRegular, $fontSizeSmall, $TPGrey3, normal);
            padding-top: 12px;
            padding-left: 30px;
            padding-right: 8px;
            float: left;
            margin-left: 6px;
			width: 86px;
            border-width: 1px;
            border-style: solid;
            border-color: $TPGrey9;
       		
			label {
				color: $TPGrey10;
			}
		
            &:not(.disabled)
            {	
                &:hover {
                    border-color: #8d8d8d;
                    color:#303030;
                    label {
                        color:#303030;
                        cursor:pointer;
                    }
                }  

                &:active
                {
                    color:$white;
                    label {
                        color:$white;
                        cursor:pointer;
                    }
                }
            }
        }

        .uploadButton {
            background: url(../../assets/images/QVImages/sprite-buttons-expando.png) no-repeat 0 0;
			cursor: pointer;
			
			&:hover {
			    background: url(../../assets/images/QVImages/sprite-buttons-expando.png) no-repeat -86px 0px;
	        }
			
			&:active {
                background: url(../../assets/images/QVImages/sprite-buttons-expando.png) no-repeat -172px 0;
                label {
                    color: $white;
                    opacity: 0.85;
                    cursor: pointer;
                }
            }
            
			label {
                cursor: pointer;
                display: inline;
            }

            label.files
            {
                display: none;
            }

            &.withFiles
            {
                label.files
                {
                    display: inline;
                }

                label.upload
                {
                    display: none;
                }
            }
        }

        .expandButton {
            margin-top: 10px;
            background: url(../../assets/images/QVImages/sprite-buttons-expando.png) no-repeat 0 -35px;

            &.disabled
            {
                opacity: 0.5;
            }
		
            &:not(.disabled)
            {	

                cursor: pointer;
                &:hover {
                    background: url(../../assets/images/QVImages/sprite-buttons-expando.png) no-repeat -86px -35px;
                }
                
                &:active {
                    background: url(../../assets/images/QVImages/sprite-buttons-expando.png) no-repeat -172px -35px;

                    label {
                        color: $white;
                        opacity: 0.85;
                        cursor: pointer;
                    }
                }
            }
        }

        .collapseButton {
            margin-top: 10px;
            display: none;
            padding-left: 28px;
            cursor: pointer;
            background: url(../../assets/images/QVImages/sprite-buttons-expando.png) no-repeat 0 -70px;
			
			&:hover  {
			    background: url(../../assets/images/QVImages/sprite-buttons-expando.png) no-repeat -86px -70px;
	        }
            
			&:active {
                background: url(../../assets/images/QVImages/sprite-buttons-expando.png) no-repeat -172px -70px;
                label {
                    color: $white;
                    opacity: 0.85;
                    cursor: pointer;
                }
            }

            label {
                cursor: pointer;
            }
        }

		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
			.uploadButton,.uploadButton:hover, 
			.expandButton,.expandButton:hover, 
			.collapseButton,.collapseButton:hover {
				background-image: url(../../assets/images/QVImages/sprite-buttons-expando@2x.png);
				background-size: 258px 105px;
			}
		}

        @include labels($fontFamilyRegular, $fontSizeLarge, $TPGrey4, normal);
        text-align: center;
        //@include box-shadow(0px 1px 2px 0px #40403f);
        //margin-left: 10px;
        //@include linearGradient(top, #fefefe, #e0dddd);
        //padding-top: 30px;
    }

   
}