@import "../../globalCSS/tpstylesheet";

.workoutQuickView
{
    &.expanded
    {
        #workOutQuickView
        {
            min-width: 1150px;
        }
    }
}

.QVHeader
{
	width: 100%;
	height: 125px;
	background-color: $TPGrey1;
    padding: 12px 0px 0px 12px;
    @include box-shadow(2px 0px 7px 0px $TPGrey3);
    position: relative;
    z-index: 2; // otherwise maps/charts overlay it and kill the drop shadow


    div
    {
        cursor: default;
    }

    span
    {
        cursor: default;
    }

    .dateAndTime
    {
        
        padding-left: 2px;
        
        #dayName
        {
            font-family: $fontFamilyRegular;
            font-size:$fontSizeMedium;
            color: $TPGrey3;
            padding-right: 14px;
            text-transform:uppercase;
        }

        #calendarDate
        {
            font-family: $fontFamilyRegular;
            font-size:$fontSizeSmall;
            color: $TPGrey3;
            padding-right: 14px;
        }

        #time
        {
            font-family: $fontFamilyRegular;
            font-size:$fontSizeSmall;
            color: $TPGrey3;
        }

        @include inputs(200px, 20px, $fontSizeSmall, $fontFamilyRegular);
        input#startTimeInput
        {
            color: $TPGrey3;
            display: inline-block;
            outline: none;
            @include box-shadow(none);
            border: none;
            background-color: transparent;
            margin: 0px;
            padding: 0px;
        }
    }

    .closeAndSettings
    {
        float: right;
        margin: -7px 7px 0px 0px;
        span
        {
            padding-left: 5px;
        }
    }
  
    .grayHeader
    {
        width: 570px;
        height: 80px;
        padding: 5px 0px 5px 4px;
        background-color: $TPGrey2;
        float: left;
        margin-top: 0px;
        border: 1px solid $TPGrey9;

        .workoutIconLarge
        {
            width: 70px;
            height: 70px;
            float: left;
            cursor: pointer;
            margin-top: -1px;
        }

        .workoutHeaderStats
        {
            float: left;
            width: 490px;

            .headerIcons
            {
                float: right;
                margin-top: -7px;

                .icon
                {
                    float: left;
                    padding-right: 5px;
                    cursor: pointer;
                }

                .addAttachment
                {
                    margin-top: -1px;
                    cursor: pointer;
                }
        
            }

            .headerWorkoutValue
            {
                float: left;
                padding: 10px 0px 0px 10px;
                @include labels($fontFamilyLight, $fontSizeQVHeader, $TPGrey4, normal);

                &.duration
                {
                    margin-right: 10px;
                }
            }
            .headerWorkoutValueLabel
            {
                float: left;
                padding: 18px 0px 0px 0px;
                @include labels($fontFamilyLight, $fontSizeXXLarge, $TPGrey4, normal);

                &.distance
                {
                    margin-right: 10px;
                }
            }

            .title
            {
                padding-left: 5px;
                @include inputs(100%, 20px, $fontSizeLarge, $fontFamilyRegular);
                input
                {
                    background:transparent;
                    outline: none;
                    border: none;
                    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
                    color: $TPGrey4;
                    display: inline;
                }
            }
        }

        &.past
        {
            .headerWorkoutValue
            {
                .planned
                {
                   display:none;
                }
            }
        } 

        &.future
        {
            .headerWorkoutValue
            {
                .actual
                {
                   display:none;
                }
            }
        } 
    }
    .uploadExpandButtons
    {
        float: left;
        width: 80px;
        
        .buttons
        {
            width: 81px;
            height: 36px;
            @include labels($fontFamilyRegular, $fontSizeSmall, $TPGrey3, normal);
            margin-left: 10px;
            padding-top: 12px;
            padding-left: 28px;
            padding-right: 8px;
            float: left;
            
        }
        .uploadButton
        {
            background-image: url(../../assets/images/QVImages/uploadBackground.png);
            cursor: pointer;

            label
            {
                cursor: pointer;
            }

            &.menuOpen
            {
                background-image: url(../../assets/images/QVImages/uploadBackgroundDark.png);

                label
                {
                    color: $white;
                    opacity: 0.85;
                    cursor: pointer;
                }
            }
        }
        .expandButton
        {
            cursor: pointer;
            margin-top: 10px;
            background-image: url(../../assets/images/QVImages/expandBackground.png);

            label
            {
                cursor: pointer;
            }
        }

        .collapseButton
        {
            margin-top: 10px;
            background-image: url(../../assets/images/QVImages/expandBackground.png);
            display: none;
            padding-left: 25px;
            cursor: pointer;

            label
            {
                cursor: pointer;
            }
        }

        @include labels($fontFamilyRegular, $fontSizeLarge, $TPGrey4, normal);
        text-align: center;
        //@include box-shadow(0px 1px 2px 0px #40403f);
        //margin-left: 10px;
        //@include linearGradient(top, #fefefe, #e0dddd);
        //padding-top: 30px;
    }

    #menuIcon {
		padding: 2px 0 6px 0;
		cursor:pointer;
    }

    #closeIcon {
		padding: 1px 2px 5px 5px;
		cursor:pointer;
    }
}