@import "../../globalCSS/tpstylesheet";

.mapMileMarkerIcon {
    position: absolute;

    // use margin-left and margin-top to center this div over the map point
    margin-left: -9px;
    margin-top: -9px;
	
	@include linearGradient(top, #fefefe, #e0dede);
    color: #005695;
    font-size: $fontSizeXSmall;
    padding: 1px 3px;
	min-width: 18px;
    text-align: center;
	border: 1px solid #b5b5b5;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.18);
}

.mapStartMarkerIcon {
    position: absolute;
    height: 20px;
    width: 30px;
    // use margin-left and margin-top to center this div over the map point
    margin-left: 2px;
    margin-top: -10px;

    background: no-repeat 0 0;
    @extend %mapIconStartBG;

}

.mapFinishMarkerIcon {
    position: absolute;
    height: 20px;
    width: 30px;
    // use margin-left and margin-top to center this div over the map point
    margin-left: -32px;
    margin-top: -10px;

    background: no-repeat 0 0;
    @extend %mapIconFinishBG;
}

.mapGraphTab
{
    padding: 10px 0px 10px 7px;
    img
    {
        opacity: 0.4;
    }
}

#quickViewMapAndGraphTab
{
    #quickViewMap
    {
        width: 620px;
        height: 170px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid $TPGrey5;

        &.noData
        {
            display: none;
        }

        .map
        {
            width: 100%;
            height: 100%;
        }
    }

    #quickViewGraph
    {
        width: 620px;
        height: 170px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;

        &.noMap
        {
            height: 350px;
        }

        @include noDataMessage;

        .graph
        {
            width: 100%;
            height: 100%;
        }
    }
}



.leaflet-control-layers {
	border-radius: 0;
	-webkit-border-radius: 0;
}

.leaflet-bar {
	border:none;
	border-radius:0;
	-webkit-border-radius: 0;

    a {
        &:first-child,
        &:last-child {
            border-radius: 0;
        }
    } 
}

.leaflet-bar-part {
	border-bottom:none;
}

.leaflet-bar-part-bottom {
	border-radius:0;
	-webkit-border-radius: 0;
	margin-top:1px;
}

.leaflet-bar-part-top {
	border-radius:0;
	-webkit-border-radius: 0;
}

.leaflet-control-zoom a {
	width:23px;
	height:23px;
    &:hover {
        width:23px;
        height:23px;
    }
}

.leaflet-control-zoom a.leaflet-control-zoom-in, 
.leaflet-control-zoom a.leaflet-control-zoom-out { 
	color: transparent;
}

.leaflet-control-zoom-in {
	background-position: 0 0 !important;
	background-color: rgba(255, 255, 255, 0.8);
	&:hover {
		background-position: -23px 0;
		background-color: rgba(255, 255, 255, 1);
	}
	@extend %spriteMapZoomBG;
}

.leaflet-control-zoom-out {
	background-position: 0 -23px !important;
	background-color: rgba(255, 255, 255, 0.8);
	&:hover {
		background-position: -23px -23px;
		background-color: rgba(255, 255, 255, 1);
	}
	@extend %spriteMapZoomBG;
}

.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	margin-bottom:0 !important;
	padding:5px;
}

.leaflet-control-layers label:last-child {
	input {
		margin-bottom:0;
	}
}

.leaflet-control-layers-selector {
	top: 0px;
}

.leaflet-control-layers span {
	padding-left:3px;	
}

.leaflet-control-layers-base label input {
	margin-bottom:5px;
}

.leaflet-marker-icon {
    margin-top: -35px !important;
}