@import "../../globalCSS/tpstylesheet";

.mapGraphTab
{
    padding: 10px 0px 10px 7px;
    img
    {
        opacity: 0.4;
    }
}

#quickViewMapAndGraphTab
{
    #quickViewGraph
    {
        width: 620;
        height: 170px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #quickViewMap
    {
        width: 620px;
        height: 170px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
