@import "../../globalCSS/tpstylesheet";

@media screen {
	.stats
	{
		padding-left: 15px;
		padding-right: 20px;
	    padding-bottom: 20px;
		background: transparent;
		float: left;

	    label
	    {
	        color: $TPGrey3;
	    }

		.selectionBox
		{
			padding-left: 102px;
			@include selectionBox(168px);
	        width: 168px;
	        padding-top: 5px;
	        
	        select
	        {
	            margin-bottom: 3px;
	            color: $TPGrey3;
	        }
		}
	}

	.workoutStatsRow
	{
		@include grid-row();
		
		clear: both;
	    height: 23px;

		.workoutStatsColumn
		{
			float:left;
	        padding-right: 2px;
	 		// height: 23px;
			
			@include inputs(83.5px, 21px, 12px, $fontFamilyRegular);
	       	input {
				margin: 0;
			  	padding: 0;
	            color: $TPGrey4;
			}

	        .hide
	        {
	            display:none;
	        }
		}

		

		.workoutStatsColumnMinMaxAvg
		{
			float:left;
	        height: 23px;
			@include inputs(55px, 20px, 12px, $fontFamilyRegular);
	        padding-right: 2px;
		}

		label
		{
			text-align: right;
			width: 100px;
			padding-top: 5px;
			padding-right: 5px;


	        &.ghosted
	        {
	            color: $TPGrey7;
	        }

		}
		
		@include labels($fontFamilyRegular, $fontSizeSmaller, $TPGrey3, normal);

		.workoutStatsUnitLabel
		{
			label
			{
				text-align: left;
				width: 45px;
				padding-top: 5px;
				padding-left: 5px;
			}
		}
	}

	.columnLabelsPlannedCompleted
	{
		padding-left: 105px;
		padding-top: 14px;
	    // padding-bottom: 18px;
		width: 100%;
		// height: 15px;
		background: transparent;

		@include labels($fontFamilyHeavy, $fontSizeSmall, $TPGrey3, normal);
		label
		{
			float: left;
			width: 80px;
	        text-align: center;
	        margin-bottom:5px;

	        &.ghosted
	        {
	            color: $TPGrey7;
	        }
		}

	    .workoutStatsCompleted
	    {
	        padding-left: 10px;
	    }

	}

	.columnLabelsMinMaxAvg
	{
		padding-left: 105px;
		width: 100%;
		// height: 27px;
		background: transparent;
	    padding-top: 10px;


		@include labels($fontFamilyHeavy, $fontSizeSmall, $TPGrey3, normal);
		label
		{
			float: left;
			width: 56px;
	        text-align: center;
	        margin-bottom:5px;
	        margin-top:2px;
	        &.ghosted
	        {
	            color: $TPGrey7;
	        }
		}
	}


	#commentsContainer {
		.comments {
			width:275px;
			float:left;
			padding-top:14px;
			.header {
	            font-family: $fontFamilyHeavy;
	            font-size: $fontSizeSmall;
	            margin-bottom: 5px;
	            color: $TPGrey3;
	        }
		}
	}

}





@media print {
	.stats {
		padding-left: 0px;
		padding-right: 10px;
	    padding-bottom: 10px;
		width:50%;
		font-size:$fontSizeSmaller;

		background: transparent;
		float: left;

	    label
	    {
	        color: $TPGrey3;
	    }

		.selectionBox
		{
			padding-left: 102px;
			@include selectionBox(168px);
	        width: 168px;
	        padding-top: 5px;
	        
	        select {
	            margin-bottom: 3px;
	            color: $TPGrey3;
	        }
		}
		
		#workoutPlannedCompletedStats {
			float:left;
			width:100%;

			.workoutStatsColumn {
				width:25%;
			}
		}
		
		#workoutMinMaxAvgStats {
			float:left;
			width:100%;

			.workoutStatsColumn {
				width:25%;

				&.workoutStatsMinMaxAvgLabel {
					width:25%;
				}
			}

			.workoutStatsColumnMinMaxAvg {
				width:16.666%;
			}
		}
	}


	.workoutStatsRow
	{
		@include grid-row();
		clear: both;
	    height: 23px;

		.workoutStatsColumn
		{
			float:left;
	        padding-right: 2px;
			
			@include inputs(83.5px, 21px, 12px, $fontFamilyRegular);
	       	input {
				margin: 0;
			  	padding: 0;
	            color: $TPGrey4;
	            border:1px solid #000;
	            width:100%;
	            font-size:$fontSizeSmaller;
			}

	        .hide
	        {
	            display:none;
	        }
		}

		.workoutStatsColumnMinMaxAvg {
			float:left;
	        height: 23px;
			@include inputs(55px, 20px, 12px, $fontFamilyRegular);
	        padding-right: 2px;

	        input {
	        	font-size:$fontSizeSmaller;
	        }
		}

		label {
			text-align: right;
			padding-top: 5px;
			padding-right: 5px;

	        &.ghosted {
	            color: $TPGrey7;
	        }

		}
		
		@include labels($fontFamilyRegular, $fontSizeSmaller, $TPGrey3, normal);

		.workoutStatsUnitLabel
		{
			label
			{
				text-align: left;
				width: 45px;
				padding-top: 5px;
				padding-left: 5px;
			}
		}
	}

	.columnLabelsPlannedCompleted {
		padding-left: 25%;
		padding-top: 14px;
		width: 100%;
		background: transparent;

		@include labels($fontFamilyHeavy, $fontSizeSmall, $TPGrey3, normal);
		label
		{
			float: left;
			width: 33.5%;
	        text-align: center;
	        margin-bottom:5px;
	        &.ghosted
	        {
	            color: $TPGrey7;
	        }
		}

	    .workoutStatsCompleted
	    {
	        // padding-left: 10px;
	    }

	}

	.columnLabelsMinMaxAvg
	{
		padding-left: 25%;
		width: 100%;
		background: transparent;
	    padding-top: 10px;
	    float:left;
	    border-top:1px solid #000;
	    margin-top:10px;

		@include labels($fontFamilyHeavy, $fontSizeSmall, $TPGrey3, normal);
		label {
			float: left;
			width:22.25%;
	        text-align: center;
	        margin-bottom:5px;
	        margin-top:2px;
	        &.ghosted {
	            color: $TPGrey7;
	        }
		}
	}


	#commentsContainer {
		float:left;
		width:50%;
		
		.comments {
			width:100%;
			float:left;
			padding-top:14px;
			overflow-y:visible !important;
			font-size:$fontSizeSmaller !important;

			div {
				height:auto;
				overflow-y:visible !important;
			}
			
			.header {
	            font-family: $fontFamilyHeavy;
	            font-size: $fontSizeSmall;
	            margin-bottom: 5px;
	            color: $TPGrey3;
	        }

	        textarea#descriptionInput,
	        textarea#preActivityCommentsInput,
	        textarea#postActivityCommentsInput {
	        	display: none;
	        }

	        #descriptionPrintable,
	        #preActivityCommentsPrintable,
	        #postActivityCommentsPrintable {
	        	display: block;
	        	overflow:visible;
	        	height:auto;
	        	margin-bottom: 20px;
	        	white-space: pre-wrap;
	        	font-size: $fontSizeSmall !important;
	        	line-height:$fontSizeXLarge;
	        }

	        .workoutCommentsCollection {
	        	font-size: $fontSizeSmall !important;
	        	line-height:$fontSizeXLarge;
	        	margin-left:10px;

	        	.commentHeader {
	        		padding:1em 0 .25em 0;
	        		font-family: $fontFamilyHeavy;
	        	}

	        	.commentBody {
	        		white-space: pre-wrap;
	        	}
	        }



		}
	}
}
