.share {
    width: 200px;
    float: left;

        .publicCheckboxContainer {
            .publicCheckbox {
                margin-bottom: 0px;
                vertical-align: middle;
                margin-top: -3px;
                cursor: pointer;
            }
        }

        .shareIcons
        {
            white-space: nowrap;
            width: 104px;   
            height: 21px;
            margin-top: 9px;
                        
            .twitterIcon, .facebookIcon, .linkIcon, .emailIcon
            {
                height: 21px;
                width: 21px;
                float: left;
                margin-right: 5px;
                cursor: default;
                opacity: .5;
            }
        }       
        
        .twitterIcon
        {   
            background: no-repeat 0 0;
            @extend %spriteShareIconsBG;

            &:not(.disabled)
            {
                opacity: 1;
                cursor:pointer;
                &:hover 
                {
                    background-position: -21px 0;
                }
            }
        }

        .facebookIcon
        {
            background: no-repeat 0 -21px;
            @extend %spriteShareIconsBG;
            &:not(.disabled)
            {
                opacity: 1;
                cursor: pointer;
                &:hover 
                {
       			    background-position: -21px -21px;
                }
            }

        }

        .linkIcon
        {
            background: no-repeat 0 -63px;
            @extend %spriteShareIconsBG;
            &:not(.disabled)
            {
                opacity: 1;
                cursor: pointer;
                &:hover 
                {
       			    background-position: -21px -63px;
                }
            }
        }

        .emailIcon
        {
            background: no-repeat 0 -42px;
            @extend %spriteShareIconsBG;

            &:not(.disabled)
            {
                opacity:1;
                cursor: pointer;
                &:hover 
                {
       			    background-position: -21px -42px;
                }
            }
        }
    }

.quickviewFooter, .QVFooter
{
    .share
    {
        .publicCheckboxContainer
        {
            display: inline;
            float: left;
            margin: 5px 7px 0 10px;
        }
        .shareIcons
        {
            display:inline;
        }
    }
}

.expandedViewsButtons
{
    .share
    {
        width:125px;

        .publicCheckboxContainer
        {
            margin-top: 11px;
            
            label {
                cursor: pointer;
                display: inline;
            }
        }
    }
}

.shortUrlView
{
   
    .hoverBox
    {
        .arrow
        {
            position: absolute;
            left: 0px;
            top: 15px;
            @include transform(translateX(-35px) rotate(-45deg));
            @include box-shadow(0 0 2px 0 #ADADAD);
        }
    }

    .details
    {
        width: 250px;
        margin: 14px 0 10px 0;
        color: $TPGrey3;

        .header
        {
            font-family: $fontFamilyHeavy;
            margin-bottom: 5px;
        }

        button#go
        {
            padding-left: 10px;
            padding-right: 10px;
            font-size:$fontSizeSmall;
        }

        .buttons
        {
            text-align: right;
        }

        .inputs
        {
            font-size: 1em;
        }

        #closeIcon, .closeIcon
        {
            position: absolute;
            top: 8px;
            right: 8px;
        }

    }

}
