@import "../../globalCSS/tpstylesheet";

$QVTabSpriteURL: url(../../assets/images/QVImages/sprite-icons-QV-Tabs.png);
$QVTabSpriteRetinaURL: url(../../assets/images/QVImages/sprite-icons-QV-Tabs@2x.png);

.tabNavigation {
    width: 37px;
    height: 360px;
    float: left;
    background-color: $TPGrey5;
    border-bottom: $TPGrey7;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    .missingData
    {
        // border: 1px red solid;
    }

    .summaryTab {
        padding: 7px 0px 10px 2px;
        height: 45px;
		&:hover {
			cursor:pointer;
		}
        div {
            height: 33px;
            background: $QVTabSpriteURL no-repeat 0 0;
            &:hover {
                background-position: -33px 0;
            }

            &:active {
               // background-position: -66px 0;
            }
        }
        &.tabSelected {
            div {
                background-position: -33px 0;
            }
        }
        
        &.missingData {
            div {
                background-position: -66px 0;
                
                &:hover {
                    background-position: -99px 0;
                }
            }
        }
    
    }

    .heartrateTab {
        padding: 6px 0px 10px 2px;
        height: 45px;
		&:hover {
			cursor:pointer;
		}
        
        div {
            height: 33px;
            background: $QVTabSpriteURL no-repeat 0 -66px;
            &:hover {
                background-position: -33px -66px;
            }

            &:active {
               // background-position: -66px -66px;
            }

            
        }

        &.tabSelected {
            div {
                background-position: -33px -66px;
            }
        }

        &.missingData {
            div {
                background-position: -66px -66px;
                
                &:hover {
                    background-position: -99px -66px;
                }
            }
        }
    }

    .powerTab
    {
        padding: 6px 0px 10px 2px;
        height: 45px;
		&:hover {
			cursor:pointer;
		}
        div
        {
            height: 33px;
            background: $QVTabSpriteURL no-repeat 0 -99px;
            &:hover
            {
                background-position: -33px -99px;
            }

            &:active
            {
               // background-position: -66px -99px;
            }

        }

        &.tabSelected
        {
            div
            {
                background-position: -33px -99px;
            }
        }

        &.missingData {
            div {
                background-position: -66px -99px;
                
                &:hover {
                    background-position: -99px -99px;
                }
            }
        }
    }

    .paceTab
    {
        padding: 6px 0px 10px 2px;
        height: 45px;
		&:hover {
			cursor:pointer;
		}
        div
        {
            height: 33px;
            background: $QVTabSpriteURL no-repeat 0 -132px;
            &:hover
            {
                background-position: -33px -132px;
            }

            &:active
            {
               // background-position: -66px -132px;
            }

         
        }

         &.tabSelected
        {
            div
            {
                background-position: -33px -132px;
            }
        }

        &.missingData {
            div {
                background-position: -66px -132px;
                
                &:hover {
                    background-position: -99px -132px;
                }
            }
        }
    }

    .mapGraphTab
    {
        padding: 5px 0px 10px 2px;
        height: 45px;
		&:hover {
			cursor:pointer;
		}
        div
        {
            height: 33px;
            background: $QVTabSpriteURL no-repeat 0 -33px;
            &:hover
            {
                background-position: -33px -33px;
            }

            &:active
            {
               // background-position: -66px -33px;
            }

           
        }

         &.tabSelected
        {
            div
            {
                background-position: -33px -33px;
            }
        }

        &.missingData {
            div {
                background-position: -66px -33px;
                
                &:hover {
                    background-position: -99px -33px;
                }
            }
        }
    }

	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
		.summaryTab div, 
        .heartrateTab div, 
        .powerTab div, 
        .paceTab div, 
        .mapGraphTab div {
			background-image: $QVTabSpriteRetinaURL;
			background-size: 132px 165px;
		}
	}

    .tabSelected 
    {
        background-color: $TPGrey6;
    }

}