<div class="settingsButtons">
    <div class="close" />
</div>

<div class="title">{{$ "PersonalInfo" }}</div>

{{ profilePhotoUrl }}

<div>
    <label>{{$ "FirstName" }}</label>
    <input type="text" readonly value="{{ firstName }}" />
</div>

<div>
    <label>{{$ "LastName" }}</label>
    <input type="text" readonly value="{{ lastName }}" />
</div>

<div>
    <label>{{$ "Username" }}</label>
    <input type="text" readonly value="{{ userName }}" />
</div>

<div>
    <label>{{$ "AthleteType" }}</label>
    <input type="text" readonly value="{{ userType }}" />
</div>

<div>
    <label>{{$ "Birthday" }}</label>
    <input type="text" readonly value="{{ formatDate birthday "MM/DD/YYYY" }}" />
</div>

<div>
    <label>{{$ "Gender" }}</label>
    <input type="text" readonly value="{{ gender }}" />
</div>

<div>
    <label>{{$ "Email" }}</label>
    <input type="text" readonly value="{{ email }}" />
</div>

<div>
    <label>{{$ "Address" }}</label>
    <input type="text" readonly value="{{ address }}" />
    <input type="text" readonly value="{{ address2 }}" />
</div>

<div>
    <label>{{$ "City" }}</label>
    <input type="text" readonly value="{{ city }}" />
</div>

<div>
    <label>{{$ "State" }}</label>
    <input type="text" readonly value="{{ state }}" />
</div>

<div>
    <label>{{$ "ZipCode" }}</label>
    <input type="text" readonly value="{{ zipCode }}" />
</div>

<div>
    <label>{{$ "Country" }}</label>
    <input type="text" readonly value="{{ country }}" />
</div>

<div>
    <label>{{$ "Phone" }}</label>
    <input type="text" readonly value="{{ phone }}" />
</div>

<div>
    <label>{{$ "CellPhone" }}</label>
    <input type="text" readonly value="{{ cellPhone }}" />
</div>

<div>
    <label>{{$ "ZipCode" }}</label>
    <input type="text" readonly value="{{ zipCode }}" />
</div>

<div>
    <label>{{$ "ZipCode" }}</label>
    <input type="text" readonly value="{{ zipCode }}" />
</div>


<div class="title">{{$ "AccountSettings" }}</div>

    <div>
        <label>{{$ "AccountType" }}</label>
        <input type="text" readonly value="{{ userType }}" />
    </div>

    <div>
        <label>{{$ "Units" }}</label>
        <input type="text" readonly value="{{ units }}" />
    </div>

    <div>
        <label>{{$ "DateFormat" }}</label>
        <input type="text" readonly value="{{ dateFormat }}" />
    </div>

    <div>
        <label>{{$ "TimeZone" }}</label>
        <input type="text" readonly value="{{ timeZone }}" />
    </div>

    {{# with settings }}
        {{#with account }}
            <div>
                <label>{{$ "DateFormat" }}</label>
                <input type="text" readonly value="{{ userType }}" />
            </div>
        {{/with}}
    {{/with}}

{{#comment}}


Date Format
Time Zone
Calendar Sync links
Email Options
Send email on PM
Post-activity comment notifications
Daily emails of planned workouts
Delivery Time
Receive Occasional informational newsletter
Payments Information
Account Expiration Date
Active Recurring Payments Info
Payment History


units: 1
settings: Object
    account: Object
        accessGroupIds: Array[0]
        affiliateId: 596
        allowMarketingEmails: true
        coachType: 0
        enablePrivateMessageNotifications: true
        expirationDate: "2015-08-05T16:48:00"
        headerImageUrl: "/TPWebServices/GetImageFile.aspx?t=db&i=4fda2babbc3fc714fc11de99&f=training_peaks_banner.png"
        headerLink: "http://www.trainingpeaks.com"
        isAthlete: true
        isCoached: false
        isEmailVerified: true
        lastLogin: "2013-08-21T11:35:05"
        numberOfVisits: 84
        userType: 4
    affiliate: Object
        code: "trainingpeaks3"
        isTrainingPeaks: true
    calendar: Object
        display: 3
        numberOfWeeksToShow: 3
        showIcons: true
        showMeals: true
        showMetrics: true
        showWeekSummary: true
        showWorkouts: true
        workoutColorization: 0
        workoutLabelLayout: Array[5]
    dashboard: Object
    metrics: Array[8]
    workout: Object
{{/comment}}