<div class="settingsButtons">
    <div class="close" />
</div>

<div class="title">{{$ "PersonalInfo" }}</div>

<div>
    <label>{{$ "FirstName" }}</label>
    <span>{{ firstName }}</span>
</div>

<div>
    <label>{{$ "LastName" }}</label>
    <span>{{ lastName }}</span>
</div>

<div>
    <label>{{$ "Username" }}</label>
    <span>{{ userName }}</span>
</div>

<div>
    <label>{{$ "AthleteType" }}</label>
    <span>{{ userType }}</span>
</div>

<div>
    <label>{{$ "Birthday" }}</label>
    <span>{{ birthday }}</span>
</div>

<div class="title">{{$ "AccountSettings" }}</div>

{{#comment}}

Gender
Email
Address
Address 2
City
State
Zip
Country
Phone1
Phone2
Profile Picture
Account Settings
Account Type label
Units
Date Format
Time Zone
Calendar Sync links
Email Options
Send email on PM
Post-activity comment notifications
Daily emails of planned workouts
Delivery Time
Receive Occasional informational newsletter
Payments Information
Account Expiration Date
Active Recurring Payments Info
Payment History


address: ""
address2: ""
age: null
athletes: Array[1]
birthday: null
cellPhone: null
city: null
country: null
dateFormat: "mdy"
email: "mcondon@peaksware.com"
firstName: "Micah"
gender: null
language: "en-us"
lastName: "Condon"
latitude: null
longitude: null
phone: null
profilePhotoUrl: null
settings: Object
account: Object
accessGroupIds: Array[0]
affiliateId: 596
allowMarketingEmails: true
coachType: 0
enablePrivateMessageNotifications: true
expirationDate: "2015-08-05T16:48:00"
headerImageUrl: "/TPWebServices/GetImageFile.aspx?t=db&i=4fda2babbc3fc714fc11de99&f=training_peaks_banner.png"
headerLink: "http://www.trainingpeaks.com"
isAthlete: true
isCoached: false
isEmailVerified: true
lastLogin: "2013-08-21T11:35:05"
numberOfVisits: 84
userType: 4
__proto__: Object
affiliate: Object
code: "trainingpeaks3"
isTrainingPeaks: true
__proto__: Object
calendar: Object
display: 3
numberOfWeeksToShow: 3
showIcons: true
showMeals: true
showMetrics: true
showWeekSummary: true
showWorkouts: true
workoutColorization: 0
workoutLabelLayout: Array[5]
__proto__: Object
dashboard: Object
metrics: Array[8]
workout: Object
__proto__: Object
state: null
story: null
timeZone: "America/Denver"
units: 1
userId: 1104331
userName: "micahtestprem"
zipCode: null
{{/comment}}