@import "../globalCSS/tpstylesheet";
@import "workoutColor";

.workout
{
    margin: 5px 4px 4px 2px;
    @include box-shadow(0 1px 1.5px 0 #2c2c2c);

    &.dragHelper
    {
        opacity: 0.6;
        min-width: 150px;
    }

    &.dragging
    {
        opacity:0.8;
    }

    .workoutSettings  
    {
        display: none;
        float: right;

        button
        {	
            background: transparent;
            border: none;
            padding: 0px;
            cursor: default;
            box-shadow: none;
            margin: 0px;
        }
    }

    &:hover
    {
        .workoutSettings
        {
            display: block;
        }
    }

    &.menuOpen
    {
        .workoutSettings
        {
            display: block;
        }
    }

    .workoutDiv {
        min-height: 35px;
      
        .workoutHeader
        {
            padding: 0px 3px 3px 3px;
            height: 32px;
            position: relative;
            top: -1px;
            .workoutIcon
            {
                width: 25px;
                height: 25px;
                background-color: $white;
                float: left;
                margin-top: 5px;
            }

            .workoutDistanceTime
            {
                padding: 15px 0px 0px 30px;

                @include labels($navigationFontFamilyRegular, $fontSizeXLarge, $TPGrey4, normal);
                label
                {
                    display:inline-block;
                    cursor: inherit;
                }
                
                .units
                {
                    font-size: 0.88em;
                    margin-left: 0.15em;
                }
            }

        }
        .workoutBody
        {
            padding: 2px 3px 3px 3px;
            @include labels($navigationFontFamilyRegular, $fontSizeXSmall, $TPGrey4, normal);
            label
            {
                font-weight: bold;
                cursor: inherit;
                white-space: pre-wrap;
            
            }
            
            p
            {
                margin-bottom: 0px;
                font-size: $fontSizeXSmall;
                font-color: $black;
                font-family: $navigationFontFamilyRegular;
                text-align: left;
                line-height: 12px;
                cursor: inherit;
                white-space: pre-wrap;
            }
        }
    }

} // end .workout



#workoutHoverDiv
{
    z-index:99;
    position:absolute;
	
	.hoverBoxContents {

	}
	
	.mainShadow {
		box-shadow: 0 2px 3px 0 #ADADAD;
	}
	
	.bottomShadow
    {
		width:97%;
    }
	
	.hoverBox .arrow {
		box-shadow: 0 0 3px 1px #868686;
		margin-left:19px;
	}
	
	
    .details
    {
        min-width: 100px;

        @include labels($navigationFontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);

        label
        {
            margin-top:10px;
            margin-bottom:2px;
            cursor: inherit;
        }

        label:first
        {
            margin-top:0px;
        }

        .planned
        {
            color: $todayBlue ;
            font-size:$fontSizeLarge;
        }

        .completed
        {
            color: $thisWeekBlue;
            font-size:$fontSizeLarge;
        }

        .slash
        {
            color: $thisWeekBlue;
            font-size:$fontSizeLarge;
        }
    }

}

#workoutSettingsDiv {
   
	padding-left: 10px;
	padding-bottom: 20px;

	@include labels($navigationFontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);
	label
	{
		padding-top: 2px;
	}

	.arrow
    {
        width: 15px;
        height: 15px;
        @include transform(translateY(-10px) rotate(45deg));
        @include calc(margin-left, "50% - 20");
    }

	.colorBar
    {
        bottom: 15px;
    }

	.bottomShadow
    {
        bottom: 14px;
    }

	.hoverBoxContents {
		min-width: 75px;
	}
	
	.hoverBox .colorBar {
	  	bottom: 14px;
		height: 4px;
	}
	
	.hoverBox .mainShadow {
		bottom: 18px;
	}

}


#daySettingsDiv {
	.hoverBoxContents {
		min-width: 76px;
	}
	.hoverBox {
		.arrow {
			margin-left:28px;
			}
	}	
}

#summarySettingsDiv {
	.hoverBox {
		.arrow {
			margin-left:39px;
			}
	}
}
