@import "../globalCSS/tpstylesheet";
@import "workoutColor";
@import "workoutIcons";

.dragHelper .workout {
    p {
        display: none;
    }

    &.locked
    {
        display: none;
    }
}

.workout
{
    margin: 5px 4px 4px 2px;
    border:1px solid $TPGrey2;

    &.workoutList
    {
        border: none;
    }

    &.dragHelper
    {
        opacity: 0.6;
        min-width: 150px;

        .workoutSelected
        {
            display: block;
        }
    }

    &.dragging
    {
        opacity:0.8;
    }

    .workoutSettings  
    {
        display: none;
        top: 0px;
        right: 2px;
        position: absolute;
        z-index: 2;

        button
        {	
            background: transparent;
            border: none;
            padding: 0px;
            box-shadow: none;
            margin: 0px;
            width: 14px;
            height: 20px;
            @extend %settingsButtonSmallBG;
            background-repeat: no-repeat;
            background-position-y: 7px;
        }
    }

    &:hover
    {
        cursor:pointer;
        .workoutSettings
        {
            display: block;
        }
    }

    &.menuOpen
    {
        .workoutSettings
        {
            display: block;
        }
    }

    .workoutDiv {
        min-height: 35px;
        word-wrap: break-word;

        .workoutHeader
        {
            padding: 0px 3px;
            height: auto;
            position: relative;
            top: -1px;
            .workoutIcon
            {
                width: 25px;
                height: 25px;
                float: left;
                margin-top: 4px;
            }

            .workoutDistanceTime
            {
                padding: 15px 0px 0px 30px;

                @include labels($fontFamilyRegular, $fontSizeXLarge, $TPGrey4, normal, "label, .keystat");
                label, .keystat
                {
                    display:inline-block;
                    width:100%;
                    cursor:pointer;
                    line-height: 1;
                    margin-bottom:0;
                }
                
                .units
                {
                    font-size: 0.88em;
                    margin-left: 2px;
                }
            }

        }
        .workoutBody {
            color: $TPGrey4;
            padding: 2px 3px 3px 3px;
            @include labels($fontFamilyHeavy, $fontSizeXSmall, $TPGrey4, normal, "label, .workoutLabel");

            label {
                white-space: pre-wrap;
                cursor:pointer;
            }
            
            p {
                margin-bottom: 0px;
                font-size: $fontSizeXSmall;
                color: $TPGrey4;
                font-family: $fontFamilyRegular;
                text-align: left;
                line-height: 12px;
                white-space: pre-wrap;
            }
        }
    }

} // end .workout

#workoutSettingsDiv {
    padding-left: 10px;
    padding-bottom: 20px;

    .hoverBoxContents {
        min-width: 75px;
    }

}


#daySettingsDiv {
    .hoverBoxContents {
    min-width: 76px;
    }
    .hoverBox {
    .arrow {
        margin-left:28px;
        }
    }	
}

#summarySettingsDiv {
    .hoverBox {
    .arrow {
        margin-left:50px;
        }
    }
}

.workout
{
    
    .workoutDiv
    {
        position: relative;
    }

    .workoutSelected
    {
        @include selectedOverlay();
    }

    &.selected
    {
        .workoutSelected
        {
            display: block;
        }
    }
}

.printOnly
{
    display: none;
}
