@import "../globalCSS/tpstylesheet";

.dragHelper .day
{
    min-height: 150px !important;
    padding: 0;

    .dayHeader
    {
        height: 27px;
        visibility: hidden !important;
    }

    .addWorkoutWrapper
    {
        display: none;
    }
}

#calendarContainer
{

    .weeks-region
    {
        @include calc(height, "100% - 27px");
    }

    #weeksContainer
    {
        min-width: 1007px;
        height: 100%;
    }

    .week
    {
        @include grid-row();
        @include display-flex();
        background-color: $TPGrey1;
        padding-left: 4px;
        max-width: none;
    }

    .day
    {
        width: 10px; // Fixed with to ensure flex box distributes width evenly between days
        @include flex(1);
        min-height:150px;
        background-color: $TPGrey1;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: visible;
        color: $TPGrey8;
        position: relative;
        cursor: default;

        .daySettings
        {
            position: absolute;
            top: 0px;
            right: 2px;
            z-index: 2;
            display: none;
            padding: 2px 4px 0px 0px;

            button
            {	
                background: transparent;
                border: none;
                padding: 0px;
                cursor: pointer;
                margin-bottom: 0px;
                box-shadow: none;
                width: 15px;
                height: 21px;
                @extend %settingsButtonBG;
            }
        }

        &:hover
        {
            .daySettings
            {
                display:block;
            }
        }

        &.menuOpen
        {
            .daySettings
            {
                display:block;
            }
        }

    }

    .weekSelected
    {
        display: none;
        background-color: white;
        left: 0px;
        right: 0px;
        height: 100%;
        position: absolute;
        opacity: .35;
        z-index: 99;
    }

    .dayHeader 
    {
        background-color: $TPGrey2;
        width: 100%;
        height: 27px;
        margin-bottom: 2px;
        border-bottom: 1px;
        border-bottom-color: $TPGrey3;
        border-bottom-style: solid;
        padding-left: 5px;

        &.summaryHeader
        {
            padding-left: 7px;
        }

        .calendarDate
        {
            font-Family: $fontFamilyRegular;
            font-size: $fontSizeMedium;
            color: $TPGrey8;
            text-align: right;
            float:left;
            margin: 0px;
            padding-top: 2px;
        }

    }

    .thisWeek
    {
        .dayHeader
        {
            background-color: $thisWeekBlue;
            cursor: pointer;
        }

        .today
        {
            .dayHeader
            {
                background-color: $todayBlue;
            }
        }
        .summaryHeader
        {
            background-color: #206193;
            cursor: default;
        }
    }

    .summaryHeader {
        background-color: $TPGrey3;
        cursor: default;

        .calendarDate{
            color: white;
            font-family: $fontFamilyLight;
            font-size: $fontSizeSmall;
            padding-top:4px;
        }
    }

    .daysOfWeek
    {
        .hide-for-small, 
        .show-for-small
        {
            @include calc(width, "(100% - 297px) /7");
            float: left;
            padding-bottom: 0px;
            padding-left: 9px;
            padding-right: 0px;
            font-Family: $fontFamilyLight;
            font-size: $fontSizeSmall;
            color: $TPGrey3;
            text-align: left;
            height: 15px;
        }
    }
}

.scrollInProgress
{
    @include single-transition(all, 200ms, ease-out);
    @include box-shadow(0px 3px 8px -4px $TPGrey3);
}

.clipboardEmpty
{
    .paste
    {
        color:$TPGrey2;
    }
}

.pasteDisabled
{
    label.paste
    {
        color:$TPGrey2;
    }
}

.clipboardFull
{
    .paste
    {
        //color:green;
    }
}

#selectedRangeSettingsDiv
{
    .colored
    {
        background-color: $selectedDay;
    }
}

.dragHelper
{
    &.day
    {
        opacity: 0.6;
        min-height: 250px;

        .daySelected
        {
            display: block; 
        }

        .dayHeader
        {
            background-color: transparent; 
            height: 27px;
        } 
    }  
}

.day
{

    .addWorkoutWrapper
    {
        position: relative;
        margin: 5px 4px 4px 2px;
        height: 48px;
    }

    .addWorkout
    {
        border: 1px solid #b5b5b5;
        height: 48px;
        text-align: center;
        visibility: hidden;
        position: relative;
        width: 100%;
        cursor:pointer;

        .addWorkoutPlus {
            @extend %calendarPlusBG;
            width:20px;
            height:20px;
            position:relative;
            left:50%;
            margin-left:-10px;
            top:50%;
            margin-top:-10px;
        }

        &.active
        {
            background: #bcd1eb;
            border: 1px solid #0043ff;
            opacity: 0.5;
            visibility: visible;
            .addWorkoutPlus {
                @extend %calendarPlusBG;
                background: 0 -20px no-repeat; 
            }
        }
    }

    &:hover
    {
        &:not(.selected)
        {
            .addWorkout
            {
                visibility: visible;
            }
        }
    }

}

.day
{

    &.hoveringOverDayHeader
    {
        .workout, .workout.past, .workout.future
        {
            border: 1px solid $TPGrey11;
        }
    }

    &.dragging
    {
        opacity: 0.8;
    }
}

.daySelected
{
    background-color: #bcd1eb;
    border: 1px solid #0043ff;
    opacity: 0.5;
    left: 0px;
    right: 1px;
    top: 0px;
    bottom: 1px;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    z-index: 1;

    // Allow event to fall through to elements bellow selection, works everywhere but IE10
    pointer-events: none;
}

.day
{

    .daySelected
    {
        display: none;
    }

    &.selected
    {
        .daySelected
        {
            display: block;
        }
    }

}

.day
{
    .workout:hover
    {
        border-color: $TPGrey11;
    }

    .workout.past:hover
    {
        border-color: $TPGrey11;
    }

    .workout.future:hover
    {
        border-color: $TPGrey11;
    }
}

