@import "../globalCSS/tpstylesheet";
@import "workoutColor";
@import "workoutIcons";

.workout
{
    margin: 5px 4px 4px 2px;
   // @include box-shadow(0 1px 1.5px 0 #2c2c2c);

    &.dragHelper
    {
        opacity: 0.6;
        min-width: 150px;
    }

    &.dragging
    {
        opacity:0.8;
    }

    .workoutSettings  
    {
        display: none;
        float: right;
        margin-top: 1px;

        button
        {	
            background: transparent;
            border: none;
            padding: 0px;
            cursor: pointer;
            box-shadow: none;
            margin: 0px;
        }
    }

    &:hover
    {
        .workoutSettings
        {
            display: block;
        }
    }

    &.menuOpen
    {
        .workoutSettings
        {
            display: block;
        }
    }

    .workoutDiv {
        min-height: 35px;
      
        .workoutHeader
        {
            padding: 0px 3px 3px 3px;
            height: 32px;
            position: relative;
            top: -1px;
            .workoutIcon
            {
                width: 25px;
                height: 25px;
                float: left;
                margin-top: 4px;
            }

            .workoutDistanceTime
            {
                padding: 13px 0px 0px 30px;

                @include labels($fontFamilyRegular, $fontSizeXLarge, $TPGrey8, normal);
                label
                {
                    display:inline-block;
                    cursor: inherit;
                }
                
                .units
                {
                    font-size: 0.88em;
                    margin-left: 0.15em;
                }
            }

        }
        .workoutBody
        {

            color: $TPGrey8;
            padding: 2px 3px 3px 3px;
            @include labels($fontFamilyHeavy, $fontSizeXSmall, $TPGrey8, normal);
            label
            {
                cursor: inherit;
                white-space: pre-wrap;
            
            }
            
            p
            {
                margin-bottom: 0px;
                font-size: $fontSizeXSmall;
                color: $TPGrey8;
                font-family: $fontFamilyRegular;
                text-align: left;
                line-height: 12px;
                cursor: inherit;
                white-space: pre-wrap;
            }
        }
    }

} // end .workout



#workoutHoverDiv
{
    z-index:99;
    position:absolute;

    .hoverBoxContents
    {
        padding-top: 4px;
    }
	
	.hoverBox .arrow {
		margin-left:19px;
	}
	
	
    .details
    {
        min-width: 100px;
        padding-bottom: 4px;

        @include labels($fontFamilyRegular, $fontSizeSmall, $TPGrey4, normal);

        label
        {
            margin-top:10px;
            margin-bottom:2px;
            cursor: inherit;
        }

        label:first
        {
            margin-top:0px;
        }

        .planned
        {
            //color: $todayBlue;
            color: $TPGrey3; 
            font-size:$fontSizeMedium;

            &.empty
            {
                font-size:$fontSizeLarge;
            }
        }

        .completed
        {
            //color: $thisWeekBlue;
            color: $TPGrey3; 
            font-family: $fontFamilyHeavy;
            font-size:$fontSizeMedium;

            &.empty
            {
                font-size:$fontSizeLarge;
            }
        }

        .slash
        {
            //color: $thisWeekBlue;
            color: $TPGrey3;
            font-size:$fontSizeMedium;
        }
    }

}

#workoutSettingsDiv {
   
	padding-left: 10px;
	padding-bottom: 20px;

	@include labels($fontFamilyRegular, $fontSizeSmall, $TPGrey3, normal);
	label
	{
		padding-top: 2px;
        cursor: pointer;
	}

	.hoverBoxContents {
		min-width: 75px;
	}

}


#daySettingsDiv {
	.hoverBoxContents {
		min-width: 76px;
	}
	.hoverBox {
		.arrow {
			margin-left:28px;
			}
	}	
}

#summarySettingsDiv {
	.hoverBox {
		.arrow {
			margin-left:50px;
			}
	}
}
