@import "../globalCSS/tpstylesheet";

#calendarWrapper
{
    @include grid-row();
	background-color: white;
    max-width: none;
}

#calendarHeader
{
	min-height: 64px;
	float:left;
	background-color: $white;
	.calendarMonthLabel
	{
		width: 265px;
		float: left;
		padding-left: 65px;
		//padding-top: 13px;
        margin-top: 5px;
		@include labels($fontFamilyRegular, $fontSizeHeader, $TPBlue, normal);
		label
		{
			float: left;
			padding-right: 10px;
			
		}
		.headerYear
		{
			font-family: $fontFamilyLight;
		}
	}

    .calendarHeaderView
    {

        &.withAds
        {
            .calendarMonthLabel
            {
                margin-top: 30px;
            }

            .navigation
            {
                margin-top: 30px;
            }
        }

	    .navigation {
            float:left;
            margin:7px 0 0 0;
            
            @include headerButtons(0px, 35px, $fontSizeMedium);
			button {
			 	&:active {
					box-shadow:none;
					}
				}

            .calendarNavigation {
                float:left;
	            @include headerButtons(0px, 35px, 12px);
				background-color:$TPGrey9;
				&:hover {
					background-color:#8d8d8d;
					}
                button {
                	img {
                        padding-top: 3px;
                   	}
                }

                #goToLastWeekButton {
                    border-right:none;
					background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat 0 -20px;
                    &:hover {
						background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat -36px -20px;	
                    }
                    &:active {
                        background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat -72px -20px;
                    }
                }

				#goToNextWeekButton {
					margin-left:1px;
					border-left:none;
					background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat 0 0;
					&:hover {
						background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat -36px 0px;
	               	}
                    &:active {
                        background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat -72px 0;
                    }
                }

				@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
					#goToLastWeekButton,
					#goToLastWeekButton:hover, 
					#goToNextWeekButton,
					#goToNextWeekButton:hover {
						background-image: url(../../assets/images/calendarImages/sprite-header-icons@2x.png);
						background-size: 108px 100px;
				  	}
				}
                
            }

            .today {
                float:left;
                @include headerButtons(0px, 71px, 12px);
				margin-left:7px;	
            }

			.today button  {
				color:$TPGrey10;
				padding:1px 0 2px;
			}
			
			@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
				.today button  {
					background-image: url(../../assets/images/calendarImages/background-gradient-button@2x.png);
					background-size: 1px 40px;
				}
			}

			.printRefreshButtons {
                float:left;
                @include headerButtons(7px, 38px, $fontSizeMedium);

				.printButton  {
					background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat 0 -40px;
					width: 38px;
					height: 22px;
					&:hover {
						background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat -36px -40px;
					}
                    &:active {
                        background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat -72px -40px;
                    }
				}
                .refreshButton {
					background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat 0 -80px;
                    margin-left: 7px;
					&:hover {
						background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat -36px -80px;
					}

                    &:active {
                        background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat -72px -80px;
                    }
                }
                .settingsButton  {
					background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat 0 -60px;
                    margin-left: 7px;
					width: 38px;
					&:hover {
						background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat -36px -60px;
					}
                    &:active {
                        background: url(../../assets/images/calendarImages/sprite-header-icons.png) no-repeat -72px -60px;
					}
                }

				@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
					.printButton,
					.printButton:hover, 
					.refreshButton,
					.refreshButton:hover,
					.settingsButton,
					.settingsButton:hover  {
						background-image: url(../../assets/images/calendarImages/sprite-header-icons@2x.png);
						background-size: 108px 100px;
				  	}
				}
			}
        
				
		}

        #affiliateBanner
        {
            margin-left: 100px;
            margin-bottom: 15px;
            margin-top: 10px;
            height: 90px;
            float: left;
            display: none;
        }

    }

}

#calendarContainer
{

    @include grid-column(15);
    @include nice-scrollbar;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    //margin-left: 45px;
	padding: 0 2px;
	background-color: white;
    overflow-x: auto;

    @include calc(width, "100% - 45px"); 

    .scrollable
    {
        overflow-y: scroll;
        @include nice-scrollbar;
        border-left: solid;
        border-left-width: 1px;
        border-left-color: $TPGrey2;
    }

    #weeksContainer
    {
        min-width: 1007px;
    }

    .week
    {
        @include grid-row();
		background-color: $TPGrey1;
        padding-left: 4px;
        max-width: none;
    }

    .day
    {
        min-height:150px;
		background-color: $TPGrey1;
        padding: 0px 0px 5px;
        @include calc(width, "(100% - 294px) /7");
        overflow-x: hidden;
        overflow-y: visible;
        float: left;
        color: $TPGrey8;
        position: relative;

        &.selected
        {
            background-color: $selectedDay;
        }

		.daySettings
        {
            display: none;
            float: right;
			padding: 2px 4px 0px 0px;
            margin-right: 2px;

            button
            {	
                background: transparent;
                border: none;
                padding: 0px;
				cursor: pointer;
                margin-bottom: 0px;
                box-shadow: none
            }
        }

        &:hover
        {
            .daySettings
            {
                display:block;
            }
        }

        &.menuOpen
        {
            .daySettings
            {
                display:block;
            }
        }

    }

	.daySelected
	{
		display: none;
		background-color: white;
		left: 0px;
		right: 0px;
		height: 100%;
		position: absolute;
		opacity: .35;

        &.visible
        {
            display: block;
        }
	}

	.weekSelected
	{
		display: none;
		background-color: white;
		left: 0px;
		right: 0px;
		height: 100%;
		position: absolute;
		opacity: .35;
		z-index: 99;
	}

	.dayHeader 
	{
		background-color: $TPGrey2;
		width: 100%;
		height: 27px;
		margin-bottom: 2px;
		border-bottom: 1px;
		border-bottom-color: $TPGrey3;
		border-bottom-style: solid;
		padding-left: 5px;

        &.summaryHeader
        {
            padding-left: 7px;
        }

		#calendarDate
		{
			font-Family: $fontFamilyRegular;
			font-size: $fontSizeMedium;
			color: $TPGrey8;
			text-align: right;
			float:left;
			margin: 0px;
			padding-top: 2px;
		}

	}

	.thisWeek
	{
		.dayHeader
		{
			background-color: $thisWeekBlue;
            cursor: pointer;
		}

		.today
        {
		    .dayHeader
		    {
                background-color: $todayBlue;
        	}
	    }
		.summaryHeader
		{
			background-color: #206193;
            cursor: default;
		}
	}

	.summaryHeader
	{
		background-color: $TPGrey3;
		#calendarDate{
            color: white;
            font-family: $fontFamilyLight;
        }
        cursor: default;
	}

    .daysOfWeek
    {
        @include grid-row();
        @include calc(width, "100%"); 
		background-color: $TPGrey1;
		height: 27px;
		padding-top: 7px;
		padding-right: 12px;
		//margin-left: -8px;
        margin-left: 0px;
        //margin-right:12px;
		border: $TPGrey2;
		border-style: solid;
		border-width: 1px;
		position: relative;
		z-index: 1;
        cursor: default;
        max-width: none;
        min-width: 1007px;

        div
        {
                @include calc(width, "(100% - 288px) /7");
                float: left;
                padding-bottom: 0px;
                padding-left: 5px;
                padding-right: 0px;
                font-Family: $fontFamilyLight;
                font-size: $fontSizeSmall;
                color: $TPGrey3;
                text-align: left;
                height: 15px;
                //margin-left: -1px;
                
        }
    }
}
    
.scrollInProgress
{
    @include single-transition(all, 200ms, ease-out);
    @include box-shadow(0px 3px 8px -4px $TPGrey3);
}

body.clipboardEmpty
{
    .paste
    {
        color:$TPGrey2;
    }
}

body.pasteDisabled
{
    label.paste
    {
        color:$TPGrey2;
    }
}

body.clipboardFull
{
    .paste
    {
        //color:green;
    }
}

#selectedRangeSettingsDiv
{
    .colored
    {
        background-color: $selectedDay;
    }
}

.dragHelper
{
   &.day
   {
        background-color: $selectedDay;
        opacity: 0.8;
        min-height: 350px;
       
        .dayHeader
        {
            background-color: transparent; 
            height: 27px;
        } 
   }  
}

.day
{

    .addWorkout
    {
        border: 1px solid #b5b5b5;
        height: 32px;
        text-align: center;
        visibility: hidden;
		.addWorkoutPlus {
			background: url(../../assets/images/calendarImages/sprite-calendar-plus.png) no-repeat; 
			width:20px; 
			height:20px; 
			position:relative; 
			left:50%; 
			margin-left:-10px; 
			top:50%; 
			margin-top:-10px;
		}
        &.active
        {
            background: #bcd1eb;
			border:1px solid #0043ff; 
			opacity: 0.5;
            visibility: visible;
			.addWorkoutPlus {
				background: url(../../assets/images/calendarImages/sprite-calendar-plus.png)  0 -20px no-repeat; 
			}
        }
    }

	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
		.addWorkout {
			background-image:url(../../assets/images/calendarImages/sprite-calendar-plus@2x.png);
			background-size: 20px 40px;
		}
	}

    &:hover
    {
        .addWorkout
        {
            visibility: visible;
        }
    }

}

.day
{
    &.hoveringOverDayHeader
    {

        .workout
        {
            border: 1px solid blue;
        }
    }
}
