@import "../globalCSS/tpstylesheet";

#shiftItems
{
	width: 400px;

	@include buttons(0, 65px, 12px);
    
    button {
 		margin:0;
  
    	&#cancel {
			margin-right:8px;
		}
	}

	label {
		font-weight:normal;
	}

    span {
        font-size:$fontSizeSmall;
    }

	.bold {
        font-family: $fontFamilyHeavy;
	}

	h3 {
		margin-bottom:8px;
	}
	
	fieldset {
	  	border: 1px solid $TPGrey2;
	  	border-radius: 0 0 0 0;
	  	margin: 0;
	  	padding: 10px 10px 20px 10px;

		legend {
		  	background-color: transparent;
		  	font-weight: normal;
		  	padding-left: 5px;
		  	padding-right: 5px;
		  	text-align: left;
			margin-left:20px;
			color:$TPGrey4;
			font-family:$fontFamilyRegularItalic;
			font-size:$fontSizeSmall;
		}
	}

	.shiftItemsBody {
        text-align: left;
		
		@include inputs(13px, 13px, $fontSizeSmall, $fontFamilyRegular);

        input[type=text] {
            margin-left: 10px;
            margin-right: 10px;
        }

        input[type=radio] {
            cursor: default;
			margin: 0 10px 8px 0;	
        }

		label {
			font-size: $fontSizeSmall;
		}
		
		.dateSelector {
			float:left;
			
			label {
				margin-bottom:0;
			}
			
			input {
				margin-bottom:0;
			}
		}
	
		#howToShift {
			margin-top: 25px;
			
			label {
				margin-bottom:0;
			}

			.MoveToNewStartDateLabel {
				label {
					margin-left:0;
				}
			}
		}
		
		#selectItems {
			form {
				margin-bottom:5px;
			}

			label {
				margin-bottom:0;
			}
		}
		
		.toAndFromDateRange {
			display: -webkit-box;
			@include inputs(105px, 22px, $fontSizeSmall, $fontFamilyRegular);
			margin-bottom:0;
			
			input {
				display: inline;
			}
			
			label {
				font-size: $fontSizeMedium;
			}
		}

		.selectNewStartDateInput {
			/* -webkit-box makes the label and input display as inline */
			//	display: -webkit-box;

			@include inputs(100px, 22px, 12px, $fontFamilyRegular);
			
			input {
				display: inline;
			 	width: 100px;	
			}
			
			.MoveToNewStartDateInput {	
				input {
					margin:0;
				}
			}
		}

		#MoveToNewStartDate, 
		#MoveBySpecifiedNumberOfDays, 
		#MoveBySpecifiedNumberOfWeeks {
			label {
                font-family: $fontFamilyHeavy;
				font-size:$fontSizeSmall;
				color:#222222;
				margin:0 0 0 20px;
			}
		}

        input.numberpicker
        {
            border:none;
            outline:none;
            padding:0 0 0 5px;
            margin:0px;
            width:99px;
            height:20px;

            &:focus
            {
               outline:none;
            } 
        }
		
		.cancelOkButtons {
			text-align:center;
			margin-top:20px;
		}
	
		#MoveContain {
			margin-top:5px;
		}    
	}
}