@import "../globalCSS/tpstylesheet";
@import "../globalCSS/hoverBox";
@import "../globalCSS/mixIn";

#weekSummaryBarChartHover
{   
    .details {
        padding:4px 0 8px 0;
    }

    span
    {
        color: $TPGrey8;
        cursor: default;
	    font-size:$fontSizeXSmall;
	    font-family: $fontFamilyHeavy;
	    line-height:$fontSizeXLarge;
        margin: 0px;
        padding: 0px;
    }

    .sumnmaryStats
    {
        color: $TPGrey12;
        font-family: $fontFamilyRegular;
    }

    .units
    {
        color: $TPGrey12;
        font-family: $fontFamilyRegular;
    }

    .arrow
    {
        margin-left: calc(50% - 10px);
    }
    
}