@mixin workoutIcons($name, $futureBackgroundColor) 
{
    .workoutIcon,
    .workoutIconLarge
    {
        @extend .icon;
        @extend .icon_#{$name};
        font-size: 25px;
        color: #fff;
    }

    .workoutIconLarge
    {
        font-size: 70px;
    }

    &.future, &.past.ComplianceNone
    {
        .workoutIcon,
        .workoutIconLarge
        {
            color: $futureBackgroundColor;
            background-color: #fff;
        }
    }
}


.Bike
{
    @include workoutIcons("bike", $clrBike);
}

.Run
{
    @include workoutIcons("run", $clrRun);
}

.Swim
{
    @include workoutIcons("swim", $clrSwim);
}

.Brick
{
    @include workoutIcons("brick", $clrBrick);
}

.Other, .Custom, .XTrain, .Crosstrain
{
    @include workoutIcons("other", $clrOther);
}

.Race
{
    @include workoutIcons("race", $clrRace);
}

.DayOff
{
    @include workoutIcons("rest", $clrRest);
}

.MountainBike
{
    @include workoutIcons("mtb", $clrMTB);
}

.Strength
{
    @include workoutIcons("strength", $clrStrength);
}

.XC-Ski
{
    @include workoutIcons("xc-ski", $clrXc-ski);
}

.Rowing
{
    @include workoutIcons("rowing", $clrRowing);
}

.Walk
{
    @include workoutIcons("walk", $clrWalk);
}

