.chartsRegion
{
    @include calc(height, "100% - 27px");
}

.dashboardDatePicker
{
    .selectboxit-container
    {
        width: 220px !important;

        .selectboxit
        {
            width: 220px !important;
            height: 22px;
        }
    }

    .selectboxit-options
    {
        height: 300px;
        overflow-y: scroll;
        @include nice-scrollbar; 
    }

    /*
    .selectboxit-option
    {
        font-size: 12px;
    }
    */
    select.dateOptions
    {
        width: 220px !important;
    }


    .dateRanges
    {
        padding: 7px 0 0 0;

        .fromTo
        {
            padding: 5px 15px 0 0;
            float: left;
            line-height:1;
        }

        .to
        {
            padding-left: 15px;
        }

        input
        {
            display: none;
        }

        &.customStartDate
        {
            input.startDate
            {
                display: inline;
            }

            div.startDate
            {
                display: none;
            }
        }

        &.customEndDate
        {
            input.endDate
            {
                display: inline;
            }

            div.endDate
            {
                display: none;
            }
        }
    }

    .datePicker
    {
        width: 75px;
        height: 20px;
    }

    .date
    {
        width: 75px;
        float: left;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
        margin-top: 5px;
    }

    input[type=text]
    {
        width: 90px;
        height: 22px;
        float: left;
        margin-bottom:0;
    }

    .dateOptionsWrapper
    {
        height: 25px;
    }
}

.dashboardHeaderDatePicker 
{
    width: 303px;

    .dashboardDatePicker .selectboxit-container .selectboxit 
    {
        width: 278px !important;
    }
}

#dashboardContainer
{
    .scrollHeader
    {
        @include box-shadow(0px 3px 8px -4px $TPGrey3);
    }
}

#chartsContainer
{
    min-width: 1007px;
    position: relative;
    padding:10px;
    overflow-x: hidden;
}

#dashboardHeader
{
    .datepickerContainer
    {
        float: left;
        margin-left: 10px;

        .selectRange
        {
            display: none;
        }

        .dateOptionsWrapper
        {
            display: inline-block;
            float: left;
        }

        .dateRanges
        {
            float: left;
            margin-left: 15px;
            padding-top: 0px;

            .fromTo {
                padding: 5px 15px 0 0;
            }

            .to {
               padding-left:15px;
            }

            .date {
                margin-top:5px;
            }
        }
    }

    .buttons
    {
        float: left;
        margin-left: 15px;

        .applyDates
        {
            min-width: 60px;
            padding:3px 0;
            font-size:$fontSizeSmall;
        }
    }
}

.title
{
    font-family: $fontFamilyHeavy;
    font-size: $fontSizeSmall;
    color: $TPGrey3;
    margin-bottom: 5px;
}

.dashboardChart {
    /*
    float: left;
    position: relative;
    margin: 10px;
    */

    @include noDataMessage;
    
    position: absolute; 
    padding: 15px 0 0 0;

    border: 1px solid transparent;
    cursor: pointer;

    .chartTitle, 
    .customDateRange {
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        @include calc("max-width", "100% - 18px");;
        max-height: 16px; /* Fallback for non-webkit */
        margin: 5px auto;
        font-size: $fontSizeSmall;
        line-height: normal;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .customDateRange {
        left: 0;
        width: 100%;
        top: 29px;
        font-size: $fontSizeXSmall;
        font-family:$fontFamilyRegular;
    }

    .xaxisLabel
    {
        top: 370px;
        left: calc(50% - 30px);
    }

    .yaxisLabel
    {
        
        position: absolute;
        left: 3px;
        top: 47%;
        margin-top: 0;

        margin-left: -39px;
        font-size: 10px;

        &.pmc {
            text-transform: none;
            left:auto;

            &.tsb {
                position: absolute;
                right: -36px;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                color: #FFA500;
            }
            
            &.tssd {
                color: #b90807;
                left:3px;
            }
        }

        &.right
        {
            left: auto;
            right: -36px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
        }
    }


    &.fullScreen
    {
        position: absolute;
        height: auto;
        width: auto;
        background-color: $TPGrey1;
        z-index: 200 !important;
        opacity: 1;
        cursor: default;

        .chartButtons
        {
            display: block;
            z-index:2;
        }
         &:hover, &.hover {
            border: 1px solid transparent;
         }

         .chartTitle {
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            @include calc("max-width", "100% - 18px");;
            max-height: 21px; /* Fallback for non-webkit */
            margin: 5px auto;
            font-size: $fontSizeXLarge;
            line-height: normal;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
         }

         .customDateRange {
            left: 0;
            width: 100%;
            top: 29px;
            font-size: $fontSizeSmall;
            font-family:$fontFamilyRegular;
        }

         .chartContainer {
            top:83px;
            @include calc("height", "100% - 112px");
         }
    }



    &:hover, &.hover {
        border: 1px solid $TPGrey9;
        z-index: 2;
        .chartButtons {
            display: block;
            z-index:2;
        }
    }

    &.menuOpen {
        border: 1px solid $TPGrey9;

        .chartButtons
        {
            display: block;
        }

        &.fullScreen {
            background-color: $TPGrey1;
            border: 1px solid transparent;
        }
    }

    &.ui-draggable-dragging
    {
        background-color: #e4e2e3;
        border: 1px solid $TPGrey11;
    }

    .chartContainer
    {
        margin: 0px 0px 0px 0px;
        position: absolute;
        top: 62px;
        left: 29px;

        @include calc("width", "100% - 58px");
        @include calc("height", "100% - 91px");
        &.invisible
        {
            visibility:hidden;
        }

        .legend {
            table tr.even, 
            table tr.alt, 
            table tr:nth-of-type(even) {
                background:none;
            }
            table {
                background:none;
                border:none;
            }
        }
    }



    .chartButtons
    {
        display:none;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 100px;

        .settings, .expand, .close, .collapse
        {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 0px;
        }

        .settings
        {
            width: 11px;
            right: 43px;
            background: transparent no-repeat 0 0;
            @extend %chartIconsSpriteBG;
            cursor:pointer;

            &:hover {
                background-position: 0 -17px;
            }

            &:active {
                background-position: 0 -17px;
            }
        }

        .expand
        {
            right: 21px;
            background: transparent no-repeat -17px 0;
            @extend %chartIconsSpriteBG;
            cursor:pointer;

            &:hover {
                background-position: -17px -17px;
            }

            &:active {
                background-position: -17px -17px;
            }
        }

        .collapse 
        {
            display: none;
            right: 0px;
            cursor: pointer;
            background: transparent no-repeat -34px 0;
            @extend %chartIconsSpriteBG;

            &:hover {
                background-position: -34px -17px;
            }

            &:active {
                background-position: -34px 0px;
            }

        }

        .close
        {
            right: 0px;
            background: transparent no-repeat -51px 0;
            @extend %chartIconsSpriteBG;
            cursor:pointer;

            &:hover {
                background-position: -51px -17px;
            }

            &:active {
                background-position: -51px 0;
            }
        }
    }

    .noDataMessage
    {
        display: none;
    }

    &.noData
    {
        border:1px solid $white;
        color:$TPGrey12;

        .chartContainer
        {
            display: none;
        }
       
        &:hover {
            border: 1px solid $TPGrey9;
        }
        
        &.menuOpen {
            border: 1px solid $TPGrey9;
        }
    }

    &.expanded
    {
        .chartButtons
        {
            .collapse
            {
                display: block;
            }

            .expand
            {
                display: none;
            }

            .close
            {
                display: none;
            }

            .settings
            {
                right: 21px;
            }
        }
    }

    /* general dashboard chart sizing */
    &:not(.fullScreen) {
        width: 390px;
        height: 390px;

        &.pmcChart {
            width: 790px;
            .chartContainer {
            
            }
        }

        &.workoutSummaryChart {
            .chartContainer {
                .yaxisLabel {
                    &.right {
                        right:-36px;
                    }
                }
            }
        }
    }

    // jquery ui adds some opacity to disabled drag state
    &.ui-state-disabled
    {
        opacity: 1;
    }
}

.pmcWorkoutsList {
    // max-width: 266px;
    width: 198px;

    ul {
        list-style:none;

        li {
            margin-bottom: 5px !important;
        }
    }

    h6 {
        font-family: $fontFamilyHeavy;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
        font-weight: normal;
    }
    .workoutDiv {
        border:1px solid #cccccc;

        &:hover {
            border: 1px solid $TPGrey11;
        }

        .workoutHeader {
            height: 31px;
        }

        .workoutBody {
            line-height: 1;
        }

        .workoutIcon {
            z-index: 1;
            line-height: 1;
        }

        .workoutDistanceTime {
            padding: 13px 0px 0px 30px !important;
        }

        .workoutLabel {
            .workoutTime {
                font-family:$fontFamilyRegular;
            }
        }
    }
}

.dashboardChartSettings
{
     max-width: 350px;
    
     h4 {
        font-weight: normal;
        font-family:$fontFamilyRegular;
        font-size:$fontSizeSmall;
        margin-bottom:5px;
     }

    .workoutTypes
    {
        // min-width: 330px;
    }    

    .workoutType
    {
        float: left;
        width: 33%;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
        height: 23px;
    }

    &.left
    {
        .arrow
        {
            position:absolute;
            top: 31px;
            right: -8px;
        }
    }

    &.right
    {
        .arrow
        {
            position:absolute;
            top: 31px;
            left: -37px;
        }
    }

    .hoverBox {
        .hoverBoxContents {
             overflow:visible;

             .closeIcon {
                top: 5px;
                right: 0;
             }
        }
        .mainShadow {
            bottom: 0px;
        }
    }

    .details
    {
        margin: 12px 0 9px 0;
        color: $TPGrey3;

        h3:nth-of-type(2) {
            margin-top:10px; 
        }

        @include buttons(0, 50px, $fontSizeSmall);
        button.apply {
            margin-top:10px;
            float: right;
        }

        label {
            margin-top:5px;
        }

        input[type="checkbox"] {
            margin-bottom:0;
        }

        input[type="text"] {
            height:22px;
        }
    }
    
    .workoutType
    {
        float: left;
        width: 33%;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
        height: 23px;
    }
}


.fitnessSummartChart
{
    font-size: $fontSizeXSmall;
    font-family: $fontFamilyRegular;
    text-align: center;
    padding: 2px;
    color: #ffffff;
}

#libraryContainer {
    #activeLibraryContainer {
        .chartTile {
            @include libraryTile();

            margin:0 0 5px 2px;
            padding:3px 3px 2px 3px;

            .chartTileIcon {
                width: 25px;
                height: 25px;
                float: left;
                background: $TPGrey2 no-repeat 0 -25px;
                @extend %troughIconSpriteBG;
            }

            // Performance Manager
            &.chartType-32 {
                .chartTileIcon {
                    background-position: 0 -125px;
                }
            }

            // TSS by Week/Day
            &.chartType-23 {
                .chartTileIcon {
                    background-position: 0 -75px;
                }
            }

            // Fitness Summary/Pie
            &.chartType-3 {
                .chartTileIcon {
                    background-position: 0 -150px;
                }
            }

            // Peaks
            &.chartType-8,
            &.chartType-28,
            &.chartType-29,
            &.chartType-30,
            &.chartType-31,
            &.chartType-36 {
                .chartTileIcon {
                    background-position: 0 -100px;
                }
            }

            // Time in Zones/Bar
            &.chartType-17,
            &.chartType-24,
            &.chartType-26 {
                .chartTileIcon {
                    background-position: 0 -25px;
                }
            }

            // Metrics
            &.chartType-13 {
                .chartTileIcon {
                    background-position: 0 -175px;
                }
            }

            // Time in Zones by Week/Stacked Bar
            &.chartType-18,
            &.chartType-25,
            &.chartType-27 {
                .chartTileIcon {
                    background-position: 0 -50px;
                }
            }

            .chartTileName {
                font-size: $fontSizeSmaller;
                font-family: $fontFamilyHeavy;
                font-weight:normal;
                color:$TPGrey4;
                margin-left:3px;
                float:left;
                margin:7px 6px;
            }   

            &.selected {
                border:1px solid #0043ff;
                background-color:#bcd1eb;
                opacity:0.5;
            }
        }
        .dashboardChartsLibrary {
            .librarySearch {
                margin-top:16px !important;
            }
        }
    }
}

.timeInZonesChartSettings {
    width:325px;

    .workoutTypesRegion {
        border-bottom: 1px solid $TPGrey6;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .selectboxit-options {
        width: 301px;
    }
    .selectboxit-container .selectboxit {
        width: 301px !important; /* Width of the dropdown button */
    }
}

.fitnessSummaryChartSettings {
    width:302px;
    
    .datepickerContainer {
        border-bottom: 1px solid $TPGrey6;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .selectboxit-options {
        width: 278px;
    }
    .selectboxit-container .selectboxit {
        width: 278px !important; /* Width of the dropdown button */
    }
}

.peaksChartSettings {
    width:325px;

    .workoutTypesRegion,
    .dashboardDatePicker {
        border-bottom: 1px solid $TPGrey6;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .comparisonDateOptionsRegion {
        .dashboardDatePicker {
            border-bottom: none;
            padding-bottom:0;
            margin-bottom:0;
        }
    }

    .selectboxit-options {
        width: 301px;
    }
    .selectboxit-container .selectboxit {
        width: 301px !important; /* Width of the dropdown button */
    }
}

.metricsChartSettings {
    width:302px;

    .selectboxit-options {
        width: 278px;
    }
    .selectboxit-container .selectboxit {
        width: 278px !important; /* Width of the dropdown button */
    }

    .metricSelection {
        border-bottom: 1px solid $TPGrey6;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}


.workoutSummaryChartSettings {
    width:325px;

    .workoutTypesRegion {
        border-bottom: 1px solid $TPGrey6;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .selectboxit-options {
        width: 301px;
    }
    .selectboxit-container .selectboxit {
        width: 301px !important; /* Width of the dropdown button */
    }

    .weekDaySelect label {
        float:left;
    }

    .weekDaySelect label:nth-of-type(2) {
        margin-left:20px;
    }

    .weekDaySelect input[type="radio"] {
        margin:0;
    }

    input[type="checkbox"] {
        margin-top:5px;
    }
}

.chartTile{
    @include libraryTile();
    margin:0 0 5px 0;
    padding:3px 3px 2px 3px;

    .chartTileIcon {
        width: 25px;
        height: 25px;
        float: left;
        background: $TPGrey1 no-repeat 0 -25px;
        @extend %troughIconSpriteBG;
        background-color: $TPGrey2;
    }

    .chartTileName {
        font-size: $fontSizeSmaller;
        font-family: $fontFamilyHeavy;
        font-weight:normal;
        color:$TPGrey4;
        margin-left:3px;
        float:left;
        margin:7px 6px;
    }
    
    &.ui-draggable-dragging {
        border:1px solid #0043ff;
        background-color:#bcd1eb;
        opacity:0.5;
    }
}

.podTile {
    @include libraryTile();
    margin:0 0 5px 0;
    padding:3px 3px 2px 3px;

    .podTileIcon {
        width: 25px;
        height: 25px;
        float: left;
    }

    // graph
    &.expandoPodType-152 {
        .podTileIcon {
            @extend %troughIconSpriteBG;
            background: $TPGrey2 no-repeat 0 -200px;
        }
    }

    // laps & splits
    &.expandoPodType-108 {
        .podTileIcon {
            background: $TPGrey2 no-repeat 0 -300px;
            @extend %troughIconSpriteBG;
        }
    }

    // laps & splits column
    &.expandoPodType-1081 {
        .podTileIcon {
            background: $TPGrey2 no-repeat 0 -275px;
            @extend %troughIconSpriteBG;
        }
    }

    // map
    &.expandoPodType-153 {
        .podTileIcon {
            background: $TPGrey2 no-repeat 0 -250px;
            @extend %troughIconSpriteBG;
        }
    }

    // peaks
    &.expandoPodType-118,
    &.expandoPodType-111,
    &.expandoPodType-119  {
        .podTileIcon {
            background: $TPGrey2 no-repeat 0 -100px;
            @extend %troughIconSpriteBG;
        }
    }

    // scatter
    &.expandoPodType-156 {
        .podTileIcon {
            background: $TPGrey2 no-repeat 0 -225px;
            @extend %troughIconSpriteBG;
        }
    }

    // time in zones
    &.expandoPodType-102,
    &.expandoPodType-101,
    &.expandoPodType-122  {
        .podTileIcon {
            background: $TPGrey2 no-repeat 0 -25px;
            @extend %troughIconSpriteBG;
        }
    }

    .podTileName {
        font-size: $fontSizeSmaller;
        font-family: $fontFamilyHeavy;
        font-weight:normal;
        color:$TPGrey4;
        margin-left:3px;
        float:left;
        margin:7px 6px;
    }
    
    &.ui-draggable-dragging {
        border:1px solid #0043ff;
        background-color:#bcd1eb;
        opacity:0.5;
    }
}
