$chartIconsSpriteURL: url(../../assets/images/charts/sprite-buttons-chart-modal.png);
$chartIconsSpriteRetinaURL: url(../../assets/images/charts/sprite-buttons-chart-modal@2x.png);


.dashboardDatePicker
{
    .selectboxit-container
    {
        width: 220px !important;

        /*    
        span 
        {
            height: 22px;
            font-size: 13px;
        }
        */

        .selectboxit
        {
            width: 220px !important;
            height: 22px;
        }
    }

    /*
    .selectboxit-option
    {
        font-size: 12px;
    }
    */
    select#dateOptions
    {
        width: 220px !important;
    }


    .dateRanges
    {
        height: 35px;
        padding: 10px 0;

        div
        {
            padding-top: 6px;
        }

        .fromTo
        {
            padding: 2px 15px 0 0 ;
            height: 25px;
            float: left;
        }

        .to
        {
            padding-left: 15px;
        }

    }

    .datePicker
    {
        width: 75px;
        height: 20px;
    }

    .date
    {
        width: 75px;
        float: left;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
    }

    input[type=text]
    {
        width: 90px;
        height: 22px;
        float: left;
    }

    .dateOptionsWrapper
    {
        height: 25px;
    }
}

#dashboardContainer
{
    .scrollHeader
    {
        @include box-shadow(0px 3px 8px -4px $TPGrey3);
    }
}

#chartsContainer
{
    min-width: 1007px;
    position: relative;

    padding-top: 10px;
}

#dashboardHeader
{
    .datepickerContainer
    {
        float: left;
        margin-left: 10px;

        .selectRange
        {
            display: none;
        }

        .dateOptionsWrapper
        {
            display: inline-block;
            float: left;
        }

        .dateRanges
        {
            float: left;
            margin-left: 15px;
            padding-top: 0px;
        }
    }

    .buttons
    {
        float: left;
        margin-left: 15px;

        .applyDates
        {
            min-width: 60px;
        }
    }
}

.title
{
    font-family: $fontFamilyHeavy;
    font-size: $fontSizeSmall;
    color: $TPGrey3;
    margin-bottom: 5px;
}

.dashboardChart
{
    /*
    float: left;
    position: relative;
    margin: 10px;
    */

    position: absolute; 
    padding: 15px;

    border: 1px solid transparent;
    cursor: pointer;

    &.fullScreen
    {
        position: absolute;
        height: auto;
        width: auto;
        background-color: $TPGrey1;
        z-index: 200;
    }

    &:hover
    {
        background-color: #e4e2e3;
        border: 1px solid $TPGrey11;

        .chartButtons
        {
            display: block;
        }
    }

    &.menuOpen
    {
        background-color: #e4e2e3;
        border: 1px solid $TPGrey11;

        .chartButtons
        {
            display: block;
        }
    }

    .chartContainer
    {
        margin: 0px 0px 0px 0px;
        position: absolute;
        top: 53px;
        left: 50px;
        @include calc("width", "100% - 90px");
        @include calc("height", "100% - 100px");
    }

    .chartTitle
    {
        margin-left: 10px;
        font-size: 14px;
    }

    .xaxisLabel
    {
        top: 370px;
        left: calc(50% - 30px);
    }

    .yaxisLabel
    {
        margin-top: 150px;
        margin-left: -40px;
        font-size: 10px;

        &.pmc
        {
            text-transform: none;

            &.tsb
            {
                position: absolute;
                right: -25px;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                color: #FFA500;
            }
            &.tssd
            {
                color: #3399ff;
            }
        }
    }

    .chartButtons
    {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 100px;

        div
        {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 0px;
        }

        .settings
        {
            width: 11px;
            right: 43px;
            background: transparent $chartIconsSpriteURL no-repeat 0 0;
            cursor:pointer;

            &:hover {
                background-position: 0 -17px;
            }

            &:active {
                background-position: 0 -17px;
            }
        }

        .expand
        {
            right: 21px;
            background: transparent $chartIconsSpriteURL no-repeat -17px 0;
            cursor:pointer;

            &:hover {
                background-position: -17px -17px;
            }

            &:active {
                background-position: -17px -17px;
            }
        }

        .collapse 
        {
            display: none;
            right: 21px;
            cursor: pointer;
            background: transparent $chartIconsSpriteURL no-repeat -34px 0;

            &:hover {
                background-position: -34px -17px;
            }

            &:active {
                background-position: -34px 0px;
            }

        }

        .close
        {
            right: 0px;
            background: transparent $chartIconsSpriteURL no-repeat -51px 0;
            cursor:pointer;

            &:hover {
                background-position: -51px -17px;
            }

            &:active {
                background-position: -51px 0;
            }
        }

		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
			.settings, .expand, .close, .collapse {
				background-image: $chartIconsSpriteRetinaURL;
				background-size: 68px 34px;
			}
		}
    }

    &.expanded
    {
        .chartButtons
        {
            .collapse
            {
                display: block;
            }

            .expand
            {
                display: none;
            }
        }
    }

    /* general dashboard chart sizing */
    &:not(.fullScreen)
    {

        width: 400px;
        height: 400px;

        &[data-sizex="1"] { width: 400px; }
        &[data-sizex="2"] { width: 810px; }
        &[data-sizex="3"] { width: 1220px; }
        &[data-sizex="4"] { width: 1630px; }    


        /*
        transition-property: top, left;
        transition-duration: 0.25s;
        transition-delay: 0s;
        */

        /* Grid rows and columns */
        &[data-col="1"] { left: 10px; }
        &[data-col="2"] { left: 420px; }
        &[data-col="3"] { left: 830px; }
        &[data-col="4"] { left: 1240px; }
        &[data-col="5"] { left: 1650px; }

        &[data-row="1"] { top: 10px; }
        &[data-row="2"] { top: 420px; }
        &[data-row="3"] { top: 830px; }
        &[data-row="4"] { top: 1240px; }
        &[data-row="5"] { top: 1650px; }
        &[data-row="6"] { top: 2060px; }
        &[data-row="7"] { top: 2470px; }
        &[data-row="8"] { top: 2880px; }
        &[data-row="9"] { top: 3290px; }
        &[data-row="10"] { top: 3700px; }
        &[data-row="11"] { top: 4110px; }
        &[data-row="12"] { top: 4520px; }
        &[data-row="13"] { top: 4930px; }
        &[data-row="14"] { top: 5340px; }
    }
}

.dashboardChartSettings
{
    &.left
    {
        .arrow
        {
            position:absolute;
            top: 35px;
            right: -8px;
        }
    }

    &.right
    {
        .arrow
        {
            position:absolute;
            top: 35px;
            left: -37px;
        }
    }

    .hoverBox
    {
        .mainShadow
        {
            bottom: 0px;
        }
    }

}
