$chartIconsSpriteURL: url(../../assets/images/charts/sprite-buttons-chart-modal.png);
$chartIconsSpriteRetinaURL: url(../../assets/images/charts/sprite-buttons-chart-modal@2x.png);

#dashboardContainer
{
    .scrollHeader
    {
        @include box-shadow(0px 3px 8px -4px $TPGrey3);
    }
}

#chartsContainer
{
    min-width: 1007px;
}

.dashboardChart
{
    float: left;
    position: relative;
    margin: 10px;
    padding: 15px;
    min-width: 400px;
    min-height: 400px;
    border: 1px solid transparent;

    &.doubleWide
    {
        min-width: 800px;
    }

    &:hover
    {
        background-color: $TPGrey2;
        border: 1px solid $TPGrey11;

        .chartButtons
        {
            display: block;
        }
    }

    &.menuOpen
    {
        background-color: $TPGrey2;
        border: 1px solid $TPGrey11;

        .chartButtons
        {
            display: block;
        }
    }

    .chartContainer
    {
        margin: 0px 0px 0px 0px;
        position: absolute;
        top: 53px;
        left: 50px;
        width: 310px;
        height: 300px;

        &.doubleWide
        {
            width: 710px;
        }
    }

    .chartTitle
    {
        margin-left: 10px;
    }

    .xaxisLabel
    {
        top: 370px;
        left: calc(50% - 30px);
    }

    .yaxisLabel
    {
        margin-top: 150px;
        margin-left: -40px;

        &.pmc
        {
            text-transform: none;

            &.tss
            {
                position: absolute;
                right: -25px;
            }
        }
    }

    .chartButtons
    {
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 100px;

        div
        {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 0px;
        }

        .settings
        {
            width: 16px;
            right: 36px;
            background: transparent $chartIconsSpriteURL no-repeat 0 0;
            cursor:pointer;

            &:hover {
                background-position: 0 -17px;
            }

            &:active {
                background-position: 0 -17px;
            }
        }

        .expand
        {
            right: 16px;
            background: transparent $chartIconsSpriteURL no-repeat -17px 0;
            cursor:pointer;

            &:hover {
                background-position: -17px -17px;
            }

            &:active {
                background-position: -17px -17px;
            }
        }

        .close
        {
            right: 0px;
            background: transparent $chartIconsSpriteURL no-repeat -34px 0;
            cursor:pointer;

            &:hover {
                background-position: -34px -17px;
            }

            &:active {
                background-position: -34px -17px;
            }
        }

		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
			.settings, .expand, .close {
				background-image: $chartIconsSpriteRetinaURL;
				background-size: 68px 34px;
			}
		}
    }
}
