@import "globalCSS/tpstylesheet";


.pmcChartSettings
{
    width: 400px;
    height: 500px;

    .hoverBoxContents
    {
        height: 500px;

    }

    .workoutType
    {
        float: left;
        width: 33%;
    }
}