@import "globalCSS/tpstylesheet";


.pmcChartSettings {
    width:325px;
    top: 10px;

    div
    {
        font-family: $fontFamilyRegular;
    }

    .LearnMore {
        p {
            margin-bottom:10px;
            padding-bottom:0;
            line-height:1;
        }
    }

    .hoverBoxContents
    {
        // min-height: 460px;
    }

    .title
    {
        font-family: $fontFamilyHeavy;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
        line-height: $fontSizeXXLarge;
        margin-bottom: 5px;
    }

    .workoutTypes {
        min-width:inherit;
    }

    .workoutTypesRegion,
    .selectParameters {
        border-top: 1px solid $TPGrey6;
        padding-top: 10px;
        margin-top: 10px;
    }

    select {
        width: 301px;
    }

    input[type=number] 
    {
        outline: none;
        padding: 0 0 0 5px;
        margin: 5px 0px;
        width: 50px;
        height: 22px;
        float:right;

        &:focus
        {
           outline:none;
        } 
    }

    .ui-spinner
    {
        border-radius: 0px;
        margin-left: 20px;
    }

    .numberInput
    {
        float: left;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
    }

    .checkboxInput
    {
        float: left;
        width: 50%;
        height: 23px;
        color: $TPGrey3;
        &.right {
            text-align:left;
            padding-left:35px;
        }
    }

    .missingData {
        padding-top: 5px;
        font-size: $fontSizeSmall;
        color: $TPGrey3;
        text-align: center;

        button {
            margin:0 0 10px 15px;
            width: 213px;
        }
    }

    .workoutTypes,
    .selectParameters {
        border-bottom: 1px solid $TPGrey6;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .numberInputLabel {
        display: inline-block;
        float: left;
        margin-right: 5px;
        margin-top: 10px;
        width: 85px;
    }

    .numberInput {
        &.start {
            margin-left:10px;
            float:right;

            .numberInputLabel {
                width:60px;
            }
        }
    }
}

#flotTip
{
    .tooltipRow
    {
        &.TSS
        {
            color: #b90807;
        } 

        &.IF
        {
            color: #3399ff;
        }

        &.TSB
        {
            color: #FFA500;
        }

        &.ATL
        {
            color: #f945d7;
        }

        &.CTL
        {
            color: #38709a;
        }
    }
}
