@import "globalCSS/tpstylesheet";


.pmcChartSettings
{
    width: 400px;
    height: 500px;
    top: 10px;

    .hoverBoxContents
    {
        height: 500px;

    }

    .workoutType
    {
        float: left;
        width: 33%;
    }

    .title
    {
        font-family: $fontFamilyHeavy;
        font-size: $fontSizeSmall;
        color: $TPGrey4;
        padding: 10px 0;
    }
}