
#calendarContainer .thisWeek .dayHeader
{
    background-color: #21346e;
}

#calendarContainer .thisWeek .summaryHeader
{
    background-color: #636569;
}

#calendarContainer .thisWeek .today .dayHeader
{
    background-color: #8e98b5;
}

#calendarContainer .thisWeek .dayHeader .calendarDate
{
    color: #FFFFFF;
}

#userControlsContainer #userControlsBackground
{
    background-color: #21346e;
}

#userControlsContainer #userControlsBackground .personHeaderLogo
{
    background-image: url(rwLogo.png);
}

