<div class="elevationCorrectionContainer">
    
    <div class="titleBar cf">
        <h2 class="modaltitle">{{$ "ElevationCorrection"}}</h2>
        <div id="closeIcon"></div>
    </div>
    
        <div class="elevationContain cf">
            <div class="elevationGraph"/>
            <div class="elevationStats">
                <div class="statsHeader">
                    <span class="original">{{$ "Original"}}</span><span class="corrected">{{$ "Corrected"}}</span>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Min"}}</div>
                    <div class="originalMin original">{{conversion "formatGroundControl" originalMin}}</div>
                    <div class="correctedMin corrected">{{conversion "formatGroundControl" correctedMin}}</div>
                    <div class="units">{{getUnitsLabel "elevation"}}</div>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Avg"}}</div>
                    <div class="originalAvg original">{{conversion "formatGroundControl" originalAvg}}</div>
                    <div class="correctedMin corrected">{{conversion "formatGroundControl" correctedAvg}}</div>
                    <div class="units">{{getUnitsLabel "elevation"}}</div>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Max"}}</div>
                    <div class="originalMax original">{{conversion "formatGroundControl" originalMax}}</div>
                    <div class="correctedMax corrected">{{conversion "formatGroundControl" correctedMax}}</div>
                    <div class="units">{{getUnitsLabel "elevation"}}</div>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Gain"}}</div>
                    <div class="originalGain original">{{conversion "formatGroundControl" originalGain}}</div>
                    <div class="correctedGain corrected">{{conversion "formatGroundControl" correctedGain}}</div>
                    <div class="units">{{getUnitsLabel "elevation"}}</div>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Loss"}}</div>
                    <div class="originalLoss original">{{conversion "formatGroundControl" originalLoss}}</div>
                    <div class="correctedLoss corrected">{{conversion "formatGroundControl" correctedLoss}}</div>
                    <div class="units">{{getUnitsLabel "elevation"}}</div>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Grade"}}</div>
                    <div class="originalGrade original">{{conversion "formatGrade" originalGrade "0.0"}}</div>
                    <div class="correctedGrade corrected">{{conversion "formatGrade" correctedGrade "0.0"}}</div>
                    <div class="units">%</div>
                </div>
            </div>

        </div>

 

    <div class="buttons">
        <button type="submit">Apply</button>
        <button type="reset">Close</button>
    </div>

</div>