<div class="elevationCorrectionContainer">
    
    <div class="titleBar cf">
        <h2>{{$ "ElevationCorrection"}}</h2>
        <div id="closeIcon"></div>
    </div>
    
        <div class="elevationContain cf">
            <div class="elevationGraph waiting"/>
            <div class="elevationStats">
                <div class="statsHeader">
                    <span class="original">{{$ "Original"}}</span><span class="corrected">{{$ "Corrected"}}</span>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Min"}}</div>
                    <div class="originalMin original">{{formatUnitsValue "elevation" originalMin}}</div>
                    <div class="correctedMin corrected">{{formatUnitsValue "elevation" correctedMin}}</div>
                    <div class="units">{{getUnitsLabel "elevation"}}</div>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Avg"}}</div>
                    <div class="originalAvg original">{{formatUnitsValue "elevation" originalAvg}}</div>
                    <div class="correctedAvg corrected">{{formatUnitsValue "elevation" correctedAvg}}</div>
                    <div class="units">{{getUnitsLabel "elevation"}}</div>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Max"}}</div>
                    <div class="originalMax original">{{formatUnitsValue "elevation" originalMax}}</div>
                    <div class="correctedMax corrected">{{formatUnitsValue "elevation" correctedMax}}</div>
                    <div class="units">{{getUnitsLabel "elevation"}}</div>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Gain"}}</div>
                    <div class="originalGain original">{{formatUnitsValue "elevationGain" originalGain}}</div>
                    <div class="correctedGain corrected">{{formatUnitsValue "elevationGain" correctedGain}}</div>
                    <div class="units">{{getUnitsLabel "elevation"}}</div>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Loss"}}</div>
                    <div class="originalLoss original">{{formatUnitsValue "elevationLoss" originalLoss}}</div>
                    <div class="correctedLoss corrected">{{formatUnitsValue "elevationLoss" correctedLoss}}</div>
                    <div class="units">{{getUnitsLabel "elevation"}}</div>
                </div>
                
                <div class="stats">
                    <div class="statsLabel">{{$ "Grade"}}</div>
                    <div class="originalGrade original">{{formatUnitsValue "grade" originalGrade "0.0"}}</div>
                    <div class="correctedGrade corrected">{{formatUnitsValue "grade" correctedGrade "0.0"}}</div>
                    <div class="units">%</div>
                </div>
            </div>

        </div>

 

    <div class="buttons">
        <button type="submit">Apply</button>
        <button type="reset">Close</button>
    </div>

</div>