<div class="graphButtonContain left cf">
	<div class="timeDistButtons">
		<button class="graphTimeButton bold">{{$ "Time"}}</button>
		<button class="graphDistanceButton">{{$ "Dist"}}</button>
	</div>


	<div class="zoomButtons">
		<button class="graphZoomButton">{{$ "Zoom"}}</button>
		<button class="graphResetButton hidden">{{$ "Unzoom"}}</button>
	</div>

	<div class="cutButtons">
		<button class="graphCutButton hidden">{{$ "Cut" }}</button>
	</div>
</div>

<div class="graphSliderContain cf">
	<input type="range" class="slider" name="filterPeriod" title="Smoothing" min="0" max="60" step="5" value="5"/>
</div>

<div class="graphButtonContain cf">
	<div class="seriesButtons">
		<button class="graphSeriesButton graphElevationButton" data-series="Elevation">{{ elevationLabel }}</button>
		<button class="graphSeriesButton graphSpeedButton" data-series="Speed">{{ speedLabel }}</button>
		<button class="graphSeriesButton graphHeartRateButton" data-series="HeartRate">BPM</button>
		<button class="graphSeriesButton graphPowerButton" data-series="Power">W</button>
		<button class="graphSeriesButton graphRightPowerButton" data-series="RightPower">W</button>
		<button class="graphSeriesButton graphTorqueButton" data-series="Torque">FT-LBS</button>
		<button class="graphSeriesButton graphCadenceButton" data-series="Cadence">CAD</button>
		<button class="graphSeriesButton graphTemperatureButton" data-series="Temperature">F</button>
	</div>
</div>