
<div class="graphSliderContain">
	<input type="range" class="slider" name="filterPeriod" title="Smoothing" min="0" max="60" step="5" value="5"/>
</div>


<div class="graphButtonContain cf">
	<div class="seriesButtons">
		<button class="graphSeriesButton graphElevationButton">{{ elevationLabel }}</button>
		<button class="graphSeriesButton graphSpeedButton">{{ speedLabel }}</button>
		<button class="graphSeriesButton graphHeartRateButton">BPM</button>
		<button class="graphSeriesButton graphPowerButton">W</button>
		<button class="graphSeriesButton graphRightPowerButton">W</button>
		<button class="graphSeriesButton graphTorqueButton">FT-LBS</button>
		<button class="graphSeriesButton graphCadenceButton">CAD</button>
		<button class="graphSeriesButton graphTemperatureButton">F</button>
	</div>

	<div class="timeDistButtons">
		<button class="graphTimeButton bold">{{$ "Time"}}</button>
		<button class="graphDistanceButton">{{$ "Dist"}}</button>
	</div>


	<div class="zoomButtons">
		<button class="graphResetButton hidden">{{$ "Unzoom"}}</button>
		<button class="graphZoomButton">{{$ "Zoom"}}</button>
	</div>
</div>