<div class="graphButtonContain left cf">
	<div class="timeDistButtons">
		<button class="time bold">{{$ "Time"}}</button>
		<button class="distance">{{$ "Dist"}}</button>
	</div>


	<div class="zoomButtons">
		<button class="zoom hidden">{{$ "Zoom"}}</button>
		<button class="reset hidden">{{$ "Unzoom"}}</button>
	</div>

	<div class="cutButtons">
		<button class="cut hidden">{{$ "Cut" }}</button>
	</div>
</div>

<div class="graphSliderContain cf">
	<input type="range" class="slider" name="filterPeriod" title="Smoothing" min="0" max="60" step="5" value="5"/>
</div>

<div class="graphButtonContain cf">
	<div class="seriesButtons">
		<button class="cadence" data-title="{{$ "Cadence" }}" data-series="Cadence">{{ cadenceLabel }}</button>
		<button class="elevation" data-title="{{$ "Elevation" }}" data-series="Elevation">{{ elevationLabel }}</button>
		<button class="heartRate" data-title="{{$ "HeartRate" }}" data-series="HeartRate">BPM</button>
		<button class="power" data-title="{{$ "Power" }}" data-series="Power">W</button>
		<button class="rightPower" data-title="{{$ "RightPower" }}" data-series="RightPower">W</button>
		<button class="speed" data-title="{{$ "Speed" }}" data-series="Speed">{{ speedLabel }}</button>
		<button class="temperature" data-title="{{$ "Temperature" }}" data-series="Temperature">{{ tempLabel }}</button>
		<button class="torque" data-title="{{$ "Torque" }}" data-series="Torque">{{ torqueLabel }}</button>
	</div>
</div>
