<div class="controls">
    {{#if selectOptions}}
    <select id="peakType">
        {{#each selectOptions}}
        <option value="{{ value }}"{{#if selected}} selected{{/if}}>{{ label }}</option>
        {{/each}}
    </select>
    {{/if}}


    {{#if workoutData.hasLapsOrPeaks }}
    <button id="uncheck">{{$ "UncheckAll" }}</button>
    {{/if}}

</div>
<div class="rangesList">
    <ul>
    {{#each rangeLaps}}
        <li data-lapindex="{{@index}}" class="lap">
            <input type="checkbox" data-lapindex="{{@index}}"/> <span>{{ name }} ({{ formatTime totalTime}})</span>
        </li>
    {{/each}}
    {{#with rangeTotals}}
        <li class="statsRow totals" id="duration">
            <input type="checkbox"/> <span>{{$ "EntireWorkout" }} ({{ formatTime totalTime }})</span>
        </li>
    {{/with}}
        {{#each rangePeaks}}
        <li data-peakinterval="{{interval}}" data-peaktype="{{peakType}}" class="peaks">
            <input type="checkbox"/> <span>{{$ "Peak" }} {{#if isDistance }}{{ formatPeakDistance interval }}{{ else }}{{ formatPeakTime interval }}{{/if }} ({{ formattedValue }} {{ units }})</span>
        </li>
    {{/each}}
    </ul>
</div>
