{{#ifNot _state.isCut}}
    {{#each lapData}}
        {{#ifEquals key 1}}
            <td class="name">
                <span class="lapName" title="{{$ "ClickToEdit" }}">{{value}}</span>
                <input class="lapName" value="{{ value }}" type="text"/>
                <span class="actions">
                    <i class="delete closeIcon"></i>
                </span>
            </td>
        {{else}}
            <td class="{{key}}">{{value}}</td>
        {{/ifEquals}}
    {{/each}}
{{/ifNot}}