{{#ifNot _state.isCut}}
    <input type="checkbox">

    <div class="lapDescription">
        <span class="lapName"{{#if _state.isLap}} title="{{$ 'ClickToEdit' }}"{{/if}}>{{ name }}</span>
        {{#if _state.isLap}}
        <input class="lapName" value="{{ name }}" type="text"/>
        {{/if}}
        <span class="">{{#if totalTime }} ({{ formatTimeToHundredths totalTime}}){{/if}}</span>
    </div>

    {{#if _state.isLap}}
      <span class="actions">
        <i class="delete closeIcon"></i>
      </span>
    {{/if}}
    {{#if _state.temporary}}
      <span class="actions">
        <span class="add">Add</span>
      </span>
    {{/if}}

{{/ifNot}}
