{{#ifNot isCut}}
    <input type="checkbox">
    {{#if isLap}}
      <span class="actions">
        <i class="delete closeIcon"></i>
      </span>
    {{/if}}
    <div class="lapDescription">
        <span class="editLapName" {{#if isLap}}title="{{$ 'ClickToEdit' }}"{{/if}}>{{ name }}</span>
        <span class="">{{#if totalTime }} ({{ formatTimeToHundredths totalTime}}){{/if}}</span>
    </div>
    {{#if temporary}}
      <span class="actions">
        <span class="add">Add</span>
      </span>
    {{/if}}
{{/ifNot}}
