{{#ifNot _state.isCut}}
    <input type="checkbox">

    <div class="lapDescription">
        {{#if _state.isLap}}
          <span class="lapName"><span title="{{$ 'ClickToEdit' }}">{{ name }}</span></span>
        {{else}}
          <span class="lapName">{{ name }}
            {{#if _state.temporary}}
              <span class="add">Add</span>
            {{/if}}
          </span>
        {{/if}}

        {{#if _state.isLap}}
          <input class="lapName" value="{{ name }}" type="text"/>
        {{/if}}

        {{#ifAny _state.isLap _state.temporary _state.isTotal}}
          <span class="lapTime">{{#if totalTime }} {{ formatTimeToHundredths totalTime}}{{/if}}</span>
        {{else}}
          <span class="lapTime">{{#if formattedValue }} {{ formattedValue }}{{/if}}{{#if formattedUnits}} <span class="units">{{ formattedUnits }}</span>{{/if}}</span>
        {{/ifAny}}
    </div>

    {{#if _state.isLap}}
      <span class="actions">
        <i class="delete closeIcon"></i>
      </span>
    {{/if}}
    
{{/ifNot}}
