<div class="graphButtonContain left cf">
  <label>X Axis</label>
  <div class="seriesButtons">
    <button class="graphSeriesButton graphCadenceButton" data-series="Cadence">CAD</button>
    <button class="graphSeriesButton graphDistanceButton" data-series="Distance">{{$ "Dist"}}</button>
    <button class="graphSeriesButton graphElevationButton" data-series="Elevation">{{ elevationLabel }}</button>
    <button class="graphSeriesButton graphSpeedButton" data-series="Speed">{{ speedLabel }}</button>
    <button class="graphSeriesButton graphHeartRateButton" data-series="HeartRate">BPM</button>
    <button class="graphSeriesButton graphPowerButton" data-series="Power">W</button>
    <button class="graphSeriesButton graphRightPowerButton" data-series="RightPower">W</button>
    <button class="graphSeriesButton graphTorqueButton" data-series="Torque">FT-LBS</button>
    <button class="graphSeriesButton graphTimeButton">{{$ "Time"}}</button>
    <button class="graphSeriesButton graphTemperatureButton" data-series="Temperature">F</button>
  </div>
</div>

<div class="graphButtonContain cf">
  <label>Y Axis</label>
  <div class="seriesButtons">
    <button class="graphSeriesButton graphCadenceButton" data-series="Cadence">CAD</button>
    <button class="graphSeriesButton graphDistanceButton" data-series="Distance">{{$ "Dist"}}</button>
    <button class="graphSeriesButton graphElevationButton" data-series="Elevation">{{ elevationLabel }}</button>
    <button class="graphSeriesButton graphSpeedButton" data-series="Speed">{{ speedLabel }}</button>
    <button class="graphSeriesButton graphHeartRateButton" data-series="HeartRate">BPM</button>
    <button class="graphSeriesButton graphPowerButton" data-series="Power">W</button>
    <button class="graphSeriesButton graphRightPowerButton" data-series="RightPower">W</button>
    <button class="graphSeriesButton graphTorqueButton" data-series="Torque">FT-LBS</button>
    <button class="graphSeriesButton graphTimeButton">{{$ "Time"}}</button>
    <button class="graphSeriesButton graphTemperatureButton" data-series="Temperature">F</button>
  </div>
</div>