<div class="graphButtonContain left cf">
  <label>X Axis</label>
  <div class="seriesButtons" data-axis="x">
    <button class="cadence seriesDisabled" data-series="Cadence" title="{{$ "Cadence" }}">{{cadenceLabel}}</button>
    <button class="distance seriesDisabled" data-series="Distance" title="{{$ "Distance" }}">{{$ "Dist"}}</button>
    <button class="elevation seriesDisabled" data-series="Elevation" title="{{$ "Elevation" }}">{{ elevationLabel }}</button>
    <button class="heartRate seriesDisabled" data-series="HeartRate" title="{{$ "HeartRate" }}">BPM</button>
    <button class="power seriesDisabled" data-series="Power" title="{{$ "Power" }}">W</button>
    <button class="rightPower seriesDisabled" data-series="RightPower" title="{{$ "Power Balance" }}">W</button>
    <button class="speed seriesDisabled" data-series="Speed" title="{{$ "Speed" }}">{{ speedLabel }}</button>
    <button class="temperature seriesDisabled" data-series="Temperature" title="{{$ "Temperature" }}">{{tempLabel}}</button>
    <button class="time seriesDisabled" data-series="Time" title="{{$ "Time" }}">{{$ "Time"}}</button>
    <button class="torque seriesDisabled" data-series="Torque" title="{{$ "Torque" }}">{{torqueLabel}}</button>
  </div>
</div>

<div class="graphButtonContain left cf">
  <label>Y Axis</label>
  <div class="seriesButtons" data-axis="y">
    <button class="cadence seriesDisabled" data-series="Cadence" title="{{$ "Cadence" }}">{{cadenceLabel}}</button>
    <button class="distance seriesDisabled" data-series="Distance" title="{{$ "Distance" }}">{{$ "Dist"}}</button>
    <button class="elevation seriesDisabled" data-series="Elevation" title="{{$ "Elevation" }}">{{ elevationLabel }}</button>
    <button class="heartRate seriesDisabled" data-series="HeartRate" title="{{$ "HeartRate" }}">BPM</button>
    <button class="power seriesDisabled" data-series="Power" title="{{$ "Power" }}">W</button>
    <button class="rightPower seriesDisabled" data-series="RightPower" title="{{$ "Power Balance" }}">W</button>
    <button class="speed seriesDisabled" data-series="Speed" title="{{$ "Speed" }}">{{ speedLabel }}</button>
    <button class="temperature seriesDisabled" data-series="Temperature" title="{{$ "Temperature" }}">{{tempLabel}}</button>
    <button class="time seriesDisabled" data-series="Time" title="{{$ "Time" }}">{{$ "Time"}}</button>
    <button class="torque seriesDisabled" data-series="Torque" title="{{$ "Torque" }}">{{torqueLabel}}</button>
  </div>
</div>