<div class="graphButtonContain left cf">
  <label>X Axis</label>
  <div class="seriesButtons">
    <button class="cadence" data-series="Cadence">CAD</button>
    <button class="distance" data-series="Distance">{{$ "Dist"}}</button>
    <button class="elevation" data-series="Elevation">{{ elevationLabel }}</button>
    <button class="speed" data-series="Speed">{{ speedLabel }}</button>
    <button class="heartRate" data-series="HeartRate">BPM</button>
    <button class="power" data-series="Power">W</button>
    <button class="rightPower" data-series="RightPower">W</button>
    <button class="torque" data-series="Torque">IN-LBS</button>
    <button class="time" data-series="Time">{{$ "Time"}}</button>
    <button class="temperature" data-series="Temperature">F</button>
  </div>
</div>

<div class="graphButtonContain cf">
  <label>Y Axis</label>
  <div class="seriesButtons">
    <button class="cadence" data-series="Cadence">CAD</button>
    <button class="distance" data-series="Distance">{{$ "Dist"}}</button>
    <button class="elevation" data-series="Elevation">{{ elevationLabel }}</button>
    <button class="speed" data-series="Speed">{{ speedLabel }}</button>
    <button class="heartRate" data-series="HeartRate">BPM</button>
    <button class="power" data-series="Power">W</button>
    <button class="rightPower" data-series="RightPower">W</button>
    <button class="torque" data-series="Torque">IN-LBS</button>
    <button class="time" data-series="Time">{{$ "Time"}}</button>
    <button class="temperature" data-series="Temperature">F</button>
  </div>
</div>