
<div class="recalcStatsMessage"><p>{{$ "StatsViewPlaceholder" }}</p></div>

<div class="statsContainer">
    <div class="rangeTitle">{{ name }}</div>

    <div class="shadow"></div>

    <div class="contents statisticsSummary">

        <div class="mainStatContain">
            {{#ifHasKey "totalTime" this}}
            <div class="mainStat" id="duration">
                <label class="mainStatTitle">{{$ "Duration" }}</label>

                {{#if movingTime}}
                    {{#if hasStoppedTime }}
                    <span class="value movingTime">{{ formatTimeToHundredths movingTime }}</span>
                    <span class="units totalTime">({{ formatTime totalTime }})</span>
                    {{ else }}
                    <span class="value movingTime">{{ formatTimeToHundredths movingTime }}</span>
                    {{/if}}
                {{ else }}
                    <span class="value movingTime">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "distance" this }}
            <div class="mainStat" id="distance">
                <label class="mainStatTitle">{{$ "Distance" }}</label>
                <span class="value">{{ formatUnitsValue "distance" distance this "--" }}</span>
                <span class="units">{{ getUnitsLabel "distance" workoutTypeValueId }}</span>
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "trainingStressScoreActual" this }}
            <div class="mainStat" id="tss">
                <label class="mainStatTitle">{{ getUnitsLabel "tss" workoutTypeValueId this }}</label>
                {{#if trainingStressScoreActual }}
                <span class="value">{{ formatUnitsValue "tss" trainingStressScoreActual this "--"}}</span>
                <span class="units"></span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}
        </div>





        <div class="subStats">
            {{#ifHasKey "energy" this }}
            <div class="statsRow" id="energy">
                <label>{{$ "Work" }}</label>
                {{#if energy }}
                <span class="value">{{ formatUnitsValue "energy" energy this "--"}}</span>
                <span class="units">{{ getUnitsLabel "energy" }}</span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "normalizedSpeedActual" this }}
            <div class="statsRow" id="ngp">
                <label>{{$ "NGP" }}</label>
                {{#if normalizedSpeedActual }}
                <span class="value">{{ formatUnitsValue "pace" normalizedSpeedActual this "--"}}</span>
                <span class="units">{{ getUnitsLabel "pace" workoutTypeValueId }}</span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "intensityFactorActual" this }}
            <div class="statsRow" id="if">
                <label>{{$ "IF" }}</label>
                {{#if intensityFactorActual }}
                <span class="value">{{ formatUnitsValue "if" intensityFactorActual }}</span>
                <span class="units"></span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "normalizedPowerActual" this }}
            <div class="statsRow" id="normalizedPower">
                <label>{{$ "NP" }}</label>
                {{#if normalizedPowerActual }}
                <span class="value">{{ formatUnitsValue "power" normalizedPowerActual }}</span>
                <span class="units">{{ getUnitsLabel "power" }}</span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "vi" this }}
            <div class="statsRow" id="vi">
                <label>{{$ "VI" }}</label>
                {{#if vi }}
                <span class="value">{{ formatUnitsValue "number" vi }}</span>
                <span class="units"></span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

            {{#ifWorkoutType workoutTypeValueId "Bike" "Mountain Bike" "Rowing" }}
                {{#ifHasKey "powerPulseDecoupling" this }}
                <div class="statsRow" id="powerPulseDecoupling">
                    <label>{{$ "pwhr" }}</label>
                    {{#if powerPulseDecoupling }}
                    <span class="value">{{ formatUnitsValue "powerPulseDecoupling" powerPulseDecoupling }}%</span>
                    <span class="units"></span>
                    {{ else }}
                    <span class="value">--</span>
                    {{/if}}
                </div>
                {{/ifHasKey}}
            {{/ifWorkoutType }}


            {{#ifWorkoutType workoutTypeValueId "Run" "Walk" "Other" "Swim" }}
                {{#ifHasKey "speedPulseDecoupling" this }}
                <div class="statsRow" id="speedPulseDecoupling">
                    <label>{{$ "pahr" }}</label>
                    {{#if speedPulseDecoupling }}
                    <span class="value">{{ formatUnitsValue "speedPulseDecoupling" speedPulseDecoupling }}%</span>
                    <span class="units"></span>
                    {{ else }}
                    <span class="value">--</span>
                    {{/if}}
                    </div>
                {{/ifHasKey}}
            {{/ifWorkoutType}}

            {{#ifHasKey "efficiencyFactor" this }}
            <div class="statsRow" id="efficiencyFactor">
                <label>{{$ "EF" }}</label>
                {{#if efficiencyFactor }}
                <span class="value">{{ formatUnitsValue "efficiencyFactor" efficiencyFactor this }}</span>
                <span class="units"></span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "powerBalanceLeft" this }}
            <div class="statsRow" id="powerBalance">
                <label>{{$ "PowerBalance" }}</label>
                {{#if powerBalanceLeft }}
                <span class="value">{{ formatUnitsValue "decimalAsPercent" powerBalanceLeft }}/{{ formatUnitsValue "decimalAsPercent" powerBalanceRight }}%</span>
                <span class="units"></span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}


            {{#ifHasKey "elevationGain" this }}
            <div class="statsRow" id="elevationGain">
                <label>{{$ "EGain" }}</label>
                {{#if elevationGain}}
                <span class="value">{{ formatUnitsValue "elevationGain" elevationGain }}</span>
                <span class="units">{{ getUnitsLabel "elevation" }}</span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "grade" this }}
            <div class="statsRow" id="grade">
                <label>{{$ "Grade" }}</label>
                {{#ifHasNonZeroValue "grade" grade this }}
                <span class="value">{{ formatUnitsValue "grade" grade }}%</span>
                <span class="units"></span>
                {{ else }}
                <span class="value">--</span>
                {{/ifHasNonZeroValue}}
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "elevationLoss" this }}
            <div class="statsRow" id="elevationLoss">
                <label>{{$ "ELoss" }}</label>
                {{#if elevationLoss}}
                <span class="value">{{ formatUnitsValue "elevationLoss" elevationLoss }}</span>
                <span class="units">{{ getUnitsLabel "elevation" }}</span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "vam" this }}
            <div class="statsRow" id="vam">
                <label>{{$ "VAM" }}</label>
                {{#if vam }}
                <span class="value">{{ formatUnitsValue "integer" vam }}</span>
                <span class="units">{{ getUnitsLabel "vam" }}</span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "wattsPerKg" this }}
            <div class="statsRow" id="wattsPerKg">
                <label>{{$ "WKg" }}</label>
                {{#if wattsPerKg }}
                <span class="value">{{ formatUnitsValue "number" wattsPerKg }}</span>
                <span class="units"></span>
                {{ else }}
                <span class="value">--</span>
                {{/if}}
            </div>
            {{/ifHasKey}}

        </div>







        {{#if minMaxAvg }}
        <div class="minMaxAvg">

            <div class="minMaxAvgRow minMaxAvgHeaders">
                <span></span>
                <label>{{$ "Min" }}</label>

                <label>{{$ "Avg" }}</label>

                <label>{{$ "Max" }}</label>
            </div>

            {{#ifHasKey "minMaxPower" this }}
            <div class="minMaxAvgRow statsRow" id="minMaxPower">
                <label>{{$ "Power" }}</label>
                <span class="value">{{ formatUnitsValue "power" minimumPower this "--"}}</span>

                <span class="value">{{ formatUnitsValue "power" averagePower this "--"}}</span>

                <span class="value">{{ formatUnitsValue "power" maximumPower this "--"}}</span>
                <span class="units">{{ getUnitsLabel "power" }}</span>
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "minMaxHeartRate" this }}
            <div class="minMaxAvgRow statsRow" id="minMaxHeartRate">
                <label>{{$ "HeartRate" }}</label>
                <span class="value">{{ formatUnitsValue "heartrate" minimumHeartRate this "--" }}</span>

                <span class="value">{{ formatUnitsValue "heartrate" averageHeartRate this "--" }}</span>

                <span class="value">{{ formatUnitsValue "heartrate" maximumHeartRate this "--" }}</span>
                <span class="units">{{ getUnitsLabel "heartrate" }}</span>
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "minMaxCadence" this }}
            <div class="minMaxAvgRow statsRow" id="minMaxCadence">
                <label>{{$ "Cadence" }}</label>
                <span class="value">{{ formatUnitsValue "cadence" minimumCadence this "--" }}</span>

                <span class="value">{{ formatUnitsValue "cadence" averageCadence this "--" }}</span>

                <span class="value">{{ formatUnitsValue "cadence" maximumCadence this "--" }}</span>
                <span class="units">{{ getUnitsLabel "cadence" }}</span>
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "minMaxSpeed" this }}
            <div class="minMaxAvgRow statsRow" id="minMaxSpeed">
                <label>{{$ "Speed" }}</label>
                <span class="value">{{ formatUnitsValue "speed" minimumSpeed this "--"}}</span>

                <span class="value">{{ formatUnitsValue "speed" averageSpeed this "--" }}</span>

                <span class="value">{{ formatUnitsValue "speed" maximumSpeed this "--" }}</span>
                <span class="units">{{ getUnitsLabel "speed" workoutTypeValueId }}</span>
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "minMaxSpeed" this }}
            <div class="minMaxAvgRow statsRow" id="minMaxPace">
                <label>{{$ "Pace" }}</label>
                <span class="value">{{ formatUnitsValue "pace" minimumSpeed this "--"}}</span>
                <span class="value">{{ formatUnitsValue "pace" averageSpeed this "--"}}</span>
                <span class="value">{{ formatUnitsValue "pace" maximumSpeed this "--" }}</span>
                <span class="units">{{ getUnitsLabel "pace" workoutTypeValueId }}</span>
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "minMaxElevation" this }}
            <div class="minMaxAvgRow statsRow" id="minMaxElevation">
                <label>{{$ "Elevation" }}</label>
                <span class="value">{{ formatUnitsValue "elevation" minimumElevation this "--"}}</span>
                <span class="value">{{ formatUnitsValue "elevation" averageElevation this "--"}}</span>
                <span class="value">{{ formatUnitsValue "elevation" maximumElevation this "--"}}</span>
                <span class="units">{{ getUnitsLabel "elevation" }}</span>
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "minMaxTemp" this }}
            <div class="minMaxAvgRow statsRow" id="minMaxTemp">
                <label>{{$ "Temperature" }}</label>
                <span class="value">{{ formatUnitsValue "temperature" minimumTemp this "--"}}</span>
                <span class="value">{{ formatUnitsValue "temperature" averageTemp this "--"}}</span>
                <span class="value">{{ formatUnitsValue "temperature" maximumTemp this "--"}}</span>
                <span class="units">{{ getUnitsLabel "temperature" }}</span>
            </div>
            {{/ifHasKey}}

            {{#ifHasKey "minMaxTorque" this }}
            <div class="minMaxAvgRow statsRow" id="minMaxTorque">
                <label>{{$ "Torque" }}</label>
                <span class="value">{{ formatUnitsValue "torque" minimumTorque this "--"}}</span>
                <span class="value">{{ formatUnitsValue "torque" averageTorque this "--"}}</span>
                <span class="value">{{ formatUnitsValue "torque" maximumTorque this "--"}}</span>
                <span class="units">{{ getUnitsLabel "torque" }}</span>
            </div>
            {{/ifHasKey}}
        </div>
        {{/if}}

    </div>
</div>