
<div class="rangeTitle">{{ name }}</div>

<div class="shadow"></div>

<div class="contents">

    {{#if totalTime }}
    <div class="statsRow" id="duration">
        <label>{{$ "Duration" }}</label>
        {{#if movingTime }}
        <span class="value movingTime">{{ formatTimeToHundredths movingTime }}</span>
        <span class="units totalTime">({{ formatTime totalTime }})</span>
        {{ else }}
        <span class="value movingTime">{{ formatTimeToHundredths totalTime }}</span>
        {{/if}}
    </div>
    {{/if}}

    {{#if distance }}
    <div class="statsRow" id="distance">
        <label>{{$ "Distance" }}</label>
        <span class="value">{{ convertToViewUnits distance "distance" }}</span>
        <span class="units">{{ getUnitsLabel "distance" }}</span>
    </div>
    {{/if}}

    {{#if energy }}
    <div class="statsRow" id="energy">
        <label>{{$ "Work" }}</label>
        <span class="value">{{ conversion "formatEnergy" energy }}</span>
        <span class="units">{{ getUnitsLabel "energy" }}</span>
    </div>
    {{/if}}

    {{#if trainingStressScoreActual }}
    <div class="statsRow" id="tss">
        <label>{{ getUnitsLabel "tss" workoutTypeValueId this }}</label>
        <span class="value">{{ conversion "formatTSS" trainingStressScoreActual }}</span>
        <span class="units"></span>
    </div>
    {{/if}}

    {{#if normalizedSpeedActual }}
    <div class="statsRow" id="ngp">
        <label>{{$ "NGP" }}</label>
        <span class="value">{{ formatPace normalizedSpeedActual }}</span>
        <span class="units">{{ getUnitsLabel "pace" }}</span>
    </div>
    {{/if}}

    {{#if if }}
    <div class="statsRow" id="if">
        <label>{{$ "IF" }}</label>
        <span class="value">{{ conversion "formatIF" if }}</span>
        <span class="units"></span>
    </div>
    {{/if}}

    {{#if normalizedPowerActual }}
    <div class="statsRow" id="normalizedPower">
        <label>{{$ "NP" }}</label>
        <span class="value">{{ conversion "formatPower" normalizedPowerActual }}</span>
        <span class="units">{{ getUnitsLabel "power" }}</span>
    </div>
    {{/if}}

    {{#if vi }}
    <div class="statsRow" id="vi">
        <label>{{$ "VI" }}</label>
        <span class="value">{{ convertToViewUnits vi "number" }}</span>
        <span class="units"></span>
    </div>
    {{/if}}

    {{#ifWorkoutType workoutTypeValueId "Bike" }}
        {{#if powerPulseDecoupling }}
        <div class="statsRow" id="powerPulseDecoupling">
            <label>{{$ "pwhr" }}</label>
            <span class="value">{{ conversion "formatPwHr" powerPulseDecoupling }}%</span>
            <span class="units"></span>
        </div>
        {{/if}}
    {{/ifWorkoutType }}

    {{#ifWorkoutType workoutTypeValueId "Run" }}
        {{#if speedPulseDecoupling }}
        <div class="statsRow" id="speedPulseDecoupling">
            <label>{{$ "pahr" }}</label>
            <span class="value">{{ conversion "formatPaHr" speedPulseDecoupling }}%</span>
            <span class="units"></span>
        </div>
        {{/if}}
    {{/ifWorkoutType}}

    {{#if efficiencyFactor }}
    <div class="statsRow" id="efficiencyFactor">
        <label>{{$ "EF" }}</label>
        <span class="value">{{ conversion "formatEfficiencyFactor" efficiencyFactor this }}</span>
        <span class="units"></span>
    </div>
    {{/if}}

    {{#if elevationGain }}
    <div class="statsRow" id="elevationGain">
        <label>{{$ "EGain" }}</label>
        <span class="value">{{ conversion "formatElevationGain" elevationGain }}</span>
        <span class="units">{{ getUnitsLabel "elevation" }}</span>
    </div>
    {{/if}}

    {{#if elevationLoss }}
    <div class="statsRow" id="elevationLoss">
        <label>{{$ "ELoss" }}</label>
        <span class="value">{{ conversion "formatElevationLoss" elevationLoss }}</span>
        <span class="units">{{ getUnitsLabel "elevation" }}</span>
    </div>
    {{/if}}

    {{#ifHasValueAfterFormatted "formatGrade" grade this }}
    <div class="statsRow" id="grade">
        <label>{{$ "Grade" }}</label>
        <span class="value">{{ conversion "formatGrade" grade }}%</span>
        <span class="units"></span>
    </div>
    {{/ifHasValueAfterFormatted}}

    {{#if vam }}
    <div class="statsRow" id="vam">
        <label>{{$ "VAM" }}</label>
        <span class="value">{{ conversion "formatInteger" vam }}</span>
        <span class="units">{{ getUnitsLabel "vam" }}</span>
    </div>
    {{/if}}

    {{#if wattsPerKg }}
    <div class="statsRow" id="wattsPerKg">
        <label>{{$ "WKg" }}</label>
        <span class="value">{{ convertToViewUnits wattsPerKg "number" }}</span>
        <span class="units"></span>
    </div>
    {{/if}}

    {{#if powerBalanceLeft }}
    <div class="statsRow" id="powerBalance">
        <label>{{$ "PowerBalance" }}</label>
        <span class="value">{{ conversion "formatPowerBalance" powerBalanceLeft }}/{{ conversion "formatPowerBalance" powerBalanceRight }}%</span>
        <span class="units"></span>
    </div>
    {{/if}}

    {{#if minMaxAvg}}
    <div class="minMaxAvg">

        <div class="minMaxAvgRow minMaxAvgHeaders">
            <span></span>
            <label>{{$ "Min" }}</label>
            <span class="separator" />
            <label>{{$ "Avg" }}</label>
            <span class="separator" />
            <label>{{$ "Max" }}</label>
        </div>

        {{#if minMaxPower }}
        <div class="minMaxAvgRow statsRow" id="minMaxPower">
            <label>{{$ "Power" }}</label>
            <span class="value">{{ conversion "formatPower" minimumPower }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatPower" averagePower }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatPower" maximumPower }}</span>
            <span class="units">{{ getUnitsLabel "power" }}</span>
        </div>
        {{/if}}

        {{#if minMaxHeartRate }}
        <div class="minMaxAvgRow statsRow" id="minMaxHeartRate">
            <label>{{$ "HeartRate" }}</label>
            <span class="value">{{ conversion "formatHeartRate" minimumHeartRate }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatHeartRate" averageHeartRate }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatHeartRate" maximumHeartRate }}</span>
            <span class="units">{{ getUnitsLabel "heartrate" }}</span>
        </div>
        {{/if}}

        {{#if minMaxCadence }}
        <div class="minMaxAvgRow statsRow" id="minMaxCadence">
            <label>{{$ "Cadence" }}</label>
            <span class="value">{{ conversion "formatCadence" minimumCadence }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatCadence" averageCadence }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatCadence" maximumCadence }}</span>
            <span class="units">{{ getUnitsLabel "cadence" }}</span>
        </div>
        {{/if}}

        {{#if minMaxSpeed }}
        <div class="minMaxAvgRow statsRow" id="minMaxSpeed">
            <label>{{$ "Speed" }}</label>
            <span class="value">{{ conversion "formatSpeed" minimumSpeed }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatSpeed" averageSpeed }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatSpeed" maximumSpeed }}</span>
            <span class="units">{{ getUnitsLabel "speed" }}</span>
        </div>
        {{/if}}

        {{#if minMaxSpeed }}
        <div class="minMaxAvgRow statsRow" id="minMaxPace">
            <label>{{$ "Pace" }}</label>
            <span class="value">{{ conversion "formatPace" minimumSpeed }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatPace" averageSpeed }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatPace" maximumSpeed }}</span>
            <span class="units">{{ getUnitsLabel "pace" }}</span>
        </div>
        {{/if}}

        {{#if minMaxElevation }}
        <div class="minMaxAvgRow statsRow" id="minMaxElevation">
            <label>{{$ "Elevation" }}</label>
            <span class="value">{{ conversion "formatElevation" minimumElevation }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatElevation" averageElevation }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatElevation" maximumElevation }}</span>
            <span class="units">{{ getUnitsLabel "elevation" }}</span>
        </div>
        {{/if}}

        {{#if minMaxTemp }}
        <div class="minMaxAvgRow statsRow" id="minMaxTemp">
            <label>{{$ "Temperature" }}</label>
            <span class="value">{{ conversion "formatTemperature" minimumTemp }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatTemperature" averageTemp }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatTemperature" maximumTemp }}</span>
            <span class="units">{{ getUnitsLabel "temperature" }}</span>
        </div>
        {{/if}}

        {{#if minMaxTorque }}
        <div class="minMaxAvgRow statsRow" id="minMaxTorque">
            <label>{{$ "Torque" }}</label>
            <span class="value">{{ conversion "formatTorque" minimumTorque }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatTorque" averageTorque }}</span>
            <span class="separator" />
            <span class="value">{{ conversion "formatTorque" maximumTorque }}</span>
            <span class="units">{{ getUnitsLabel "torque" }}</span>
        </div>
        {{/if}}
    </div>
    {{/if}}

</div>
