@import "globalCSS/tpstylesheet";
@import "globalCSS/mixIn";

.trainingPlanDetails {

    .details {
        float: left;
        max-width: 330px;
        overflow:visible !important;
    }

    .preview {
        @include nice-scrollbar;
        display: none;
        float: left;
        margin-left: 20px;
        width: 550px;
        overflow: auto;

        p
        {
            @extend .small; line-height: 1.6;
        }
        h2
        {
            font-family: $fontFamilyHeavy;
            font-size: 14px;
            line-height:$fontSizeXLarge;
            margin-bottom: 5px;
            color: $TPGrey3;
            font-weight:normal;
        }
        h3
        {
            @extend .subheadbold;
        }
    }

    .infoResults
    {
        height: 15px;
    }

    .planTitle
    {
        float: left;
        margin-top: 12px;
    }

    .more
    {
        display: block;
        float: right;
        margin-top: 12px;
        color: $TPBlue;
        font-size: 11px;
        cursor: pointer;
    }

    .small
    {
        font-size: 12px;
    }

    .smallbold
    {
        font-size: 12px;
    }

    .planInfo
    {
        clear: both;

        .authorInfo
        {
            float: left;
            margin-right: 4px;
            max-width: 225px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .planId
        {
            float: right;
        }
    }

    .planDescription
    {
        margin-top: 30px;
        max-height: 100px;
        overflow: auto;
        @include nice-scrollbar;
    
        br
        {
            line-height: 25px;
        }
    }

    .planDetails
    {
        padding: 15px 0 3px 0;

        h3
        {
            float: left;
            width: 90px;
        }

        .duration
        {
            padding-left: 26px
        }

        .distance
        {
            padding-left: 14px;
        }
    }

    .durationDetails
    {
        padding-top: 15px;

        div
        {
            padding: 3px 0 0 5px;
            height: 20px;
        }

        span
        {
            float: left;
            width: 90px;
        }

        .duration
        {
            padding-left: 24px
        }

        .distance
        {
            padding-left: 12px;
        }

        .highlightRow
        {
            background-color: $TPGrey1;
        }

        .planTotals
        {
            border-top: 1px solid $TPGrey2;
        }
    }

    
    .applyPlan
    {
        margin-top: 15px;
    }
    

    .startEndPlan
    {

        clear: both;

        // so it inherits the height of it's floated children
        overflow: hidden;

        margin-top: 5px;
        margin-bottom: 6px;

        .on
        {
            padding: 4px 8px 0 8px;
            float: left;
        }

        .selectBoxWrapper
        {
            height:25px;
            float:left;
        }
        #applyDateType
        {
            width: 150px;
        }

        #applyDate
        {
            width: 78px;
            padding: 0;
            height: 22px;
            float: left;
            padding-left: 2px;
            margin-bottom:0;
        }
    }
    button.apply
    {
        display: block;
        float: left;
        height: 22px;
        margin-left: 8px;
        width: 50px;
        font-size: $fontSizeSmall;
        float: right;
        position: relative;
        bottom: 31px;
    }

    .appliedPlansContainer
    {
        border: 1px $TPGrey2 solid;
        margin-top: 5px;
        padding-top: 10px;

        
    }
    .appliedPlans
    {
        margin-top: 5px;
        margin-bottom:9px;
    }

    .appliedPlan
    {
        margin-bottom: 10px;

        // so it inherits the height of its floated children
        overflow: hidden;

        .removePlan
        {
            float: right;
            margin-right: 10px;
            color: $TPLinkBlue;
            padding: 0px;
            cursor: pointer;
            
            &:hover {
                color:$TPLinkBlueHover;
            }
        }



        .appliedDates
        {
            float: left;
            margin-left: 10px;
        }

        .startEndPlan
        {
            &.optionsDisabled
            {
                display: none;
            }
        }
    }

    .selectboxit-container .selectboxit 
    {
        width: 140px !important;
    }

    input[type=radio] 
    {
        float: left;
        margin: 4px 5px 0 5px;
    }
}


.fullDescription
{
    background-color: white;
    min-width: 300px;
    padding: 15px;
    position: absolute;

    #closeIcon
    {
        margin: -10px -15px 0 10px;
    }

    .descriptionBody
    {
      overFlow: auto;  
    }
}
