@import "globalCSS/tpstylesheet";
@import "globalCSS/mixIn";

.trainingPlanDetails
{
    .hoverBoxContents
    {
        min-height: 300px;
        max-width: 300px;
    }


    .infoResults
    {
        height: 15px;
    }

    .planTitle
    {
        margin-top: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .planInfo
    {
        .authorInfo
        {
            float: left;
            margin-right: 4px;
            max-width: 225px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .planId
        {
            float: right;
        }
    }

    .planDescription
    {
        margin-top: 30px;
    }

    .planDetails
    {
        padding-top: 15px;

        div
        {
            float: left;
            padding-right: 30px;
        }
    }

    .plannedWorkoutTypes
    {
        padding-left: 5px;

        span
        {
            float: left;
            width: 90px;
        }

        .duration
        {
            padding-left: 24px
        }

        .distance
        {
            padding-left: 12px;
        }
    }

    
    .applyPlan
    {
        margin-top: 35px;
    }
    

    .startEndPlan
    {

        clear: both;

        // so it inherits the height of it's floated children
        overflow: hidden;

        margin-top: 5px;
        width: 100%;
        span
        {   
            float: left;
        }

        .on
        {
            padding: 4px 5px 0 5px;
        }
        #applyDateType
        {
            width: 100px;
            float:left;
        }

        #applyDate
        {
            width: 70px;
            padding: 0;
            height: 22px;
            float: left;
            padding-left: 2px;
        }

        button.apply
        {
            display: block;
            float: left;
            height: 22px;
            margin-left: 15px;
        }
    }

    .appliedPlansContainer
    {
        border: 1px $TPGrey2 solid;
        margin-top: 5px;
        padding-top: 10px;

        
    }
    .appliedPlans
    {
        margin-top: 5px;
        
    }

    .appliedPlan
    {
        margin-bottom: 10px;

        // so it inherits the height of it's floated children
        overflow: hidden;

        .appliedDates
        {
            float: left;
            width: 130px;
            padding-top: 5px;
        }

        .alterAppliedPlan
        {
            float: right;
            width: 100px;
            margin-right: 10px;
        }

        .startEndPlan
        {
            &.optionsDisabled
            {
                display: none;
            }
        }
    }

    .selectboxit-container .selectboxit 
    {
        width: 100px !important;
    }

    input[type=radio] 
    {
        float: left;
        margin: 4px 5px 0 5px;
    }
}