<div class="daysOfWeek scrollHeader">
{{#if startOfWeekDayIndex}}    
    <div class="hide-for-small">{{$ "Monday"}}</div>
    <div class="show-for-small">{{$ "Mon"}}</div>
    <div class="hide-for-small">{{$ "Tuesday"}}</div>
    <div class="show-for-small">{{$ "Tue"}}</div>
    <div class="hide-for-small">{{$ "Wednesday"}}</div>
    <div class="show-for-small">{{$ "Wed"}}</div>
    <div class="hide-for-small">{{$ "Thursday"}}</div>
    <div class="show-for-small">{{$ "Thu"}}</div>
    <div class="hide-for-small">{{$ "Friday"}}</div>
    <div class="show-for-small">{{$ "Fri"}}</div>
    <div class="hide-for-small">{{$ "Saturday"}}</div>
    <div class="show-for-small">{{$ "Sat"}}</div>
    <div class="hide-for-small">{{$ "Sunday"}}</div>
    <div class="show-for-small">{{$ "Sun"}}</div>
{{else}}
    <div class="hide-for-small">{{$ "Sunday"}}</div>
    <div class="show-for-small">{{$ "Sun"}}</div>
    <div class="hide-for-small">{{$ "Monday"}}</div>
    <div class="show-for-small">{{$ "Mon"}}</div>
    <div class="hide-for-small">{{$ "Tuesday"}}</div>
    <div class="show-for-small">{{$ "Tue"}}</div>
    <div class="hide-for-small">{{$ "Wednesday"}}</div>
    <div class="show-for-small">{{$ "Wed"}}</div>
    <div class="hide-for-small">{{$ "Thursday"}}</div>
    <div class="show-for-small">{{$ "Thu"}}</div>
    <div class="hide-for-small">{{$ "Friday"}}</div>
    <div class="show-for-small">{{$ "Fri"}}</div>
    <div class="hide-for-small">{{$ "Saturday"}}</div>
    <div class="show-for-small">{{$ "Sat"}}</div>
    
{{/if}}
</div>

<div id="weeksContainer" class="scrollable colorByComplianceAndWorkoutType">
</div>