{{#if supported}}

    <label>
        <span class="metricLabel">{{ formatMetricLabel . }}:</span>

        {{#if info.enumeration}}
            <select name="value">
                <option value=""></option>
                {{#each info.enumeration}}
                    <option value="{{ value }}">{{ label }}</option>
                {{/each}}
            </select>
        {{else}}
            <input type="text" name="value" data-format="metric">
        {{/if}}

        <span class="metricUnit">{{ formatMetricUnits . }}</span>
    </label>
{{else}}
    <label>
        <span class="metricLabel">{{ formatMetricLabel . }}:</span> <span class="metricValue">{{ formatMetricValue . true }}</span>
    </label>
{{/if}}
