<div id="userControlsBackground" class="row darkBackground">    
    <div class="personHeaderLogo" ></div>
    <div class="rightNavigation">
        <a>
            <span id="userName" class="personHeaderButtons headerRollOver">
                <label id="usernameLabel">{{firstName}} {{lastName}}</label>
            </span>
        </a>
        <label class="headerPipe">|</label>
        <a>
            <span class="personHeaderButtons">
                <label>{{ userType this }}</label>
            </span>
        </a>
        {{#ifUserIsNotPremium this}}
        <a>
            <span class="personHeaderButtons upgradeButton">
                <label>{{$ "Upgrade"}}</label>
            </span>
        </a>
        {{/ifUserIsNotPremium}}
    </div>
</div>
<div class="row" id="headerShadow">
    <div class="shadowBG"></div>
</div>
<div id="betaBanner"></div>
